<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
  <title>UHome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/user-timeline.css" />
  <script src="/js/dependencies/angular.1.6.js"></script>
  <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
</head>
<body class="index" ng-controller="userDashboard">
<div id="page-wrapper">
  <% include ../common/topnav %>
  <div class="page-content">
    <div class="container">
      <% include ../common/sidebar %>
      <div class="middle-content col-md-6 col-xs-12">
        <div class="share-window bg-extralight-blue ">
          <div class="share-header font-opensansbold font-size-18 text-light-blue padding-y-10">
            <center>SHARE</center>
          </div>
          <div class="share-body padding-y-20">
            <textarea class="font-opensans-semibold padding-10 text-extra-gray" placeholder="Experience, Review, Updates & Suggestions" name="" id=""></textarea>
          </div>
          <div class="share-footer bg-light-blue padding-y-20 height-56">
            <ul class="pull-left padding-left-0">
              <li class="share-icon padding-right-15 text-gray">
                <i class="fa fa-camera padding-right-5" data-toggle="tooltip" data-placement="top" title="Photos/Videos"></i>
                <span class="text-extra-gray">Photos/Videos</span>
              </li>
              <li class="share-icon padding-right-15 text-gray">
                <i class="fa fa-info-circle padding-right-5" data-toggle="tooltip" data-placement="top" title="Help"></i>
                <span class="text-extra-gray">Help</span>
              </li>
              <li class="share-icon padding-right-15 text-gray">
                <i class="fa fa-map-marker padding-right-5" data-toggle="tooltip" data-placement="top" title="Location"></i>
                <span class="text-extra-gray">Location</span>
              </li>
            </ul>
            <div class="pull-right">
              <a class="update-status-button font-dinopro-medium text-white padding-x-15 padding-y-10 bg-orange" href="">Update Status</a>
            </div>
          </div>
        </div>

        <div class="clearfix height-30"></div>
        <% if(user.residentSince == null) { %>
        <div class="resident">
          <div class="heading-content margin-bottom-15">
            <h2 class="font-dinopro">Resident</h2>
          </div>
          <div id="resident-area" class="main-content padding-20">
            <a data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" class="text-decoration-none font-size-16 text-orange font-opensans" href="">
              <div class="pull-left">
                <i class="fa fa-plus-circle padding-right-10"></i>
                Resident since
              </div>
              <div class="pull-right">
                <i class="fa fa-chevron-down"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="resident-height clearfix height-30"></div>
        <% } %>

        <!-- <div class="post post1 general-post border-bottom-5">
          <div class="profile">
            <div class="profile-info pull-left">
              <img class="img-responsive" src="/images/user/user-profile-icon.png" >
              <div class="clearfix"></div>
              <div id="map-marker"><i class="fa fa-map-marker text-blue bg-theme-blue radius-50 text-white"></i></div>
              <div class="clearfix"></div>
              <div class="text-white font-size-22 font-dinopro text-centered">Heber</div>
              <div class="clearfix"></div>
              <div class="post-time text-white text-centered font-size-12 font-dinopro">Yesterday at 1:19 am</div>
            </div>
            <div class="timeline-photo pull-right">
              <img class="img-responsive" src="/images/user/timeline-photo.png" />
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown pripecimen book.</p>
          </div>
          <div class="post-actions padding-10 bg-theme-blue">
            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-heart text-navy-blue pull-left" data-toggle="tooltip" data-placement="top" title="Likes"></i> <span class="text-white">10</span></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><center><i class="fa fa-comment text-navy-blue" data-toggle="tooltip" data-placement="top" title="Comments"></i> <span class="text-white">17</span></center></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-share text-navy-blue pull-right" data-toggle="tooltip" data-placement="top" title="Share"></i></li>
            </ul>
          </div>
          <div>
            <ul class="post-comments padding-20 padding-bottom-1 bg-white">
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
                <hr>
              </li>
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
                <hr>
              </li>
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
              </li>
              <li class="comment-box">
                <div class="input-group">
                  <input type="text" class="form-control padding-20" placeholder="Write a comment.." />
                  <span class="input-group-addon ">
										        <i class="fa fa-camera"></i>
										    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix height-30"></div>

        <div class="post post1 general-post border-bottom-5">
          <div class="profile">
            <div class="profile-info pull-left">
              <img class="img-responsive" src="/images/user/user2-profile-icon.png" >
              <div class="clearfix"></div>
              <div id="map-marker"><i class="fa fa-map-marker text-blue bg-theme-blue radius-50 text-white"></i></div>
              <div class="clearfix"></div>
              <div class="text-white font-size-22 font-dinopro text-centered">Jhony</div>
              <div class="clearfix"></div>
              <div class="post-time text-white text-centered font-size-12 font-dinopro">Yesterday at 1:19 am</div>
            </div>
            <div class="timeline-photo pull-right">
              <img class="img-responsive" src="/images/user/user2-timeline.png" />
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown pripecimen book.</p>
            <img class="img-responsive" src="/images/post-image.png">
          </div>
          <div class="post-actions padding-10 bg-theme-blue">
            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-heart text-navy-blue pull-left" data-toggle="tooltip" data-placement="top" title="Likes"></i> <span class="text-white">10</span></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><center><i class="fa fa-comment text-navy-blue" data-toggle="tooltip" data-placement="top" title="Comments"></i> <span class="text-white">17</span></center></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-share text-navy-blue pull-right" data-toggle="tooltip" data-placement="top" title="Share"></i></li>
            </ul>
          </div>
          <div>
            <ul class="post-comments padding-20 padding-bottom-1 bg-white">
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
                <hr>
              </li>
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
              </li>
              <li class="comment-box">
                <div class="input-group">
                  <input type="text" class="form-control padding-20" placeholder="Write a comment.." />
                  <span class="input-group-addon ">
										        <i class="fa fa-camera"></i>
										    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix height-30"></div>

        <div class="post post1 contractor-recommend-post border-bottom-5">
          <div class="profile">
            <div class="profile-info pull-left">
              <img class="img-responsive" src="/images/user/user-profile-icon.png" >
              <div class="clearfix"></div>
              <div id="map-marker"><i class="fa fa-map-marker text-blue bg-theme-blue radius-50 text-white"></i></div>
              <div class="clearfix"></div>
              <div class="text-white font-size-22 font-dinopro text-centered">Heber</div>
              <div class="clearfix"></div>
              <div class="post-time text-white text-centered font-size-12 font-dinopro">Yesterday at 1:19 am</div>
            </div>
            <div class="timeline-photo pull-right">
              <img class="img-responsive" src="/images/user/timeline-photo.png" />
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
            <div class="row">
              <div class="pull-right">
                <i class="fa fa-chevron-down"></i>
              </div>
              <div class="contractor-img col-md-4">
                <img class="img-responsive" src="/images/user/contractor-img.png" alt="">
              </div>
              <div class="contractor-details col-md-8">
                <h3 class="font-size-20 text-black font-dinopro">Specialist - Handymen</h3>
                <p class="font-size-14">
                  Lorem Ipsum has been the industry's when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
              </div>
            </div>
          </div>
          <div class="post-actions padding-10 bg-theme-blue">
            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-heart text-navy-blue pull-left" data-toggle="tooltip" data-placement="top" title="Likes"></i> <span class="text-white">10</span></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><center><i class="fa fa-comment text-navy-blue" data-toggle="tooltip" data-placement="top" title="Comments"></i> <span class="text-white">17</span></center></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-share text-navy-blue pull-right" data-toggle="tooltip" data-placement="top" title="Share"></i></li>
            </ul>
          </div>
          <div>
            <ul class="post-comments padding-20 padding-bottom-1 bg-white">
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
                <hr>
              </li>
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
              </li>
              <li class="comment-box">
                <div class="input-group">
                  <input type="text" class="form-control padding-20" placeholder="Write a comment.." />
                  <span class="input-group-addon ">
										        <i class="fa fa-camera"></i>
										    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix height-30"></div>

        <div class="post post1 general-post border-bottom-5">
          <div class="profile">
            <div class="profile-info pull-left">
              <img class="img-responsive" src="/images/user/user-profile-icon.png" >
              <div class="clearfix"></div>
              <div id="map-marker"><i class="fa fa-map-marker text-blue bg-theme-blue radius-50 text-white"></i></div>
              <div class="clearfix"></div>
              <div class="text-white font-size-22 font-dinopro text-centered">Heber</div>
              <div class="clearfix"></div>
              <div class="post-time text-white text-centered font-size-12 font-dinopro">Yesterday at 1:19 am</div>
            </div>
            <div class="timeline-photo pull-right">
              <img class="img-responsive" src="/images/user/timeline-photo.png" />
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown pripecimen book.</p>
            <iframe width="100%" height="325" src="https://www.youtube.com/embed/mPcqjY6gHhc"></iframe>
          </div>
          <div class="post-actions padding-10 bg-theme-blue">
            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-heart text-navy-blue pull-left" data-toggle="tooltip" data-placement="top" title="Likes"></i> <span class="text-white">10</span></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><center><i class="fa fa-comment text-navy-blue" data-toggle="tooltip" data-placement="top" title="Comments"></i> <span class="text-white">17</span></center></li>
              <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><i class="fa fa-share text-navy-blue pull-right" data-toggle="tooltip" data-placement="top" title="Share"></i></li>
            </ul>
          </div>
          <div>
            <ul class="post-comments padding-20 padding-bottom-1 bg-white">
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
                <hr>
              </li>
              <li class="post-comment">
                <div class="poster-img pull-left padding-right-10">
                  <img class="radius-50 img-responsive" src="/images/user-img.png" >
                </div>
                <div class="comment font-opensans font-size-12">
                  <span class="poster-name text-orange font-size-12">Heber Brown</span>
                  <span class="poster-comment font-size-12">Yes, but not that much</span>
                  <br>
                  <i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="top" title="Like"></i>
                  <a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
                  <span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
                  <i class="fa fa-times text-light-gray pull-right"></i>
                </div>
              </li>
              <li class="comment-box">
                <div class="input-group">
                  <input type="text" class="form-control padding-20" placeholder="Write a comment.." />
                  <span class="input-group-addon ">
										        <i class="fa fa-camera"></i>
										    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix height-30"></div>-->
      </div>
      <% include rightsidebar %>
    </div>
  </div>
</div>
<script src="/js/dependencies/sails.io.js"></script>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>

</body>
</html>

<script src="/libs/toastr/js/toastr.min.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/controllers/userDashboard.js"></script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="exampleModalLabel">Resident</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your resident year:</label>
          <div class="input-group">
			    <span class="input-group-addon ">
			        <i class="fa fa-calendar"></i>
			    </span>
            <input type="text" id="residenceYear" class="form-control date-own padding-20" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" id="addResidenceYear" class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
<% //include dropdowns %>

<script type="text/javascript" src="/js/custom/serviceseekerDashboard.js"></script>

