<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/social-main.css"/>
    <link rel="stylesheet" href="/styles/profile.css"/>
    <link rel="stylesheet" href="/styles/step-1.css">
    <link rel="stylesheet" href="/styles/step-4.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/styles/ie9.css"/><![endif]-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.1.6.js"></script>
</head>
<body class="index">
<div id="page-wrapper" ng-controller="userProfile" user-profile>
    <% include ../common/topnav %>
    <div class="page-content">
        <div class="container">
            <% include ../common/sidebar %>
            <div class="middle-content col-md-9 padding-x-34 user-profile-details">
                <div class="heading">
                    <div class="heading-content">
                        <h2><a class="text-decoration-none font-dinopro font-size-24 text-black" href="user-timeline.html">Edit Your User Profile</a></h2>
                    </div>
                </div>
                <div class="row profile-description">

                    <div class="">
                        <!--<ul class="nav nav-tabs" role="tablist">-->
                        <!--<li role="presentation" class="active"><a href="#biography" aria-controls="biography" role="tab" data-toggle="tab">My Biography</a></li>-->
                        <!--<li role="presentation"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">My Activity</a></li>-->
                        <!--<li role="presentation"><a href="#neighbours" aria-controls="neighbours" role="tab" data-toggle="tab">My Neighbours</a></li>-->
                        <!--<li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">My Reviews</a></li>-->
                        <!--<li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">My Projects</a></li>-->
                        <!--<li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">My Gallery</a></li>-->
                        <!--</ul>-->
                        <div class="clearfix row margin-0"></div>
                        <div class="tab-content bg-white main-content">

                            <form enctype="multipart/form-data" name="sregister" id="sregister-form" novalidate>

                                <div class="clearfix"></div>
                                <div class="signup-body-step2">
                                    <div class="row margin-0 col-md-12 padding-top-10 padding-x-20">
                                        <div class="col-md-6 padding-x-10">
                                            <label class="font-opensans-semibold font-size-16">First Name
                                                <!--<span class="required-marker">*</span>-->
                                            </label>
                                            <div class="input-group" ng-class="{'has-error':sregister.firstName.$invalid && sregister.firstName.$dirty}">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input ng-model="sregisterForm.firstName" ng-init="sregisterForm.firstName = '<%= user.firstName %>'" ng-pattern="firstLastNamePattern" id="firstName" name="firstName" type="text" class="form-control">
                                                <input ng-model="sregisterForm.email" type="hidden" id="email" name="email"/>
                                                <input ng-model="sregisterForm.token" type="hidden" id="token" name="token"/>
                                            </div>
                                            <!--<span class="help-block has-error" ng-if="sregister.firstName.$dirty && sregister.firstName.$invalid">-->
                                            <!--<span ng-show="sregister.firstName.$error.required">First name is required.</span>-->
                                            <!--</span>-->
                                        </div>
                                        <div class="col-md-6 padding-x-10">
                                            <label class="font-opensans-semibold font-size-16">Last Name
                                                <!--<span class="required-marker">*</span>-->
                                            </label>
                                            <div class="input-group" ng-class="{'has-error':sregister.lastName.$invalid && sregister.lastName.$dirty}">
                                                <span class="input-group-addon">
                                                  <i class="fa fa-user"></i>
                                                </span>
                                                <input ng-model="sregisterForm.lastName" ng-init="sregisterForm.lastName = '<%= user.lastName %>'" ng-pattern="firstLastNamePattern" id="lastName" required name="lastName" type="text" class="form-control">
                                            </div>
                                            <!--<span class="help-block has-error" ng-if="sregister.lastName.$dirty && sregister.lastName.$invalid">-->
                                            <!--<span ng-show="sregister.lastName.$error.required">Last name is required.</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="row margin-0 col-md-12 padding-x-20 padding-top-10">
                                        <div class="col-md-6 padding-x-10">
                                            <label class="font-opensans-semibold font-size-16">Phone</label>
                                            <div class="input-group" ng-class="{'has-error':sregister.phone.$invalid && sregister.phone.$dirty}">
                                                <span class="input-group-addon">
                                                  <i class="fa fa-mobile"></i>
                                                </span>
                                                <input ng-model="sregisterForm.phone" ng-init="sregisterForm.phone = '<%= user.phone %>'"  id="phone" ui-mask="(+999)999-9999" name="phone" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 padding-x-10">
                                            <label class="font-opensans-semibold font-size-16">Zipcode
                                                <!--<span class="required-marker">*</span>-->
                                            </label>
                                            <div class="input-group" ng-class="{'has-error':sregister.zipcode.$invalid && sregister.zipcode.$dirty}">
                                                <span class="input-group-addon">
                                                  <i class="fa fa-map-o"></i>
                                                </span>
                                                <input ng-model="sregisterForm.zipcode" ng-init="sregisterForm.zipcode = '<%= user.zipcode %>'" ng-pattern="zipcodePattern" ng-blur="validateZipcode()" id="zipcode" name="zipcode" type="text" class="form-control" placeholder="Must be within United States">
                                                <input ng-model="sregisterForm.lng" ng-init="sregisterForm.lng = '<%= user.longitute %>'" name="lng" type="hidden" class="form-control" readonly>
                                                <input ng-model="sregisterForm.zipcodeStatus" name="zipcodeStatus" type="hidden" class="form-control" readonly>
                                                <input ng-model="sregisterForm.lat" ng-init="sregisterForm.lat = '<%= user.latitude %>'" name="lat" type="hidden" class="form-control" readonly>
                                            </div>
                                            <!--<span class="help-block has-error" ng-if="sregister.zipcode.$dirty">-->
                                            <!--<span ng-show="sregister.zipcode.$error.required">Zipcode is required.</span>-->
                                            <!--</span>-->
                                        </div>
                                    </div>
                                    <div class="row margin-0 col-md-12 padding-x-20 padding-top-10">
                                        <div class="col-md-12 padding-x-10">
                                            <label class="font-opensans-semibold font-size-16">Address
                                                <!--<span class="required-marker">*</span>-->
                                            </label>
                                            <div class="input-group" ng-class="{'has-error':sregister.streetAddress.$invalid && sregister.streetAddress.$dirty}">
                                                <span class="input-group-addon">
                                                  <i class="fa fa-map-o"></i>
                                                </span>
                                                <input ng-model="sregisterForm.streetAddress" ng-init="sregisterForm.streetAddress = '<%= user.address %>'" ng-pattern="streetAddressPattern" id="streetAddress" required name="streetAddress" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-0 col-md-12 padding-x-20 padding-top-10">
                                        <div class="col-md-6 padding-x-10">
                                            <label class="font-opensans-semibold font-size-16">City
                                                <!--<span class="required-marker">*</span>-->
                                            </label>
                                            <div class="input-group" ng-class="{'has-error':sregister.city.$invalid && sregister.city.$dirty}">
                                                <span class="input-group-addon">
                                                  <i class="fa fa-globe"></i>
                                                </span>
                                                <input ng-model="sregisterForm.city" ng-init="sregisterForm.city = '<%= user.city %>'" required name="city" readonly type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6 padding-x-10">
                                            <label class="font-opensans-semibold font-size-16">State
                                                <!--<span class="required-marker">*</span>-->
                                            </label>
                                            <div class="input-group" ng-class="{'has-error':sregister.state.$invalid && sregister.state.$dirty}">
                                                <span class="input-group-addon">
                                                  <i class="fa fa-globe"></i>
                                                </span>
                                                <input ng-model="sregisterForm.state" ng-init="sregisterForm.state = '<%= user.state %>'" required name="state" readonly type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                                        <div class="step-3 col-md-12">
                                            <div class="padding-x-10">
                                                <label class="font-opensans-semibold font-size-16">Anything else you would like to write about your home improvement</label>
                                            </div>
                                            <div class="padding-10">
                                                <textarea class="form-control about-textarea" ng-model="aboutUs" ng-init="aboutUs = '<%= user.aboutMe %>'" name="aboutUser" id="aboutUser" cols="30" rows="10"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white padding-20">
                                        <label class="font-opensans-semibold font-size-16">Identity Photo</label>
                                        <div class="clearfix"></div>
                                        <div class="col-md-3 padding-x-10">
                                            <div class="upload-image-wrapper">
                                                <div class="upload-spinner" ng-show="profilePhotoGif" >
                                                    <img src="images/loading.gif" alt="">
                                                </div>
                                                <div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50" ng-model="profilePhoto" ng-init="profilePhoto = '<%= user.profilePicture %>'" style="background-image: url({{profilePhoto}})">
                                                    <center class="profilePhotoHolder" ng-show="!profilePhoto && !profilePhotoGif">
                                                        <i class="fa fa-camera font-size-22"></i>
                                                        <div class="clearfix"></div>
                                                        <span>Upload Profile</span>
                                                    </center>
                                                    <center class="profilePhotoLoader hidden">
                                                        <img src="/images/loading.gif"/>
                                                    </center>
                                                </div>
                                                <input name="profilePhoto" accept="image/*" ng-model="bregisterForm.profilePhoto" id="profilePhoto" type="file" class="hidden">
                                            </div>
                                        </div>
                                        <div class="col-md-6 padding-x-10">
                                            <div class="upload-image-wrapper">
                                                <div class="upload-spinner" ng-show="coverBannerGif">
                                                    <img src="images/loading.gif" alt="">
                                                </div>
                                                <div class="upload-file-dropzone cover-banner-upload bg-light-orange text-light-gray padding-34 padding-y-50" ng-model="bannerPhoto" ng-init="bannerPhoto = '<%= user.bannerPicture %>'" style="background-image: url('{{bannerPhoto}}')">
                                                    <center class="coverBannerHolder" ng-show="!bannerPhoto && !coverBannerGif">
                                                        <i class="fa fa-picture-o font-size-22"></i>
                                                        <div class="clearfix"></div>
                                                        <span>Upload Cover Banner</span>
                                                    </center>
                                                    <center class="hidden coverBannerLoader">
                                                        <img src="/images/loading.gif"/>
                                                    </center>
                                                </div>
                                                <input name="coverBanner" accept="image/*" ng-model="bregisterForm.coverBanner" id="userBanner" type="file" class="hidden">
                                            </div>
                                        </div>
                                        <div class="col-md-12 padding-25 bg-white">
                                            <center><button ng-click="submitChangedProfile()" id="start-registration" class="btn btn-default font-size-24 font-dinopro padding-x-100 padding-y-10" ng-disabled="sregister.$invalid">Save Changes</button></center>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix height-56"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDl6lwlam_U1ZofuFFOQ8K9ydfzyGHxTWI"></script>

<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/userProfile.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<!--<script type="text/javascript" src="/js/services/googleMap.service.js"></script>-->
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="/js/directive/userProfile.js"></script>
<script type="text/javascript" src="/js/filter/replace.js"></script>

</body>
</html>
