<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/social-main.css" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
</head>
<body class="index">
<div id="page-wrapper" >
    <% include ../common/topnav %>
    <div class="page-content">
        <div class="container">
            <% include ../common/sidebar %>


            <div class="middle-content col-md-9 col-xs-12">
                <div class="font-size-14 font-opensans">
                    <span class="page-item">Dashboard</span>
                    <i class="fa fa-angle-right"></i>
                    <span class="page-item text-blue"> Find Businesses</span>
                </div>
                <hr>
                <div class="project-details main-content">
                    <div class="bg-white padding-x-20">
                        <div class="each-project row padding-20 padding-x-34">
                            <div class="col-md-12">
                                <center>
                                    <h3>
                                        Coming soon
                                    </h3>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>
<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
<script type="text/javascript" src="/js/dependencies/mask.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/userProfile.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="/js/directive/userProfile.js"></script>

</body>
</html>
