<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/photogallery.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include ../common/topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-6 col-xs-12">
						<div class="row margin-0">
							<div class="heading-content margin-bottom-15 col-md-6">
								<h2 class="font-dinopro">Most Popular Photos Album of You</h2>
							</div>
							<div class="col-md-6">
								<div class="btnss">
									<button data-toggle="modal" data-target="#exampleModal" data-whatever="Upload Photos" class="btn btn-primary font-dinopro font-size-14 pull-right">
										<i class="fa fa-plus-square text-white"></i>
										<span>Add Photos</span>
									</button>
								</div>
							</div>
						</div>
						<div class="post post1 general-post">
							<!-- <div class="row margin-0 bg-white">
								<div class="photo-search-result padding-bottom-1 bg-white">
									<div class="col-md-12">
										<div class="row margin-0">
											<div class="col-md-6 padding-y-10 gallery-photo-album">
												<div class="view view-first">
													<img src="/images/photo/spice-photo.png" />
													<div class="mask text-white">
														<h2>
															<i class="fa fa-camera text-white">
																<div class="clearfix"></div>
																48
															</i>
														</h2>
														<p>Home Expert</p>
														<a href="#" class="btn btn-default">Read More</a>
													</div>
												</div>
											</div>
											<div class="col-md-6 padding-y-10 gallery-photo-album">
												<div class="view view-first">
													<img src="/images/photo/spice-photo.png" />
													<div class="mask text-white">
														<h2>
															<i class="fa fa-camera text-white">
																<div class="clearfix"></div>
																48
															</i>
														</h2>
														<p>Home Expert</p>
														<a href="#" class="btn btn-default">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="row margin-0">
											<div class="col-md-6 padding-y-10 gallery-photo-album">
												<div class="view view-first">
													<img src="/images/photo/spice-photo.png" />
													<div class="mask text-white">
														<h2>
															<i class="fa fa-camera text-white">
																<div class="clearfix"></div>
																48
															</i>
														</h2>
														<p>Home Expert</p>
														<a href="#" class="btn btn-default">Read More</a>
													</div>
												</div>
											</div>
											<div class="col-md-6 padding-y-10 gallery-photo-album">
												<div class="view view-first">
													<img src="/images/photo/spice-photo.png" />
													<div class="mask text-white">
														<h2>
															<i class="fa fa-camera text-white">
																<div class="clearfix"></div>
																48
															</i>
														</h2>
														<p>Home Expert</p>
														<a href="#" class="btn btn-default">Read More</a>
													</div>
												</div>
											</div>
										</div>
										<div class="row margin-0">
											<div class="col-md-6 padding-y-10 gallery-photo-album">
												<div class="view view-first">
													<img src="/images/photo/spice-photo.png" />
													<div class="mask text-white">
														<h2>
															<i class="fa fa-camera text-white">
																<div class="clearfix"></div>
																48
															</i>
														</h2>
														<p>Home Expert</p>
														<a href="#" class="btn btn-default">Read More</a>
													</div>
												</div>
											</div>
											<div class="col-md-6 padding-y-10 gallery-photo-album">
												<div class="view view-first">
													<img src="/images/photo/spice-photo.png" />
													<div class="mask text-white">
														<h2>
															<i class="fa fa-camera text-white">
																<div class="clearfix"></div>
																48
															</i>
														</h2>
														<p>Home Expert</p>
														<a href="#" class="btn btn-default">Read More</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->
							<div class="row margin-0 bg-white padding-20">
								<center>
									<h3>No Album</h3>
								</center>
							</div>
						</div>
						<div class="clearfix height-30"></div>
					</div>
					<% include rightsidebar %>
				</div>
				<div class="clearfix height-30"></div>
			</div>
		</div>
		<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
		<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
		<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
	</body>
</html>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="exampleModalLabel"></h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row margin-0">
            	<label for="recipient-name" class="padding-y-10 control-label font-opensans-semibold font-size-14">Photo Title</label>
				<div class="">
				    <input type="text" class="form-control bg-slight-gray padding-20" placeholder="ex: Birthday Party" />
				</div>
            </div>
            <div class="row margin-0">
            	<label for="recipient-name" class="padding-y-10 control-label font-opensans-semibold font-size-14">Photo Description</label>
				<div class="">
				    <textarea type="text" class="form-control bg-slight-gray"></textarea>
				</div>
            </div>
            <div class="row margin-0">
				<div class="padding-y-15">
            		<label for="recipient-name" class="padding-y-5 control-label font-opensans-semibold font-size-14 pull-left margin-right-10">Privacy</label>
				    <select class="privacy-dropdown">
				    	<option value="">Private</option>
				    	<option value="">Public</option>
				    </select>
				</div>
            </div>
            <div class="row border-bottom-gray-dashed"></div>
            <div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white padding-20">
				<label class="font-opensans-semibold font-size-16">Identity Photo</label>
				<div class="clearfix"></div>
				<div class="col-md-4 padding-x-10">
					<div class="">
						<div class="upload-file-dropzone profile-upload bg-light-blue text-light-gray padding-34 padding-y-50">
							<center>
								<i class="fa fa-camera font-size-22"></i>
								<div class="clearfix"></div>
								<span>Upload Photo</span>
							</center>
						</div>
					  	<input id="profile-upload" type="file" class="hidden">
					</div>
				</div>
				<div class="col-md-4 padding-x-10">
					<div class="">
						<div class="upload-file-dropzone logo-upload bg-light-blue text-light-gray padding-34 padding-y-50">
							<center>
								<i class="fa fa-camera font-size-22"></i>
								<div class="clearfix"></div>
								<span>Upload Photo</span>
							</center>
						</div>
					  	<input id="logo-upload" type="file" class="hidden">
					</div>
				</div>
				<div class="col-md-4 padding-x-10">
					<div class="">
						<div class="upload-file-dropzone cover-banner-upload bg-light-blue text-light-gray padding-34 padding-y-50">
							<center>
								<i class="fa fa-camera font-size-22"></i>
								<div class="clearfix"></div>
								<span>Upload Photo</span>
							</center>
						</div>
					  	<input id="cover-banner-upload" type="file" class="hidden">
					</div>
				</div>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary bg-dark-cyan" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
<% include dropdowns %>
<script>
	$('.date-own').datepicker({
		minViewMode: 2,
		format: 'yyyy',
        autoclose: true
	});
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	});
	$('#myTabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	});
	$('#exampleModal').on('show.bs.modal', function (event) {
	  var button = $(event.relatedTarget) // Button that triggered the modal
	  var recipient = button.data('whatever') // Extract info from data-* attributes
	  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  var modal = $(this)
	  modal.find('.modal-title').text(recipient)
	});
</script>