<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/social-main.css"/>
    <link rel="stylesheet" href="/styles/myproject-inner-user.css"/>
    <link rel="stylesheet" href="/styles/myprojects.css"/>
    <!--<link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/styles/ie9.css"/><![endif]-->
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?key=AIzaSyDl6lwlam_U1ZofuFFOQ8K9ydfzyGHxTWI"></script>
    <script type="text/javascript" src="/js/dependencies/jquery.js"></script>
    <script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1"
            src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
</head>
<body ng-cloak class="index" ng-controller="TodoController">
<div id="page-wrapper">
    <% include ../common/topnav %>
    <div class="page-content">
        <div class="container">
            <% include ../common/sidebar %>
            <div class="middle-content col-md-9 col-xs-12">
                <div class="top-subnav">
                    <div class="font-size-18 font-opensans">
                        <div class="subnav-left">
                            <span class="page-item">My Projects</span>
                            <i class="fa fa-angle-right"></i>
                            <span class="page-item page-item-proj text-blue">Home Cleaning</span>
                        </div>
                        <div class="heading-buttons pull-right">
                            <button class="btn btn-info">
                                Favorite Contractor
                                <span class="count">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    <span>50</span>
                                </span>
                            </button>
                            <a class="btn btn-default" href="/newProject">Post Project </a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="projects-list">
                    <div class="header padding-y-20">
                        <div class="heading-content font-dinopro pull-left">
                            <h2>Projects</h2>
                        </div>
                        <div class="pull-right show-closed">
                            <input name="show-close" type="checkbox" ng-click="showClosed = !showClosed" ng-checked="showClosed">
                            <label for="show-close" ng-click="showClosed = !showClosed"> Show closed</label>
                        </div>
                        <div class="clearfix height-15"></div>
                    </div>

                    <div class="project-details main-content" ng-model="projects" ng-init="projects = <%= projects %>" ng-show="projects.length>0">
                        <div class="project-item padding-15" ng-class="project.status == 'Open'?'open-project':'closed-project'" ng-show="(showClosed && project.status == 'Closed') || project.status != 'Closed'" ng-loack ng-repeat="project in projects">
                            <div class="image-proj" style="background-image: url('{{project.attachments[0]}}');"></div>
                            <div class="proj-info">
                                <div class="proj-title-line">
                                    <a href="/projectDetails/{{project.id}}"><span>{{project.jobName}}</span></a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="proj-status">{{project.status}}</span>
                                </div>
                                <div class="proj-date">
                                    <span class="day">{{project.createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
                                </div>
                                <div class="proj-category">
                                    <div class="tags font-opensans radius-50">
                                        {{project.service}}
                                    </div>
                                </div>
                            </div>
                            <div class="close-action">
                                <div class="action-btn" ng-show="project.status != 'Closed'">
                                    Close <i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white main-content padding-x-20" ng-show="projects.length==0">
                        <div class="each-project row padding-20 padding-x-34">
                            <div class="col-md-12">
                                <center>
                                    <h3>
                                       No projects
                                    </h3>
                                </center>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="contractor-letters">
                    <div class="header padding-y-20 padding-top-30">
                        <div class="heading-content font-dinopro pull-left">
                            <h2>Contractors</h2>
                        </div>
                        <div class="clearfix height-15"></div>
                    </div>
                    <div class="main-content">
                        <div class="letters-list" ng-model="contractors" ng-init="contractors = <%= contractors %>" ng-show="contractors.length>0">
                            <div class="letter-item" ng-repeat="(key, contractor) in contractorss">
                                <div class="letter-item-content">
                                    <div class="top-line">
                                        <div class="pull-left">
                                            <div class="contractor-avatar">
                                                <div style="background-image: url('{{contractor.performer.contractorId.profilePicture}}');"></div>
                                            </div>
                                            <div class="contractor-description">
                                                <div class="contractor-name-line">
                                                    <a href="/publicpage/{{contractor.performer.contractorId.id}}"><span class="contractor-name">{{contractor.performer.contractorId.firstName+' '+ contractor.performer.contractorId.lastName}}</span></a>
                                                    <span class="contractor-date">
                                                          <span>{{contractor.performer.contractorId.createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
                                                    </span>
                                                </div>
                                                <div class="contractor-position">
                                                    {{contractor.performer.contractorId.workLine}}&nbsp; Expert
                                                </div>
                                            </div>
                                        </div>
                                        <div class="letter-actions pull-right">
                                            <div class="action-btn">
                                                Actions <i class="fa fa-caret-down"></i>
                                            </div>
                                            <div class="close-letter">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="letter">
                                        <div class="letter-title">
                                            Cover letter for <a href="/projectDetails/{{contractor.contractorProject.id}}">{{contractor.contractorProject.jobName}}</a>
                                        </div>
                                        <div class="letter-text clearfix">
                                            <p ng-class="{'show-all':allLetterContractor[key], 'hide-all':!allLetterContractor[key]}">{{contractor.performer.description}}</p>
                                            <a ng-class="{'letter-text1':allLetterContractor[key]}" ng-click="allLetterContractor[key] = !allLetterContractor[key]" 
                                                ng-show="contractor.performer.description.length>250">{{!allLetterContractor[key]?'Show':'Hide'}} All Letter</a>
                                            <!--{{contractor.performer.description}}...<a href="#">Show All Letter</a>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="leters-paginaion" ng-show="todos.length>5">
                                <pagination class="small" show-prev-next="true"
                                            page="currentPage"
                                            max-size="3"
                                            items-per-page="itemsPerPage"
                                            total-items="todos.length"
                                            ng-model="currentPage"
                                            ng-change="pageChanged()"
                                            text-next-class="glyphicon glyphicon-chevron-right"
                                            text-prev-class="glyphicon glyphicon-chevron-left"
                                            text-first-class="glyphicon glyphicon-backward"
                                            text-last-class="glyphicon glyphicon-forward"
                                            ul-class="pagination">
                                </pagination>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white main-content padding-x-20" ng-show="contractors.length==0">
                        <div class="each-project row padding-20 padding-x-34">
                            <div class="col-md-12">
                                <center>
                                    <h3>
                                        No contractors
                                    </h3>
                                </center>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
<script type="text/javascript" src="/js/dependencies/mask.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/myProject.controller.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="/js/directive/userProfile.js"></script>
</body>
</html>
