<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/social-main.css"/>
    <link rel="stylesheet" href="/styles/myproject-inner-user.css"/>
    <link rel="stylesheet" href="/styles/myprojects.css"/>
    <link rel="stylesheet" href="/styles/submit-proposal.css"/>
    <link rel="stylesheet" href="/styles/postproject.css"/>
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/styles/ie9.css"/><![endif]-->
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};
    </script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.1.6.js"></script>
    <script src="/js/dependencies/mask.js"></script>
</head>
<body class="index" ng-controller="postProgectSS">
<div id="page-wrapper">
    <% include ../common/topnav %>
    <div class="page-content">
        <div class="container">
            <% include ../common/sidebar %>
            <div class="middle-content col-md-9 col-xs-12">
                <div  ng-show="!successCreate">
                    <div class="font-size-14 font-opensans">
                        <span class="page-item">Dashboard</span>
                        <i class="fa fa-angle-right"></i>
                        <span class="page-item">My Projects</span>
                        <i class="fa fa-angle-right"></i>
                        <span class="page-item text-blue">Post Project</span>
                    </div>
                    <hr>
                </div>
                <div class="create-project"  ng-show="!successCreate">
                    <div class="heading-content">
                        <h2 class="font-dinopro">Post Project</h2>
                    </div>
                    <div class="clearfix height-15"></div>
                    <form enctype="multipart/form-data" name="postproject" class="padding-bottom-30">
                        <div class="row margin-0">
                            <div class="col-md-12">
                                <div class="project-details main-content">
                                    <div class="bg-white">
                                        <div class="row margin-0">
                                            <div class="col-md-12 padding-20">
                                                <div class="col-md-6" ng-class="{'has-error':postproject.service.$invalid && postproject.service.$dirty}">
                                                    <div class="padding-x-10 font-opensans font-size-14" ng-model="workLines" ng-init="workLines = <%= workLines %>">
                                                        <span class="pull-left font-size-16 text-black font-opensans-semibold padding-y-10">Choose Category <span class="required-marker" style="color:red;">*</span></span>
                                                        <span class="clearfix"></span>
                                                        <select ng-model="postprojectForm.category" required name="service" class="select-dropdown" id="service">
                                                            <option value="" selected>Select</option>
                                                            <option ng-repeat="workLine in workLines track by $index">{{workLine.name}}</option>
                                                        </select>
                                                        <!--<select ng-model="postprojectForm.category" ng-init="postprojectForm.category = workLines[0]" required ng-options="workLine.name for workLine in workLines"  name="service" class="select-dropdown" id="service" ng-="workLine.name">-->
                                                        <!--</select>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-6" ng-class="{'has-error':postproject.subService.$invalid && postproject.subService.$dirty}">
                                                    <div class="padding-x-10 font-opensans font-size-14" ng-model="subcategorys" ng-init="subcategorys = <%= subServices %>">
                                                        <span class="pull-left font-size-16 text-black font-opensans-semibold padding-y-10">Choose Sub Category</span>
                                                        <span class="clearfix"></span>
                                                        <select ng-model="postprojectForm.subcategory" ng-init="postprojectForm.subcategory = subcategorys[0]" name="subService" class="select-dropdown" id="subService"
                                                        ng-options="subcategory.name for subcategory in subcategorys">
                                                        </select>
                                                        <!--<select ng-model="postprojectForm.subcategory" ng-init="postprojectForm.subcategory = subcategorys[0]" ng-options="subcategory.name for subcategory in subcategorys" value="subcategory.name" name="subService" class="select-dropdown" id="subService"></select>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="padding-x-20">
                                            <h3 class="font-size-22 font-dinopro text-blue padding-left-10 padding-top-10">Describe the Job</h3>
                                            <div class="col-md-12">
                                                <div class="padding-x-10 font-opensans font-size-14 padding-bottom-10" ng-class="{'has-error':postproject.jobTitle.$invalid && postproject.jobTitle.$dirty}">
                                                    <span class="pull-left font-size-16 text-black font-opensans-semibold padding-y-10">Name your job posting <span class="required-marker" style="color:red;">*</span></span>
                                                    <span class="clearfix"></span>
                                                    <input ng-model="postprojectForm.jobTitle" ng-maxlength="60" required name="jobTitle" id="jobTitle" class="input-field" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="padding-x-10 font-opensans font-size-14" ng-class="{'has-error':postproject.jobDescription.$invalid && postproject.jobDescription.$dirty}">
                                                    <span class="pull-left font-size-16 text-black font-opensans-semibold padding-y-10">Describe the work to be done <span class="required-marker" style="color:red;">*</span></span>
                                                    <span class="pull-right text-light-gray font-size-14 padding-y-10">{{postprojectForm.jobDescription.length>0?postprojectForm.jobDescription.length:0}}/1500 Character Max</span>
                                                    <textarea ng-model="postprojectForm.jobDescription" ng-change="postprojectForm.jobDescription" maxlength='1500' required name="jobDescription" id="coverletter-textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="each-project row padding-x-34">
                                            <hr>
                                            <div class="row margin-0">
                                                <div class="col-md-12">
                                                    <div class="padding-x-10 font-opensans font-size-14 padding-bottom-30" ng-class="{'has-error':postproject.attachment.$invalid && postproject.attachment.$dirty}">
                                                        <span class="pull-left font-size-16 text-black font-opensans-semibold padding-y-10">Attach images</span>
                                                        <div class="clearfix"></div>
                                                        <div class="file-field bg-light-cyan col-md-9 padding-left-20 border-dashed-1">
                                                            <input ng-model="postprojectForm.attachment" name="attachment[]" accept="image/*" multiple='true' id="attachment" class="padding-y-20" type="file">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="font-size-14 text-light-gray padding-top-10"><i>Maximum file size in 2 MB</i></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row margin-0 padding-bottom-20 padding-top-10">
                                            <div class="col-md-12 padding-x-20">
                                                <h3 class="font-size-22 font-dinopro text-blue padding-left-10">Budget and availability</h3>
                                                <div class="col-md-6">
                                                    <div class="padding-x-10 font-opensans font-size-14" ng-class="{'has-error':postproject.estimatedBudget.$invalid && postproject.estimatedBudget.$dirty}">
                                                        <span class="pull-left font-size-16 text-black font-opensans-semibold padding-y-10">How would you like to budget</span>
                                                        <span class="clearfix"></span>
                                                        <input ng-model="postprojectForm.estimatedBudget" ng-keyup="postprojectForm.estimatedBudget = postprojectForm.estimatedBudget==''?'$'+postprojectForm.estimatedBudget:postprojectForm.estimatedBudget" ng-init="postprojectForm.estimatedBudget = '$'+postprojectFormParse.estimatedBudget" ng-pattern="budget" name="estimatedBudget" id="estimatedBudget" type="text" class="input-field">
                                                        <!--<input required name="estimatedBudget"  ui-mask="(999)" ui-mask-placeholder ui-mask-placeholder-char="_" id="estimatedBudget" type="text"/>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-6" ng-class="{'has-error':postproject.startTime.$invalid && postproject.startTime.$dirty}">
                                                    <div class="padding-x-10 font-opensans font-size-14">
                                                        <span class="pull-left font-size-16 text-black font-opensans-semibold padding-y-10">How soon you like to get started</span>
                                                        <span class="clearfix"></span>
                                                        <select ng-model="postprojectForm.startTime" name="startTime" class="select-dropdown" id="startTime">
                                                            <option value="">Select</option>
                                                            <option value="ASAP">ASAP</option>
                                                            <option value="Today">Today</option>
                                                            <option value="This Week">This Week</option>
                                                            <option value="Flexiable">Flexiable</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <center>
                                        <div class="padding-y-20">
                                            <!-- Disable postproject button until the form has no errors -->
                                            <button style="margin: 5px;width: 250px;" class="btn btn-orange bg-orange text-white btn-lg quick-postproject-form-button pull-center btn-block" ng-disabled="postproject.$invalid" ng-click="submitPostprojectForm()">
                                                <span ng-show="!postprojectForm.loading">Submit Project</span>
                                                <span class="overlord-loading-spinner fa fa-spinner" ng-show="postprojectForm.loading"></span>
                                                <span ng-show="postprojectForm.loading">Processing...</span>
                                            </button>
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="submit-project" ng-cloak ng-show="successCreate">
                  <div class="clearfix height-40"></div>
                    <div class="project-details main-content">
                        <div class="details-header padding-10">
                            <div class="row">
                                <div class="col-md-12 padding-x-10">
                                    <div class="user-img pull-left">
                                        <center>
                                            <h1 class="text-blue font-size-22 font-dinopro-bold margin-top-10">Success! Your job has been submitted.</h1>
                                        </center>
                                        <center>
                                            <p class="font-size-16 font-opensans padding-x-10">Applications should pop into your inbox once your post becomes searchable, usually about 20 minutes.</p>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>

<!--SCRIPTS-->

<script src="/js/dependencies/angular-animate.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/ng-file-upload.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/postProjectServeceSeeker.controller.js"></script>
<script src="/js/filter/replace.js"></script>
<script src="/js/services/api.service.js"></script>
<script src="/js/services/businessHours.service.js"></script>
<script src="/js/services/datepicker.service.js"></script>
<script src="/js/services/googleMap.service.js"></script>
<!--SCRIPTS END-->