<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>UHome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/myproject-inner-user.css" />
  <link rel="stylesheet" href="/styles/postproject-submitted.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
</head>
<body class="index">
<div id="page-wrapper">
  <% include ../common/topnav %>
  <div class="page-content">
    <div class="container">
      <% include ../common/sidebar %>
      <div class="middle-content col-md-9 col-xs-12">
        <div class="clearfix height-40"></div>
        <div class="project-details main-content">
          <div class="details-header padding-10">
            <div class="row">
              <div class="col-md-12 padding-x-10">
                <div class="user-img pull-left">
                  <center>
                    <h1 class="text-blue font-size-22 font-dinopro-bold margin-top-10">Success! Your job has been submitted.</h1>
                  </center>
                  <center>
                    <p class="font-size-16 font-opensans padding-x-10">Applications should pop into your inbox once your post becomes searchable, usually about 20 minutes.</p>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="details-body bg-white padding-20">
            <h4 class="font-size-18 font-dinopro text-orange">Home Interior Decoration</h4>
            <p class="font-size-13 font-opensans">
              Hourly - Estamate time one month, Full Time - Posted 1 week ago by You
            </p>
            <hr>
            <div class="row margin-0 invite bg-white">
              <div class="col-md-9">
                <p class="font-opensans font-size-16 padding-top-5">Top 10 recommended freelancer for your job - <span class="text-orange">Home Interior Decoration</span> </p>
              </div>
              <div class="col-md-3">
                <div class="btns pull-right">
                  <a href="#" class="btn btn-primary">Invite all to apply</a>
                </div>
              </div>
            </div>
            <div class="row margin-0 suggested-contractors bg-white padding-y-20">
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row margin-0 contractor-info">
                  <img class="col-md-3 img-responsive" src="/images/contractor/contractor-img-3.png" alt="" />
                  <div class="col-md-8 padding-left-10 poster-name font-size-12 font-opensans padding-top-15">
                    Valerie Walbrandt
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
<% include dropdowns %>
