<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
  <title>UHome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/profile.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
</head>
<body class="index">
<div id="page-wrapper" ng-controller="userProfile" user-profile>
  <% include ../common/topnav %>
  <div class="page-content">
    <div class="container">
      <% include ../common/sidebar %>
      <div class="middle-content col-md-9 padding-x-34 user-profile-details">
        <div class="row user-cover-section text-white padding-20" style="background-image: url('<%= user.bannerPicture %>');">
          <div class="col-md-3">
            <div class="profile-picture" style="background-image: url('<%= user.profilePicture %>');">
              <!--<img class="img-responsive profile-picture" ng-model="profilePhoto" ng-init="profilePhoto = '<%= user.profilePicture %>'" ng-src="{{profilePhoto}}" alt="">-->
              <div class="upload-photo pull-right padding-y-10 font-opensans">
                <a class="text-orange profile-upload-photo" href="#">Upload Photo <i class="fa fa-picture-o"></i></a>
                <input type="file" accept="image/*" class="hidden" id="profilePhoto" name="profilePhoto">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="user-details padding-x-20 font-dinopro font-size-16">
              <h1><%= user.firstName + ' ' + user.lastName %></h1>
              <span><%= user.address %></span>
              <span><%= user.city + ' ' + user.state %></span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="user-contact-method pull-right">
              <!--<div class="btn-group">-->
                <!--<a href="" class="btn btn-default">Send Message</a>-->
                <!--<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">-->
                  <!--<span class="caret"></span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li><a href="#">Action</a></li>-->
                  <!--<li><a href="#">Another action</a></li>-->
                  <!--<li><a href="#">Something else here</a></li>-->
                  <!--<li class="divider"></li>-->
                  <!--<li><a href="#">Separated link</a></li>-->
                <!--</ul>-->
              <!--</div>-->
              <div class="clearfix"></div>
              <div class="upload-photo pull-right padding-y-10 font-opensans">
                <a class="text-white banner-upload-photo" href="#">Upload Photo <i class="fa fa-picture-o"></i></a>
                <input type="file" accept="image/*" class="hidden" id="userBanner" name="userBanner">
              </div>
            </div>
          </div>
        </div>

        <!--<div class="user-cover-section-mobile margin-0 row padding-20" ng-model="bannerPhoto" ng-init="bannerPhoto = '<%= user.bannerPicture %>'"  style="background-image: url('{{bannerPhoto}}');">-->
          <!--<div class="company-data" style="margin: 0 auto; width: 320px;">-->
            <!--<center>-->
              <!--<div class="row margin-0 clearfix img-container" style="margin: 0 auto; width: 320px;">-->
                <!--<img ng-src="{{profilePicture}}" class="border-gray-1" style="width: 128px; height: 128px; margin: 0 auto;" alt="">-->
              <!--</div>-->
              <!--<div class="clearfix"></div>-->
              <!--<div class="row margin-0 clearfix">-->
                <!--<h3 class="font-size-27 font-dinopro margin-0 padding-y-5 text-white"><%= user.firstName + ' ' + user.lastName %></h3>-->
                <!--<span class="clearfix font-size-12 font-opensans text-white"><%= user.city + ' ' + user.state %></span>-->
              <!--</div>-->
              <!--<div class="row margin-0">-->
                <!--<div class="padding-y-10">-->
                  <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="" class="btn btn-default">Send Message</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">&ndash;&gt;-->
                      <!--&lt;!&ndash;<span class="caret"></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a href="#">Action</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a href="#">Another action</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a href="#">Something else here</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li class="divider"></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a href="#">Separated link</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="upload-photo pull-right padding-y-10 font-opensans padding-left-10">&ndash;&gt;-->
                      <!--&lt;!&ndash;<a class="text-white" href="#">Upload Photo <i class="fa fa-picture-o"></i></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
            <!--</center>-->
          <!--</div>-->
        <!--</div>-->
        <div class="clearfix height-30"></div>

        <div class="row profile-description">
          <div class="">
            <!--<ul class="nav nav-tabs" role="tablist">-->
              <!--<li role="presentation" class="active"><a href="#biography" aria-controls="biography" role="tab" data-toggle="tab">My Biography</a></li>-->
              <!--<li role="presentation"><a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">My Activity</a></li>-->
              <!--<li role="presentation"><a href="#neighbours" aria-controls="neighbours" role="tab" data-toggle="tab">My Neighbours</a></li>-->
              <!--<li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">My Reviews</a></li>-->
              <!--<li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">My Projects</a></li>-->
              <!--<li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">My Gallery</a></li>-->
            <!--</ul>-->
            <div class="clearfix row margin-0"></div>
            <div class="tab-content bg-white main-content">

              <div role="tabpanel" class="tab-pane active" id="biography">
                <div class="row tab-content padding-x-20 margin-0 padding-20">
                  <h3 class="font-dinopro font-size-28 padding-top-10 padding-10 pull-left">About</h3>
                  <h4 class="pull-right font-dinopro text-orange font-size-16 padding-top-10 padding-right-10" ng-click="aboutEdit = true" ng-show="!aboutEdit">
                    <i class="fa fa-edit"></i>
                    <span>Edit</span>
                  </h4>
                  <div class="clearfix"></div>
                  <div class="biography-description font-opensans font-size-16 text-gray padding-10" ng-show="!aboutEdit">
                    <div class="aboutMe" ng-model="aboutUser" ng-init="aboutUser = '<%= user.aboutMe %>'" style="word-wrap: break-word;"><pre class="aboutUser">{{aboutUser}}</pre></div>
                  </div>
                  <div class="padding-10 hidden" delay ng-show="aboutEdit">
                    <textarea class="form-control about-textarea" ng-model="aboutUser" ng-init="aboutUser = '<%= user.aboutMe %>'"  name="aboutUser" id="aboutUser" cols="30" rows="10"></textarea>
                  </div>
                  <div class="form-group padding-10 about-btn hidden" delay ng-show="aboutEdit">
                    <a href="" class="btn btn-default" ng-click="aboutSave(aboutUser)">Save</a>
                  </div>
                  <% if(user.residentSince) { %>
                  <div class="hint padding-left-10 text-light-gray">
                    <i class="fa fa-home font-size-20"></i>
                    <span class="font-size-16">Resident since <%= (user.residentSince ? user.residentSince : 'N/A')%> <% var result = Math.abs((new Date( Date.now() - new Date(user.residentSince).getTime())).getUTCFullYear() - 1970);
                          if(result > 1) ye = ' years'; else ye = ' year'; %>
                          (<%= result + ye %>)
                    </span>
                  </div>
                  <% } %>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="activity">
                <div class="row tab-content padding-x-20 margin-0 padding-20">
                  <h3 class="font-dinopro font-size-28 padding-top-10 padding-10">Activity</h3>
                  <div class="row text-dark-cyan padding-20">
                    <i class="fa fa-comment font-size-20"></i>
                    <span class="font-size-16 font-opensans padding-left-10">0 Posts</span>
                  </div>
                  <div class="row text-dark-cyan padding-20">
                    <i class="fa fa-reply-all font-size-20"></i>
                    <span class="font-size-16 font-opensans padding-left-10">0 Replies</span>
                  </div>
                  <div class="row text-dark-cyan padding-20">
                    <i class="fa fa-users font-size-20"></i>
                    <span class="font-size-16 font-opensans padding-left-10">Member of 0 public group</span>
                  </div>
                  <div class="row text-dark-cyan padding-20">
                    <i class="fa fa-user font-size-20"></i>
                    <span class="font-size-16 font-opensans padding-left-10">0 accepted invite</span>
                  </div>
                </div>
              </div>
              <div id="neighbours">
                <div class="row tab-content padding-x-20 margin-0 padding-20">
                  <h3 class="font-dinopro font-size-28 padding-top-10">Location</h3>
                  <ng-map zoom="15" center="[<%= user.latitude %>, <%= user.longitute %>]">
                    <marker position="[<%= user.latitude %>, <%= user.longitute %>]" animation="DROP" draggable="true"></marker>
                  </ng-map>
                </div>
                <div class="height-30"></div>
              </div>
              <div role="tabpanel" class="tab-pane" id="reviews">
                <div class="reviews-tab row tab-content padding-x-20 margin-0 padding-20">
                  <div id="reviewss">
                    <h3 class="font-dinopro font-size-28 padding-top-10">Reviews</h3>
                    <center><h1>No Reviews</h1></center>
                    <!--<div class="each-review">
                      <div class="row margin-0 padding-10 bg-light-orange">
                        <div class="col-md-3">
                          <ul class="contractor-rating rating-stars text-yellow">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half"></i></li>
                          </ul>
                        </div>
                        <div class="row col-md-7">
                          <div class="poster-img padding-right-20 col-md-2">
                            <img src="/images/icon-set/home-icon.png" >
                          </div>
                          <div class="col-md-8 padding-left-15">
                            <span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
                            <span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
                            <span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
                          </div>
                        </div>
                        <div class="col-md-2">
															<span class="contractor-review-date">
																March 4, 2006
															</span>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix height-10"></div>

                    <div class="each-review">
                      <div class="row margin-0 padding-10 bg-light-orange">
                        <div class="col-md-3">
                          <ul class="contractor-rating rating-stars text-yellow">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half"></i></li>
                          </ul>
                        </div>
                        <div class="row col-md-7">
                          <div class="poster-img padding-right-20 col-md-2">
                            <img src="/images/icon-set/home-icon.png" >
                          </div>
                          <div class="col-md-8 padding-left-15">
                            <span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
                            <span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
                            <span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
                          </div>
                        </div>
                        <div class="col-md-2">
															<span class="contractor-review-date">
																March 4, 2006
															</span>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix height-10"></div>

                    <div class="each-review">
                      <div class="row margin-0 padding-10 bg-light-orange">
                        <div class="col-md-3">
                          <ul class="contractor-rating rating-stars text-yellow">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star-half"></i></li>
                          </ul>
                        </div>
                        <div class="row col-md-7">
                          <div class="poster-img padding-right-20 col-md-2">
                            <img src="/images/icon-set/home-icon.png" >
                          </div>
                          <div class="col-md-8 padding-left-15">
                            <span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
                            <span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
                            <span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
                          </div>
                        </div>
                        <div class="col-md-2">
															<span class="contractor-review-date">
																March 4, 2006
															</span>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix height-10"></div>-->
                  </div>
                  <div class="reviews-list">
                    <div class="row margin-0 head padding-x-20 padding-y-10 bg-light-blue col-md-12">
                      <div class="col-md-12 pull-left">
														<span class="font-opensansbold font-size-14 text-uppercase">
															my reviews
														</span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row margin-0">
                      <center><h1>No Reviews</h1></center>
                      <!--<ul class="ul-reviews margin-0 bg-white">
                        <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
                          <div class="row margin-0 notification-message">
                            <div class="row margin-0 padding-10 bg-white">
                              <div class="row col-md-7">
                                <div class="poster-img padding-right-20 col-md-2 pull-left">
                                  <img src="/images/icon-set/home-icon.png" >
                                </div>
                                <div class="col-md-8 padding-left-15">
                                  <span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
                                  <span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
                                  <span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
                                  <ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star-half"></i></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
                          <div class="row margin-0 notification-message">
                            <div class="row margin-0 padding-10 bg-white">
                              <div class="row col-md-7">
                                <div class="poster-img padding-right-20 col-md-2 pull-left">
                                  <img src="/images/icon-set/home-icon.png" >
                                </div>
                                <div class="col-md-8 padding-left-15">
                                  <span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
                                  <span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
                                  <span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
                                  <ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star-half"></i></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
                          <div class="row margin-0 notification-message">
                            <div class="row margin-0 padding-10 bg-white">
                              <div class="row col-md-7">
                                <div class="poster-img padding-right-20 col-md-2 pull-left">
                                  <img src="/images/icon-set/home-icon.png" >
                                </div>
                                <div class="col-md-8 padding-left-15">
                                  <span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
                                  <span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
                                  <span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
                                  <ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star"></i></li>
                                    <li class="display-inline"><i class="fa fa-star-half"></i></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>-->
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="projects">
                <div class="row tab-content padding-x-20 margin-0 padding-20">
                  <h3 class="font-dinopro font-size-28 padding-top-10">Reviews</h3>
                  <center><h1>No Projects</h1></center>
                  <!--<div class="each-project padding-20">
                    <span class="font-opensans font-size-18 text-orange">Home Interior Decoration</span>
                    <br>
                    <span class="font-opensans font-size-13 text-light-gray">Hourly - Posted 1 week ago</span>
                  </div>
                  <div class="each-project padding-20">
                    <span class="font-opensans font-size-18 text-orange">Exterior Design</span>
                    <br>
                    <span class="font-opensans font-size-13 text-light-gray">Hourly - Posted 1 week ago</span>
                  </div>
                  <div class="each-project padding-20">
                    <span class="font-opensans font-size-18 text-orange">Home Establishment</span>
                    <br>
                    <span class="font-opensans font-size-13 text-light-gray">Hourly - Posted 1 week ago</span>
                  </div>-->
                  <div class="clearfix height-30"></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="gallery">
                <div class="row tab-content padding-x-20 margin-0 padding-20">
                  <h3 class="font-dinopro font-size-28 padding-top-10">Gallery</h3>
                  <center><h1>No Gallery Images</h1></center>
                  <!--<div class="photo-search-result padding-bottom-1 bg-white">
                    <div class="col-md-12">
                      <div class="view view-first">
                        <img src="/images/photo/spice-photo.png" />
                        <div class="mask text-white">
                          <h2>
                            <i class="fa fa-camera text-white">
                              <div class="clearfix"></div>
                              48
                            </i>
                          </h2>
                          <p>Home Expert</p>
                          <a href="#" class="btn btn-default">Read More</a>
                        </div>
                      </div>
                      <div class="view view-first">
                        <img src="/images/photo/spice-photo.png" />
                        <div class="mask text-white">
                          <h2>
                            <i class="fa fa-camera text-white">
                              <div class="clearfix"></div>
                              48
                            </i>
                          </h2>
                          <p>Home Expert</p>
                          <a href="#" class="btn btn-default">Read More</a>
                        </div>
                      </div>
                      <div class="view view-first">
                        <img src="/images/photo/spice-photo.png" />
                        <div class="mask text-white">
                          <h2>
                            <i class="fa fa-camera text-white">
                              <div class="clearfix"></div>
                              48
                            </i>
                          </h2>
                          <p>Home Expert</p>
                          <a href="#" class="btn btn-default">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="photo-search-result padding-bottom-1 bg-white">
                    <div class="col-md-12">
                      <div class="view view-first">
                        <img src="/images/photo/spice-photo.png" />
                        <div class="mask text-white">
                          <h2>
                            <i class="fa fa-camera text-white">
                              <div class="clearfix"></div>
                              48
                            </i>
                          </h2>
                          <p>Home Expert</p>
                          <a href="#" class="btn btn-default">Read More</a>
                        </div>
                      </div>
                      <div class="view view-first">
                        <img src="/images/photo/spice-photo.png" />
                        <div class="mask text-white">
                          <h2>
                            <i class="fa fa-camera text-white">
                              <div class="clearfix"></div>
                              48
                            </i>
                          </h2>
                          <p>Home Expert</p>
                          <a href="#" class="btn btn-default">Read More</a>
                        </div>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix height-56"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDl6lwlam_U1ZofuFFOQ8K9ydfzyGHxTWI"></script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.1.6.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/userProfile.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<!--<script type="text/javascript" src="/js/services/googleMap.service.js"></script>-->
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="/js/directive/userProfile.js"></script>
<script type="text/javascript" src="/js/filter/replace.js"></script>

</body>
</html>
