<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/social-main.css"/>
    <link rel="stylesheet" href="/styles/myproject-inner-user.css"/>
    <link rel="stylesheet" href="/styles/myprojects.css"/>
    <link rel="stylesheet" href="/styles/submit-proposal.css"/>
    <link rel="stylesheet" href="/styles/postproject.css"/>
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/styles/ie9.css"/><![endif]-->
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};
    </script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.1.6.js"></script>
</head>
<body class="index" ng-controller="performersLogick">
<div id="page-wrapper">
    <% include ../common/topnav %>
    <div class="page-content">
        <div class="container">
            <% include ../common/sidebar %>
            <div class="middle-content col-md-9 col-xs-12">

                <div class="top-subnav">
                    <div class="font-size-18 font-opensans">
                        <div class="subnav-left">
                            <span class="page-item">My Projects</span>
                            <i class="fa fa-angle-right"></i>
                            <span class="page-item page-item-proj text-blue">Home Cleaning</span>
                        </div>
                        <div class="heading-buttons pull-right">
                            <button class="btn btn-info">
                                Favorite Contractor
                                <span class="count">
                                   <i class="fa fa-heart"></i>
                                   <span>50</span>
                               </span>
                            </button>
                            <a class="btn btn-default" href="/newProject">Post Project </a>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="open-project" ng-model="project" ng-init="project = <%= project %>" ng-cloak>
                    <div class="open-proj-top">
                        <div class="pull-left" ng-class="project.status == 'Open'?'open-project-line':'closed-project-line'">
                            <span class="open-project-title">{{project.jobName}}</span>
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="open-proj-status">{{project.status}}</span>
                        </div>
                        <div class="open-proj-actions pull-right">
                            <div class="view-posting">
                                <i class="fa fa-eye" aria-hidden="true"></i> <a href="/projectReview/{{project.id}}">View Posting</a>
                            </div>
                            <div class="edit-posting">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="/editProject/{{project.id}}"> Edit Posting</a>
                            </div>
                            <div class="close-posting">
                                <i class="fa fa-times" aria-hidden="true"></i><a href="#"> Close Posting</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="open-project-date">
                            <span>{{project.createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
                        </div>
                    </div>

                    <div class="open-project-description">
                        <div class="open-project-description-content">
                            <div class="open-project-images">
                                <a class="control-next" ng-show="project.attachments.length>1">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <a class="control-prev" ng-show="project.attachments.length>1">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <ul>
                                    <li ng-repeat="attachment in project.attachments" style="background-image: url('{{attachment}}');"></li>
                                </ul>
                            </div>
                            <div class="open-project-text">
                                <div class="open-project-text-top">
                                    <div class="tags font-opensans radius-50">
                                        {{project.service}}
                                    </div>
                                    <div class="price" ng-show="project.estimatedBudget != '$'">
                                        {{project.estimatedBudget}}
                                    </div>
                                    <div class="term" ng-show="project.startTime != undefined && project.startTime != ''">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{project.startTime}}</span>
                                    </div>
                                    <div class="clearfix padding-bottom-10"></div>
                                </div>
                                <div class="open-project-text-full">
                                    <p>{{project.jobDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hired" ng-init="performers = <%= performers %>; performersLogick(performers)" ng-show="hired>0">
                        <div class="top-line-letter">
                            <span>Hired</span>
                            <span class="people-count">{{hired}}</span>
                        </div>
                        <div class="hired-content main-content" ng-repeat="(key, performer) in performers" ng-show="performer.status == 'Hired'">
                            <div class="letter-item padding-20">
                                <div class="top-line">
                                    <div class="pull-left">
                                        <div class="contractor-avatar">
                                            <div style="background-image: url('{{performer.contractorId.profilePicture}}');"></div>
                                        </div>
                                        <div class="contractor-description">
                                            <div class="contractor-name-line">
                                                <a href="/publicpage/{{performer.contractorId.id}}" class="contractor-name">{{performer.contractorId.firstName+' '+performer.contractorId.lastName}}</a>
                                                <span class="contractor-date">
                                              <span>{{performer.contractorId.createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
                                          </span>
                                            </div>
                                            <div class="contractor-position">{{performer.contractorId.workLine}} Expert</div>
                                        </div>
                                    </div>
                                    <div class="letter-actions pull-right">
                                        <div class="user-btn like-btn">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div class="user-btn action-btn">End Contract</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="letter">
                                    <div class="letter-text">
                                        <p ng-class="{'show-all':allLetterHired[key], 'hide-all':!allLetterHired[key]}">{{performer.description}}</p>&nbsp;<a ng-class="{'letter-text1':allLetterHired[key]}" ng-click="allLetterHired[key] = !allLetterHired[key]" ng-show="performer.description.length>250">{{!allLetterHired[key]?'Show':'Hide'}} All Letter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="applicants" ng-show="applicants>0">
                        <div class="top-line-letter">
                            <span>Applicants</span> <span class="people-count">{{applicants}}</span>
                        </div>
                        <div class="applicants-content main-content">
                            <div class="letter-item padding-20" ng-repeat="(key, performer) in performers" ng-show="performer.status == 'Applicant'">
                                <div class="top-line">
                                    <div class="pull-left">
                                        <div class="contractor-avatar">
                                            <div style="background-image: url('{{performer.contractorId.profilePicture}}');"></div>
                                        </div>
                                        <div class="contractor-description">
                                            <div class="contractor-name-line">
                                                <a href="/publicpage/{{performer.contractorId.id}}" class="contractor-name">{{performer.contractorId.firstName+' '+performer.contractorId.lastName}}</a>
                                                <span class="contractor-date">
                                                    <span>{{performer.contractorId.createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
                                                </span>
                                            </div>
                                            <div class="contractor-position">{{performer.contractorId.workLine}} Expert</div>
                                        </div>
                                    </div>
                                    <div class="letter-actions pull-right">
                                        <div class="user-btn like-btn">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div class="user-btn action-btn">Message</div>
                                        <div class="user-btn action-btn">Hire me</div>
                                        <div class="user-btn close-letter">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="letter">
                                    <div class="letter-text">
                                        <p ng-class="{'show-all':allLetterAplic[key], 'hide-all':!allLetterAplic[key]}">{{performer.description}}</p>&nbsp;<a ng-class="{'letter-text1':allLetterAplic[key]}" ng-click="allLetterAplic[key] = !allLetterAplic[key]" ng-show="performer.description.length>250">{{!allLetterAplic[key]?'Show':'Hide'}} All Letter</a>
                                    </div>
                                </div>
                                <div class="user-screens">
                                    <div class="user-screen">
                                        <img src="/images/gallery/gallery-img-3.png" alt="">
                                    </div>
                                    <div class="user-screen">
                                        <img src="/images/gallery/gallery-img-3.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="letter-item padding-20">-->
                                <!--<div class="top-line">-->
                                    <!--<div class="pull-left">-->
                                        <!--<div class="contractor-avatar">-->
                                            <!--<div style="background-image: url('/images/group/group-member-img-1.png');"></div>-->
                                        <!--</div>-->
                                        <!--<div class="contractor-description">-->
                                            <!--<div class="contractor-name-line">-->
                                                <!--<span class="contractor-name">Jimmy Shvartsneager</span>-->
                                                <!--<span class="contractor-date">-->
                                              <!--<span>10/02/2017</span>-->
                                              <!--<span>12:45 pm</span>-->
                                          <!--</span>-->
                                            <!--</div>-->
                                            <!--<div class="contractor-position">Home Cleaning Expert</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="letter-actions pull-right">-->
                                        <!--<div class="user-btn like-btn">-->
                                            <!--<i class="fa fa-heart"></i>-->
                                        <!--</div>-->
                                        <!--<div class="user-btn action-btn">Message</div>-->
                                        <!--<div class="user-btn action-btn">Hire me</div>-->
                                        <!--<div class="user-btn close-letter">-->
                                            <!--<i class="fa fa-times" aria-hidden="true"></i>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="clearfix"></div>-->
                                <!--</div>-->
                                <!--<div class="letter">-->
                                    <!--<div class="letter-text">-->
                                        <!--Ut laoreet non elit sit amet gravida. Donec rhoncus nibh eu elit rhoncus iaculis. Donec mi ipsum, dictum ut odio commodo, vestibulum fringilla mi. Donec mi ipsum, dictum ut odio commodo, vestibulum Donec mi ipsum, dictum ut odio commodo...<a href="#">Show All Letter</a>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="user-screens">-->
                                    <!--<div class="user-screen">-->
                                        <!--<img src="/images/gallery/gallery-img-3.png" alt="">-->
                                    <!--</div>-->
                                    <!--<div class="user-screen">-->
                                        <!--<img src="/images/gallery/gallery-img-3.png" alt="">-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->

                        </div>
                    </div>

                </div>





            </div>

        </div>
    </div>
</div>
</body>
</html>

<!--SCRIPTS-->

<script src="/js/dependencies/angular-animate.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.inputmask.bundle.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/ng-file-upload.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/performersLogick.controller.js"></script>
<script src="/js/filter/replace.js"></script>
<script src="/js/services/api.service.js"></script>
<script src="/js/services/businessHours.service.js"></script>
<script src="/js/services/datepicker.service.js"></script>
<script src="/js/services/googleMap.service.js"></script>
<!--SCRIPTS END-->

<script>
    $(document).ready(function() {

        var sliderBlock = $('.open-project-images');
        var slider = sliderBlock.children("ul");
        var slides = slider.children("li");
        var slideCount = slides.length;
        var slideWidth = slides.width();
        var sliderUlWidth = slideCount * slideWidth;

        slides.last().prependTo('#sliderProjects ul');

        function moveLeft() {
            slider.animate({left: +slideWidth}, 0,
                function () {
                    var elementNewLi = $('.open-project-images ul li');
                    elementNewLi.last().prependTo('.open-project-images ul');
                    slider.css('left', '');
                });
        }

        function moveRight() {
            slider.animate({left: -slideWidth}, 0,
                function () {
                    var elementNewLi = $('.open-project-images ul li');
                    elementNewLi.first().appendTo('.open-project-images ul');
                    slider.css('left', '');
                });
        }
        $('a.control-prev').click(function () {
            moveLeft();
        });
        $('a.control-next').click(function () {
            moveRight();
        });

    });
</script>