<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <title>UHome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/social-main.css"/>
    <link rel="stylesheet" href="/styles/myproject-inner-user.css"/>
    <link rel="stylesheet" href="/styles/myprojects.css"/>
    <link rel="stylesheet" href="/styles/submit-proposal.css"/>
    <link rel="stylesheet" href="/styles/postproject.css"/>
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/styles/ie9.css"/><![endif]-->
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <!--<script type="text/javascript">-->
        <!--window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};-->
    <!--</script>-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.1.6.js"></script>
</head>
<body class="index">
<div id="page-wrapper">
    <% include ../common/topnav %>
    <div class="page-content" >
        <div class="container">
            <% include ../common/sidebar %>
            <div class="middle-content col-md-9 col-xs-12" ng-model="project" ng-init="project = <%= project %>" ng-cloak>
                <div class="top-subnav">
                    <div class="font-size-18 font-opensans">
                        <div class="subnav-left">
                            <span class="page-item">My Projects</span>
                            <i class="fa fa-angle-right"></i>
                            <span class="page-item page-item-proj text-blue">{{project.jobName}}</span>
                        </div>

                    </div>
                    <hr>
                </div>

                <div class="col-md-8 project-review" >
                    <div class="main-content">
                        <div class="open-project">
                            <div class="open-proj-top">
                                <div class=" pull-left" ng-class="project.status == 'Open'?'open-project-line':'closed-project-line'">
                                    <span class="open-project-title">{{project.jobName}}</span>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <span class="open-proj-status">{{project.status}}</span>
                                </div>

                                <div class="clearfix"></div>
                                <div class="open-project-date">
                                    <span>{{project.createdAt | date:'MM/dd/yyyy h:mm a'}}</span>
                                </div>

                                <div class="project-review-text-top">
                                    <div class="review-categories pull-left">
                                        <div class="tags {{classActive}} font-opensans radius-50" ng-mouseenter="classActive = ''" ng-init="classActive = 'no-active'" ng-mouseleave="classActive = 'no-active'">
                                            {{project.service}}
                                        </div>
                                        <!--<div class="tags no-active font-opensans radius-50">-->
                                            <!--Cleaning Room-->
                                        <!--</div>-->
                                    </div>

                                    <div class="pull-right">
                                        <div class="price" ng-show="project.estimatedBudget != '$'">{{project.estimatedBudget}}</div>
                                        <div class="term" ng-show="project.startTime != undefined && project.startTime != ''">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>{{project.startTime}}</span>
                                        </div>
                                        <div class="clearfix padding-bottom-10"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="open-project-description">
                                <div class="project-review-description-content">
                                    <div class="open-project-images">
                                        <a class="control-next" ng-show="project.attachments.length>1">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <a class="control-prev" ng-show="project.attachments.length>1">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                        <ul>
                                            <li ng-repeat="attachment in project.attachments" style="background-image: url('{{attachment}}');"></li>
                                        </ul>
                                    </div>
                                    <div class="open-project-text">

                                        <div class="open-project-text-full">
                                            <p>{{project.jobDescription}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="feedback-section hidden">
                            <h2>Client's Work History and Feedback (50)</h2>
                            <div class="feedback-items">
                                <div class="feedback-item">
                                    <div class="feedback-left">
                                        <h3>Home Cleaning</h3>
                                        <div class="review-stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <p class="feedback-text">
                                            Thanks Herber Brown! Donec rhoncus nibh eu elit rhoncus
                                            iaculis. Donec mi ipsum, dictum ut odio commodo,
                                        </p>
                                    </div>
                                    <div class="feedback-right">
                                        <div class="feedback-date">Mar 2012 - Oct 2015</div>
                                        <div class="feedback-price">Fixed Price $733.33</div>
                                    </div>
                                </div>
                                <div class="feedback-item">
                                    <div class="feedback-left">
                                        <h3>Interior Designing</h3>
                                        <div class="review-stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <p class="feedback-text">
                                            No feedback given
                                        </p>
                                    </div>
                                    <div class="feedback-right">
                                        <div class="feedback-date">Jan 2015 - Jul 2015</div>
                                        <div class="feedback-price">Fixed Price $150.00</div>
                                    </div>
                                </div>
                                <div class="feedback-item">
                                    <div class="feedback-left">
                                        <h3>Home Cleaning</h3>
                                        <div class="review-stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <p class="feedback-text">
                                            Thanks Herber Brown! Donec rhoncus nibh eu elit rhoncus
                                            iaculis. Donec mi ipsum, dictum ut odio commodo,
                                        </p>
                                    </div>
                                    <div class="feedback-right">
                                        <div class="feedback-date">Mar 2012 - Oct 2015</div>
                                        <div class="feedback-price">Fixed Price $733.33</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="load-reviews">-->
                        <!--<div class="btn see-more-reviews">See More</div>-->
                    <!--</div>-->
                </div>
                <div class="col-md-4 col-xs-12 review-sidebar" ng-init="user = '<%= user.userType %>'">
                    <div class="review-sidebar-content">
                        <div class="proposal-btn" ng-show="user == 'Business'||user == 'Individual'">
                            Submit A Proposal
                        </div>
                        <h3><a href="/publicpage/<%= user.id%>">About the Client</a></h3>
                        <div class="reviews-count-section">
                            <span>Reviews</span>
                            <div class="review-sidebar-stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <span class="reviews-count">(4.96) 87</span>
                        </div>
                        <div class="zipcode">
                            <div>Zipcode: <span><%= user.zipcode%></span></div>

                        </div>
                        <div class="info-review">
                            <div class="posted-jobs">
                                <h4>194 Jobs Posted</h4>
                                <p>66% Hire Rate, 1 Open Job</p>
                            </div>
                            <div class="member-info">
                                Member Since Aug 2, 2009
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>

<!--SCRIPTS-->

<script src="/js/dependencies/angular-animate.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.inputmask.bundle.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/ng-file-upload.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/postProjectServeceSeeker.controller.js"></script>
<script src="/js/filter/replace.js"></script>
<script src="/js/services/api.service.js"></script>
<script src="/js/services/businessHours.service.js"></script>
<script src="/js/services/datepicker.service.js"></script>
<script src="/js/services/googleMap.service.js"></script>
<!--SCRIPTS END-->
<script>
    $(document).ready(function() {

        var sliderBlock = $('.open-project-images');
        var slider = sliderBlock.children("ul");
        var slides = slider.children("li");
        var slideCount = slides.length;
        var slideWidth = slides.width();
        var sliderUlWidth = slideCount * slideWidth;

        slides.last().prependTo('#sliderProjects ul');

        function moveLeft() {
            slider.animate({left: +slideWidth}, 0,
                function () {
                    var elementNewLi = $('.open-project-images ul li');
                    elementNewLi.last().prependTo('.open-project-images ul');
                    slider.css('left', '');
                });
        }

        function moveRight() {
            slider.animate({left: -slideWidth}, 0,
                function () {
                    var elementNewLi = $('.open-project-images ul li');
                    elementNewLi.first().appendTo('.open-project-images ul');
                    slider.css('left', '');
                });
        }
        $('a.control-prev').click(function () {
            moveLeft();
        });
        $('a.control-next').click(function () {
            moveRight();
        });

    });
</script>