<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/social-main.css" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="stylesheet" href="/styles/myproject-inner-user.css" />
    <link rel="stylesheet" href="/styles/myprojects.css" />
    <link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
    <link rel="stylesheet" href="/styles/step-4.css">

    <link rel="stylesheet" href="/styles/step-1.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
</head>
<body class="index" ng-controller="bissenesProfile" ng-init="userType = '<%= user.userType %>'" b-step-two>
<div id="page-wrapper">
    <% include ../common/topnav %>
    <div class="page-content">
        <div class="container">
            <% include ../common/sidebar %>
            <div class="middle-content col-md-9 padding-x-34">
                <div class="row user-cover-section text-white padding-20" style="background-image: url('<%= viewedUser.bannerPicture %>');">
                    <div class="col-md-3">
                        <div class="profile-picture" style="background-image: url('<%= viewedUser.profilePicture %>');">
                            <!--<div class="upload-photo pull-right padding-y-10 font-opensans">-->
                                <!--<a class="text-orange profile-upload-photo" href="#">Upload Photo <i class="fa fa-picture-o"></i></a>-->
                                <!--<input type="file" class="hidden" id="profilePhoto" name="profilePhoto">-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="user-details padding-x-20 font-dinopro font-size-16">
                            <h1><%= viewedUser.firstName + ' ' + viewedUser.lastName %></h1>
                            <span><%= viewedUser.address %></span>
                            <span><%= viewedUser.city + ' ' + viewedUser.state %></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user-contact-method pull-right">
                            <div class="clearfix"></div>
                            <!--<div class="upload-photo pull-right padding-y-10 font-opensans">-->
                                <!--<a class="text-white banner-upload-photo" href="#">Upload Photo <i class="fa fa-picture-o"></i></a>-->
                                <!--<input type="file" class="hidden" id="userBanner" name="userBanner">-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <!--<div class="user-cover-section-mobile margin-0 row padding-20" ng-model="bannerPhoto" ng-init="bannerPhoto = '<%= viewedUser.bannerPicture %>'"  style="background-image: url('{{bannerPhoto}}');">-->
                    <!--<div class="company-data" style="margin: 0 auto; width: 320px;">-->
                        <!--<center>-->
                            <!--<div class="row margin-0 clearfix img-container" style="margin: 0 auto; width: 320px;">-->
                                <!--<img ng-model="profilePicture" ng-init="profilePicture = '<%= viewedUser.profilePicture %>'" ng-src="{{profilePicture}}" class="border-gray-1" style="width: 128px; height: 128px; margin: 0 auto;" alt="">-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                            <!--<div class="row margin-0 clearfix">-->
                                <!--<h3 class="font-size-27 font-dinopro margin-0 padding-y-5 text-white"><%= viewedUser.firstName + ' ' + viewedUser.lastName %></h3>-->
                                <!--<span class="clearfix font-size-12 font-opensans text-white"><%= viewedUser.city + ' ' + viewedUser.state %></span>-->
                            <!--</div>-->
                            <!--<div class="row margin-0">-->
                                <!--<div class="padding-y-10"></div>-->
                            <!--</div>-->
                        <!--</center>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="clearfix height-30"></div>

                <div class="row main-content bg-white profile-content-user padding-x-30">

                    <div class="about-section-user" ng-model="aboutMe" ng-init="aboutMe = '<%= viewedUser.aboutMe %>'" ng-show="aboutMe!=''">
                        <div class="heading">
                            <div class="heading-content-info-public">
                                <h2>About</h2>
                            </div>
                        </div>
                        <pre class="aboutUser">
                            <%= viewedUser.aboutMe %>
                        </pre>
                        <!--<p class="about-resident">-->
                            <!--<i class="fa fa-home" aria-hidden="true"><%= viewedUser.residentSince %></i>-->
                        <!--</p>-->
                    </div>

                    <!--<div class="projects-section">-->
                        <!--<div class="heading">-->
                            <!--<div class="heading-content-info-public">-->
                                <!--<h2>My Projects</h2>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="projects-list">-->
                            <!--<div class="user-proj padding-20">-->
                                <!--<p>Home Interior Decoration</p>-->
                                <!--<p>Hourly - Posted 1 week ago by You.</p>-->
                            <!--</div>-->
                            <!--<div class="user-proj padding-20">-->
                                <!--<p>Exterior Design</p>-->
                                <!--<p>Hourly - Posted 1 week ago by You</p>-->
                            <!--</div>-->
                            <!--<div class="user-proj padding-20">-->
                                <!--<p>Home Establishment</p>-->
                                <!--<p>Hourly - Posted 1 week ago by You</p>-->
                            <!--</div>-->
                            <!--<div class="user-proj padding-20">-->
                                <!--<p>Home Party & Events</p>-->
                                <!--<p>Hourly - Posted 1 week ago by You</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="service-area-section">
                        <div class="heading">
                            <div class="heading-content-info-public">
                                <h2>Location</h2>
                            </div>
                        </div>
                        <ng-map zoom="15" center="[<%= viewedUser.latitude %>, <%= viewedUser.longitute %>]">
                            <marker position="[<%= viewedUser.latitude %>, <%= viewedUser.longitute %>]" animation="DROP" draggable="true"></marker>
                        </ng-map>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="clearfix height-30"></div>
<div class="clearfix height-30"></div>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>
<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
<script type="text/javascript" src="/js/dependencies/mask.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/bissenesProfile.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<script type="text/javascript" src="/js/services/businessHours.service.js"></script>
<script type="text/javascript" src="/js/services/datepicker.service.js"></script>
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDl6lwlam_U1ZofuFFOQ8K9ydfzyGHxTWI"></script>

</body>
</html>