<div class="sidebar right-sidebar col-md-3">
        <div class="recent-activity">
          <div class="heading">
            <div class="icon pull-left">
              <!--<center><img class="img-responsive" src="/images/icon-set/recent-activity-icon.png" alt=""></center>-->
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div class="heading-content">
              <h2>Recent Activity</h2>
            </div>
            <div class="main-content">
              <ul>
                <li class="item">
                  <div class="activity-heading">Whooop!</div>
                  <p class="activity-content">No recent activity</p>
                </li>
                <li class="item hidden">
                  <div class="activity-heading">Osama Shah</div>
                  <p class="activity-content">Lorem ipsum dolor sit amet, consectetur...</p>
                </li>
                <li class="item hidden activity-content-alt">
                  <div class="activity-heading">Brown</div>
                  <p class="activity-content">Sit amet, consectetur adipiscing elit...</p>
                </li>
                <li class="item hidden">
                  <div class="activity-heading">Talib Allauddin</div>
                  <p class="activity-content">Pulvinar tincidunt lacus luctus...</p>
                </li>
              </ul>
              <div class="project-status">
                <div class="project-status-item col-md-6">
                  <div class="project-heading"><center>Open Projects</center></div>
                  <h1 class="project-count">0</h1>
                </div>
                <div class="project-status-item col-md-6">
                  <div class="project-heading"><center>Active Projects</center></div>
                  <h1 class="project-count">0</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix height-30"></div>
        <div class="trending">
          <div class="heading">
            <div class="icon pull-left">
              <center><i class="fa fa-flash text-white font-size-20"></i></center>
            </div>
            <div class="heading-content">
              <h2>Trending</h2>
            </div>
            <div class="main-content">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#TOP" aria-controls="TOP" role="tab" data-toggle="tab">TOP</a></li>
                <li role="presentation"><a href="#CONTRACTOR" aria-controls="CONTRACTOR" role="tab" data-toggle="tab">CONTRACTOR</a></li>
                <li role="presentation"><a href="#USER" aria-controls="USER" role="tab" data-toggle="tab">USER</a></li>
                <li role="presentation"><a href="#GROUP" aria-controls="GROUP" role="tab" data-toggle="tab">GROUP</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="TOP">
                  <ul>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Lorem Ipsum</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Lorem Ipsum</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Lorem Ipsum</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="CONTRACTOR">
                  <ul>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Contractor</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Contractor</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Contractor</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="USER">
                  <ul>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">User</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">User</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">User</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="GROUP">
                  <ul>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Group</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Group</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                    <li class="item">
                      <div class="pull-left padding-right-10">
                        <i class="fa fa-flash font-size-20 text-orange"></i>
                      </div>
                      <div class="line-height-1 padding-right-5">
						<span class="text-orange font-size-13">Group</span>
                        Sit amet, consectetur adipiscing elit...
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="see_more">
                  <center><a class="font-size-14 " href="#">See More</a></center>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix height-30"></div>
        <div class="sponsored">
          <div class="heading">
            <div class="icon pull-left">
              <center><img class="img-responsive" src="/images/icon-set/bulb-icon.png" alt=""></center>
            </div>
            <div class="heading-content">
              <h2>Sponsored</h2>
            </div>
            <div class="main-content">
              <ul>
                <li>
                  <img class="img-responsive" src="/images/sponsored/idea-bulb.png" />
                  <div class="main-text text-dark-gray font-size-13 font-dinopro">Learn more at the Image Show GK4 project website</div>
                  <p class="font-size-11 font-dinopro text-extra-gray">Cupcake ipsum dolor sit amet faworki...</p>
                </li>
                <li>
                  <img class="img-responsive" src="/images/sponsored/solar-panel.png" />
                  <div class="main-text text-dark-gray font-size-13 font-dinopro">Learn more at the Image Show GK4 project website</div>
                  <p class="font-size-11 font-dinopro text-extra-gray">Cupcake ipsum dolor sit amet faworki...</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix height-15"></div>
        <hr>
        <div class="clearfix height-15"></div>
        <footer>
          <ul>
            <li>
              <a class="text-blackish-gray text-decoration-none font-size-14" href="#">Contact</a>
            </li>
            <li>
              <a class="text-blackish-gray text-decoration-none font-size-14" href="#">Terms &amp; Privacy</a>
            </li>
            <li>
              <a class="text-blackish-gray text-decoration-none font-size-14" href="#">
                More <i class="glyphicon glyphicon-triangle-bottom"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix height-15"></div>
          <div class="copyright text-light-gray font-size-12 font-opensans">
            © Uhome 2016. All Rights Reserved.
          </div>
        </footer>
      </div>