<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Uhome - Home based services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/registration.css">
    <link rel="stylesheet" href="/styles/step-1.css">
    <link rel="stylesheet" href="/styles/step-3.css">
    <link rel="stylesheet" href="/styles/step-4.css">
</head>
<body class="index" ng-controller="SregisterController">
<style>
    i.fa {
        color: #878a8f;
    }

    .content {
        background-color: #fff;
    }
</style>
<div class="page-wrapper" step-two>
    <div class="top-nav">
        <div class="container">
            <div class="first-container col-md-4 col-sm-3 col-xs-4 pull-left">
                    <div class="logo pull-left col-md-4 padding-top-10 padding-left-8">
                        <a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
                    </div>
            </div>
            <div class="user-info col-md-4 col-sm-6 col-xs-8 pull-right padding-top-25">
                Already have an account <a class="text-orange text-underlined" href="/login">Login</a>
            </div>
        </div>
    </div>
    <div class="content row">
        <form enctype="multipart/form-data" name="sregister" id="sregister-form" novalidate>
            <div class="row margin-0 signup-header font-size-24 text-blue font-dinopro bg-light-blue col-md-12 padding-x-20 padding-y-10">
                <div class="col-md-8 col-sm-9 bg-light-blue">
                    <span>
                      Create your account for Home Owner
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="signup-body-step2">
                <div class="row margin-0 col-md-12 padding-top-10 padding-x-20">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">First Name <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':sregister.firstName.$invalid && sregister.firstName.$dirty}">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input ng-model="sregisterForm.firstName" ng-init="sregisterForm.firstName = authType ? '<%=firstName%>':''" id="firstName" required name="firstName" type="text" class="form-control">
                            <input ng-model="sregisterForm.email" type="hidden" id="email" name="email"/>
                            <input ng-model="sregisterForm.token" type="hidden" id="token" name="token"/>
                        </div>
                        <!--<span class="help-block has-error" ng-if="sregister.firstName.$dirty && sregister.firstName.$invalid">-->
                          <!--<span ng-show="sregister.firstName.$error.required">First name is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Last Name <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':sregister.lastName.$invalid && sregister.lastName.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input ng-model="sregisterForm.lastName" ng-init="sregisterForm.lastName = authType ? '<%=lastName%>':''" id="lastName" required name="lastName" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="sregister.lastName.$dirty && sregister.lastName.$invalid">-->
                          <!--<span ng-show="sregister.lastName.$error.required">Last name is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-top-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Phone</label>
                        <div class="input-group" ng-class="{'has-error':sregister.phone.$invalid && sregister.phone.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-mobile"></i>
                            </span>
                            <input ng-model="sregisterForm.phone" id="phone" ui-mask="(+999)999-9999" name="phone" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Zipcode <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':sregister.zipcode.$invalid && sregister.zipcode.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-map-o"></i>
                            </span>
                            <input ng-model="sregisterForm.zipcode" required ng-blur="validateZipcode()" id="zipcode"
                                   name="zipcode" type="text" class="form-control"
                                   placeholder="Must be within United States">
                            <input ng-model="sregisterForm.lng" name="lng" type="hidden" class="form-control" readonly>
                            <input ng-model="sregisterForm.zipcodeStatus" name="zipcodeStatus" type="hidden" class="form-control" readonly>
                            <input ng-model="sregisterForm.lat" name="lat" type="hidden" class="form-control" readonly>
                        </div>
                        <!--<span class="help-block has-error" ng-if="sregister.zipcode.$dirty">-->
                          <!--<span ng-show="sregister.zipcode.$error.required">Zipcode is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-top-10">
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Address <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':sregister.streetAddress.$invalid && sregister.streetAddress.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-map-o"></i>
                            </span>
                            <input ng-model="sregisterForm.streetAddress" id="streetAddress" required name="streetAddress" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="sregister.streetAddress.$dirty">-->
                          <!--<span ng-show="sregister.streetAddress.$error.required">Street address is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-top-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">City <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':sregister.city.$invalid && sregister.city.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-globe"></i>
                            </span>
                            <input ng-model="sregisterForm.city" required name="city" readonly type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="sregister.city.$dirty">-->
                          <!--<span ng-show="sregister.city.$error.required">City is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">State <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':sregister.state.$invalid && sregister.state.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-globe"></i>
                            </span>
                            <input ng-model="sregisterForm.state" required name="state" readonly type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="sregister.state.$dirty">-->
                          <!--<span ng-show="sregister.state.$error.required">State is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="col-md-12 padding-25 padding-top-10" style="padding-top: 40px !important">
                    <center>
                        <button ng-click="updateTokenAndEmail()" id="step2-submit" class="btn btn-default font-size-24 font-dinopro padding-x-100 padding-y-10">Continue
                            <i class="fa fa-angle-right" style="display: none;"></i>
                        </button>
                    </center>
                </div>
            </div>

            <div class="signup-body-step3 hidden">
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Anything else you would like to write about
                            your home improvement</label>
                        <div class="step-3 col-md-12">
                            <textarea ng-model="sregisterForm.aboutUs" style="height: 100px;" name="aboutUs"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Interested In <span class="required-marker">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-usd"></i>
                            </span>
                            <select ng-model="sregisterForm.services" name="services" class="weekday select-dropdown"
                                    id="category">

                                <option value="Home Cleaning">Home Cleaning</option>

                                <option value="Tree Removal">Tree Removal</option>

                                <option value="Power Washing">Power Washing</option>

                                <option value="House Painting">House Painting</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-25">
                    <center>
                        <button id="step3-submit" class="btn btn-default font-size-24 font-dinopro padding-x-100 padding-y-10">Continue
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </center>
                </div>
            </div>

            <div class="signup-body-step4 hidden">
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <label class="font-opensans-semibold font-size-16">Identity Photo</label>
                </div>
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <div class="upload-profile padding-x-10 col-md-6 col-xs-12">
                        <div class="upload-spinner" ng-show="profilePhotoGif">
                            <img src="/images/loading.gif" alt="">
                        </div>
                        <div class="">
                            <div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50"
                                 style="background-image: url({{profilePhoto}})">
                                <center ng-show="!profilePhoto && !profilePhotoGif" >
                                    <i class="fa fa-camera font-size-22"></i>
                                    <div class="clearfix"></div>
                                    <span>Upload Profile</span>
                                </center>
                            </div>
                            <input required accept="image/*" name="profilePhoto" ng-model="sregisterForm.profilePhoto" id="profilePhoto" type="file" class="hidden">
                        </div>
                    </div>
                    <div class="upload-cover padding-x-10 col-md-6 col-xs-12">
                        <div class="upload-spinner" ng-show="coverBannerGif">
                            <img src="/images/loading.gif" alt="">
                        </div>
                        <div class="">
                            <div class="upload-file-dropzone cover-banner-upload bg-light-orange text-light-gray padding-34 padding-y-50" style="background-image: url({{coverBanner}})">
                                <center ng-show="!coverBanner && !coverBannerGif">
                                    <i class="fa fa-picture-o font-size-22"></i>
                                    <div class="clearfix"></div>
                                    <span>Upload Cover Banner</span>
                                </center>
                            </div>
                            <input required accept="image/*" name="coverBanner" id="coverBanner" ng-model="sregisterForm.coverBanner" type="file" class="hidden">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-25">
                    <center>
                        <!-- Disable login button until the form has no errors -->
                        <input type="button" style="margin: 5px;" class="btn btn-orange bg-orange text-white quick-login-form-button pull-center" ng-click="registerForm()" value="Almost Done">
                    </center>
                </div>
            </div>
        </form>
    </div>
    <div id="footer">
        <center>
            <ul>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="">Leadership</a>
                </li>
                <li>
                    <a href="">Press</a>
                </li>
                <li>
                    <a href="">Career</a>
                </li>
                <li>
                    <a href="">Terms &amp; Privacy</a>
                </li>
            </ul>
            <p class="font-size-13 text-light-gray">© Uhome 2016. All Rights Reserved</p>
        </center>
    </div>
</div>
</body>
</html>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.1.6.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js" type="text/javascript"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/public/SregisterModule.js"></script>
<script src="/js/directive/registerStep2.js"></script>

<!--<script>-->
<!--$(document).ready(function () {-->
<!--$("#step2-submit").click(function () {-->
<!--var error = false;-->
<!--if ($("input[name=firstName]").val() == "") {-->
<!--error = true;-->
<!--var msg = 'Missing first name!';-->
<!--} else if ($("input[name=lastName]").val() == "") {-->
<!--error = true;-->
<!--var msg = 'Missing last name!';-->
<!--} else if ($("input[name=phone]").val() == "") {-->
<!--error = true;-->
<!--var msg = 'Missing phone!';-->
<!--} else if ($("input[name=zipcode]").val() == "" || $("input[name=zipcodeStatus]").val() == 'false') {-->
<!--error = true;-->
<!--var msg = 'Invalid/Missing zipcode!';-->
<!--} else if ($("input[name=streetAddress]").val() == "") {-->
<!--error = true;-->
<!--var msg = 'Missing street address!';-->
<!--} else if ($("input[name=city]").val() == "") {-->
<!--error = true;-->
<!--var msg = 'Missing city name!';-->
<!--} else if ($("input[name=state]").val() == "") {-->
<!--error = true;-->
<!--var msg = 'Missing state!';-->
<!--} -->

<!--if (error) {-->
<!--toastr.error(msg, 'Error');-->
<!--return false;-->
<!--}-->
<!--$(".signup-body-step2").addClass('hidden');-->
<!--$(".signup-body-step3").removeClass('hidden');-->
<!--return false;-->
<!--});-->
<!--$("#step3-submit").click(function () {-->
<!--var error = false;-->
<!--if ($("textarea[name=aboutUs]").val() == "") {-->
<!--error = true;-->
<!--var msg = 'Missing about us description!';-->
<!--}-->
<!--if (error) {-->
<!--toastr.error(msg, 'Error');-->
<!--return false;-->
<!--}-->
<!--$(".signup-body-step3").addClass('hidden');-->
<!--$(".signup-body-step4").removeClass('hidden');-->
<!--return false;-->
<!--});-->
<!--});-->
<!--</script>-->
<!--<script>-->
<!--$(document).ready(function () {-->
<!--$(".cover-banner-upload").click(function () {-->
<!--$("#coverBanner").trigger('click');-->
<!--});-->

<!--$(".profile-upload").click(function () {-->
<!--$("#profilePhoto").trigger('click');-->
<!--});-->

<!--$("input[name=zipcode]").blur(function(e) {-->
<!--$.post('./getzipcodedetails', {-->
<!--zipcode: $("input[name=zipcode]").val()-->
<!--}).then(function(data) {-->
<!--$("input[name=state]").val(data.state);-->
<!--$("input[name=city]").val(data.city);-->
<!--$("input[name=lng]").val(data.lng);-->
<!--$("input[name=lat]").val(data.lat);-->
<!--$("input[name=zipcodeStatus]").val('true');-->
<!--}).fail(function(err) {-->
<!--$("input[name=state]").val('');-->
<!--$("input[name=city]").val('');-->
<!--$("input[name=lng]").val('');-->
<!--$("input[name=lat]").val('');-->
<!--$("input[name=zipcodeStatus]").val('false');-->
<!--toastr.error(err.responseJSON.msg, 'Error');-->
<!--return false;-->
<!--});-->
<!--});-->
<!--});-->
<!--function getURLParameter(name) {-->
<!--return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;-->
<!--}-->
<!--$("#emailHidden").val(getURLParameter('email'));-->
<!--$("#tokenHidden").val(getURLParameter('token'));-->
<!--</script>-->
