<div class="contractor-info margin-0 row col-md-12" style="margin-top: 270px !important;">
  <div class="row margin-0">
    <div class="user-img col-md-2">
      <img src="<%= (req.session.User.logoPhoto ? req.session.User.logoPhoto : req.session.User.profilePicture) %>" class="img-responsive border-gray-1" alt="" style="width: 194px;height: 194px;">
    </div>
    <div class="col-md-6">
      <div class="row margin-0 col-md-12 padding-10" style="padding-bottom: 0px !important;">
        <div class="col-md-12">
          <div class="font-size-36 text-white margin-right-10 font-dinopro pull-left"><%= req.session.User.businessName %></div>
          <!-- <ul class="margin-0 padding-top-5">
            <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
            <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
            <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
            <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
            <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
          </ul>
          <span class="text-white font-opensans font-size-14">(20 Reviews)</span> -->
        </div>
        <div class="col-md-3 padding-left-10 margin-top-10">

        </div>
      </div>
      <div class="row margin-0 col-md-12 padding-left-15">
        <div class="col-md-9">
          <div class="font-size-18 text-white font-opensans"><%= (req.session.User.businessName ? req.session.User.businessName : req.session.User.firstName + ' ' + req.session.User.lastName ) %></div>
          <div class="text-white font-opensans font-size-18"><%= req.session.User.city + ', ' + req.session.User.state %></div>
        </div>
      </div>
      <div class="row margin-0 col-md-12 padding-top-11">
        <ol class="breadcrumb padding-y-20 radius-0 col-md-11 padding-x-20">
          <li><a class="font-opensans" href="#">Home</a></li>
          <li class="font-opensans active"><%= (req.session.User.businessName ? req.session.User.businessName : req.session.User.firstName) %></li>
        </ol>
        <div class="col-md-1">
          <img src="/images/icon-set/breadcrumb.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contractor-info-mobile margin-0 row col-md-12" style="margin-top: 120px !important;">
  <div class="company-data" style="margin: 0 auto; width: 320px;">
    <center>
      <div class="row margin-0 clearfix img-container" style="margin: 0 auto; width: 320px;">
        <img src="<%= req.session.User.profilePicture %>" style="width: 128px; height: 128px; margin: 0 auto;" alt="">
      </div>
      <div class="clearfix"></div>
      <div class="row margin-0 clearfix">
        <h3 class="font-size-27 font-dinopro margin-0 padding-y-5 text-white"><%= req.session.User.businessName %></h3>
        <span class="clearfix font-size-12 font-opensans text-white"><%= req.session.User.city + ', ' + req.session.User.state %></span>
      </div>
    </center>
  </div>
</div>
<div class="hire-now col-md-12 padding-20 row">
  <div class="col-md-12">
    <div class="captions col-md-8 col-sm-6 col-xs-6">
      <h3 class="font-size-34 margin-0 font-dinopro text-white">Let us do the work</h3>
      <p class="margin-0 text-white font-opensans font-size-14">Exercitation ullamco laboris nisi ut aliquip.</p>
    </div>
    <div class="hire-now-btn btns col-md-4 col-sm-6 col-xs-6">
      <button class="hire-now-actual-button pull-right btn btn-default padding-x-100 padding-y-10">Hire Now</button>
    </div>
  </div>
  <div class="extra-buttons">
    <div class="row margin-0">
      <center>
        <button style="width: 290px;height: 55px;" class="btn btn-default font-size-26 font-dinopro text-uppercase">hire now</button>
      </center>
    </div>
    <div class="row margin-0">
      <center>
        <button style="width: 290px;height: 55px;" class="btn btn-primary bg-green font-size-26 font-dinopro text-uppercase">invite</button>
      </center>
    </div>
  </div>
</div>
<!-- Save Button -->
<button class="btn btn-default radius-50 padding-y-10" style="position: absolute; top: 90px;right: 10px;">
  <i class="fa fa-heart font-size-24 text-white"></i>
</button>
<!-- End Save Button -->
