<!DOCTYPE HTML>
<html>
<head>
  <title>UHome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/libs/fullcalendar/fullcalendar.css" />
  <link rel="stylesheet" href="/libs/fullcalendar/fullcalendar.print.css" media="print" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/profile.css" />
  <link rel="stylesheet" href="/styles/myproject-inner-user.css" />
  <link rel="stylesheet" href="/styles/myprojects.css" />
  <link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
  <link rel="stylesheet" href="/styles/step-4.css">
  <link rel="stylesheet" href="/styles/recommendation.css" />
  <link rel="stylesheet" href="/styles/inner-openprojects.css" />
  <link rel="stylesheet" href="/styles/myteam.css" />
  <link rel="stylesheet" href="/styles/contractor-dashboard_v2.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
</head>
<body class="index" ng-controller="businessDashboard">
kjsdhfgaubgakjbv
<div id="page-wrapper">
  <div class="top-nav">
    <div class="container">
      <div class="first-container col-md-4 col-sm-3 col-xs-4 pull-left">
        <div class="row">
          <div class="logo pull-left col-md-4">
            <a href="javascript:;"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
          </div>
          <div class="notification-items pull-left col-md-8">
            <ul class="menu">
              <li class="pull-left invite-button">
                <a class="menu text-white invite-button" href="javascript:;">Invite <i class="glyphicon glyphicon-triangle-bottom"></i></a>
              </li>
              <li class="pull-left text-white notification-button icons">
                <img class="img-responsive pull-left" src="/images/icon-set/bell-icon.png" />
                <span class="mobile-notification">16</span>
              </li>
              <li class="pull-left text-white messages-button icons">
                <img class="img-responsive pull-left" src="/images/icon-set/message-icon.png" />
                <span class="mobile-notification">7</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="search-bar col-md-6 col-sm-7 col-xs-6">
        <div class="row">
          <input type="text" id="search-bar" class="col-md-9 col-sm-9 col-xs-8" placeholder="What are you looking for?">
          <a href="" class="btn col-md-2 col-sm-2 col-xs-4">
            <img class="img-responsive pull-left padding-x-15 padding-y-2" src="/images/icon-set/nav-search-icon.png" />
          </a>
        </div>
      </div>
      <div class="user-info col-md-2 col-sm-2 col-xs-2">
        <img class="img-responsive pull-left" src="/images/user-img.png">
        <span class="user-name text-white"><%= contractor.firstName + ' ' + contractor.lastName %> <i class="glyphicon glyphicon-triangle-bottom"></i></span>
      </div>
    </div>
  </div>
  <div class="top-nav-mobile">
    <div class="mobile-icons active timeline-icon pull-left col-md-2">
      <center>
        <i class="fa fa-newspaper-o"></i>
      </center>
    </div>
    <div class="mobile-icons notification-icon pull-left col-md-2">
      <center>
        <i class="fa fa-bell"></i>
        <span class="mobile-notification mobile-bell-notification">16</span>
      </center>
    </div>
    <div class="mobile-icons messages-icon pull-left col-md-2">
      <center>
        <i class="fa fa-envelope"></i>
        <span class="mobile-notification mobile-message-notification">17</span>
      </center>
    </div>
    <div class="mobile-icons search-icon pull-left col-md-2">
      <center>
        <i class="fa fa-search"></i>
      </center>
    </div>
    <div class="mobile-icons right-panel pull-left col-md-2">
      <center>
        <i class="fa fa-reorder"></i>
      </center>
    </div>
  </div>
  <div class="clearfix top-spacing height-30"></div>
  <div class="page-content">
    <div class="container">
      <% include sidebar %>
      <div class="middle-content col-md-6 padding-x-34 user-profile-details">
        <div class="pull-right margin-bottom-15 hidden">
          <input type="text">
          <span class="padding-y-3 padding-x-10 bg-gray">
								<i class="fa fa-angle-down"></i>
							</span>
        </div>
        <div class="clearfix"></div>
        <div class="">
          <div class="heading-content margin-bottom-15">
            <h2 class="font-dinopro">Licensing</h2>
          </div>
          <div id="resident-area" class="main-content padding-20">
            <a data-toggle="modal" data-target="#licensingModal" data-whatever="@getbootstrap" class="text-decoration-none font-size-16 text-orange font-opensans" href="">
              <div class="pull-left">
                <i class="fa fa-plus-circle padding-right-10"></i>
                Add your license
              </div>
              <div class="pull-right">
                <i class="fa fa-chevron-down"></i>
              </div>
            </a>
          </div>
        </div>

        <div class="clearfix height-30"></div>
        <div class="">
          <div class="heading-content margin-bottom-15">
            <h2 class="font-dinopro">Add BBB</h2>
          </div>
          <div id="resident-area" class="main-content padding-20">
            <a data-toggle="modal" data-target="#BBBModal" data-whatever="@getbootstrap" class="text-decoration-none font-size-16 text-orange font-opensans" href="">
              <div class="pull-left">
                <i class="fa fa-plus-circle padding-right-10"></i>
                Add your BBB Url
              </div>
              <div class="pull-right">
                <i class="fa fa-chevron-down"></i>
              </div>
            </a>
          </div>
        </div>

        <div class="clearfix height-30"></div>
        <div class="">
          <div class="heading-content margin-bottom-15">
            <h2 class="font-dinopro">Year Founded</h2>
          </div>
          <div id="resident-area" class="main-content padding-20">
            <a data-toggle="modal" data-target="#yearModal" data-whatever="Year Founded" class="text-decoration-none font-size-16 text-orange font-opensans" href="">
              <div class="pull-left">
                <i class="fa fa-plus-circle padding-right-10"></i>
                Add your year founded
              </div>
              <div class="pull-right">
                <i class="fa fa-chevron-down"></i>
              </div>
            </a>
          </div>
        </div>

        <div class="clearfix height-30"></div>
        <div class="">
          <div class="heading-content margin-bottom-15">
            <h2 class="font-dinopro">Services Offered</h2>
          </div>
          <div id="resident-area" class="main-content padding-20">
            <a data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" class="text-decoration-none font-size-16 text-orange font-opensans" href="">
              <div class="pull-left">
                <i class="fa fa-plus-circle padding-right-10"></i>
                Add your Services
              </div>
              <div class="pull-right">
                <i class="fa fa-chevron-down"></i>
              </div>
            </a>
          </div>
        </div>

        <!--<div class="clearfix height-30"></div>-->
        <!--<div class="border-bottom-5">-->
          <!--<div class="heading-content margin-bottom-15">-->
            <!--<h2 class="font-dinopro">Languages</h2>-->
          <!--</div>-->
          <!--<div id="resident-area" class="main-content padding-20">-->
            <!--<a data-toggle="modal" data-target="#languageModal" data-whatever="@languages" class="text-decoration-none font-size-16 text-orange font-opensans" href="">-->
              <!--<div class="pull-left">-->
                <!--<i class="fa fa-plus-circle padding-right-10"></i>-->
                <!--Add your languages-->
              <!--</div>-->
              <!--<div class="pull-right">-->
                <!--<i class="fa fa-chevron-down"></i>-->
              <!--</div>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->

        <div class="clearfix height-30"></div>
        <div class="">
          <div class="heading-content margin-bottom-15">
            <h2 class="font-dinopro">Recent Jobs Posted</h2>
          </div>
          <div class="row margin-0 bg-white padding-20">
            <div class="row margin-0 col-md-12">
              <div class="col-md-6">
                <div class="text-blue font-size-18 font-opensans">Cleaning Expert</div>
                <div class="clearfix padding-top-10 text-light-gray font-size-12 font-opensans">Posted 2 hours ago</div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-default pull-right font-opensans">Apply Now</button>
              </div>
              <div class="row margin-0 col-md-12 padding-y-10">
                <p class="font-size-14 text-another-gray font-opensans">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
              </div>
              <div class="row margin-0 col-md-12 padding-y-10">
                <ul>
                  <li class="display-inline padding-right-10">skills:</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Handymen</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Exterior</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Home Cleaning</li>
                </ul>
              </div>
            </div>
            <hr class="clearfix padding-y-3 row margin-0 col-md-12">
            <div class="row margin-0 col-md-12">
              <div class="col-md-6">
                <div class="text-blue font-size-18 font-opensans">Cleaning Expert</div>
                <div class="clearfix padding-top-10 text-light-gray font-size-12 font-opensans">Posted 2 hours ago</div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-default pull-right font-opensans">Apply Now</button>
              </div>
              <div class="row margin-0 col-md-12 padding-y-10">
                <p class="font-size-14 text-another-gray font-opensans">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
              </div>
              <div class="row margin-0 col-md-12 padding-y-10">
                <ul>
                  <li class="display-inline padding-right-10">skills:</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Handymen</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Exterior</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Home Cleaning</li>
                </ul>
              </div>
            </div>
            <hr class="clearfix padding-y-3 row margin-0 col-md-12">
            <div class="row margin-0 col-md-12">
              <div class="col-md-6">
                <div class="text-blue font-size-18 font-opensans">Cleaning Expert</div>
                <div class="clearfix padding-top-10 text-light-gray font-size-12 font-opensans">Posted 2 hours ago</div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-default pull-right font-opensans">Apply Now</button>
              </div>
              <div class="row margin-0 col-md-12 padding-y-10">
                <p class="font-size-14 text-another-gray font-opensans">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
              </div>
              <div class="row margin-0 col-md-12 padding-y-10">
                <ul>
                  <li class="display-inline padding-right-10">skills:</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Handymen</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Exterior</li>
                  <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Home Cleaning</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row margin-0 bg-light-off-white padding-10">
            <center><a class="text-underlined text-blue font-size-18 font-dinopro" href="">See All</a></center>
          </div>
        </div>

        <div class="clearfix height-30"></div>
        <div class="">
          <div class="heading-content margin-bottom-15">
            <h2 class="font-dinopro">Service Area</h2>
          </div>
          <div class="row margin-0 bg-white padding-20">
            <div class="row margin-0 col-md-12">
              <iframe width="100%" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAWJhUesGLpmYfDDM-b9VMsGTlw1bYSHgc&q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar right-sidebar col-md-3">
        <div class="recent-activity">
          <div class="heading">
            <div class="margin-right-10 pull-left">
              <img src="/images/icon-set/profile-completeness.png" alt="">
            </div>
            <div class="heading-content">
              <h2>Profile Completeness</h2>
            </div>
            <div class="margin-0 main-content" style="margin: 0 !important;">
              <ul>
                <li class="item bg-light-blue row margin-0 col-md-12">
                  <div class="padding-y-10 col-md-9">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:47%">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="text-blue font-size-22 padding-left-10 font-dinopro">47%</div>
                  </div>
                </li>
                <li class="clearfix bg-white padding-x-20">
                  <div class="row margin-0 padding-y-5 row margin-0 col-md-12">
                    <i class="fa fa-plus-square text-cyan padding-right-10"></i>
                    <span class="font-size-14 font-opensans text-another-gray">Add your Headshot</span>
                  </div>
                  <div class="row margin-0 padding-y-5 row margin-0 col-md-12">
                    <i class="fa fa-plus-square text-cyan padding-right-10"></i>
                    <span class="font-size-14 font-opensans text-another-gray">Add services offered</span>
                  </div>
                  <div class="row margin-0 padding-y-5 row margin-0 col-md-12">
                    <i class="fa fa-plus-square text-cyan padding-right-10"></i>
                    <span class="font-size-14 font-opensans text-another-gray">Add 5 reviews</span>
                  </div>
                  <div class="row margin-0 padding-y-5 row margin-0 col-md-12">
                    <i class="fa fa-plus-square text-cyan padding-right-10"></i>
                    <span class="font-size-14 font-opensans text-another-gray">Add 5 projects</span>
                  </div>
                </li>
              </ul>
              <div class="row margin-0 bg-light-off-white padding-10">
                <center><a class="text-underlined text-blue font-size-18 font-dinopro" href="">Edit</a></center>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix height-30"></div>
        <div class="recent-activity">
          <div class="heading">
            <div class="margin-right-10 pull-left">
              <i class="fa fa-calendar-check-o font-size-22 bg-dark-cyan padding-8 text-white"></i>
            </div>
            <div class="heading-content">
              <h2>Calendar</h2>
            </div>
            <div class="margin-0 main-content bg-white padding-10" style="margin: 0 !important;">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
        <div class="clearfix height-30"></div>
        <div class="recent-activity">
          <div class="heading">
            <div class="icon pull-left">
              <!--<center><img class="img-responsive" src="/images/icon-set/recent-activity-icon.png" alt=""></center>-->
              <i class="fa fa-tasks" aria-hidden="true"></i>
            </div>
            <div class="heading-content">
              <h2>Recent Activity</h2>
            </div>
            <div class="main-content">
              <ul>
                <li class="item">
                  <div class="activity-heading">
                    Osama Shah
                  </div>
                  <p class="activity-content">
                    Lorem ipsum dolor sit amet, consectetur...
                  </p>
                </li>
                <li class="item activity-content-alt">
                  <div class="activity-heading">
                    Brown
                  </div>
                  <p class="activity-content">
                    Sit amet, consectetur adipiscing elit...
                  </p>
                </li>
                <li class="item">
                  <div class="activity-heading">
                    Talib Allauddin
                  </div>
                  <p class="activity-content">
                    Pulvinar tincidunt lacus luctus...
                  </p>
                </li>
                <li class="item activity-content-alt">
                  <div class="activity-heading">
                    Brown
                  </div>
                  <p class="activity-content">
                    Sit amet, consectetur adipiscing elit...
                  </p>
                </li>
              </ul>
              <div class="row margin-0 bg-light-off-white padding-10">
                <center><a class="text-underlined text-blue font-size-18 font-dinopro" href="">See All</a></center>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix height-30"></div>
        <hr>
        <div class="clearfix height-15"></div>
        <footer>
          <ul>
            <li>
              <a class="text-blackish-gray text-decoration-none font-size-14" href="#">
                Contact
              </a>
            </li>
            <li>
              <a class="text-blackish-gray text-decoration-none font-size-14" href="#">
                Terms &amp; Privacy
              </a>
            </li>
            <li>
              <a class="text-blackish-gray text-decoration-none font-size-14" href="#">
                More <i class="glyphicon glyphicon-triangle-bottom"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix height-15"></div>
          <div class="copyright text-light-gray font-size-12 font-opensans">
            © Uhome 2016. All Rights Reserved.
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
<div class="clearfix height-30"></div>
<div class="clearfix height-30"></div>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/lib/moment.min.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/gcal.js"></script>

</body>
</html>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="exampleModalLabel">Resident</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your resident year:</label>
          <div class="input-group">
			    <span class="input-group-addon ">
			        <i class="fa fa-calendar"></i>
			    </span>
            <input type="text" class="form-control date-own padding-20" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="LanguageModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="languageModalLabel">Languages</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your Languages:</label>
          <div class="full-width">
            <input type="text" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="yearModal" tabindex="-1" role="dialog" aria-labelledby="yearModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="yearModalLabel">Year Founded</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your year founded:</label>
          <div class="input-group">
			    <span class="input-group-addon ">
			        <i class="fa fa-calendar"></i>
			    </span>
            <input type="text" class="form-control date-own padding-20" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="BBBModal" tabindex="-1" role="dialog" aria-labelledby="BBBModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="BBBModalLabel">Add BBB</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your BBB link:</label>
          <div class="input-group">
			    <span class="input-group-addon ">
			       <img src="assets/img\icon-set/web.png">
			    </span>

            <input type="text" style="padding: 10px; width:100%;"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="licensingModal" tabindex="-1" role="dialog" aria-labelledby="licensingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="licensingModalLabel">Your Licenses</h4>
        <h5>Include your professional license information here to generate yp to three times more job leads.</h5>
      </div>
      <div class="modal-body">
        <form>
          <H5>Add Licenses</H5>
          <div class="full-width">
            <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">STATE:</label>
            <div class="input-btn">
              </span>
              <input type="text" style="padding:10px;background-color:#f6f6f6;border-radius: 5px;"/>
            </div>
          </div>
          <div class="full-width">
            <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">ACCREDITATION:</label>
            <div class="input-btn">
              </span>
              <input type="text" style="padding:10px;background-color:#f6f6f6;border-radius: 5px;"/>
            </div>
          </div>
          <div class="half">
            <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">ACCREDITATION #:</label>
            <div class="input-btn">
              </span>
              <input type="text" style="padding:10px;background-color:#f6f6f6;border-radius: 5px;"/>
            </div>
          </div>
          <div class="half-1">
            <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">EXPIRATION:</label>
            <div class="input-btn">
              </span>
              <input type="text" style="padding:10px;background-color:#f6f6f6;border-radius: 5px;"/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
<% include dropdowns %>
<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      defaultDate: '2016-06-12',
      editable: true,
      header: {
        right: 'next',
        center: 'title',
        left: 'prev'
      }
    });
  });
</script>
<style>
  @media (max-width: 1000px) {
    .right-sidebar {
      display: none;
    }
  }
</style>
