<!DOCTYPE HTML>
<html ng-app="BregisterModule">
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
		<link rel="stylesheet" href="/styles/myproject-inner-user.css" />
		<link rel="stylesheet" href="/styles/myprojects.css" />
		<link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
		<link rel="stylesheet" href="/styles/step-4.css">
		<link rel="stylesheet" href="/styles/recommendation.css" />
		<link rel="stylesheet" href="/styles/inner-openprojects.css" />
		<link rel="stylesheet" href="/styles/myteam.css" />
		<link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
		<link rel="stylesheet" href="/styles/angular-toastr.css">
		
		<link rel="stylesheet" href="/styles/step-1.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
		<script>
			window.teamData = <%- JSON.stringify(teamMembers) %>;
		</script>
	</head>
	<body class="index" ng-controller="BregisterController" ng-cloak>
		<div id="page-wrapper">
			<% include topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-9 padding-x-34 user-profile-details">
						<div class="row col-md-12">
							<div class="pull-right margin-bottom-10">
								<div class="add-member-btn btn btn-default font-dinopro font-size-16">
									<i class="fa fa-plus-circle"></i> Add Team Member
								</div>
							</div>
						</div>
						<div class="row margin-0 col-md-12 bg-white padding-y-20">
							<span class="font-size-22 font-dinopro padding-20 padding-y-34">Edit My Team</span>
						</div>
						<div class=" bg-white">
							<form ng-submit="submitTeamMemberForm()" name="team" id="team-form">
								<div class="row margin-0 col-md-12 padding-x-20 bg-white">
									<div class="col-md-4 padding-x-10"
										ng-class="{'has-error':team.firstName.$invalid &&
                                  				team.firstName.$dirty}">
										<label class="font-opensans-semibold font-size-16">First Name </label>
										<div class="input-group">
										  <span class="input-group-addon">
										  	<i class="fa fa-user"></i>
										  </span>
										  <input ng-model="teamForm.firstName" type="text" class="form-control">
										</div>
								        <span class="help-block has-error" ng-if="team.firstName.$dirty">
								          <span ng-show="team.firstName.$error.required">First name is required.</span>
								        </span>
									</div>
									<div class="col-md-4 padding-x-10"
										ng-class="{'has-error':team.lastName.$invalid &&
                                  				team.lastName.$dirty}">
										<label class="font-opensans-semibold font-size-16">Last Name </label>
										<div class="input-group">
										  <span class="input-group-addon">
										  	<i class="fa fa-user"></i>
										  </span>
										  <input ng-model="teamForm.lastName" type="text" class="form-control">
										</div>
								        <span class="help-block has-error" ng-if="team.lastName.$dirty">
								          <span ng-show="team.lastName.$error.required">Last name is required.</span>
								        </span>
									</div>
									<div class="col-md-4 padding-x-10"
										ng-class="{'has-error':team.designation.$invalid &&
                                  				team.designation.$dirty}">
										<label class="font-opensans-semibold font-size-16">Designation </label>
										<div class="input-group">
										  <span class="input-group-addon">
										  	<i class="fa fa-certificate"></i>
										  </span>
										  <input ng-model="teamForm.designation" type="text" class="form-control">
										</div>
								        <span class="help-block has-error" ng-if="team.designation.$dirty">
								          <span ng-show="team.designation.$error.required">Designation is required.</span>
								        </span>
									</div>
								</div>
								<div class="row margin-0 col-md-12 bg-white">
									<div class="row margin-0 col-md-9 padding-top-25 padding-x-20 bg-white">
										<div class="padding-x-15">
											<!-- <div class="upload-team-member bg-light-blue text-light-gray padding-x-34 padding-y-15 border-dashed-1">
												<span>Click here to upload photo <span class="text-light-gray">(Supported formats are PNG, JPG, GIF)</span></span>
											</div> -->
										  	<input ng-model="teamForm.userPhoto" id="upload-team-member" type="file" class="">
										  	<span><i class="font-size-14 text-light-gray">Maximum file size 2MB</i></span>
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 bg-white">
									<div class="col-md-12 padding-x-25 padding-y-15 bg-white">
										<button href="registration-step-3.html" id="start-registration" class="btn btn-primary font-size-24 font-dinopro padding-x-34 padding-y-10" ng-click="teamForm.submitTeamForm()" ng-disabled="team.$invalid">
											<span ng-show="!teamForm.loading">Submit</span>
								            <span class="overlord-loading-spinner fa fa-spinner" ng-show="teamForm.loading"></span>
								            <span ng-show="teamForm.loading">Processing...</span>
										</button>
									</div>
								</div>
						</div>
						<div class="col-md-12 row margin-0">
							<div class="bg-white">
								<div ng-repeat="team in teamData" class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
									<div class="row margin-0">
										<div class="col-md-4">
											<img class="user-img-with-radius img-responsive pull-left margin-right-10" src="{{team.userPhoto}}" />
											<h5 class="text-orange font-dinopro font-size-18 margin-bottom-0">{{team.firstName}} {{team.lastName}}</h5>
											<span class="font-size-14 font-dinopro">{{team.designation}}</span>
										</div>
										<div class="col-md-3"></div>
										<div class="col-md-5">
											<div class="padding-top-30 pull-right team-member-actions">
												<a href="" class="btn btn-primary bg-tale-red font-size-14 pull-right padding-x-24 margin-right-10">Delete</a>
												<a href="" class="btn btn-primary font-size-14 pull-right padding-x-24 margin-right-10">Edit</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix height-30"></div>
		<div class="clearfix height-30"></div>
		<!--SCRIPTS-->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/js/dependencies/jquery.js"></script>
		<script src="/js/dependencies/angular.1.6.js"></script>
		<script src="/js/dependencies/angular-animate.js"></script>
		<script src="/js/dependencies/angular-toastr.js"></script>
		<script src="/js/dependencies/bootstrap-datepicker.js"></script>
		<script src="/js/dependencies/bootstrap.min.js"></script>
		<script src="/js/dependencies/compareTo.module.js"></script>
		<script src="/js/dependencies/jquery.inputmask.bundle.js"></script>
		<script src="/js/dependencies/jquery.maskedinput.js"></script>
		<script src="/js/dependencies/mask.js"></script>
		<script src="/js/dependencies/ng-file-upload.min.js"></script>
		<script src="/libs/angular-map/ng-map.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/config.js"></script>
		<script src="/js/controllers/bissenesProfile.js"></script>
		<script src="/js/controllers/businessDashboard.controller.js"></script>
		<script src="/js/controllers/individualDashboard.controller.js"></script>
		<script src="/js/controllers/signUp.controller.js"></script>
		<script src="/js/controllers/userDashboard.js"></script>
		<script src="/js/controllers/userProfile.js"></script>
		<script src="/js/custom/businessRegistration.js"></script>
		<script src="/js/custom/contractorDashboard.js"></script>
		<script src="/js/custom/index.js"></script>
		<script src="/js/custom/serviceseekerDashboard.js"></script>
		<script src="/js/directive/bregisterStep2.js"></script>
		<script src="/js/directive/delay.js"></script>
		<script src="/js/directive/registerStep2.js"></script>
		<script src="/js/directive/userProfile.js"></script>
		<script src="/js/filter/replace.js"></script>
		<script src="/js/public/BregisterModule.js"></script>
		<script src="/js/public/HomepageModule.js"></script>
		<script src="/js/public/LoginModule.js"></script>
		<script src="/js/public/PostprojectModule.js"></script>
		<script src="/js/public/RecoveryModule.js"></script>
		<script src="/js/public/ResetpasswordModule.js"></script>
		<script src="/js/public/ServiceModule.js"></script>
		<script src="/js/public/SregisterModule.js"></script>
		<script src="/js/public/SubserviceModule.js"></script>
		<script src="/js/services/api.service.js"></script>
		<script src="/js/services/businessHours.service.js"></script>
		<script src="/js/services/datepicker.service — копия.js"></script>
		<script src="/js/services/datepicker.service.js"></script>
		<script src="/js/services/datepiker.service.js"></script>
		<script src="/js/services/googleMap.serice.js"></script>
		<script src="/js/services/googleMap.service — копия.js"></script>
		<script src="/js/services/googleMap.service.js"></script>
		<!--SCRIPTS END-->
</body>
</html>
<% include dropdowns %>
<script>
	$(document).ready(function() {
		$('.date-own').datepicker({
			minViewMode: 2,
			format: 'yyyy',
	        autoclose: true
		});
		$.each($(".business-days"), function(index, value) {

			if ($(this).children(".weekday").val() != 'Close') {
				$(this).children(".day").css('background-color', '#f07246');
			}
		});

		$(".weekday").change(function() {
			var day = $(this).data('id');
			if ($(this).val() == "Close") {
				$("."+day).css('background-color', '#bdbdbd');
				$("."+day+"-end").addClass('hidden');
			} else {
				$("."+day).css('background-color', '#f07246');
				$("."+day+"-end").removeClass('hidden');
			}
		});

		$(".upload-team-member").click(function() {
			$("#upload-team-member").trigger('click');
		});
	});
</script>