<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uhome - Home based services</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/registration.css">
  <link rel="stylesheet" href="/styles/find-contractor.css">
</head>
<body class="index" style="background-image: url('/images/contractor/home-bg.png'); background-size: 100% 508px;">
<div class="page-wrapper">
  <% include profileTopNav %>
  <div class="page-content">
    <div class="container">
      <div class="contractor-search-bar margin-0 row col-md-12 margin-top-100">
        <div class="row margin-0">
          <h1 class="main-text font-dinopro-bold text-uppercase text-white font-size-45" style="width: 670px; margin: 0 auto;">find the right professional</h1>
          <div class="search-bar-field margin-0 row padding-x-10 padding-y-20" style="width: 600px; margin: 0 auto !important;">
            <input type="text" id="search-bar" style="border: 0px; height: 44px;" class="col-md-10 col-sm-10 col-xs-10 padding-20 height-40" placeholder="What are you looking for?">
            <a href="" class="btn btn-default radius-0 col-sm-2 col-xs-2">
              <img class="img-responsive pull-left padding-x-15 padding-y-2" src="/images/icon-set/nav-search-icon.png" />
            </a>
            <div class="row margin-0 padding-y-10">
              <center><div class="text-white font-size-18 font-dinopro">Houston, 17638 Moss Point Dr  Spring, TX 77379</div></center>
            </div>
          </div>
        </div>
        <div class="services container row margin-0 col-md-12 font-size-36 text-light-gray font-dinopro" style="top: 210px;">
          <center>
            Popular types of professionals
          </center>
          <div class="services-row row margin-0 col-md-12" style="width: 670px;padding-top: 20px;">
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/electronics.png" alt="">
                  </div>
                  <h3>Electronics</h3>
                </center>
              </div>
            </div>
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/tools-man.png" alt="">
                  </div>
                  <h3>General Contractor</h3>
                </center>
              </div>
            </div>
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/shoping.png" alt="">
                  </div>
                  <h3>Interior Designer</h3>
                </center>
              </div>
            </div>
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/painting.png" alt="">
                  </div>
                  <h3>Handymen</h3>
                </center>
              </div>
            </div>
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/carpainter.png" alt="">
                  </div>
                  <h3>Painter</h3>
                </center>
              </div>
            </div>
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/vacume.png" alt="">
                  </div>
                  <h3>Home Cleaner</h3>
                </center>
              </div>
            </div>
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/plumber.png" alt="">
                  </div>
                  <h3>Plumber</h3>
                </center>
              </div>
            </div>
            <div class="padding-20 bg-white pull-left each-service">
              <div class="each padding-20" style="border: 1px solid #fdefea;">
                <center>
                  <div class="service-img-container">
                    <img src="/images/contractor/floor.png" alt="">
                  </div>
                  <h3>Floor Contractor</h3>
                </center>
              </div>
            </div>
          </div>
          <div class="services-dropdown row margin-0 container">
            <center class="responsive-msg font-opensans font-size-16 text-another-gray" style="width: 500px;margin: 0 auto;">
              Far far away, behind the word mountains, far from the countries separated they live in Bookmarks ocean.
              <div class="select margin-y-20">
                <span class="arr"></span>
                <select>
                  <option value="-- Select --">-- Select --</option>
                  <option value="Electronics">Electronics</option>
                  <option value="General Contractor">General Contractor</option>
                  <option value="Interior Designer">Interior Designer</option>
                  <option value="Handymen">Handymen</option>
                  <option value="Painter">Painter</option>
                  <option value="Home Cleaner">Home Cleaner</option>
                  <option value="Plumber">Plumber</option>
                  <option value="Floor Contractor">Floor Contractor</option>
                </select>
              </div>
            </center>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix height-56"></div>
    <div class="clearfix height-56"></div>
    <div class="types-of-professionals" style="margin-top: 210px !important; ">
      <div class="footer-pattern">
        <img class="img-responsive" src="/images/contractor/footer-pattern.png" alt="">
      </div>
      <div class="bg-theme-blue">
        <div class="container professional-types-list">
          <div class="container row margin-0 col-md-12 font-size-36 text-light-gray font-dinopro padding-y-20 bg-theme-blue text-white">
            <center style="padding-bottom: 20px;" class="text-white">
              All types of professionals
            </center>
            <div class="col-md-4 col-sm-4 text-white font-size-16 font-opensans">
              <ul>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Animal Removal Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Appliance Installation Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Appliance Repair Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Architects</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Asbestos Removal Companies</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Asphalt & Paving Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Awning Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Bathroom Fixture Installers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Bathtub Refinishing & Liner Specialists</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Cabinet Makers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Cabinet Refacing & Restoration Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpenters</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpet Cleaners</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpet Installers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Chimney Sweeps</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Civil Engineers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Concrete Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Countertop Specialists</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Custom Furniture Makers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Deck Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Demolition Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Design Build Firms</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Disabled Access Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Dock Building & Repair Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Door Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Driveway Gates Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Dryer Vent Cleaning Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Drywall Contractors</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 text-white font-size-16 font-opensans">
              <ul>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Animal Removal Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Appliance Installation Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Appliance Repair Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Architects</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Asbestos Removal Companies</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Asphalt & Paving Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Awning Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Bathroom Fixture Installers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Bathtub Refinishing & Liner Specialists</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Cabinet Makers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Cabinet Refacing & Restoration Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpenters</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpet Cleaners</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpet Installers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Chimney Sweeps</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Civil Engineers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Concrete Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Countertop Specialists</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Custom Furniture Makers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Deck Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Demolition Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Design Build Firms</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Disabled Access Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Dock Building & Repair Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Door Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Driveway Gates Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Dryer Vent Cleaning Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Drywall Contractors</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 text-white font-size-16 font-opensans">
              <ul>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Animal Removal Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Appliance Installation Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Appliance Repair Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Architects</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Asbestos Removal Companies</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Asphalt & Paving Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Awning Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Bathroom Fixture Installers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Bathtub Refinishing & Liner Specialists</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Cabinet Makers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Cabinet Refacing & Restoration Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpenters</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpet Cleaners</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Carpet Installers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Chimney Sweeps</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Civil Engineers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Concrete Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Countertop Specialists</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Custom Furniture Makers</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Deck Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Demolition Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Design Build Firms</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Disabled Access Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Dock Building & Repair Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Door Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Driveway Gates Contractors</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Dryer Vent Cleaning Services</a>
                </li>
                <li class="display-block">
                  <a class="text-decoration-none text-white" href="">Drywall Contractors</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <center>
        <ul>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Leadership</a>
          </li>
          <li>
            <a href="">Press</a>
          </li>
          <li>
            <a href="">Career</a>
          </li>
          <li>
            <a href="">Terms &amp; Privacy</a>
          </li>
        </ul>
        <p class="font-size-13 text-light-gray">© Uhome 2016. All Rights Reserved</p>
      </center>
    </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<% include dropdowns %>
<script>
  // $(".service-img-container").hover(function(e) {
  //   var imgObj = $($($(this)).find('img'));
  //   var img = '/images/contractor/'+imgObj.attr('src').split('/').pop().split('.')[0]+'-h.png';
  //   imgObj.attr('src', img);
  // });
  // $(".each, .service-img-container").mouseout(function() {
  //   var imgObj = $($($(this)).find('img'));
  //   var img = '/images/contractor/'+imgObj.attr('src').split('/').pop().split('.')[0]+'.png';
  //   img = img.replace('-h', '');
  //   imgObj.attr('src', img);
  // });
</script>
