<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/libs/fullcalendar/fullcalendar.css"/>
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/libs/fullcalendar/fullcalendar.print.css" media="print"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/social-main.css"/>
    <link rel="stylesheet" href="/styles/profile.css"/>
    <link rel="stylesheet" href="/styles/myproject-inner-user.css"/>
    <link rel="stylesheet" href="/styles/myprojects.css"/>
    <link rel="stylesheet" href="/styles/contractor-company-EditProfile.css"/>
    <link rel="stylesheet" href="/styles/step-4.css">
    <link rel="stylesheet" href="/styles/recommendation.css"/>
    <link rel="stylesheet" href="/styles/inner-openprojects.css"/>
    <link rel="stylesheet" href="/styles/myteam.css"/>
    <link rel="stylesheet" href="/styles/contractor-dashboard_v2.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/styles/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/styles/ie9.css"/><![endif]-->
    <script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>

</head>
<body class="index" ng-controller="individualDashboard">
<div id="page-wrapper page-content">
    <div class="page-content">
        <% include ../common/topnav %>
        <div class="container">
            <% include ../common/sidebar %>
            <div class="middle-content col-md-6 padding-x-34 user-profile-details">
                <div class="pull-right margin-bottom-15 hidden">
                    <input type="text">
                    <span class="padding-y-3 padding-x-10 bg-gray">
								<i class="fa fa-angle-down"></i>
							</span>
                </div>
                <div class="clearfix"></div>
                <% if(user.licenseNumber == null) { %>
                <div class="licenseContainer">
                    <div class="">
                        <div class="heading-content margin-bottom-15">
                            <h2 class="font-dinopro">Licensing</h2>
                        </div>
                        <div id="resident-area" class="main-content padding-20">
                            <a data-toggle="modal" data-target="#licensingModal"
                               class="text-decoration-none font-size-16 text-orange font-opensans" href="">
                                <div class="pull-left">
                                    <i class="fa fa-plus-circle padding-right-10"></i>
                                    Add your license
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <% } if(user.bbbLink == null) { %>
                <div class="bbbURLContainer">
                    <div class="clearfix height-30"></div>
                    <div class="">
                        <div class="heading-content margin-bottom-15">
                            <h2 class="font-dinopro">Add BBB</h2>
                        </div>
                        <div id="resident-area" class="main-content padding-20">
                            <a data-toggle="modal" data-target="#BBBModal"
                               class="text-decoration-none font-size-16 text-orange font-opensans" href="">
                                <div class="pull-left">
                                    <i class="fa fa-plus-circle padding-right-10"></i>
                                    Add your BBB Url
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <% } if(user.yearFounded == null) { %>
                <div class="yearFoundedContainer">
                    <div class="clearfix height-30"></div>
                    <div class="">
                        <div class="heading-content margin-bottom-15">
                            <h2 class="font-dinopro">Year Founded</h2>
                        </div>
                        <div id="resident-area" class="main-content padding-20">
                            <a data-toggle="modal" data-target="#yearModal" data-whatever="Year Founded"
                               class="text-decoration-none font-size-16 text-orange font-opensans" href="">
                                <div class="pull-left">
                                    <i class="fa fa-plus-circle padding-right-10"></i>
                                    Add your year founded
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <% } if(user.skills == null) { %>
                <div class="servicesOfferedContainer">
                    <div class="clearfix height-30"></div>
                    <div class="">
                        <div class="heading-content margin-bottom-15">
                            <h2 class="font-dinopro">Services Offered</h2>
                        </div>
                        <div id="resident-area" class="main-content padding-20">
                            <a data-toggle="modal" data-target="#serviceModal"
                               class="text-decoration-none font-size-16 text-orange font-opensans" href="">
                                <div class="pull-left">
                                    <i class="fa fa-plus-circle padding-right-10"></i>
                                    Add your Services
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-chevron-down"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--<% } if(user.languages == null) { %>-->
                <!--<div class="languagesContainer">-->
                    <!--<div class="clearfix height-30"></div>-->
                    <!--<div class="border-bottom-5">-->
                        <!--<div class="heading-content margin-bottom-15">-->
                            <!--<h2 class="font-dinopro">Languages</h2>-->
                        <!--</div>-->
                        <!--<div id="resident-area" class="main-content padding-20">-->
                            <!--<a data-toggle="modal" data-target="#languageModal" data-whatever="@languages"-->
                               <!--class="text-decoration-none font-size-16 text-orange font-opensans" href="">-->
                                <!--<div class="pull-left">-->
                                    <!--<i class="fa fa-plus-circle padding-right-10"></i>-->
                                    <!--Add your languages-->
                                <!--</div>-->
                                <!--<div class="pull-right">-->
                                    <!--<i class="fa fa-chevron-down"></i>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<% } %>-->

                <div class="clearfix height-30"></div>
                <!--<div class="border-bottom-5">
                  <div class="heading-content margin-bottom-15">
                    <h2 class="font-dinopro">Recent Jobs Posted</h2>
                  </div>
                  <div class="row margin-0 bg-white padding-20">
                    <div class="row margin-0 col-md-12">
                      <div class="col-md-6">
                        <div class="text-blue font-size-18 font-opensans">Cleaning Expert</div>
                        <div class="clearfix padding-top-10 text-light-gray font-size-12 font-opensans">Posted 2 hours ago</div>
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-default pull-right font-opensans">Apply Now</button>
                      </div>
                      <div class="row margin-0 col-md-12 padding-y-10">
                        <p class="font-size-14 text-another-gray font-opensans">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                      </div>
                      <div class="row margin-0 col-md-12 padding-y-10">
                        <ul>
                          <li class="display-inline padding-right-10">skills:</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Handymen</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Exterior</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Home Cleaning</li>
                        </ul>
                      </div>
                    </div>
                    <hr class="clearfix padding-y-3 row margin-0 col-md-12">
                    <div class="row margin-0 col-md-12">
                      <div class="col-md-6">
                        <div class="text-blue font-size-18 font-opensans">Cleaning Expert</div>
                        <div class="clearfix padding-top-10 text-light-gray font-size-12 font-opensans">Posted 2 hours ago</div>
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-default pull-right font-opensans">Apply Now</button>
                      </div>
                      <div class="row margin-0 col-md-12 padding-y-10">
                        <p class="font-size-14 text-another-gray font-opensans">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                      </div>
                      <div class="row margin-0 col-md-12 padding-y-10">
                        <ul>
                          <li class="display-inline padding-right-10">skills:</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Handymen</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Exterior</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Home Cleaning</li>
                        </ul>
                      </div>
                    </div>
                    <hr class="clearfix padding-y-3 row margin-0 col-md-12">
                    <div class="row margin-0 col-md-12">
                      <div class="col-md-6">
                        <div class="text-blue font-size-18 font-opensans">Cleaning Expert</div>
                        <div class="clearfix padding-top-10 text-light-gray font-size-12 font-opensans">Posted 2 hours ago</div>
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-default pull-right font-opensans">Apply Now</button>
                      </div>
                      <div class="row margin-0 col-md-12 padding-y-10">
                        <p class="font-size-14 text-another-gray font-opensans">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                      </div>
                      <div class="row margin-0 col-md-12 padding-y-10">
                        <ul>
                          <li class="display-inline padding-right-10">skills:</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Handymen</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Exterior</li>
                          <li class="bg-light-gray text-white padding-x-10 padding-y-3 radius-25 display-inline">Home Cleaning</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row margin-0 bg-light-off-white padding-10">
                    <center><a class="text-underlined text-blue font-size-18 font-dinopro" href="">See All</a></center>
                  </div>
                </div>-->

                <div class="clearfix height-30"></div>
                <div class="">
                    <div class="heading-content margin-bottom-15">
                        <h2 class="font-dinopro">Service Area</h2>
                    </div>
                    <div class="row margin-0 main-content padding-20">
                        <div class="row margin-0 col-md-12">
                            <ng-map zoom="15" center="[<%= user.latitude %>, <%= user.longitute %>]">
                                <marker position="[<%= user.latitude %>, <%= user.longitute %>]" animation="DROP" draggable="true"></marker>
                            </ng-map>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar right-sidebar col-md-3">
                <%
                var totalTasks = 7,
                        taskCompleted = 0;
                if (user.yearFounded) {
                    taskCompleted++;
                }
                if (user.services) {
                    taskCompleted++;
                }
                if (user.languages) {
                    taskCompleted++;
                }
                if (user.bbbLink) {
                    taskCompleted++;
                }
                if (user.licenseNumber) {
                    taskCompleted++;
                }
                if (user.profilePicture) {
                    taskCompleted++;
                }
                if (user.bannerPicture) {
                    taskCompleted++;
                }
                var totalPercentageCompleted = Math.round((taskCompleted / totalTasks) * 100);
                %>
                <div class="<%= (totalPercentageCompleted == 100 ? 'hidden' : '') %> recent-activity">
                    <div class="heading">
                        <div class="margin-right-10 pull-left">
                            <img src="/images/icon-set/profile-completeness.png" alt="">
                        </div>
                        <div class="heading-content">
                            <h2>Profile Completeness</h2>
                        </div>
                        <div class="margin-0 main-content" style="margin: 0 !important;">
                            <ul>
                                <li class="item bg-light-blue row margin-0 col-md-12">
                                    <div class="padding-y-10 col-md-9">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width:<%= totalPercentageCompleted %>%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-blue font-size-22 padding-left-10 font-dinopro"><%= totalPercentageCompleted %>
                                            %
                                        </div>
                                    </div>
                                </li>
                                <li class="clearfix bg-white padding-x-20">
                                    <% if(user.services == null) { %>
                                    <div class="row margin-0 padding-y-5 row margin-0 col-md-12">
                                        <a class="text-decoration-none" data-toggle="modal" data-target="#serviceModal">
                                            <i class="fa fa-plus-square text-cyan padding-right-10"></i>
                                            <span class="font-size-14 font-opensans text-another-gray">Add services offered</span>
                                        </a>
                                    </div>
                                    <% } if(user.bbbLink == null) { %>
                                    %>
                                    <div class="row margin-0 padding-y-5 row margin-0 col-md-12">
                                        <a class="text-decoration-none" data-toggle="modal" data-target="#BBBModal">
                                            <i class="fa fa-plus-square text-cyan padding-right-10"></i>
                                            <span class="font-size-14 font-opensans text-another-gray">Add BBB Link</span>
                                        </a>
                                    </div>
                                    <% } if(user.yearFounded == null) { %>
                                    %>
                                    <div class="row margin-0 padding-y-5 row margin-0 col-md-12">
                                        <a class="text-decoration-none" data-toggle="modal" data-target="#yearModal">
                                            <i class="fa fa-plus-square text-cyan padding-right-10"></i>
                                            <span class="font-size-14 font-opensans text-another-gray">Add year founded</span>
                                        </a>
                                    </div>
                                    <% } %>
                                </li>
                            </ul>
                            <div class="row margin-0 bg-light-off-white padding-10">
                                <center><a class="text-underlined text-blue font-size-18 font-dinopro" href="">Edit</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix height-30"></div>
                <div class="recent-activity">
                    <div class="heading">
                        <div class="margin-right-10 pull-left">
                            <i class="fa fa-calendar-check-o font-size-22 bg-dark-cyan padding-8 text-white"></i>
                        </div>
                        <div class="heading-content">
                            <h2>Calendar</h2>
                        </div>
                        <div class="margin-0 main-content bg-white padding-10" style="margin: 0 !important;">
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
                <div class="clearfix height-30"></div>
                <div class="recent-activity">
                    <div class="heading">
                        <div class="icon pull-left">
                            <!--<center><img class="img-responsive" src="/images/icon-set/recent-activity-icon.png" alt="">-->
                            <!--</center>-->
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                        </div>
                        <div class="heading-content">
                            <h2>Recent Activity</h2>
                        </div>
                        <div class="main-content">
                            <ul>
                                <li class="item">
                                    <div class="activity-heading">
                                        Whooop!
                                    </div>
                                    <p class="activity-content">
                                        No recent activity
                                    </p>
                                </li>
                                <!--<li class="item">
                                  <div class="activity-heading">
                                    Osama Shah
                                  </div>
                                  <p class="activity-content">
                                    Lorem ipsum dolor sit amet, consectetur...
                                  </p>
                                </li>
                                <li class="item activity-content-alt">
                                  <div class="activity-heading">
                                    Brown
                                  </div>
                                  <p class="activity-content">
                                    Sit amet, consectetur adipiscing elit...
                                  </p>
                                </li>
                                <li class="item">
                                  <div class="activity-heading">
                                    Talib Allauddin
                                  </div>
                                  <p class="activity-content">
                                    Pulvinar tincidunt lacus luctus...
                                  </p>
                                </li>
                                <li class="item activity-content-alt">
                                  <div class="activity-heading">
                                    Brown
                                  </div>
                                  <p class="activity-content">
                                    Sit amet, consectetur adipiscing elit...
                                  </p>
                                </li>-->
                            </ul>
                            <!--<div class="row margin-0 bg-light-off-white padding-10">
                              <center><a class="text-underlined text-blue font-size-18 font-dinopro" href="">See All</a></center>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="clearfix height-30"></div>
                <hr>
                <div class="clearfix height-15"></div>
                <footer>
                    <ul>
                        <li>
                            <a class="text-blackish-gray text-decoration-none font-size-14" href="#">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a class="text-blackish-gray text-decoration-none font-size-14" href="#">
                                Terms &amp; Privacy
                            </a>
                        </li>
                        <li>
                            <a class="text-blackish-gray text-decoration-none font-size-14" href="#">
                                More <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix height-15"></div>
                    <div class="copyright text-light-gray font-size-12 font-opensans">
                        © Uhome 2016. All Rights Reserved.
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<div class="clearfix height-30"></div>
<div class="clearfix height-30"></div>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
<script type="text/javascript" src="/js/dependencies/mask.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/lib/moment.min.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/gcal.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/custom/contractorDashboard.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/individualDashboard.controller.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<script type="text/javascript" src="/js/services/businessHours.service.js"></script>
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="/js/directive/bregisterStep2.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDl6lwlam_U1ZofuFFOQ8K9ydfzyGHxTWI"></script>
</body>
</html>
<% //include dropdowns %>
<!-- Serivces offered Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="serviceModalLabel">Services
                    Offered</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your
                        services:</label>
                    <div class="input-group">
                        <select name="service" id="service" class="form-control" style="height: 42px;">
                            <%/* if(services) { %>
                            <option value="">Select</option>
                            <% _.each(services, function(service) { %>
                            <optgroup label="<%= service.title %>">
                                <% _.each(service.SubService, function(subservice) { %>
                                <option value="<%= subservice.id %>"><%= subservice.title %></option>
                                <% }); %>
                            </optgroup>
                            <% }); %>
                            <% } */%>
                        </select>
                        <span class="input-group-addon bg-green padding-x-15 ">
                  <i class="fa fa-plus-square text-white"></i>
              </span>
                    </div>
                    <div class="clearfix height-15"></div>
                    <div class="full-width serviceTagContainer"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" id="serviceSubmit" class="btn btn-default">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- Languages Modal -->
<!--<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="LanguageModalLabel">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                            <!--aria-hidden="true">&times;</span></button>-->
                <!--<h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="languageModalLabel">-->
                    <!--Languages</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form>-->
                    <!--<label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your123-->
                        <!--Languages:</label>-->
                    <!--<div class="full-width">-->
                        <!--<select name="languages" id="languages" class="form-control" style="height:42px;">-->
                            <!--<option value="">Select</option>-->
                            <!--<option value="English">English</option>-->
                            <!--<option value="Spanish">Spanish</option>-->
                            <!--<option value="Arabic">Arabic</option>-->
                            <!--<option value="French">French</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="clearfix height-15"></div>-->
                    <!--<div class="full-width languagesTagContainer"></div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>-->
                <!--<button type="button" id="languageSubmit" class="btn btn-default">Add</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- Year founded Modal -->
<div class="modal fade" id="yearModal" tabindex="-1" role="dialog" aria-labelledby="yearModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="yearModalLabel">Year Founded</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your year
                        founded:</label>
                    <div class="input-group">
			    <span class="input-group-addon ">
			        <i class="fa fa-calendar"></i>
			    </span>
                        <input type="text" id="yearFounded" class="form-control date-own padding-20"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" id="yearFoundedSubmit" class="btn btn-default">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- BBB Url Modal -->
<div class="modal fade" id="BBBModal" tabindex="-1" role="dialog" aria-labelledby="BBBModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="BBBModalLabel">Add BBB</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your BBB
                        link:</label>
                    <div class="input-group">
			    <span class="input-group-addon ">
			       <i class="fa fa-globe"></i>
			    </span>
                        <input type="text" name="bbbLink" id="bbbLink" style="padding: 10px; width:100%;"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" id="submitBBBUrl" class="btn btn-default">Add</button>
            </div>
        </div>
    </div>
</div>
<!-- License Modal -->
<div class="modal fade" id="licensingModal" tabindex="-1" role="dialog" aria-labelledby="licensingModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="licensingModalLabel">Your
                    Licenses</h4>
                <h5>Include your professional license information here to generate yp to three times more job
                    leads.</h5>
            </div>
            <div class="modal-body">
                <form>
                    <h4><b>Add Licenses</b></h4>
                    <div class="full-width">state
                        <label for="recipient-name"
                               class="control-label font-opensans-semibold font-size-16">STATE:</label>
                        <div class="input-btn">
                            <select ng-model="businessHoursSunStart" ng-init="businessHoursSunStart = '<%= user.sundayStart %>'"
                                    ng-options="state for state in states track by state.name" data-id="day1"  class="form-control" id="states"></select>
                        </div>
                    </div>
                    <div class="full-width">
                        <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">ACCREDITATION:</label>
                        <div class="input-btn">
                            </span>
                            <select name="accreditation" id="accreditation" class="form-control">
                                <option value="ACR-SS | Alarm (Single Station - Certificate of Registrartion)">ACR-SS | Alarm (Single Station - Certificate of Registrartion)</option>
                                <option value="Alarm (Branch Office - Certificate of Registration)">Alarm (Branch Office - Certificate of Registration)</option>
                                <option value="Alarm (Certificate of Registration)">Alarm (Certificate of Registration)</option>
                                <option value="Alarm Systems (Company - Class B)">Alarm Systems (Company - Class B)</option>
                                <option value="Alarm Systems (Company)">Alarm Systems (Company)</option>
                                <option value="Appliance Installation Contractor (Residential)">Appliance Installation Contractor (Residential)</option>
                                <option value="Architecture (Business - Registration)">Architecture (Business - Registration)</option>
                                <option value="Asbestos Agency (Consultant)">Asbestos Agency (Consultant)</option>
                                <option value="Asbestos Operations &amp; Maintenance Contractor (Restricted)">Asbestos Operations &amp; Maintenance Contractor (Restricted)</option>
                                <option value="Asbestos Transporters">Asbestos Transporters</option>
                                <option value="Electrical Contractor">Electrical Contractor</option>
                                <option value="Electrical Sign Contractor">Electrical Sign Contractor</option>
                                <option value="Electrician (Journeyman)">Electrician (Journeyman)</option>
                                <option value="Electrician (Master)">Electrician (Master)</option>
                                <option value="Elevator Contractor">Elevator Contractor</option>
                                <option value="Environmental Air Conditioning Contractor (Class A)">Environmental Air Conditioning Contractor (Class A)</option>
                                <option value="Environmental Air Conditioning Contractor (Class B)">Environmental Air Conditioning Contractor (Class B)</option>
                                <option value="Interior Design (Business - Registration)">Interior Design (Business - Registration)</option>
                                <option value="Interior Designer">Interior Designer</option>
                                <option value="Land Surveying (Firm)">Land Surveying (Firm)</option>
                                <option value="Landscape Architecture (Business - Registration)">Landscape Architecture(Business - Registration)</option>
                                <option value="Landscape Irrigator">Landscape Irrigator</option>
                                <option value="Lead Abatement (Firm - Certification)">Lead Abatement (Firm - Certification)</option>
                                <option value="Locksmith (Company - Class B)">Locksmith (Company - Class B)</option>
                                <option value="Locksmith (Company)">Locksmith (Company)</option>
                                <option value="LSLS | Land Surveying (State License)">LSLS | Land Surveying (State License)</option>
                                <option value="Pest Control (Business)">Pest Control (Business)</option>
                                <option value="Plumber (Master - Responsible)">Plumber (Master - Responsible)</option>
                                <option value="Professional Engineering (Firm)">Professional Engineering (Firm)</option>
                                <option value="Refrigeration, Process Cooling &amp; Heating (Class A - Commercial)">Refrigeration, Process Cooling &amp; Heating (Class A - Commercial)</option>
                                <option value="Refrigeration, Process Cooling &amp; Heating (Class B - Commercial)">Refrigeration, Process Cooling &amp; Heating (Class B - Commercial)</option>
                                <option value="RPLS | Professional Land Surveyor (Registered)">RPLS | Professional LandSurveyor (Registered)</option>
                                <option value="Security Consultant (Company - Class B)">Security Consultant (Company - Class B)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 padding-right-20">
                        <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">ACCREDITATION
                            #:</label>
                        <div class="input-btn">
                            </span>
                            <input type="text" name="accreditation_number" id="accreditation_number"
                                   class="form-control" placeholder="Accreditation #"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">EXPIRATION:</label>
                        <div class="input-btn">
                            </span>
                            <input type="text" name="expiration" id="expiration" class="form-control"
                                   placeholder="Expiration Date"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="clearfix row margin-0"></div>
            <div class="modal-footer margin-top-20">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" id="licensingSubmit" class="btn btn-default">Add</button>
            </div>
        </div>
    </div>
</div>


