<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/myproject-inner-user.css" />
		<link rel="stylesheet" href="/styles/myprojects.css" />
		<link rel="stylesheet" href="/styles/myprojects-contractor.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include ../common/topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-9 col-xs-12">
						<div>
							<div class="heading-content margin-bottom-15">
								<h2 class="font-dinopro">My Jobs</h2>
							</div>
						</div>
						<div class="project-details">
							<div class="bg-light-off-white">
								<div class="bg-white">
									<ul class="nav nav-tabs pull-left main-content" role="tablist">
										<li role="presentation" class="active">
											<a href="#activeprojects" aria-controls="activeprojects" role="tab" data-toggle="tab">
												Active 
												<!-- <span class="notification bg-tale-red">
													10
												</span> -->
											</a>
										</li>
										<li role="presentation">
											<a href="#invitationtointerview" aria-controls="invitationtointerview" role="tab" data-toggle="tab">
												Invitation to Interview
												<!-- <span class="notification bg-green">
													17
												</span> -->
											</a>
										</li>
										<li role="presentation">
											<a href="#submittedproposal" aria-controls="submittedproposal" role="tab" data-toggle="tab">
												Submitted Proposal
												<!-- <span class="notification bg-green">
													2
												</span> -->
											</a>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
								<div class="tab-content bg-white main-content">
									<div role="tabpanel" class="tab-pane active" id="activeprojects">
										<div class="bg-white">
											<div class="heading padding-10 bg-light-blue margin-x-20">
												<div class="font-dinopro font-size-16 text-black">
													<div class="row padding-x-20">
														<span class="col-md-2">
															RECEIVED
														</span>
														<span class="col-md-6">
															JOB
														</span>
														<span class="col-md-2">
															BUDGET
														</span>
														<span class="col-md-2">
															
														</span>
													</div>
												</div>
											</div>
											<!-- <div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-2">
														<span class="font-size-14 font-opensans text-light-gray">$ 500.00</span>
													</div>
													<div class="col-md-2">
														<button class="btn btn-primary font-dinopro end-contract-btn">End Contract</button>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-2">
														<span class="font-size-14 font-opensans text-light-gray">$ 500.00</span>
													</div>
													<div class="col-md-2">
														<button class="btn btn-primary font-dinopro end-contract-btn">End Contract</button>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-2">
														<span class="font-size-14 font-opensans text-light-gray">$ 500.00</span>
													</div>
													<div class="col-md-2">
														<button class="btn btn-primary font-dinopro end-contract-btn">End Contract</button>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-2">
														<span class="font-size-14 font-opensans text-light-gray">$ 500.00</span>
													</div>
													<div class="col-md-2">
														<button class="btn btn-primary font-dinopro end-contract-btn">End Contract</button>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-2">
														<span class="font-size-14 font-opensans text-light-gray">$ 500.00</span>
													</div>
													<div class="col-md-2">
														<button class="btn btn-primary font-dinopro end-contract-btn">End Contract</button>
													</div>
												</div>
											</div> -->
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<center>
														<h3>No Active Projects</h3>
													</center>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="invitationtointerview">
										<div class="bg-white">
											<div class="heading padding-10 bg-light-blue margin-x-20">
												<div class="font-dinopro font-size-16 text-black">
													<div class="row padding-x-20">
														<span class="col-md-2">
															RECEIVED
														</span>
														<span class="col-md-6">
															JOB
														</span>
														<span class="col-md-2">
															
														</span>
													</div>
												</div>
											</div>
											<!-- <div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-default font-dinopro end-contract-btn margin-right-10">Accept</button>
															<button class="btn btn-primary font-dinopro end-contract-btn">Decline</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-default font-dinopro end-contract-btn margin-right-10">Accept</button>
															<button class="btn btn-primary font-dinopro end-contract-btn">Decline</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-default font-dinopro end-contract-btn margin-right-10">Accept</button>
															<button class="btn btn-primary font-dinopro end-contract-btn">Decline</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-default font-dinopro end-contract-btn margin-right-10">Accept</button>
															<button class="btn btn-primary font-dinopro end-contract-btn">Decline</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-default font-dinopro end-contract-btn margin-right-10">Accept</button>
															<button class="btn btn-primary font-dinopro end-contract-btn">Decline</button>
														</div>
													</div>
												</div>
											</div> -->
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<center>
														<h3>No Active Invitations</h3>
													</center>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="submittedproposal">
										<div class="bg-white">
											<div class="heading padding-10 bg-light-blue margin-x-20">
												<div class="font-dinopro font-size-16 text-black">
													<div class="row padding-x-20">
														<span class="col-md-2">
															RECEIVED
														</span>
														<span class="col-md-6">
															JOB
														</span>
														<span class="col-md-2">
															
														</span>
													</div>
												</div>
											</div>
											<!-- <div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-primary font-dinopro end-contract-btn">Withdrawal</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-primary font-dinopro end-contract-btn">Withdrawal</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-primary font-dinopro end-contract-btn">Withdrawal</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-primary font-dinopro end-contract-btn">Withdrawal</button>
														</div>
													</div>
												</div>
											</div>
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<div class="col-md-2">
														<span class="font-size-14 text-light-gray padding-top-15 font-opensans">May 24, 2016</span>
													</div>
													<div class="col-md-6 user-img">
														<span class="text-blue font-size-18 font-dinopro">Done Right Carpet &amp; Tile Inc.</span>
														<br>
														<span class="text-light-gray font-size-16 font-opensans">House Cleaning Services - Houston, TX</span>
														<br>
														<span class="text-light-gray font-size-13 font-opensans">Flooring Services and Floor Cleaning</span>
													</div>
													<div class="col-md-4">
														<div class="btns pull-right">
															<button class="btn btn-primary font-dinopro end-contract-btn">Withdrawal</button>
														</div>
													</div>
												</div>
											</div> -->
											<div class="each-project row padding-20 padding-x-34">
												<div class="col-md-12 padding-left-15">
													<center>
														<h3>No Proposal Submitted</h3>
													</center>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
		<script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>
		<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
		<script type="text/javascript" src="/js/dependencies/mask.js"></script>
		<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
		<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
		<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
		<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/config.js"></script>
		<script type="text/javascript" src="/js/controllers/userProfile.js"></script>
		<script type="text/javascript" src="/js/services/api.service.js"></script>
		<script type="text/javascript" src="/js/directive/delay.js"></script>
		<script type="text/javascript" src="/js/directive/userProfile.js"></script>
	</body>
</html>