<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uhome - Home based services</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/registration.css">
  <link rel="stylesheet" href="/styles/find-contractor.css">
  <link rel="stylesheet" href="/styles/profile-company.css">
  <link rel="stylesheet" href="/styles/photogallery.css" />
</head>
<body class="index" style="background-image: url('<%= req.session.User.bannerPicture %>');">
<div class="page-wrapper">
  <% include profileTopNav %>
  <div class="container">
    <% include contractorInfo %>
    <div class="row margin-0">
      <div class="col-md-12 bg-white box-shadow padding-x-10 padding-y-20">
        <div class="row margin-0 col-md-12">
          <div class="col-md-9">
            <h3 class="font-size-30 margin-0 font-dinopro padding-x-10">Our Projects</h3>
            <p class="padding-x-10 font-opensans">Far far away, behind the word mountains, far from the countries separated they live in Bookmarks ocean. </p>
          </div>
          <div class="col-md-3">
            <div class="input-group" style="float: right;width: 100%;padding-top: 10px;">
              <select data-id="day1" class="weekday day1-start select-dropdown-2">
                <option selected value="Close">Sort by project category</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
  <div id="footer">
    <center>
      <ul>
        <li>
          <a href="">About Us</a>
        </li>
        <li>
          <a href="">Leadership</a>
        </li>
        <li>
          <a href="">Press</a>
        </li>
        <li>
          <a href="">Career</a>
        </li>
        <li>
          <a href="">Terms &amp; Privacy</a>
        </li>
      </ul>
      <p class="font-size-13 text-light-gray">© Uhome 2016. All Rights Reserved</p>
    </center>
  </div>
</div>
</body>
</html>
<script src="/js/dependencies/jquery.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<style>
  .select-dropdown-2 {
    width: 100%;
    padding: 5px;
    background: transparent url("/images/icon-set/select-arrows.png") no-repeat right 5px top 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
  }
</style>
<% include dropdowns %>
