<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uhome - Home based services</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/registration.css">
  <link rel="stylesheet" href="/styles/find-contractor.css">
  <link rel="stylesheet" href="/styles/profile-company.css">
  <link rel="stylesheet" href="/styles/photogallery.css" />
</head>
<body class="index" style="background-image: url('<%= req.session.User.bannerPicture %>');">
<div class="page-wrapper">
  <% include profileTopNav %>
  <div class="container">
    <% include contractorInfo %>
    <div class="row margin-0">
      <div class="col-md-12 bg-white box-shadow padding-x-10 padding-y-20">
        <div class="row margin-0 col-md-12">
          <center>
            <h3 class="font-size-30 margin-0 font-dinopro padding-10">Meet Our Team</h3>
            <p class="padding-x-10 font-opensans"> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. </p>
          </center>
        </div>
        
        <div class="row margin-0 col-md-12 padding-10">
          <% _.each(teamMembers, function(member){ %>
                <div class="col-md-3 padding-10">
                  <div class="team-member box-shadow">
                    <img class="img-responsive width-auto" style="min-height: 260px" src="<%= member.userPhoto %>" alt="">
                    <center class="padding-bottom-10">
                      <h3 class="font-dinopro font-size-22"><%= member.firstName + ' ' + member.lastName %></h3>
                      <p><%= member.designation %></p>
                    </center>
                  </div>
                </div>
          <% }) %>
        </div>
        <!--<div class="row margin-0 col-md-12">
          <center>
            <h3 class="font-size-30 margin-0 font-dinopro padding-10">What People Say About Us</h3>
            <ul>
              <li class="display-block padding-y-10">
                <img src="/images/user/user-6.png" class="img-responsive padding-y-10" alt="">
                <p class="font-size-16 text-gray font-opensans padding-x-34"> Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia</p>
                <p class="text-orange font-size-14 font-opensans">- Jane Doe , President of abc-example.com</p>
              </li>
            </ul>
            <ul>
              <li class="display-inline padding-x-5">
                <i class="fa fa-circle-o text-blue"></i>
              </li>
              <li class="display-inline padding-x-5">
                <i class="fa fa-circle-o"></i>
              </li>
              <li class="display-inline padding-x-5">
                <i class="fa fa-circle-o"></i>
              </li>
            </ul>
          </center>
        </div>-->
      </div>
    </div>
  </div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
</div>
</body>
</html>
<script src="/js/dependencies/jquery.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script>
  $(document).ready(function() {
    $(".team-member").mouseover(function() {
      $(this).css('background-color', '#f26739')
        .css('color', '#fff')
        .css('border','1px solid #f26739')
        .find('ul').removeClass('hidden');

    });
    $(".team-member").mouseout(function() {
      $(this).css('background-color', '#fff')
        .css('color', '#444444')
        .css('border', '0px')
        .find('ul').addClass('hidden');

    });
  });
</script>
<style>
  .select-dropdown-2 {
    width: 100%;
    padding: 5px;
    background: transparent url("/images/icon-set/select-arrows.png") no-repeat right 5px top 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
  }
</style>
<% include dropdowns %>
