<div class="top-nav">
  <div class="container">
    <div class="first-container col-md-6 col-sm-3 col-xs-4 pull-left">
      <div class="row">
        <div class="logo pull-left col-md-3 padding-top-10">
          <a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
        </div>
        <div class="col-md-9">
          <ul class="menu text-uppercase font-size-15 font-dinopro text-white">
            <li class="display-inline">
              <a class="menu text-white padding-x-15 padding-y-25 text-decoration-none" href="/spprofile">overview</a>
            </li>
            <% if(req.session.User.businessName) { %>
            <li class="display-inline">
              <a class="menu text-white padding-x-15 padding-y-25 text-decoration-none" href="/ourteam">our team</a>
            </li>
            <% } %>
            <li class="display-inline">
              <a class="menu text-white padding-x-15 padding-y-25 text-decoration-none" href="/spreviews">reviews</a>
            </li>
            <li class="display-inline">
              <a class="menu text-white padding-x-15 padding-y-25 text-decoration-none" href="/ourprojects">our projects</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="user-info col-md-2 col-sm-2 col-xs-2 pull-right padding-top-10">
      <a href="/spprofile" class="text-decoration-none">
        <div class="user pull-right text-decoration-none">
          <img class="margin-right-10 profile-image pull-left" src="<%= req.session.User.profilePicture %>" alt="">
          <span class="pull-left font-opensans text-decoration-none text-white"><%= req.session.User.firstName %> </span> <i class="padding-top-20 glyphicon glyphicon-triangle-bottom text-white"></i></span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="top-nav-mobile">
  <div class="mobile-icons active timeline-icon pull-left col-md-2">
    <center>
      <i class="fa fa-newspaper-o"></i>
    </center>
  </div>
  <div class="mobile-icons notification-icon pull-left col-md-2">
    <center>
      <i class="fa fa-bell"></i>
      <!-- <span class="mobile-notification mobile-bell-notification">16</span> -->
    </center>
  </div>
  <div class="mobile-icons messages-icon pull-left col-md-2">
    <center>
      <i class="fa fa-envelope"></i>
      <!-- <span class="mobile-notification mobile-message-notification">17</span> -->
    </center>
  </div>
  <div class="mobile-icons search-icon pull-left col-md-2">
    <center>
      <i class="fa fa-search"></i>
    </center>
  </div>
  <div class="mobile-icons right-panel pull-left col-md-2">
    <center>
      <i class="fa fa-reorder"></i>
    </center>
  </div>
</div>
