<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uhome - Home based services</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/registration.css">
  <link rel="stylesheet" href="/styles/find-contractor.css">
  <link rel="stylesheet" href="/styles/profile-company.css">
  <link rel="stylesheet" href="/styles/photogallery.css" />
</head>
<body class="index" style="background-image: url('<%= req.session.User.bannerPicture %>');">
<div class="page-wrapper">
  <% include profileTopNav %>
  <div class="container">
    <% include contractorInfo %>
    <div class="clearfix height-30"></div>
    <div class="contractor-info row margin-0">
      <div class="col-md-12">
        <div class="col-md-3">
          <button class="width-auto btn btn-default padding-y-10 margin-bottom-10 font-size-20 font-dinopro"><i class="fa fa-heart"></i> Favourite</button>
          <button class="width-auto btn btn-primary padding-y-10 margin-bottom-10 font-size-20 font-dinopro"><i class="fa fa-envelope"></i> Invite To Job</button>
          <div class="company-profile border-gray-1">
            <h3 class="font-size-20 font-opensans-semibold text-another-gray padding-x-20">Company Profile</h3>
            <hr>
            <div class="row margin-0 padding-x-20 bg-extra-light-yellow">
              <div class="pull-left margin-right-10">
                <img style="width:70px;height: 70px;" class="img-responsive border-gray-1 padding-5" src="<%= req.session.User.profilePicture %>" alt="">
              </div>
              <div class="">
                <h4 class="font-size-18 font-opensans text-another-gray marign-0"><%= req.session.User.firstName + ' ' + req.session.User.lastName %></h4>
                <p class="font-size-15 text-light-gray font-opensans margin-0">Manager</p>
              </div>
            </div>
            <hr>
            <div class="row margin-0">
              <table class="table font-opensans">
                <tr>
                  <th>Phone:</th>
                  <td><%= req.session.User.phone %></td>
                </tr>
                <tr>
                  <th>Address:</th>
                  <td style="word-wrap:word-wrap;"><%= req.session.User.city + ', ' + req.session.User.state %></td>
                </tr>
                <tr>
                  <th>Website:</th>
                  <td><a href="<%= req.session.User.url %>">Website Link</a></td>
                </tr>
                <tr>
                  <th>Hr. Rate:</th>
                  <td><%= req.session.User.hourlyRate %></td>
                </tr>
                <tr>
                  <th>Hours:</th><!-- (Tuesday) 9:00AM to 5:30PM -->
                  <td class="text-orange hours"></td>
                </tr>
                <tr>
                  <th>Founded:</th>
                  <td><%= req.session.User.yearFounded %></td>
                </tr>
                <tr>
                  <th>Language:</th>
                  <td>
                    <% _.each(req.session.User.languages, function(language) { %>
                          <%= language %>
                    <% }) %>
                  </td>
                </tr>
              </table>
              <hr>
              <center class="padding-y-10">
                <!-- <ul class="margin-0 margin-bottom-10">
                  <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  <li class="display-inline font-opensans"> (20 Reviews)</li>
                </ul> -->
                <div class="btn btn-primary bg-green font-dinopro font-size-20 padding-x-50 padding-y-10">Write a Review</div>
              </center>
            </div>
          </div>
        </div>
        <div class="col-md-9 padding-x-20">
          <div class="row margin-0 border-gray-1 padding-x-20 box-shadow">
            <div class="row margin-0 col-md-12">
              <h3 class="font-size-28 font-dinopro">About</h3>
              <div class="col-md-12">
                <p style="word-wrap: break-word;" class="font-size-16 font-opensans padding-right-20">
                  <%= req.session.User.aboutUs %>
                </p>
              </div>
              <!-- <div class="col-md-4">
                <iframe style="border: 5px solid #d5d8db;" width="100%" height="164" src="https://www.youtube.com/embed/mPcqjY6gHhc"></iframe>
              </div> -->
            </div>
            <% if(req.session.User.services) { %>
            <div class="clearfix row margin-0 col-md-12 padding-y-10">
              <hr class="clearfix row margin-0">
            </div>
            <div class="row margin-0 col-md-12 bg-extra-light-yellow">
              <h3 class="font-size-28 font-dinopro">Services Offered</h3>
              <div class="services-container">
                <ul>
                  <% _.each(req.session.User.services, function(service) { %>
                      <li class="padding-10 font-opensans">
                        <i class="fa fa-circle-o padding-right-10"></i>
                        <%= service.title %>
                      </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <% } %>
            <% if(req.session.User.licenseNumber) { %>
            <div class="clearfix row margin-0 col-md-12 padding-y-10">
              <hr class="clearfix row margin-0">
            </div>
            <div class="row margin-0 col-md-12 bg-extra-light-yellow">
              <h3 class="font-size-28 font-dinopro">Services Area</h3>
              <div class="row margin-0">
                <div id="map" style="border:0;width: 100%;height: 250px;"></div>
              </div>
            </div>
            <div class="clearfix row margin-0 col-md-12 padding-y-10">
              <hr class="clearfix row margin-0">
            </div>
            <div class="row margin-0 col-md-12 bg-extra-light-yellow">
              <h3 class="font-size-28 font-dinopro">Licensing</h3>
              <% _.each(req.session.User.licenseNumber, function(license) { %>
                <div class="row margin-0 padding-y-10">
                  <div class="col-md-1 margin-right-10">
                    <img src="/images/icon-set/license.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <h3 class="font-size-16 text-orange font-opensans pull-left"><%= license.accreditation %><span class="font-opensans text-another-gray font-size-14"> - <%= license.expiration %></span></h3>
                    <div class="clearfix margin-0"></div>
                    <span class="font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation.</span>
                  </div>
                </div>
              <% }); %>
            </div>
            <div class="clearfix row margin-0 col-md-12 padding-y-10">
              <hr class="clearfix row margin-0">
            </div>
            <% } %>
            <% if(req.session.User.reviews) { %>
            <div class="row margin-0 col-md-12 bg-extra-light-yellow">
              <h3 class="font-size-28 font-dinopro">Work History and Feedback</h3>
              <!--<div class="row margin-0 padding-y-10">
                <div class="col-md-1 margin-right-10">
                  <img src="/images/user/user-profile-icon.png" style="width: 62px;" alt="">
                </div>
                <div class="col-md-10">
                  <h3 class="font-size-16 text-orange font-opensans pull-left margin-0">Best Cleaning Award<span class="font-opensans text-another-gray font-size-14"> - Jun 2015</span></h3>
                  <div class="clearfix margin-0"></div>
                  <span class="font-size-14 margin-0 font-opensans text-light-gray pull-left margin-right-10">Jun 2015 - Present</span>
                  <ul class="margin-0">
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  </ul>
                  <div class="clearfix margin-0"></div>
                  <span class="font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</span>
                </div>
              </div>
              <div class="row margin-0 padding-y-10">
                <div class="col-md-1 margin-right-10">
                  <img src="/images/user/user-profile-icon.png" style="width: 62px;" alt="">
                </div>
                <div class="col-md-10">
                  <h3 class="font-size-16 text-orange font-opensans pull-left margin-0">Best Cleaning Award<span class="font-opensans text-another-gray font-size-14"> - Jun 2015</span></h3>
                  <div class="clearfix margin-0"></div>
                  <span class="font-size-14 margin-0 font-opensans text-light-gray pull-left margin-right-10">Jun 2015 - Present</span>
                  <ul class="margin-0">
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  </ul>
                  <div class="clearfix margin-0"></div>
                  <span class="font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</span>
                </div>
              </div>
              <div class="row margin-0 padding-y-10">
                <div class="col-md-1 margin-right-10">
                  <img src="/images/user/user-profile-icon.png" style="width: 62px;" alt="">
                </div>
                <div class="col-md-10">
                  <h3 class="font-size-16 text-orange font-opensans pull-left margin-0">Best Cleaning Award<span class="font-opensans text-another-gray font-size-14"> - Jun 2015</span></h3>
                  <div class="clearfix margin-0"></div>
                  <span class="font-size-14 margin-0 font-opensans text-light-gray pull-left margin-right-10">Jun 2015 - Present</span>
                  <ul class="margin-0">
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  </ul>
                  <div class="clearfix margin-0"></div>
                  <span class="font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</span>
                </div>
              </div>
              <div class="row margin-0 padding-y-10">
                <button class="btn btn-primary bg-extra-light-gray text-gray2 width-auto">View All <i class="text-gray2 fa fa-chevron-right"></i></button>
              </div>-->
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="contractor-info-mobile bg-white">
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="text-uppercase active">
            <a href="#companyinfo" aria-controls="companyinfo" role="tab" data-toggle="tab">
              Company Info
            </a>
          </li>
          <li role="presentation" class="text-uppercase">
            <a href="#about" aria-controls="about" role="tab" data-toggle="tab">
              About
            </a>
          </li>
          <li role="presentation" class="text-uppercase">
            <a href="#servicesoffered" aria-controls="servicesoffered" role="tab" data-toggle="tab">
              Services Offered
            </a>
          </li>
          <li role="presentation" class="text-uppercase">
            <a href="#servicearea" aria-controls="servicearea" role="tab" data-toggle="tab">
              Service Area
            </a>
          </li>
          <li role="presentation" class="text-uppercase">
            <a href="#certification" aria-controls="certification" role="tab" data-toggle="tab">
              Certification
            </a>
          </li>
          <li role="presentation" class="text-uppercase">
            <a href="#feedbackreviews" aria-controls="feedbackreviews" role="tab" data-toggle="tab">
              Feedback Reviews
            </a>
          </li>
          <li role="presentation" class="text-uppercase bg-more-extra-light-blue">
            <a href="#" role="tab" class="bg-more-extra-light-blue" data-toggle="tab">
              <center>
                <i class="fa fa-chevron-down text-light-gray font-size-18"></i>
              </center>
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="companyinfo">
            <div class="company-profile border-gray-1">
              <h3 class="font-size-20 font-opensans-semibold text-another-gray padding-x-20">Company Profile</h3>
              <hr>
              <div class="row margin-0 padding-x-20 bg-extra-light-yellow">
                <div class="pull-left margin-right-10">
                  <img style="width: 70px; height: 70px;" class="img-responsive border-gray-1 padding-5" src="<%= req.session.User.profilePicture %>" alt="">
                </div>
                <div class="">
                  <h4 class="font-size-18 font-opensans text-another-gray marign-0"><%= req.session.User.firstName + ' ' + req.session.User.lastName %></h4>
                  <p class="font-size-15 text-light-gray font-opensans margin-0">Manager</p>
                </div>
              </div>
              <hr>
              <div class="row margin-0">
                <table class="table font-opensans">
                  <tr>
                    <th>Phone:</th>
                    <td><%= req.session.User.phone %></td>
                  </tr>
                  <tr>
                    <th>Address:</th>
                    <td><%= req.session.User.address + ', ' + req.session.User.unit + ', ' + req.session.User.city + ', ' + req.session.User.state + ', ' + req.session.User.country %></td>
                  </tr>
                  <tr>
                    <th>Website:</th>
                    <td><a href=""><%= req.session.User.url %></td>
                  </tr>
                  <tr>
                    <th>Hr. Rate:</th>
                    <td><%= req.session.User.hourlyRate %></td>
                  </tr>
                  <tr>
                    <th>Hours:</th>
                    <td class="text-orange hours"></td>
                  </tr>
                  <tr>
                    <th>Founded:</th>
                    <td><%= req.session.User.yearFounded %></td>
                  </tr>
                  <tr>
                    <th>Language:</th>
                    <td>
                      <% _.each(req.session.User.languages, function(language) { %>
                            <%= language %>
                      <% }) %>
                    </td>
                  </tr>
                </table>
                <hr>
                <center class="padding-y-10">
                  <!--<ul class="margin-0 margin-bottom-10">
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline font-opensans"> (20 Reviews)</li>
                  </ul>-->
                  <div class="btn btn-primary bg-green font-dinopro font-size-20 padding-x-50 padding-y-10">Write a Review</div>
                </center>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="about">
            <div class="row margin-0 col-md-12 padding-20">
              <h3 class="font-size-28 font-dinopro">About</h3>
              <div class="col-md-12">
                <p class="font-size-16 font-opensans padding-right-20">
                  <%= req.session.User.aboutUs %>
                </p>
              </div>
              <!--<div class="col-md-4">
                <iframe style="border: 5px solid #d5d8db;" width="100%" height="164" src="https://www.youtube.com/embed/mPcqjY6gHhc"></iframe>
              </div>-->
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="servicesoffered">
            <div class="row margin-0 col-md-12 bg-extra-light-yellow padding-20">
              <h3 class="font-size-28 font-dinopro">Services Offered</h3>
              <div class="services-container">
                <ul>
                  <% _.each(req.session.User.services, function(service) { %>
                      <li class="padding-10 font-opensans">
                        <i class="fa fa-circle-o padding-right-10"></i>
                        <%= service.title %>
                      </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="servicearea">
            <div class="row margin-0 col-md-12 bg-extra-light-yellow padding-20">
              <h3 class="font-size-28 font-dinopro">Services Area</h3>
              <div class="row margin-0">
                <div id="maps" style="border:0;width: 100%;height: 250px;"></div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="certification">
            <div class="row margin-0 col-md-12 bg-extra-light-yellow padding-20">
              <h3 class="font-size-28 font-dinopro">Licensing</h3>
              <% _.each(req.session.User.licenseNumber, function(license) { %>
                <div class="row margin-0 padding-y-10">
                  <div class="col-md-1 margin-right-10">
                    <img src="/images/icon-set/license.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <h3 class="font-size-16 text-orange font-opensans pull-left"><%= license.accreditation %><span class="font-opensans text-another-gray font-size-14"> - <%= license.expiration %></span></h3>
                    <div class="clearfix margin-0"></div>
                    <span class="font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation.</span>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="feedbackreviews">
            <div class="row margin-0 col-md-12 bg-extra-light-yellow padding-20">
              <h3 class="feedback-heading font-size-28 font-dinopro">Work History and Feedback</h3>
              <!--<div class="row margin-0 padding-y-10">
                <div class="col-md-1 col-sm-1 col-xs-2 margin-right-10" style="width: 62px;height: 62px;float:left">
                  <img src="/images/user/user-profile-icon.png" style="width: 62px;" alt="">
                </div>
                <div class="reviewer-info col-md-10 col-sm-10 col-xs-10">
                  <h3 class="poster-name font-size-16 text-orange font-opensans pull-left margin-0">Best Cleaning Award<span class="font-opensans text-another-gray font-size-14"> - Jun 2015</span></h3>
                  <div class="clearfix margin-0"></div>
                  <span class="poster-details font-size-14 margin-0 font-opensans text-light-gray pull-left margin-right-10">Jun 2015 - Present</span>
                  <ul class="margin-0">
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  </ul>
                  <div class="clearfix margin-0"></div>
                  <div class="poster-details poster-detail-review font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
                </div>
              </div>
              <div class="row margin-0 padding-y-10">
                <div class="col-md-1 col-sm-1 col-xs-2 margin-right-10" style="width: 62px;height: 62px;float:left">
                  <img src="/images/user/user-profile-icon.png" style="width: 62px;" alt="">
                </div>
                <div class="reviewer-info col-md-10 col-sm-10 col-xs-10">
                  <h3 class="poster-name font-size-16 text-orange font-opensans pull-left margin-0">Best Cleaning Award<span class="font-opensans text-another-gray font-size-14"> - Jun 2015</span></h3>
                  <div class="clearfix margin-0"></div>
                  <span class="poster-details font-size-14 margin-0 font-opensans text-light-gray pull-left margin-right-10">Jun 2015 - Present</span>
                  <ul class="margin-0">
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  </ul>
                  <div class="clearfix margin-0"></div>
                  <div class="poster-details poster-detail-review font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
                </div>
              </div>
              <div class="row margin-0 padding-y-10">
                <div class="col-md-1 col-sm-1 col-xs-2 margin-right-10" style="width: 62px;height: 62px;float:left">
                  <img src="/images/user/user-profile-icon.png" style="width: 62px;" alt="">
                </div>
                <div class="reviewer-info col-md-10 col-sm-10 col-xs-10">
                  <h3 class="poster-name font-size-16 text-orange font-opensans pull-left margin-0">Best Cleaning Award<span class="font-opensans text-another-gray font-size-14"> - Jun 2015</span></h3>
                  <div class="clearfix margin-0"></div>
                  <span class="poster-details font-size-14 margin-0 font-opensans text-light-gray pull-left margin-right-10">Jun 2015 - Present</span>
                  <ul class="margin-0">
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                    <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                  </ul>
                  <div class="clearfix margin-0"></div>
                  <div class="poster-details poster-detail-review font-size-14 margin-0 font-opensans text-light-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</div>
                </div>
              </div>
              <div class="row margin-0 padding-y-10">
                <button class="btn btn-primary bg-extra-light-gray text-gray2 width-auto">View All <i class="text-gray2 fa fa-chevron-right"></i></button>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
</div>
</body>
</html>
<script src="/js/dependencies/jquery.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>

<script>
  String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1);
  }
  var businessDays = <%- JSON.stringify(req.session.User.businessDays) %>;
  var days = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];

  var is24Hours = '<%- req.session.User.is24Hours %>';
  var hours = '';
  var day = days[new Date().getDay()];

  if (is24Hours == 'on') {
    hours = 'Open 24 Hours';
  } else {
    if(typeof businessDays[days[new Date().getDay()]] == 'object') {
      hours = "(" + day.capitalize() + ") " + businessDays[day].start + " to " + businessDays[day].end;
    } else {
      console.log(businessDays[day]);
      hours = businessDays[day];
    }
  }
  $(".hours").text(hours);
</script>
<style>
  .select-dropdown-2 {
    width: 100%;
    padding: 5px;
    background: transparent url("/images/icon-set/select-arrows.png") no-repeat right 5px top 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
  }
  #map, #maps {
    height: 100%;
  }
</style>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>

  function initMap() {
    var myLatLng = {lat: <%= req.session.User.latitude %>, lng: <%= req.session.User.longitute %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });

    var map2 = new google.maps.Map(document.getElementById('maps'), {
      zoom: 15,
      center: myLatLng
    });

    var marker2 = new google.maps.Marker({
      position: myLatLng,
      map: map2,
      title: 'Hello World!'
    });
  }
</script>
<% include dropdowns %>