<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
		<link rel="stylesheet" href="/styles/myproject-inner-user.css" />
		<link rel="stylesheet" href="/styles/myprojects.css" />
		<link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
		<link rel="stylesheet" href="/styles/step-4.css">
		
		<link rel="stylesheet" href="/styles/step-1.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index" ng-controller="bissenesProfile" ng-init="userType = '<%= user.userType %>'" b-step-two>
		<div id="page-wrapper">
            <% include ../common/topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-9 padding-x-34 user-profile-details">
						<div class="heading">
							<div class="heading-content">
								<h2><a class="text-decoration-none font-dinopro font-size-24 text-black" href="user-timeline.html">Edit Your Company Profile</a></h2>
							</div>
						</div>
						<form enctype="multipart/form-data" name="bregister" id="bissenes-profile-form" novalidate>
							<div class="main-content">
							<div class="bg-white">
								<div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">First Name</label>
										<div class="input-group" ng-class="{'has-error':bregister.userFirstName.$invalid && bregister.userFirstName.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-user"></i>
											</span>
											<input ng-model="bregisterForm.userFirstName" ng-init="bregisterForm.userFirstName = '<%= user.firstName %>'" ng-pattern="firstLastNamePattern" required name="userFirstName" id="userFirstName" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Last Name</label>
										<div class="input-group" ng-class="{'has-error':bregister.userLastName.$invalid && bregister.userLastName.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-user"></i>
											</span>
											<input ng-model="bregisterForm.userLastName" ng-init="bregisterForm.userLastName = '<%= user.lastName %>'" required ng-pattern="firstLastNamePattern" name="userLastName" id="userLastName" type="text" class="form-control">
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-9 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Street Address</label>
										<div class="input-group" ng-class="{'has-error':bregister.userStreetAddress.$invalid && bregister.userStreetAddress.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-map-marker"></i>
											</span>
											<input ng-model="bregisterForm.userStreetAddress" ng-init="bregisterForm.userStreetAddress = '<%= user.address %>'" required ng-pattern="streetAddressPattern" name="userStreetAddress" id="userStreetAddress" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-3 padding-x-10" ng-if="userType=='Business'">
										<label class="font-opensans-semibold font-size-16">Unit # </label>
										<div class="input-group" ng-class="{'has-error':bregister.userUnit.$invalid && bregister.userUnit.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-userss"></i>
											</span>
											<input ng-model="bregisterForm.userUnit" ng-init="bregisterForm.userUnit = '<%= user.unit %>'" required name="userUnit" id="userUnit" type="text" class="form-control">
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10" ng-if="userType=='Business'">
										<label class="font-opensans-semibold font-size-16">Business Name </label>
										<div class="input-group" ng-class="{'has-error':bregister.userBusinessName.$invalid && bregister.userBusinessName.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-briefcase"></i>
											</span>
											<input ng-model="bregisterForm.userBusinessName" ng-init="bregisterForm.userBusinessName = '<%= user.businessName %>'" required ng-pattern="businessNamePattern" name="userBusinessName" id="userBusinessName" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Zipcode </label>
										<div class="input-group" ng-class="{'has-error':bregister.userZipcode.$invalid && bregister.userZipcode.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-map-o"></i>
											</span>
											<input ng-model="bregisterForm.userZipcode" ng-init="bregisterForm.userZipcode = '<%= user.zipcode %>'" required ng-blur="validateZipcode()" name="userZipcode" id="userZipcode" type="text" class="form-control" placeholder="Must be within United States">
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">City </label>
										<div class="input-group">
											<span class="input-group-addon">
											  <i class="fa fa-globe"></i>
											</span>
											<input ng-model="bregisterForm.userCity" ng-init="bregisterForm.userCity = '<%= user.city %>'" readonly class="form-control">
											<input ng-model="bregisterForm.userLng" ng-init="bregisterForm.userLng = '<%= user.longitute %>'" name="userLng" type="hidden" class="form-control" readonly>
											<input ng-model="bregisterForm.userLat" ng-init="bregisterForm.userLat = '<%= user.latitude %>'" name="userLat" type="hidden" class="form-control" readonly>
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">State </label>
										<div class="input-group">
											<span class="input-group-addon">
											  <i class="fa fa-globe"></i>
											</span>
											<input ng-model="bregisterForm.userState" ng-init="bregisterForm.userState = '<%= user.state %>'" name="userState" readonly type="text" class="form-control">
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Business Phone Number </label>
										<div class="input-group" ng-class="{'has-error':bregister.userWorkPhone.$invalid && bregister.userWorkPhone.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-mobile"></i>
											</span>
											<input ng-model="bregisterForm.userWorkPhone" ng-init="bregisterForm.userWorkPhone = '<%= user.phone %>'" ui-mask="(+999)999-9999" name="userWorkPhone" id="userWorkPhone" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6 padding-x-10" ng-if="userType=='Business'">
										<label class="font-opensans-semibold font-size-16">Business EIN Number  <i class="fa fa-info-circle text-blue"></i></label>
										<div class="input-group" ng-class="{'has-error':bregister.userBusinessEIN.$invalid && bregister.userBusinessEIN.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-phone"></i>
											</span>
											<input ng-model="bregisterForm.userBusinessEIN" ng-init="bregisterForm.userBusinessEIN = '<%= user.businessEIN %>'" ui-mask="99-9999999" ui-mask-placeholder ui-mask-placeholder-char="_" name="userBusinessEIN" id="userBusinessEIN" type="text" class="form-control">
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Hourly Rate </label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-usd"></i>
											</span>
											<select ng-model="bregisterForm.userHourlyRate" ng-init="bregisterForm.userHourlyRate = '<%= user.hourlyRate %>'"
													ng-options="rate for rate in hourlyRate" class="weekday select-dropdown" id="categoryLanguaga"></select>
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Website URL </label>
										<div class="input-group" ng-class="{'has-error':bregister.userWebsiteURL.$invalid && bregister.userWebsiteURL.$dirty}">
											<span class="input-group-addon">
											  <i class="fa fa-link"></i>
											</span>
											<input ng-model="bregisterForm.userWebsiteURL" ng-init="bregisterForm.userWebsiteURL = '<%= user.url %>'" name="userWebsiteURL" id="userWebsiteURL" type="text" ng-pattern="WebsiteUrlPattern" class="form-control" placeholder="www.example.com">
										</div>
									</div>
								</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Business Hours </label>
										<div class="business-days">
											<div class="day day1" ng-class="businessHoursSunStart=='Close'?'day-not-selected ':'day-selected'">SUN</div>
											<select ng-click=" businessHoursSunStart=='Close'?clickSelectClose():''" ng-model="businessHoursSunStart" ng-init="businessHoursSunStart = '<%= user.sundayStart %>'"
													ng-options="businessHour for businessHour in businessHours" data-id="day1"  class="weekday day1-start select-dropdown-2" id="category"></select>
											<select ng-model="businessHoursSunEnd" ng-init="businessHoursSunEnd = '<%= user.sundayEnd %>'"  ng-hide="(businessHoursSunStart=='24hr'||businessHoursSunStart=='Close')"
													ng-options="businessHour for businessHour in businessHours" name="userSunEnd" class="weekday day1-end select-dropdown-2"></select>
										</div>
										<div class="business-days">
											<div class="day day2 " ng-class="businessHoursMonStart=='Close'?'day-not-selected ':'day-selected'">MON</div>
											<select ng-click=" businessHoursSunStart=='Close'?clickSelectClose():''" ng-model="businessHoursMonStart" ng-init="businessHoursMonStart = '<%= user.mondayStart %>'"
													ng-options="businessHour for businessHour in businessHours" data-id="day2"  class="weekday day2-start select-dropdown-2" id="category"></select>
											<select ng-model="businessHoursMonEnd" ng-init="businessHoursMonEnd = '<%= user.mondayEnd %>'"  ng-hide="(businessHoursMonStart=='24hr'||businessHoursMonStart=='Close')"
													ng-options="businessHour for businessHour in businessHours" name="userMonEnd" class="weekday day2-end select-dropdown-2"></select>
										</div>
										<div class="business-days">
											<div class="day day3" ng-class="businessHoursTueStart=='Close'?'day-not-selected ':'day-selected'">TUE</div>
											<select ng-click=" businessHoursSunStart=='Close'?clickSelectClose():''" ng-model="businessHoursTueStart" ng-init="businessHoursTueStart = '<%= user.tuesdayStart %>'"
													ng-options="businessHour for businessHour in businessHours" data-id="day3" class="weekday day3-start select-dropdown-2" id="category"></select>
											<select ng-model="businessHoursTueEnd" ng-init="businessHoursTueEnd = '<%= user.tuesdayEnd %>'"  ng-hide="(businessHoursTueStart=='24hr'||businessHoursTueStart=='Close')"
													ng-options="businessHour for businessHour in businessHours" name="userTueEnd" class="weekday day3-end select-dropdown-2"></select>
										</div>
										<div class="business-days">
											<div class="day day4" ng-class="businessHoursWedStart=='Close'?'day-not-selected ':'day-selected'">WED</div>
											<select ng-click=" businessHoursSunStart=='Close'?clickSelectClose():''" ng-model="businessHoursWedStart" ng-init="businessHoursWedStart = '<%= user.wednesdayStart %>'"
													ng-options="businessHour for businessHour in businessHours" data-id="day4" class="weekday day4-start select-dropdown-2" id="category"></select>
											<select ng-model="businessHoursWedEnd" ng-init="businessHoursWedEnd = '<%= user.wednesdayEnd %>'"  ng-hide="(businessHoursWedStart=='24hr'||businessHoursWedStart=='Close')"
													ng-options="businessHour for businessHour in businessHours" name="userWedEnd" class="weekday day4-end select-dropdown-2"></select>
										</div>
										<div class="business-days">
											<div class="day day5 " ng-class="businessHoursThuStart=='Close'?'day-not-selected ':'day-selected'">THU</div>
											<select ng-click=" businessHoursSunStart=='Close'?clickSelectClose():''" ng-model="businessHoursThuStart" ng-init="businessHoursThuStart = '<%= user.thursdayStart %>'"
													ng-options="businessHour for businessHour in businessHours" data-id="day5" class="weekday day5-start select-dropdown-2" id="category"></select>
											<select ng-model="businessHoursThuEnd" ng-init="businessHoursThuEnd = '<%= user.thursdayEnd %>'"  ng-hide="(businessHoursThuStart=='24hr'||businessHoursThuStart=='Close')"
													ng-options="businessHour for businessHour in businessHours" name="userThuEnd" class="weekday day5-end select-dropdown-2"></select>
										</div>
										<div class="business-days">
											<div class="day day6 " ng-class="businessHoursFriStart=='Close'?'day-not-selected ':'day-selected'">FRI</div>
											<select ng-click=" businessHoursSunStart=='Close'?clickSelectClose():''" ng-model="businessHoursFriStart" ng-init="businessHoursFriStart = '<%= user.fridayStart %>'"
													ng-options="businessHour for businessHour in businessHours" data-id="day6" class="weekday day6-start select-dropdown-2" id="category"></select>
											<select ng-model="businessHoursFriEnd" ng-init="businessHoursFriEnd = '<%= user.fridayEnd %>'"  ng-hide="(businessHoursFriStart=='24hr'||businessHoursFriStart=='Close')"
													ng-options="businessHour for businessHour in businessHours" name="userFriEnd" class="weekday day6-end select-dropdown-2"></select>
										</div>
										<div class="business-days">
											<div class="day day7 " ng-class="businessHoursSatStart=='Close'?'day-not-selected ':'day-selected'">SAT</div>
											<select ng-click=" businessHoursSunStart=='Close'?clickSelectClose():''" ng-model="businessHoursSatStart" ng-init="businessHoursSatStart = '<%= user.saturdayStart %>'"
													ng-options="businessHour for businessHour in businessHours" data-id="day6" class="weekday day6-start select-dropdown-2" id="category"></select>
											<select ng-model="businessHoursSatEnd" ng-init="businessHoursSatEnd = '<%= user.saturdayEnd %>'"  ng-hide="(businessHoursSatStart=='24hr'||businessHoursSatStart=='Close')"
													ng-options="businessHour for businessHour in businessHours" name="userSatEnd" class="weekday day6-end select-dropdown-2"></select>
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<div class="pull-left">
											<input ng-model="bregisterForm.userAlwaysOpen" ng-init="userAlwaysOpen = '<%= user.is24Hours %>'=='true'?true:false; hoursPushInArray(userAlwaysOpen)" ng-checked="userAlwaysOpen" name="userAlwaysOpen" id="userAlwaysOpen" type="checkbox" ng-click="userAlwaysOpen = !userAlwaysOpen;  allTime(userAlwaysOpen)" class="pull-left">
											<label ng-click="userAlwaysOpen = !userAlwaysOpen;  allTime(userAlwaysOpen)" class="padding-left-10" for="userAlwaysOpen"> Open 24 Hr.</label>
										</div>
									</div>
								</div>
								<hr class="bg-white hrDivide">
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<h3 class="col-md-12 font-size-18 margin-0 margin-bottom-10 padding-10 font-opensansbold">Add your license</h3>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">State</label>
										<div class="input-group">
										  <span class="input-group-addon">
											<i class="fa fa-globe"></i>
										  </span>
											<input ng-model="bregisterForm.userLicenseState" ng-init="bregisterForm.userLicenseState = '<%= user.licenseState %>'" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Accreditation</label>
										<div class="input-group">
										  	<span class="input-group-addon">
												<i class="fa fa-phones"></i>
										  	</span>
											<select ng-model="bregisterForm.userAccreditation"
													ng-options="accreditation.name for accreditation in accreditations track by accreditation.name" class="weekday select-dropdown" id="category"></select>
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Accreditation #</label>
										<div class="input-group">
										  <span class="input-group-addon">
											<i class="fa fa-mobiles"></i>
										  </span>
											<input ng-model="bregisterForm.userAccreditationNumber" ng-init="bregisterForm.userAccreditationNumber = '<%= user.accreditationNumber %>'" ng-pattern="accreditationNumber" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-3 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Expiration</label>
										<div class="input-group">
										  <span class="input-group-addon">
											<i class="fa fa-phones"></i>
										  </span>
											<input ng-model="bregisterForm.userExpiration" ng-init="bregisterForm.userExpiration = '<%= user.licenseExpiration %>'" ng-pattern="expiration" type="text" class="form-control">

										</div>
									</div>
								</div>
								<hr class="bg-white hrDivide">
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Add BBB Link</label>
										<div class="input-group" ng-class="{'has-error':bregister.bbbLink.$invalid && bregister.bbbLink.$dirty}">
										  <span class="input-group-addon">
											<i class="fa fa-globe"></i>
										  </span>
											<input ng-model="bregisterForm.userBbbLink" ng-init="bregisterForm.userBbbLink = '<%= user.bbbLink %>'" ng-pattern="bbbLinkPattern" name="bbbLink" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Add your year founded</label>
										<div class="input-group">
										  <span class="input-group-addon">
											<i class="fa fa-calendar-plus-o"></i>
										  </span>
											<input ng-model="bregisterForm.userYearFounded" ng-init="bregisterForm.userYearFounded = '<%= user.yearFounded %>'" value="<%= user.yearFounded %>" type="text" class="form-control date-own">
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Add your languages</label>
										<div class="input-group">
										  <span class="input-group-addon">
											<i class="fa fa-mobiles"></i>
										  </span>
											<select ng-model="bregisterForm.userLanguage" ng-init="bregisterForm.userLanguage = '<%= user.language %>'; languages(bregisterForm.userLanguage)"
													ng-options="lang.languagesName for lang in language" class="weekday select-dropdown" id="categoryLanguaga"></select>
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Choose your line of work</label>
										<div class="input-group choose-line" ng-mouseleave="showSelectFunction(false)">
											  <span class="input-group-addon">
												<i class="fa fa-phones"></i>
											  </span>

											<!--<select ng-model="bregisterForm.userWorkLine"-->
											<!--ng-options="workline.workLines for workline in worklines track by workline.workLines | filter : searchWorkLines" class="weekday select-dropdown" id="categoryLine"></select>-->
											<!--<input ng-model="searchWorkLines" id="inputCategory" type="text" class="form-control" placeholder="{{bregisterForm.userWorkLine.workLines}}">-->

											<input ng-model="searchWorkLines" ng-keyup="clickButs(searchWorkLines);" id="inputCategory" type="text" class="form-control" style="display: none;">
											<div class="custom-dropdown">
												<div class="select-dropdown" id="categoryLine" ng-model="workLinesActive" ng-bind="workLinesActive" ng-click="showSelectFunction(true)"></div>
												<div class="select-dropdown-list" ng-show="showSelect">
													<div ng-repeat="workline in worklines | filter : searchWorkLines" ng-show="showSelect" ng-click="clickButs(workline.name); showSelectFunction(false); searchWorkLines = workline.name" class="elementInWorkline select-element active-element">{{workline.name}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
									<div class="col-md-12 padding-x-10">
										<label class="font-opensans-semibold font-size-16">Add your service</label>
										<div class="input-group">
										  <span class="input-group-addon">
											<i class="fa fa-plus-circle" ng-click="addService()"></i>
										  </span>
											<input ng-model="newService" ng-init="newService=''" type="text" placeholder="Home Interior" id="serviceAdd" value="" class="form-control">
										</div>
										<div class="clearfix height-15" ng-init="servicePushInArray('<%= user.services %>')"></div>
										<span ng-cloak class="tags font-size-13 font-opensans text-white radius-50 padding-y-7 padding-x-20" ng-model="serviceArray" ng-repeat="(key, value) in serviceArray track by $index">{{value.name}}<i ng-click="deleteService(key)" class="fa fa-times"></i></span>
									</div>
								</div>
								<hr class="bg-white hrDivide">
								<div class="row margin-0 col-md-12 padding-top-15 padding-x-20 bg-white">
									<div class="col-md-12 padding-x-10">
										<label class="font-opensans-semibold font-size-16">About Us </label>
										<div class="step-3 col-md-12">
											<textarea ng-model="bregisterForm.aboutUs" ng-init="bregisterForm.aboutUs = '<%= user.aboutUs %>'" name="aboutUs" style="white-space: pre;"></textarea>
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white padding-20">
									<label class="font-opensans-semibold font-size-16">Identity Photo</label>
									<div class="clearfix"></div>
									<div class="col-md-3 padding-x-10">
										<div class="upload-image-wrapper">
											<div class="upload-spinner" ng-show="profilePhotoGif" >
												<img src="images/loading.gif" alt="">
											</div>
											<div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50" ng-model="profilePhoto" ng-init="profilePhoto = '<%= user.profilePicture %>'" style="background-image: url('{{profilePhoto}}')">
												<center class="profilePhotoHolder" ng-show="!profilePhoto && !profilePhotoGif">
													<i class="fa fa-camera font-size-22"></i>
													<div class="clearfix"></div>
													<span>Upload Profile</span>
												</center>
												<center class="profilePhotoLoader hidden">
													<img src="/images/loading.gif"/>
												</center>
											</div>
											<input name="profilePhoto" accept="image/*" ng-model="bregisterForm.profilePhoto" id="profilePhoto" type="file" class="hidden">
										</div>
									</div>
									<div class="col-md-3 padding-x-10" ng-hide="userType=='Individual'">
										<div class="upload-image-wrapper">
											<div class="upload-spinner" ng-show="imageLogoGif">
												<img src="images/loading.gif" alt="">
											</div>
											<div class="upload-file-dropzone logo-upload bg-light-blue text-light-gray padding-34 padding-y-50" ng-model="imageLogo" ng-init="imageLogo = '<%= user.logoPhoto %>'" style="background-image: url('{{imageLogo}}')">
												<center class="logoPhotoHolder" ng-show="!imageLogo && !imageLogoGif">
													<i class="fa fa-fw font-size-22"></i>
													<div class="clearfix"></div>
													<span>Upload Logo</span>
												</center>
												<center class="hidden logoPhotoLoader">
													<img src="/images/loading.gif"/>
												</center>
											</div>
											<input name="logoPhoto" accept="image/*" ng-model="bregisterForm.logoPhoto" id="logoPhoto" type="file" class="hidden">
										</div>
									</div>
									<div class="col-md-6 padding-x-10">
										<div class="upload-image-wrapper">
											<div class="upload-spinner" ng-show="coverBannerGif">
												<img src="images/loading.gif" alt="">
											</div>
											<div class="upload-file-dropzone cover-banner-upload bg-light-orange text-light-gray padding-34 padding-y-50" ng-model="coverBanner" ng-init="coverBanner = '<%= user.bannerPicture %>'" style="background-image: url('{{coverBanner}}')">
												<center class="coverBannerHolder" ng-show="!coverBanner && !coverBannerGif">
													<i class="fa fa-picture-o font-size-22"></i>
													<div class="clearfix"></div>
													<span>Upload Cover Banner</span>
												</center>
												<center class="hidden coverBannerLoader">
													<img src="/images/loading.gif"/>
												</center>
											</div>
											<input name="coverBanner" accept="image/*" ng-model="bregisterForm.coverBanner" id="coverBanner" type="file" class="hidden">
										</div>
									</div>
									<div class="col-md-12 padding-25 bg-white">
										<center><button ng-click="submitChangedProfile()" id="start-registration" class="btn btn-default font-size-24 font-dinopro padding-x-100 padding-y-10" ng-disabled="bregister.$invalid">Submit</button></center>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
							<!--</div>-->


						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="clearfix height-30"></div>
		<div class="clearfix height-30"></div>
		<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
		<script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>
		<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
		<script type="text/javascript" src="/js/dependencies/mask.js"></script>
		<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
		<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
		<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/config.js"></script>
		<script type="text/javascript" src="/js/controllers/bissenesProfile.js"></script>
		<script type="text/javascript" src="/js/services/api.service.js"></script>
		<script type="text/javascript" src="/js/services/businessHours.service.js"></script>
		<script type="text/javascript" src="/js/services/datepicker.service.js"></script>
		<script type="text/javascript" src="/js/directive/delay.js"></script>
	</body>
</html>