<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/social-main.css" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="stylesheet" href="/styles/myproject-inner-user.css" />
    <link rel="stylesheet" href="/styles/myprojects.css" />
    <link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
    <link rel="stylesheet" href="/styles/step-4.css">

    <link rel="stylesheet" href="/styles/step-1.css">
    <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
    <script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>
</head>
<body class="index" ng-controller="publicBusiness" ng-init="userType = '<%= user.userType %>'" b-step-two>
<div id="page-wrapper">
    <% include ../common/topnav %>
    <div class="banner-company" style="background-image: url(<%= viewedUser.bannerPicture %>)">
        <div class="container banner-company-container">
            <div class="company-logo" ng-show="userType == 'Business'">
                <img src="<%= viewedUser.logoPhoto %>" alt="">
            </div>
            <div class="company-description">
                <h2><%= viewedUser.businessName %></h2>
                <!--<p>Handyman ServiceRemodeling Contractor-->
                    <!--Spring, TX</p>-->
            </div>
            <div class="banner-btns">
                <!--<div class="btn-fav">-->
                    <!--<i class="fa fa-heart" aria-hidden="true"></i> Favourite-->
                <!--</div>-->
                <!--<div class="btn-invite">-->
                    <!--<i class="fa fa-envelope" aria-hidden="true"></i> Invite To Job-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="container">
            <% include ../common/infosidebar %>
            <div class="middle-content col-md-9 padding-x-34">
                <div class="bg-white main-content profile-content padding-x-30">
                    <div class="about-section">
                        <div class="heading">
                            <div class="heading-content-info-public">
                                <h2>About</h2>
                            </div>
                        </div>
                        <pre class="aboutUser">
                            <%= viewedUser.aboutUs %>
                        </pre>
                    </div>
                    <div class="service-offered-section">
                        <div class="heading">
                            <div class="heading-content-info-public">
                                <h2>Services Offered</h2>
                            </div>
                        </div>
                        <div class="service-list">
                            <span ng-repeat="(key, value) in <%= viewedUser.services %> track by $index" class="tags font-size-13 font-opensans text-white radius-50">{{value}}</span>
                        </div>
                    </div>
                    <div class="service-area-section">
                        <div class="heading">
                            <div class="heading-content-info-public">
                                <h2>Service Area</h2>
                            </div>
                        </div>
                        <ng-map zoom="15" center="[<%= viewedUser.latitude %>, <%= viewedUser.longitute %>]">
                            <marker position="[<%= viewedUser.latitude %>, <%= viewedUser.longitute %>]" animation="DROP" draggable="true"></marker>
                        </ng-map>
                    </div>
                    <!--<div class="history-feedback-section">-->
                        <!--<div class="heading">-->
                            <!--<div class="heading-content-info-public">-->
                                <!--<h2>Work History & Feedback</h2>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="feedback-list">-->
                            <!--<div class="user-feedback padding-y-20">-->
                                <!--<div class="user-image-feedback">-->
                                    <!--<img src="<%= viewedUser.profilePicture %>" alt="">-->
                                <!--</div>-->
                                <!--<div class="position-feedback">-->
                                    <!--<p>Lorem ipsum dolor sit</p>-->
                                    <!--<p>Jun 2015 - Present-->
                                        <!--<span class="feedback-stars">-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                        <!--</span>-->
                                    <!--</p>-->
                                    <!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="user-feedback padding-y-20">-->
                                <!--<div class="user-image-feedback">-->
                                    <!--<img src="<%= viewedUser.profilePicture %>" alt="">-->
                                <!--</div>-->
                                <!--<div class="position-feedback">-->
                                    <!--<p>Lorem ipsum dolor sit</p>-->
                                    <!--<p>Jun 2015 - Present-->
                                        <!--<span class="feedback-stars">-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                        <!--</span>-->
                                    <!--</p>-->
                                    <!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="user-feedback padding-y-20">-->
                                <!--<div class="user-image-feedback">-->
                                    <!--<img src="<%= viewedUser.profilePicture %>" alt="">-->
                                <!--</div>-->
                                <!--<div class="position-feedback">-->
                                    <!--<p>Lorem ipsum dolor sit</p>-->
                                    <!--<p>Jun 2015 - Present-->
                                        <!--<span class="feedback-stars">-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                          <!--<i class="fa fa-star" aria-hidden="true"></i>-->
                                        <!--</span>-->
                                    <!--</p>-->
                                    <!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="view-more">-->
                            <!--View more <i class="fa fa-angle-right" aria-hidden="true"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>

                <!--<div class="related-services-section">-->
                    <!--<div class="heading">-->
                        <!--<div class="heading-content-info-public">-->
                            <!--<h2>Related Services</h2>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="rel-services-list">-->
                        <!--<div class="col-md-4 padding-10">-->
                            <!--<div class="rel-services-img">-->

                            <!--</div>-->
                            <!--<p>Home Interior</p>-->
                            <!--<p>Lets help tackle you to do list</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 padding-10">-->
                            <!--<div class="rel-services-img">-->

                            <!--</div>-->
                            <!--<p>Home Interior</p>-->
                            <!--<p>Lets help tackle you to do list</p>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 padding-10">-->
                            <!--<div class="rel-services-img">-->

                            <!--</div>-->
                            <!--<p>Home Interior</p>-->
                            <!--<p>Lets help tackle you to do list</p>-->
                        <!--</div>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</div>-->

            </div>

        </div>
    </div>
</div>
<div class="clearfix height-30"></div>
<div class="clearfix height-30"></div>
<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
<script type="text/javascript" src="/js/dependencies/mask.js"></script>
<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/bissenesProfile.js"></script>
<script type="text/javascript" src="/js/controllers/publickBusiness.controller.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<script type="text/javascript" src="/js/services/businessHours.service.js"></script>
<script type="text/javascript" src="/js/services/datepicker.service.js"></script>
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDl6lwlam_U1ZofuFFOQ8K9ydfzyGHxTWI"></script>
</body>
</html>