<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Uhome - Home based services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="stylesheet" href="/styles/registration.css">
    <link rel="stylesheet" href="/styles/step-1.css">
    <link rel="stylesheet" href="/styles/step-3.css">
    <link rel="stylesheet" href="/styles/step-4.css">
</head>
<body class="index" ng-controller="BregisterController">
<style>
    i.fa {
        color: #878a8f;
    }

    .content {
        background-color: #fff;
    }
</style>
<div class="page-wrapper" ng-cloak b-step-two>
    <div class="top-nav">
        <div class="container">
            <div class="first-container col-md-4 col-sm-3 col-xs-4 pull-left">
                    <div class="logo pull-left col-md-4 padding-top-10 padding-left-8">
                        <a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
                    </div>
            </div>
            <div class="user-info col-md-4 col-sm-6 col-xs-8 pull-right padding-top-25">
                Already have an account <a class="text-orange text-underlined" href="/login">Login</a>
            </div>
        </div>
    </div>
    <div class="content row">
        <form enctype="multipart/form-data" name="bregister" id="bregister-form" novalidate>
            <div
                    class="row margin-0 signup-header font-size-24 text-blue font-dinopro bg-anothers-blue col-md-12 padding-x-20 padding-y-10">
                <div class="col-md-12 col-sm-12 bg-anothers-blue">
            <span>
              <!-- <i class="fa fa-arrow-circle-left font-size-28"></i>  -->Create your account for UHome Expert
            </span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="signup-bodys">
                <center>
                    <div class="signup-heading margin-top-20 margin-bottom-20">
                        <h3 class="font-size-18 font-opensans-semibold">Select an option</h3>
                    </div>
                </center>
                <div class="row margin-0 col-md-12 padding-top-25 padding-0" style="">
                    <div class="btns">
                        <button type="button" ng-click="setUserType('Business'); hoursStyle()" class="signup-buttons btn-company margin-right-50">
                            <img src="/images/signup/company.png" alt="">
                            <span class="business-type">Company</span>
                        </button>
                        <button type="button" ng-click="setUserType('Individual'); hoursStyle()" class="signup-buttons btn-user">
                            <img src="/images/signup/user.png" alt="">
                            <span class="business-type">Individual</span>
                        </button>
                        <input class="hidden btn-companyRadio" type="radio" name="userType" value="Business" ng-model="bregisterForm.userType">
                        <input class="hidden btn-userRadio" type="radio" name="userType" value="Individual" ng-model="bregisterForm.userType">
                        <input type="hidden" ng-model="bregisterForm.email" id="email" name="email"/>
                        <input type="hidden" ng-model="bregisterForm.token" id="token" name="token"/>
                    </div>
                </div>
                <div class="col-md-12 padding-25 start-register-btn">
                    <center>
                        <button type="button" ng-disabled="!userTypeSelected" id="start-registration" class="btn btn-default font-size-24 font-dinopro padding-x-34 padding-y-15">
                            Start Registration Process
                        </button>
                    </center>
                </div>
            </div>
            <div class="signup-body-step2-company hidden">
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">First Name <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyFirstName.$invalid && bregister.companyFirstName.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input ng-model="bregisterForm.companyFirstName" required name="companyFirstName" id="companyFirstName" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyFirstName.$dirty">-->
                            <!--<span ng-show="bregister.companyFirstName.$error.required">First name is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Last Name <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyLastName.$invalid && bregister.companyLastName.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input ng-model="bregisterForm.companyLastName" required name="companyLastName" id="companyLastName" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyLastName.$dirty">-->
                            <!--<span ng-show="bregister.companyLastName.$error.required">Last name is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-9 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Street Address <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyStreetAddress.$invalid && bregister.companyStreetAddress.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-map-marker"></i>
                            </span>
                            <input ng-model="bregisterForm.companyStreetAddress" required name="companyStreetAddress" id="companyStreetAddress" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyStreetAddress.$dirty">-->
                            <!--<span ng-show="bregister.companyStreetAddress.$error.required">Street address is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-3 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Unit # <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyUnit.$invalid && bregister.companyUnit.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-userss"></i>
                            </span>
                            <input ng-model="bregisterForm.companyUnit" required name="companyUnit" id="companyUnit" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyUnit.$dirty">-->
                          <!--<span ng-show="bregister.companyUnit.$error.required">Unit # is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Business Name <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyBusinessName.$invalid && bregister.companyBusinessName.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-briefcase"></i>
                            </span>
                            <input ng-model="bregisterForm.companyBusinessName" required name="companyBusinessName" id="companyBusinessName" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyBusinessName.$dirty">-->
                          <!--<span ng-show="bregister.companyBusinessName.$error.required">Business name is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Zipcode <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyZipcode.$invalid && bregister.companyZipcode.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-map-o"></i>
                            </span>
                            <input ng-model="bregisterForm.companyZipcode" required ng-blur="validateZipcode()" name="companyZipcode" id="companyZipcode" type="text" class="form-control" placeholder="Must be within United States">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyZipcode.$dirty">-->
                          <!--<span ng-show="bregister.companyZipcode.$error.required">Zipcode is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">City <span class="required-marker">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-globe"></i>
                            </span>
                            <input ng-model="bregisterForm.companyCity" name="companyCity" type="text" class="form-control" readonly>
                            <input ng-model="bregisterForm.companyLng" name="companyLng" type="hidden" class="form-control" readonly>
                            <input ng-model="bregisterForm.companyLat" name="companyLat" type="hidden" class="form-control" readonly>
                            <input ng-model="bregisterForm.companyZipcodeStatus" name="companyZipcodeStatus" type="hidden" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">State <span class="required-marker">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-globe"></i>
                            </span>
                            <input ng-model="bregisterForm.companyState" name="companyState" type="text" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Business Phone Number</label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyBusinessPhone.$invalid && bregister.companyBusinessPhone.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-mobile"></i>
                            </span>
                            <input ng-model="bregisterForm.companyBusinessPhone" ui-mask="(+999)999-9999" name="companyBusinessPhone" id="companyBusinessPhone" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyBusinessPhone.$dirty">-->
                          <!--<span ng-show="bregister.companyBusinessPhone.$error.required">Business phone number is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Business EIN Number <i class="fa fa-info-circle text-blue"></i></label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyBusinessEIN.$invalid && bregister.companyBusinessEIN.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-phone"></i>
                            </span>
                            <input ng-model="bregisterForm.companyBusinessEIN" ui-mask="99-9999999" ui-mask-placeholder ui-mask-placeholder-char="_" name="companyBusinessEIN" id="companyBusinessEIN" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyBusinessEIN.$dirty">-->
                          <!--<span ng-show="bregister.companyBusinessEIN.$error.required">Business EIN is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Hourly Rate <span class="required-marker">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-usd"></i>
                            </span>
                            <select ng-model="bregisterForm.companyHourlyRate" name="companyHourlyRate" class="weekday select-dropdown" id="category">
                                <option value="">$</option>
                                <option selected="selected" value="$$">$$</option>
                                <option value="">$$$</option>
                                <option value="">$$$$</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Website URL</label>
                        <div class="input-group" ng-class="{'has-error':bregister.companyWebsiteURL.$invalid && bregister.companyWebsiteURL.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-link"></i>
                            </span>
                            <input ng-model="bregisterForm.companyWebsiteURL" name="companyWebsiteURL" id="companyWebsiteURL" type="text" ng-pattern="companyWebsiteUrlPattern" class="form-control" placeholder="www.example.com">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.companyWebsiteURL.$dirty">-->
                          <!--<span ng-show="bregister.companyWebsiteURL.$error.required">Website url is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Business Hours </label>
                        <div class="business-days">
                            <div class="day day1" ng-class="businessHoursSunStart=='Close'?'day-not-selected ':'day-selected'">SUN</div>
                            <select ng-model="businessHoursSunStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day1"  class="weekday day1-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursSunEnd" ng-hide="(businessHoursSunStart=='24hr'||businessHoursSunStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userSunEnd" class="weekday day1-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day2 " ng-class="businessHoursMonStart=='Close'?'day-not-selected ':'day-selected'">MON</div>
                            <select ng-model="businessHoursMonStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day2"  class="weekday day2-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursMonEnd" ng-hide="(businessHoursMonStart=='24hr'||businessHoursMonStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userMonEnd" class="weekday day2-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day3" ng-class="businessHoursTueStart=='Close'?'day-not-selected ':'day-selected'">TUE</div>
                            <select ng-model="businessHoursTueStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day3" class="weekday day3-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursTueEnd" ng-hide="(businessHoursTueStart=='24hr'||businessHoursTueStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userTueEnd" class="weekday day3-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day4" ng-class="businessHoursWedStart=='Close'?'day-not-selected ':'day-selected'">WED</div>
                            <select ng-model="businessHoursWedStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day4" class="weekday day4-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursWedEnd" ng-hide="(businessHoursWedStart=='24hr'||businessHoursWedStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userWedEnd" class="weekday day4-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day5 " ng-class="businessHoursThuStart=='Close'?'day-not-selected ':'day-selected'">THU</div>
                            <select ng-model="businessHoursThuStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day5" class="weekday day5-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursThuEnd" ng-hide="(businessHoursThuStart=='24hr'||businessHoursThuStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userThuEnd" class="weekday day5-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day6 " ng-class="businessHoursFriStart=='Close'?'day-not-selected ':'day-selected'">FRI</div>
                            <select ng-model="businessHoursFriStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day6" class="weekday day6-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursFriEnd" ng-hide="(businessHoursFriStart=='24hr'||businessHoursFriStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userFriEnd" class="weekday day6-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day7 " ng-class="businessHoursSatStart=='Close'?'day-not-selected ':'day-selected'">SAT</div>
                            <select ng-model="businessHoursSatStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day6" class="weekday day6-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursSatEnd" ng-hide="(businessHoursSatStart=='24hr'||businessHoursSatStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userSatEnd" class="weekday day6-end select-dropdown-2"></select>
                        </div>
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
                    <div class="col-md-6 padding-x-10">
                        <div class="pull-left">
                            <input ng-model="bregisterForm.userAlwaysOpen" ng-init="hoursPushInArray(userAlwaysOpen)" ng-checked="userAlwaysOpen" name="userAlwaysOpen" id="userAlwaysOpen" type="checkbox" ng-click="userAlwaysOpen = !userAlwaysOpen;  allTime(userAlwaysOpen)" class="pull-left">
                            <label ng-click="userAlwaysOpen = !userAlwaysOpen;  allTime(userAlwaysOpen)" class="padding-left-10" for="userAlwaysOpen"> Open 24 Hr.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-25">
                    <center>
                        <button id="step2-company-submit" class="btn btn-default font-size-24 font-dinopro padding-x-100 padding-y-10">Continue</button>
                    </center>
                </div>
            </div>
            <div class="signup-body-step2-user hidden">
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">First Name <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.userFirstName.$invalid && bregister.userFirstName.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input ng-model="bregisterForm.userFirstName" required name="userFirstName" id="userFirstName" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.userFirstName.$dirty">-->
                          <!--<span ng-show="bregister.userFirstName.$error.required">First name is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Last Name <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.userLastName.$invalid && bregister.userLastName.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-user"></i>
                            </span>
                            <input ng-model="bregisterForm.userLastName" required name="userLastName" id="userLastName" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.userLastName.$dirty">-->
                          <!--<span ng-show="bregister.userLastName.$error.required">Last name is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Street Address <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.userStreetAddress.$invalid && bregister.userStreetAddress.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-map-marker"></i>
                            </span>
                            <input ng-model="bregisterForm.userStreetAddress" required name="userStreetAddress"  id="userStreetAddress" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.userStreetAddress.$dirty">-->
                          <!--<span ng-show="bregister.userStreetAddress.$error.required">Street address is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Zipcode <span class="required-marker">*</span></label>
                        <div class="input-group" ng-class="{'has-error':bregister.userZipcode.$invalid && bregister.userZipcode.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-map-o"></i>
                            </span>
                            <input ng-model="bregisterForm.userZipcode" required ng-blur="validateZipcode()" name="userZipcode" id="userZipcode" type="text" class="form-control" placeholder="Must be within United States">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.userZipcode.$dirty">-->
                          <!--<span ng-show="bregister.userZipcode.$error.required">Zipcode is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">City <span class="required-marker">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-globe"></i>
                            </span>
                            <input ng-model="bregisterForm.userCity" readonly class="form-control">
                            <input ng-model="bregisterForm.userLng" name="userLng" type="hidden" class="form-control" readonly>
                            <input ng-model="bregisterForm.userLat" name="userLat" type="hidden" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">State <span class="required-marker">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-globe"></i>
                            </span>
                            <input ng-model="bregisterForm.userState" name="userState" readonly type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Work Phone Number </label>
                        <div class="input-group" ng-class="{'has-error':bregister.userWorkPhone.$invalid && bregister.userWorkPhone.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-mobile"></i>
                            </span>
                            <input ng-model="bregisterForm.userWorkPhone" ui-mask="(+999)999-9999" name="userWorkPhone" id="userWorkPhone" type="text" class="form-control">
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.userWorkPhone.$dirty">-->
                          <!--<span ng-show="bregister.userWorkPhone.$error.required">Work phone # is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Hourly Rate <span class="required-marker">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon">
                              <i class="fa fa-usd"></i>
                            </span>
                            <select ng-model="bregisterForm.userHourlyRate" name="userHourlyRate" class="weekday select-dropdown" id="category">
                                <option value="$">$</option>
                                <option value="$$">$$</option>
                                <option value="$$$">$$$</option>
                                <option value="$$$$">$$$$</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Website URL </label>
                        <div class="input-group" ng-class="{'has-error':bregister.userWebsiteURL.$invalid && bregister.userWebsiteURL.$dirty}">
                            <span class="input-group-addon">
                              <i class="fa fa-link"></i>
                            </span>
                            <input ng-model="bregisterForm.userWebsiteURL" name="userWebsiteURL" id="userWebsiteURL" type="text" class="form-control" placeholder="www.example.com">
                        </div>
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10">
                    <div class="col-md-6 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">Business Hours </label>
                        <div class="business-days">
                            <div class="day day1" ng-class="businessHoursSunStart=='Close'?'day-not-selected ':'day-selected'">SUN</div>
                            <select ng-model="businessHoursSunStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day1"  class="weekday day1-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursSunEnd" ng-hide="(businessHoursSunStart=='24hr'||businessHoursSunStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userSunEnd" class="weekday day1-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day2 " ng-class="businessHoursMonStart=='Close'?'day-not-selected ':'day-selected'">MON</div>
                            <select ng-model="businessHoursMonStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day2"  class="weekday day2-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursMonEnd" ng-hide="(businessHoursMonStart=='24hr'||businessHoursMonStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userMonEnd" class="weekday day2-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day3" ng-class="businessHoursTueStart=='Close'?'day-not-selected ':'day-selected'">TUE</div>
                            <select ng-model="businessHoursTueStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day3" class="weekday day3-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursTueEnd" ng-hide="(businessHoursTueStart=='24hr'||businessHoursTueStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userTueEnd" class="weekday day3-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day4" ng-class="businessHoursWedStart=='Close'?'day-not-selected ':'day-selected'">WED</div>
                            <select ng-model="businessHoursWedStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day4" class="weekday day4-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursWedEnd" ng-hide="(businessHoursWedStart=='24hr'||businessHoursWedStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userWedEnd" class="weekday day4-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day5 " ng-class="businessHoursThuStart=='Close'?'day-not-selected ':'day-selected'">THU</div>
                            <select ng-model="businessHoursThuStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day5" class="weekday day5-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursThuEnd" ng-hide="(businessHoursThuStart=='24hr'||businessHoursThuStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userThuEnd" class="weekday day5-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day6 " ng-class="businessHoursFriStart=='Close'?'day-not-selected ':'day-selected'">FRI</div>
                            <select ng-model="businessHoursFriStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day6" class="weekday day6-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursFriEnd" ng-hide="(businessHoursFriStart=='24hr'||businessHoursFriStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userFriEnd" class="weekday day6-end select-dropdown-2"></select>
                        </div>
                        <div class="business-days">
                            <div class="day day7 " ng-class="businessHoursSatStart=='Close'?'day-not-selected ':'day-selected'">SAT</div>
                            <select ng-model="businessHoursSatStart"
                                    ng-options="businessHour for businessHour in businessHours" data-id="day6" class="weekday day6-start select-dropdown-2" id="category"></select>
                            <select ng-model="businessHoursSatEnd" ng-hide="(businessHoursSatStart=='24hr'||businessHoursSatStart=='Close')"
                                    ng-options="businessHour for businessHour in businessHours" name="userSatEnd" class="weekday day6-end select-dropdown-2"></select>
                        </div>
                    </div>
                </div>
                <div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
                    <div class="col-md-6 padding-x-10">
                        <div class="pull-left">
                            <input ng-model="bregisterForm.userAlwaysOpen" ng-init="hoursPushInArray(userAlwaysOpen)" ng-checked="userAlwaysOpen" name="userAlwaysOpen" id="userAlwaysOpen" type="checkbox" ng-click="userAlwaysOpen = !userAlwaysOpen;  allTime(userAlwaysOpen)" class="pull-left">
                            <label ng-click="userAlwaysOpen = !userAlwaysOpen;  allTime(userAlwaysOpen)" class="padding-left-10" for="userAlwaysOpen"> Open 24 Hr.</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-25">
                    <center>
                        <button id="step2-user-submit" class="btn btn-default font-size-24 font-dinopro padding-x-100 padding-y-10">
                            Continue </button>
                    </center>
                </div>
            </div>
            <div class="signup-body-step3 hidden">
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16">About Us
                            <!--<span class="required-marker">*</span>-->
                        </label>
                        <div class="step-3 col-md-12">
                            <textarea ng-model="bregisterForm.aboutUs" name="aboutUs"></textarea>
                        </div>
                        <!--<span class="help-block has-error" ng-if="bregister.aboutUs.$dirty">-->
                          <!--<span ng-show="bregister.aboutUs.$error.required">About us is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="col-md-12 padding-25">
                    <center>
                        <button id="step3-submit" class="btn btn-default font-size-24 font-dinopro padding-x-100 padding-y-10">
                            Continue</i>
                        </button>
                    </center>
                </div>
            </div>
            <div class="signup-body-step4 hidden">
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20">
                    <label class="font-opensans-semibold font-size-16">Identity Photo</label>
                </div>
                <div class="row margin-0 col-md-12 padding-top-25 padding-x-20 blocks-wrapper">
                    <div class="profileImageContiner padding-x-10 col-sm-12">
                        <div class="upload-image-wrapper">
                            <div class="upload-spinner" ng-show="profilePhotoGif" >
                                <img src="images/loading.gif" alt="">
                            </div>
                            <div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50" style="background-image: url('{{profilePhoto}}')">
                                <center class="profilePhotoHolder" ng-show="!profilePhoto && !profilePhotoGif">
                                    <i class="fa fa-camera font-size-22"></i>
                                    <div class="clearfix"></div>
                                    <span>Upload Profile</span>
                                </center>
                                <center class="profilePhotoLoader hidden">
                                    <img src="/images/loading.gif"/>
                                </center>
                            </div>
                            <input required accept="image/*" name="profilePhoto" ng-model="bregisterForm.profilePhoto" id="profilePhoto" type="file" class="hidden">
                        </div>
                    </div>

                    <div class="logoImageContainer padding-x-10 col-sm-12">
                        <div class="upload-image-wrapper">
                            <div class="upload-spinner" ng-show="imageLogoGif">
                                <img src="images/loading.gif" alt="">
                            </div>
                            <div class="upload-file-dropzone logo-upload bg-light-blue text-light-gray padding-34 padding-y-50" style="background-image: url('{{imageLogo}}')">
                                <center class="logoPhotoHolder" ng-show="!imageLogo && !imageLogoGif">
                                    <i class="fa fa-fw font-size-22"></i>
                                    <div class="clearfix"></div>
                                    <span>Upload Logo</span>
                                </center>
                                <center class="hidden logoPhotoLoader">
                                    <img src="/images/loading.gif"/>
                                </center>
                            </div>
                            <input required accept="image/*" name="logoPhoto" ng-model="bregisterForm.logoPhoto" id="logoPhoto" type="file" class="hidden">
                        </div>
                    </div>
                    <div class="uploadCoverContainer col-md-12 padding-x-10 col-sm-12">
                        <div class="upload-image-wrapper">
                            <div class="upload-spinner" ng-show="coverBannerGif">
                                <img src="images/loading.gif" alt="">
                            </div>
                            <div class="upload-file-dropzone cover-banner-upload bg-light-orange text-light-gray padding-34 padding-y-50" style="background-image: url('{{coverBanner}}')">
                                <center class="coverBannerHolder" ng-show="!coverBanner && !coverBannerGif">
                                    <i class="fa fa-picture-o font-size-22"></i>
                                    <div class="clearfix"></div>
                                    <span>Upload Cover Banner</span>
                                </center>
                                <center class="hidden coverBannerLoader">
                                    <img src="/images/loading.gif"/>
                                </center>
                            </div>
                            <input required accept="image/*" name="coverBanner" ng-model="bregisterForm.coverBanner" id="coverBanner" type="file" class="hidden">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-25">
                    <center>
                        <!-- Disable login button until the form has no errors -->
                        <input type="button" style="margin: 5px;" class="btn btn-orange bg-orange text-white quick-login-form-button pull-center" ng-disabled="isDisabled" ng-click="submitRegistrationForm()" value="Almost Done">
                    </center>
                </div>
            </div>
            <div class="signup-body2 hidden">
                <div class="short-buttons">
                    <div class="icon1 text-light-gray" style="width: 174px;margin: 0 auto; padding-top: 70px;padding-bottom: 70px;">
                        <i class="fa fa-briefcase"></i> <span>Business</span>
                    </div>
                    <center>
                        <button class="btn btn-primary font-size-24 font-dinopro padding-x-100 padding-y-15" style="letter-spacing: 10;">Sign Up</button>
                    </center>
                </div>
            </div>
        </form>
    </div>
    <div id="footer">
        <center>
            <ul>
                <li>
                    <a href="">About Us</a>
                </li>
                <li>
                    <a href="">Leadership</a>
                </li>
                <li>
                    <a href="">Press</a>
                </li>
                <li>
                    <a href="">Career</a>
                </li>
                <li>
                    <a href="">Terms &amp; Privacy</a>
                </li>
            </ul>
            <p class="font-size-13 text-light-gray">© Uhome 2016. All Rights Reserved</p>
        </center>
    </div>
</div>
</body>
</html>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.1.6.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/public/BregisterModule.js"></script>
<script src="/js/directive/bregisterStep2.js"></script>
<script src="/js/dependencies/ng-file-upload.min.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/lib/moment.min.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="/libs/fullcalendar/gcal.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script type="text/javascript" src="/js/services/businessHours.service.js"></script>
<script type="text/javascript" src="/js/services/datepicker.service.js"></script>
<script type="text/javascript" src="/js/directive/delay.js"></script>
<!--<script src="/js/custom/businessRegistration.js"></script>-->
<script type="text/javascript" src="/js/custom/contractorDashboard.js"></script>