<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uhome - Home based services</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/social-main.css" />
  <link rel="stylesheet" href="assets/css/registration.css">
  <link rel="stylesheet" href="assets/css/find-contractor.css">
  <link rel="stylesheet" href="assets/css/profile-company.css">
  <link rel="stylesheet" href="assets/css/photogallery.css" />
</head>
<body class="index">
<div class="page-wrapper">
    <% include ../common/topnav %>
  <div class="container">
    <div class="contractor-info margin-0 row col-md-12" style="margin-top: 270px !important;">
      <div class="row margin-0">
        <div class="user-img col-md-2">
          <img src="/images/contractor/img-user-icon.png" class="img-responsive border-gray-1" alt="">
        </div>
        <div class="col-md-6">
          <div class="row margin-0 col-md-12 padding-10">
            <div class="col-md-9">
              <div class="font-size-36 text-white font-dinopro pull-left">Js Enterprise Remodeling</div>
            </div>
            <div class="col-md-3 padding-left-10 margin-top-10">
              <ul class="margin-0">
                <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
                <li class="display-inline"><i class="fa fa-star text-yellow"></i></li>
              </ul>
              <span class="text-white font-opensans font-size-14">(20 Reviews)</span>
            </div>
          </div>
          <div class="row margin-0 col-md-12 padding-left-15">
            <div class="col-md-9">
              <div class="font-size-18 text-white font-opensans">Handyman ServiceRemodeling Contractor</div>
              <div class="text-white font-opensans font-size-18">Spring, TX</div>
            </div>
          </div>
          <div class="row margin-0 col-md-12 padding-top-11">
            <ol class="breadcrumb padding-y-20 radius-0 col-md-11 padding-x-20">
              <li><a class="font-opensans" href="#">UHome</a></li>
              <li><a class="font-opensans" href="#">Spring Handymen Service</a></li>
              <li class="font-opensans active">Js Enterprise Remodeling</li>
            </ol>
            <div class="col-md-1">
              <img src="/images/icon-set/breadcrumb.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contractor-info-mobile margin-0 row col-md-12" style="margin-top: 120px !important;">
      <div class="company-data" style="margin: 0 auto; width: 320px;">
        <center>
          <div class="row margin-0 clearfix img-container" style="margin: 0 auto; width: 320px;">
            <img src="/images/contractor/img-user-icon.png" style="width: 128px; height: 128px; margin: 0 auto;" alt="">
          </div>
          <div class="clearfix"></div>
          <div class="row margin-0 clearfix">
            <h3 class="font-size-27 font-dinopro margin-0 padding-y-5 text-white">Js Enterprise Remodeling</h3>
            <span class="clearfix font-size-12 font-opensans text-white">Handyman ServiceRemodeling Contractor Spring, TX</span>
          </div>
        </center>
      </div>
    </div>
    <div class="hire-now col-md-12 padding-20 row margin-0">
      <div class="col-md-12">
        <div class="captions col-md-8 col-sm-6 col-xs-6">
          <h3 class="font-size-34 margin-0 font-dinopro text-white">Let us do the work</h3>
          <p class="margin-0 text-white font-opensans font-size-14">Exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
        <div class="hire-now-btn btns col-md-4 col-sm-6 col-xs-6">
          <button class="hire-now-actual-button pull-right btn btn-default padding-x-100 padding-y-10">Hire Now</button>
        </div>
      </div>
      <div class="extra-buttons">
        <div class="row margin-0">
          <center>
            <button style="width: 290px;height: 55px;" class="btn btn-default font-size-26 font-dinopro text-uppercase">hire now</button>
          </center>
        </div>
        <div class="row margin-0">
          <center>
            <button style="width: 290px;height: 55px;" class="btn btn-primary bg-green font-size-26 font-dinopro text-uppercase">invite</button>
          </center>
        </div>
      </div>
    </div>
    <div class="clearfix height-30"></div>
    <div class="row margin-0">
      <div class="col-md-12 bg-white box-shadow padding-x-10 padding-y-20">
        <div class="row margin-0 col-md-12">
          <div class="col-md-9">
            <h3 class="font-size-30 margin-0 font-dinopro padding-x-10">Our Projects</h3>
            <p class="padding-x-10 font-opensans">Far far away, behind the word mountains, far from the countries separated they live in Bookmarks ocean. </p>
          </div>
          <div class="col-md-3">
            <div class="input-group" style="float: right;width: 100%;padding-top: 10px;">
              <select data-id="day1" class="weekday day1-start select-dropdown-2">
                <option selected value="Close">Sort by project category</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row margin-0">
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 padding-y-10 gallery-photo-album">
            <div class="view view-first">
              <img src="/images/photo/spice-photo.png" />
              <div class="mask text-white">
                <h2>
                  <i class="fa fa-camera text-white">
                    <div class="clearfix"></div>
                    48
                  </i>
                </h2>
                <p>Home Expert</p>
                <a href="#" class="btn btn-default">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
  <div class="clearfix height-56"></div>
  <div id="footer">
    <center>
      <ul>
        <li>
          <a href="">About Us</a>
        </li>
        <li>
          <a href="">Leadership</a>
        </li>
        <li>
          <a href="">Press</a>
        </li>
        <li>
          <a href="">Career</a>
        </li>
        <li>
          <a href="">Terms &amp; Privacy</a>
        </li>
      </ul>
      <p class="font-size-13 text-light-gray">© Uhome 2016. All Rights Reserved</p>
    </center>
  </div>
</div>
</body>
</html>
<script src="assets/js/jquery.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/controllers/bissenesProfile.js"></script>
<script type="text/javascript" src="/js/services/api.service.js"></script>
<script type="text/javascript" src="/js/services/businessHours.service.js"></script>
<script type="text/javascript" src="/js/services/datepicker.service.js"></script>
<script type="text/javascript" src="/js/directive/delay.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<style>
  .select-dropdown-2 {
    width: 100%;
    padding: 5px;
    background: transparent url("/images/icon-set/select-arrows.png") no-repeat right 5px top 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
  }
</style>
<div class="notification-body">
  <div class="row margin-0 head padding-x-20 padding-y-10 bg-light-blue col-md-12">
    <div class="col-md-6 pull-left">
			<span class="font-opensansbold font-size-14">
				NOTIFICATIONS
			</span>
    </div>
    <div class="col-md-6 pull-right">
      <span class="font-size-12 font-opensans text-orange">Mark All Read</span>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row margin-0">
    <ul class="margin-0 bg-white">
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-light-orange">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user-6.png" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-15 font-opensans"><b>Atif</b> replied to your comment on <b>I Love Shahid Afridi</b>'s photo.</span>
            <span class="clearfix font-size-11 text-light-gray font-opensans">Friday, December 18, 2015 at 4:31pm
							<div class="pull-right">
								<span data-toggle="tooltip" data-placement="top" title="New" class="fa fa-circle-o text-orange"></span>
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user-6.png" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-15 font-opensans"><b>Atif</b> replied to your comment on <b>I Love Shahid Afridi</b>'s photo.</span>
            <span class="clearfix font-size-11 text-light-gray font-opensans">Friday, December 18, 2015 at 4:31pm
							<div class="pull-right">
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user-6.png" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-15 font-opensans"><b>Atif</b> replied to your comment on <b>I Love Shahid Afridi</b>'s photo.</span>
            <span class="clearfix font-size-11 text-light-gray font-opensans">Friday, December 18, 2015 at 4:31pm
							<div class="pull-right">
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-light-orange">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user-6.png" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-15 font-opensans"><b>Atif</b> replied to your comment on <b>I Love Shahid Afridi</b>'s photo.</span>
            <span class="clearfix font-size-11 text-light-gray font-opensans">Friday, December 18, 2015 at 4:31pm
							<div class="pull-right">
								<span data-toggle="tooltip" data-placement="top" title="New" class="fa fa-circle-o text-orange"></span>
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="row margin-0 padding-10">
      <button class="col-md-12 width-auto btn btn-default font-size-14"><a class="text-decoration-none text-white text-uppercase" href=""> See All </a></button>
    </div>
  </div>
</div>
<div class="message-body">
  <div class="row margin-0 head padding-x-20 padding-y-10 bg-light-blue col-md-12">
    <div class="col-md-6 pull-left">
			<span class="font-opensansbold font-size-14 text-uppercase">
				Message Requests (2)
			</span>
    </div>
    <div class="col-md-6 pull-right">
      <span class="font-size-14 font-opensans text-orange">Mark All Read <span><i class="fa fa-plus-square text-orange"></i></span></span>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row margin-0">
    <ul class="margin-0 bg-white">
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-extra-light-blue">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user2-profile-icon.png" style="width: 58px;height: 58px;" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-16 font-opensans"><b>Atif Saleem</b></span>
            <span class="clearfix font-size-14 small-caption font-opensans">Lorem Ipsum, giving information on its origins, as
							<div class="pull-right">
								<span data-toggle="tooltip" data-placement="top" title="New" class="fa fa-circle-o text-green"></span>
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-extra-light-blue">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user-img-4.png" style="width: 58px;height: 58px;" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-16 font-opensans"><b>Atif Saleem</b></span>
            <span class="clearfix font-size-14 small-caption font-opensans">Lorem Ipsum, giving information on its origins, as
							<div class="pull-right">
								<span data-toggle="tooltip" data-placement="top" title="New" class="fa fa-circle-o text-green"></span>
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-extra-light-blue">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/contractor-img.png" style="width: 58px;height: 58px;" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-16 font-opensans"><b>Atif Saleem</b></span>
            <span class="clearfix font-size-14 small-caption font-opensans">Lorem Ipsum, giving information on its origins, as
							<div class="pull-right">
								<span data-toggle="tooltip" data-placement="top" title="New" class="fa fa-circle-o text-green"></span>
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-extra-light-blue active">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user2-profile-icon.png" style="width: 58px;height: 58px;" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-16 font-opensans"><b>Atif Saleem</b></span>
            <span class="clearfix font-size-14 font-opensans">Lorem Ipsum, giving information on its origins, as
							<div class="pull-right">
								<span data-toggle="tooltip" data-placement="top" title="New" class="fa fa-circle-o"></span>
								<span class="fa fa-times"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
      <li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-extra-light-blue">
        <div class="row margin-0 notification-message">
          <div class="img-container col-md-2 pull-left margin-right-10">
            <img class="img-responsive" src="/images/user/user-img-4.png" style="width: 58px;height: 58px;" alt="">
          </div>
          <div class="message-container col-md-10 padding-5">
            <span class="font-size-16 font-opensans"><b>Atif Saleem</b></span>
            <span class="clearfix font-size-14 small-caption font-opensans">Lorem Ipsum, giving information on its origins, as
							<div class="pull-right">
								<span data-toggle="tooltip" data-placement="top" title="New" class="fa fa-circle-o text-green"></span>
								<span class="fa fa-times text-gray"></span>
							</div>
						</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="row margin-0 padding-10">
      <button class="col-md-12 width-auto btn btn-default font-size-14"><a class="text-decoration-none text-white text-uppercase" href=""> See All </a></button>
    </div>
  </div>
</div>
<div class="search-body">
  <div class="padding-10 row margin-0 bg-extra-light-blue">
    <input type="text" id="mini-search-box" placeholder="What you are looking for?" class="width-auto padding-10">
  </div>
  <div class="row margin-0">
    <div class="search-dialoug mini-dialoug bg-white hidden">
      <ul class="row col-md-12 margin-0 bg-white">
        <li>
          <div class="row">
            <div class="img-container col-md-2">
              <img class="img-responsive" src="/images/contractor/badge-contractor.png" alt="">
            </div>
            <div class="col-md-8">
              <span class="result-answer font-size-16 font-opensans-semibold">Deep Clean</span>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="img-container col-md-2">
              <img class="img-responsive" src="/images/contractor/contractor-img-1.png" alt="">
            </div>
            <div class="col-md-8">
              <span class="result-answer font-size-16 font-opensans-semibold">General Cleaning</span>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="img-container col-md-2">
              <img class="img-responsive" src="/images/contractor/contractor-img-2.png" alt="">
            </div>
            <div class="col-md-8">
              <span class="result-answer font-size-16 font-opensans-semibold">Spring Cleaning</span>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="img-container col-md-2">
              <img class="img-responsive" src="/images/contractor/contractor-img-3.png" alt="">
            </div>
            <div class="col-md-8">
              <span class="result-answer font-size-16 font-opensans-semibold">Carpet Cleaning</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="right-panel-body">
  <div class="row margin-0 col-md-12 padding-15 bg-theme-blue">
    <div class="col-md-2 pull-left padding-y-10 margin-right-10">
      <img src="/images/user/user-5.png" class="img-responsive border-white-5" alt="">
    </div>
    <div class="col-md-8">
      <h3 class="font-size-24 font-dinopro margin-0 text-white">Dawn Johnson</h3>
      <span class="font-size-13 font-opensans text-white">
				Upper Kirby and Richmond
				<br>
				77098
			</span>
    </div>
  </div>
  <div class="row margin-0 head padding-x-20 padding-y-10 bg-light-blue col-md-12">
    <div class="col-md-12 pull-left">
			<span class="font-dinopro font-size-14">
				DASHBOARD
			</span>
    </div>
  </div>
  <div class="row margin-0">
    <ul class="margin-0">
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-envelope"></i>
        My Messages
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a class="text-black text-decoration-none" href="profile-user.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-user"></i>
          My Profile
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a class="text-black text-decoration-none" href="profile-company-dashboard-myprojects.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-question-circle"></i>
          My Projects
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-users"></i>
        My Groups
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-picture-o"></i>
        My Gallery
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a  class="text-black text-decoration-none" href="user-timeline.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-newspaper-o"></i>
          News Feed
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-briefcase"></i>
        Find Businesses
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a  class="text-black text-decoration-none" href="user-recommendation.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-user"></i>
          Recommendations
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a  class="text-black text-decoration-none" href="user-timeline.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-flash"></i>
          Trending
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-briefcase"></i>
        Recent Activity
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a  class="text-black text-decoration-none" href="user-recommendation.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-user-plus"></i>
          Invite
        </a>
      </li>
    </ul>
  </div>
  <div class="row margin-0 head padding-x-20 padding-y-10 bg-light-blue col-md-12">
    <div class="col-md-12 pull-left">
			<span class="font-dinopro text-uppercase font-size-14">
				Settings
			</span>
    </div>
  </div>
  <div class="row margin-0">
    <ul class="margin-0">
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
        Edit Profile
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a class="text-black text-decoration-none" href="profile-user.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
          Create Group
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a class="text-black text-decoration-none" href="profile-company-dashboard-myprojects.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
          Manage Group
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
        Activity Logs
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
        Settings
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a  class="text-black text-decoration-none" href="user-timeline.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
          Privacy Settings
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
        Help
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a  class="text-black text-decoration-none" href="user-recommendation.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
          Report a Problem
        </a>
      </li>
      <li class="item padding-y-10 padding-x-20 bg-white-veri font-opensans">
        <a  class="text-black text-decoration-none" href="user-recommendation.html">
          <i style="width: 15px;" class="margin-right-10 text-blue fa fa-chevron-right"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
<script>
  $(".timeline-icon").click(function() {
    $(".message-body, .notification-body, .search-body, .right-panel-body").addClass('hidden').css('display','none');
    $(".page-content").removeClass('hidden').css('display','block');
  });
  $(".notification-icon").click(function() {
    $(".message-body, .page-content, .search-body, .right-panel-body").addClass('hidden').css('display','none');
    $(".notification-body").removeClass('hidden').css('display','block');
  });
  $(".messages-icon").click(function() {
    $(".notification-body, .page-content, .search-body, .right-panel-body").addClass('hidden').css('display','none');
    $(".message-body").removeClass('hidden').css('display','block');
  });
  $(".search-icon").click(function() {
    $(".notification-body, .page-content, .message-body, .right-panel-body").addClass('hidden').css('display','none');
    $(".search-body").removeClass('hidden').css('display','block');
  });
  $(".right-panel").click(function() {
    $(".notification-body, .page-content, .message-body, .search-body").addClass('hidden').css('display','none');
    $(".right-panel-body").removeClass('hidden').css('display','block');
  });
  $(".message-body li").mouseover(function() {
    $(".message-body").children('li').removeClass('active');
    $(this).addClass('active');
  });
  $(".message-body li").mouseleave(function() {
    $(".message-body li").removeClass('active');
  });
  $("#mini-search-box").click(function() {
    $(".mini-dialoug").removeClass('hidden');
  });
  $(".mini-dialoug").mouseleave(function() {
    $(".mini-dialoug").addClass('hidden');
  });
  $(".mobile-icons").click(function() {
    $(".mobile-icons").removeClass('active');
    $(this).addClass('active');
  });
  $(".notification-body, .message-body, .search-body, .right-panel-body").addClass('hidden').css('display','none');
</script>
