<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/ads-step1.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include topnav %>
			<div class="page-content">
				<div class="container">
					<div class="col-md-12 col-xs-12 padding-0">
						<div class="row margin-0">
							<div class="col-md-4">
								<hr>
							</div>
							<div class="col-md-4 font-size-28 font-dinopro"><center>Select a campaign objective</center></div>
							<div class="col-md-4">
								<hr>
							</div>
						</div>
						<div class="clearfix height-30"></div>
						<div class="campaigns padding-y-40 bg-white">
							<div class="row margin-0 bg-white padding-x-34 padding-top-10">
								<div class="col-md-3"></div>
								<div class="col-md-7">
									<div class="campaign row margin-0 padding-20">
										<div class="col-md-7 pull-left padding-0">
											<span class="font-size-18 font-dinopro text-black">Website clicks or conversions</span>
											<div class="clearfix"></div>
											<span class="font-size-13 font-opensans text-light-gray">Send people to your site (to purchase, sign up etc.</span>
										</div>
										<div class="col-md-4 pull-right">
											<div class="btns padding-top-10">
												<a href="" class="pull-right btn btn-primary font-size-16 font-dinopro padding-x-34">Select</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="row margin-0 bg-white padding-x-34 padding-top-10">
								<div class="col-md-3"></div>
								<div class="col-md-7">
									<div class="campaign row margin-0 padding-20">
										<div class="col-md-7 pull-left padding-0">
											<span class="font-size-18 font-dinopro text-black">Website clicks or conversions</span>
											<div class="clearfix"></div>
											<span class="font-size-13 font-opensans text-light-gray">Send people to your site (to purchase, sign up etc.</span>
										</div>
										<div class="col-md-4 pull-right">
											<div class="btns padding-top-10">
												<a href="" class="pull-right btn btn-primary font-size-16 font-dinopro padding-x-34">Select</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="row margin-0 bg-white padding-x-34 padding-top-10">
								<div class="col-md-3"></div>
								<div class="col-md-7">
									<div class="campaign row margin-0 padding-20">
										<div class="col-md-7 pull-left padding-0">
											<span class="font-size-18 font-dinopro text-black">Website clicks or conversions</span>
											<div class="clearfix"></div>
											<span class="font-size-13 font-opensans text-light-gray">Send people to your site (to purchase, sign up etc.</span>
										</div>
										<div class="col-md-4 pull-right">
											<div class="btns padding-top-10">
												<a href="" class="pull-right btn btn-primary font-size-16 font-dinopro padding-x-34">Select</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="row margin-0 bg-white padding-x-34 padding-top-10">
								<div class="col-md-3"></div>
								<div class="col-md-7">
									<div class="campaign row margin-0 padding-20">
										<div class="col-md-7 pull-left padding-0">
											<span class="font-size-18 font-dinopro text-black">Website clicks or conversions</span>
											<div class="clearfix"></div>
											<span class="font-size-13 font-opensans text-light-gray">Send people to your site (to purchase, sign up etc.</span>
										</div>
										<div class="col-md-4 pull-right">
											<div class="btns padding-top-10">
												<a href="" class="pull-right btn btn-primary font-size-16 font-dinopro padding-x-34">Select</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="row margin-0 bg-white padding-x-34 padding-top-10">
								<div class="col-md-3"></div>
								<div class="col-md-7">
									<div class="campaign row margin-0 padding-20">
										<div class="col-md-7 pull-left padding-0">
											<span class="font-size-18 font-dinopro text-black">Website clicks or conversions</span>
											<div class="clearfix"></div>
											<span class="font-size-13 font-opensans text-light-gray">Send people to your site (to purchase, sign up etc.</span>
										</div>
										<div class="col-md-4 pull-right">
											<div class="btns padding-top-10">
												<a href="" class="pull-right btn btn-primary font-size-16 font-dinopro padding-x-34">Select</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
	<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
<% include dropdowns %>