<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
		<link rel="stylesheet" href="/styles/myproject-inner-user.css" />
		<link rel="stylesheet" href="/styles/myprojects.css" />
		<link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
		<link rel="stylesheet" href="/styles/step-4.css">
		<link rel="stylesheet" href="/styles/recommendation.css" />
		<link rel="stylesheet" href="/styles/inner-openprojects.css" />
		<link rel="stylesheet" href="/styles/myteam.css" />
		<link rel="stylesheet" href="/styles/badge.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include topnav %>
			<div class="page-content" style="margin-top: 0px !important;">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-6 padding-x-34 padding-top-35 user-profile-details">
						<div class="row margin-0">
							<div class="row margin-0 col-md-12 text-white padding-y-10 bg-cyanish-gray">
								<span class="font-size-22 font-dinopro padding-x-20 ">Widget Preview</span>
							</div>
							<div class="row margin-0 col-md-12 bg-white padding-20">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<div class="contractor-badge  bg-theme-blue">
										<div class="user-img padding-top-85">
											<center>
												<img src="<%= req.session.User.profilePicture %>" style="width: 121px; height: 121px;border-radius: 50%;" alt="">
												<div class="clearfix"></div>
												<div class="font-size-22 text-white margin-y-10 font-opensans">
													I &amp; M Electric
												</div>
												<ul class="padding-x-5 rating-stars text-yellow padding-y-10 bg-white radius-25">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
													<li class="text-light-gray">(15)</li>
												</ul>
											</center>
										</div>
										<div class="row margin-0 padding-top-5">
											<div class="col-md-4">
												<center>
													<span class="font-opensansbold font-size-22 text-white">
														A+
													</span>
													<div class="clearfix"></div>
													<span class="font-opensans font-size-12 text-white">
														BBB <span class="clearfix"></span>RATING
													</span>
												</center>
											</div>
											<div class="col-md-4">
												<center>
													<span class="font-opensansbold font-size-22 text-white">
														17
													</span>
													<div class="clearfix"></div>
													<span class="font-opensans font-size-12 text-white">
														COMMUNITY REVIEW
													</span>
												</center>
												
											</div>
											<div class="col-md-4">
												<center>
													<span class="font-opensansbold font-size-22 text-white">
														7
													</span>
													<div class="clearfix"></div>
													<span class="font-opensans font-size-12 text-white">
														YEARS IN BUSINESS
													</span>
												</center>
												
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="row margin-0 bg-white padding-20">
								<div class="heading col-md-6 col-sm-6 col-xs-6">
									<div class="font-size-20 font-dinopro text-black">
										Profile Summary
									</div>
								</div>
								<div class="heading col-md-6 col-sm-6 col-xs-6">
									<div class="font-size-12 font-opensans text-black padding-top-10 pull-right">
										<a href="">VIEW FULL PROFILE</a>
									</div>
								</div>
							</div>
							<div class="row margin-0 bg-white padding-x-20 padding-y-10">
								<input type="checkbox"> <span class="padding-left-10 font-size-16 font-opensans text-light-gray">BBB Rating</span>
							</div>
							<div class="row margin-0 bg-white padding-x-20 padding-y-10">
								<input type="checkbox"> <span class="padding-left-10 font-size-16 font-opensans text-light-gray">Reviews</span>
							</div>
							<div class="row margin-0 bg-white padding-x-20 padding-y-10">
								<input type="checkbox"> <span class="padding-left-10 font-size-16 font-opensans text-light-gray">Years in business</span>
							</div>
							<div class="row margin-0 bg-white padding-20">
								<center>
									<a class="btn btn-default font-size-20 font-dinopro padding-x-34 padding-y-10">Generate Widget Code</a>
								</center>
							</div>
						</div>

						<div class="row margin-0">
							<div class="clearfix height-40"></div>
							<div class="row margin-0 col-md-12 text-white padding-y-10 bg-cyanish-gray">
								<span class="font-size-22 font-dinopro padding-x-20 ">Widget Preview</span>
							</div>
							<div class="row margin-0 col-md-12 bg-white padding-20">
								<div class="col-md-2"></div>
								<div class="col-md-8">
									<div class="contractor-badge-2 bg-blue-2">
										<div class="user-img">
											<center>
												<div class="row margin-0 col-md-12 text-white padding-y-10">
													<span class="font-size-22 font-opensans-semibold padding-x-16 ">Review Me on UHome</span>
												</div>
												<div class="row margin-0 col-md-12 bg-theme-blue">
													<div class="col-md-6">
														<span class="font-size-66 text-white font-opensansbold">
															5.0
														</span>
													</div>
													<div class="col-md-6 margin-top-25">
														<ul class="padding-x-5 margin-0 rating-stars text-yellow padding-y-10 bg-green radius-25">
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-half"></i></li>
														</ul>
														<center class="text-white font-size-12 font-opensans">(15) Reviews</center>
													</div>
												</div>
												<div class="row margin-0 col-md-12 bg-blue-2 padding-10">
													<div class="col-md-3">
														<img style="border: 5px solid #1b5481;border-radius: 50%;width: 52px; height: 52px;" class="img-responsive" src="<%= req.session.User.profilePicture %>" alt="">
													</div>
													<div class="col-md-9 text-white">
														<span class="font-size-22 font-opensans pull-left">
															Micheal Durant
														</span>
														<div class="cleafix"></div>
														<ul style="width:95px" class="margin-0 rating-stars text-yellow bg-blue-2 radius-25 pull-left">
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star"></i></li>
															<li><i class="fa fa-star-half"></i></li>
														</ul>
													</div>
												</div>
												<div class="clearfix"></div>
											</center>
											<div class="clearfix"></div>
											<div class="row margin-0 bg-blue-2 padding-20">
												<span class="font-size-16 font-opensans-semibold text-white">
													My Experience
												</span>
												<div class="clearfix"></div>
												<span class="font-size-12 font-opensans text-white">
													Citation ullamco laboris enim ad minim veniam exercitation. Eanding Conract enim ad minim veniam, quis Eanding. .ad minim veniam, quis. 
												</span>
											</div>
											<div class="row margin-0">
												<div class="col-md-12">
														<ul style="width: 95px" class="centered rating-stars text-white bg-blue-2 radius-25 padding-y-15">
															<li><i class="fa fa-circle font-size-9"></i></li>
															<li><i class="fa fa-circle font-size-9"></i></li>
															<li><i class="fa fa-circle font-size-9 text-orange"></i></li>
															<li><i class="fa fa-circle font-size-9"></i></li>
															<li><i class="fa fa-circle font-size-9"></i></li>
														</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
							<div class="row margin-0 bg-white padding-x-20 padding-y-10">
								<center>
									<span><a href="" class="font-size-12 font-opensans">TOP MEDIA ELECTRICIAN</a></span>
								</center>
							</div>
							<div class="row margin-0 bg-white padding-20">
								<center>
									<a class="btn btn-default font-size-20 font-dinopro padding-x-34 padding-y-10">Generate Widget Code</a>
								</center>
							</div>
						</div>
					</div>
					<div class="sidebar right-sidebar col-md-3 user-profile-details">
						<div class="clearfix height-40"></div>
						<div class="row margin-0 col-md-12 text-black bg-white padding-20">
							<span class="font-size-18 font-dinopro">How to add UHome Badge to your website</span>
						</div>
						<div class="bg-white">
							<div class="row margin-0 col-md-12 padding-x-20 bg-white">
								<div class="col-md-12 font-opensans text-gray">
									<p>Eanding Conract enim ad minim veniam, quis nostrud exercitation ullamco laboris enim ad minim veniam exercitation ullamco laboris eveniam, quis nostrud exercitation ullamco laboris .Eanding Conract enim ad minim Please contact <span class="text-orange">support@uhome.com</span> we’d be more happy to help.</p>
								</div>
							</div>
							<hr class="bg-white" style="border: 1px solid #e7e7e7; border-top: none !important;margin: 0;padding-top: 10px;padding-bottom: 10px;">
							<div class="row margin-0 col-md-12 text-black bg-white padding-20">
								<span class="font-size-18 font-dinopro">Directions</span>
							</div>
							<div class="row margin-0 col-md-12 padding-right-10 bg-white font-size-14">
								<ol>
									<li>
										<p>
											Eanding Conract enim ad minim veniam, quis nostrud exercitation ullamco laboris enim ad minim veniam exercitation.
										</p>
										<br>
									</li>
									<li>
										<p>
											Nostrud exercitation ullamco laboris enim ad minim veniam exercitation.
										</p>
										<br>
									</li>
									<li>
										<p>
											Citation ullamco laboris enim ad minim veniam exercitation. Eanding Conract enim ad minim veniam, quis Eanding Conract enim ad minim veniam, quis. 
										</p>
										<br>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix height-30"></div>
		<div class="clearfix height-30"></div>
	<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
	<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
<% include dropdowns %>