<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
<head>
  <title>UHome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/social-main.css" />
  <link rel="stylesheet" href="/styles/profile.css" />
  <link rel="stylesheet" href="/styles/myproject-inner-user.css" />
  <link rel="stylesheet" href="/styles/myprojects.css" />
  <link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
  <link rel="stylesheet" href="/styles/step-4.css">
  <link rel="stylesheet" href="/styles/recommendation.css" />
  <link rel="stylesheet" href="/styles/inner-openprojects.css" />
  <link rel="stylesheet" href="/styles/myteam.css" />
  <link rel="stylesheet" href="/styles/contractor-messages.css" />

  <link rel="stylesheet" href="/styles/step-1.css">
  <!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
</head>
<body class="index">
<div id="page-wrapper">
    <% include ../common/topnav %>
  <div class="page-content">
    <div class="container">
      <% include ../common/sidebar %>
      <div class="middle-content col-md-9 padding-x-34 user-profile-details">
        <div class="border-left-right-gray row margin-0 border-bottom-1">
          <div class="col-md-4 border-right-gray-1 bg-white padding-x-10 padding-y-20">
            <div class="header">
              <div class="col-md-8">
                <div class="btns-container">
                  <button class="btn bg-white btn-bordered btn-primary btn-inbox font-size-12 font-opensans border-gray-1">
                    <i class="text-orange fa fa-inbox"></i> <span class="text-gray">Inbox</span>
                  </button>
                  <button class="btn bg-white btn-bordered btn-primary btn-compose font-size-12 font-opensans border-gray-1">
                    <i class="text-orange fa fa-plus-square"></i> <span class="text-gray">Compose</span>
                  </button>
                </div>
              </div>
              <div class="col-md-4 pull-right">
                <div class="btns-container">
                  <button class="btn btn-default btn-bordered btn-message-actions font-size-12 bg-white font-opensans dropdown-toggle border-gray-1" data-toggle="dropdown" href="#">
                    <i class="fa fa-cog text-gray"></i> <span class=" text-light-gray">Actions</span> <span class="caret text-gray"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div style="height: 71px;" class="col-md-8 bg-white padding-x-20 padding-y-20">
            <div class="header">
              <div class="col-md-12">
                <span class="font-dinopro-bold font-size-20 text-another-gray"><!-- Saleem Khan, Peter Wilson --></span>
              </div>
            </div>
          </div>
        </div>
        <div class="message-box">
          <div class="messaged-users col-md-4">
            <div class="row margin-0">
              <div class="messaged-usersearch-input">
                <div class="input-group border-0">
										  <span class="input-group-addon">
										  	<i class="fa fa-search"></i>
										  </span>
                  <input type="text" class="form-control" placeholder="Search...">
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user-img-4.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user2-profile-icon.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user-5.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user-5.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="row margin-0">
              <div class="user-row active row margin-0 bg-white-veri user padding-y-20 padding-x-10" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/contractor-img.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user-img-4.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user2-profile-icon.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user-5.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/contractor-img.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user-img-4.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user2-profile-icon.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
            <div class="user-row row margin-0">
              <div class="user-row row margin-0 bg-white-veri user padding-y-20 padding-x-10 border-bottom-1" style="height: 70px;">
                <div class="col-md-2">
                  <img class="img-responsive" src="/images/user/user-5.png" />
                </div>
                <div class="col-md-8">
                  <span class="sender-username clearfix font-size-14 font-dinopro text-blue">M Anis Arif</span>
                  <span class="new-message-prompt font-size-12 font-opensans text-another-gray">New Message</span><span class="message-glimpse font-size-11 text-light-gray">, Anum Khan...</span>
                </div>
                <div style="line-height: 1;" class="col-md-2">
                  <div class="text-light-gray font-size-10 time">4:59 PM</div>
                  <div class="clearfix"></div>
                  <span class="pull-right padding-top-5"><i class="fa fa-times font-size-14 text-dark-gray"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="message-area col-md-8 bg-white">
            <ul class="conversation">
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-img-4.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Haseeb Saleem</span>
                    <div style="line-height: 1.3;" class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
                    </div>
                    <span class="time pull-right font-size-10">8:32 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-5.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Arif Habib</span>
                    <div class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      This is a test mesage from user.This is a test mesage from user.
                    </div>
                    <span class="time pull-right font-size-10">8:38 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-img-4.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Haseeb Saleem</span>
                    <div style="line-height: 1.3;" class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
                    </div>
                    <span class="time pull-right font-size-10">8:32 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-5.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Arif Habib</span>
                    <div class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      This is a test mesage from user.This is a test mesage from user.
                    </div>
                    <span class="time pull-right font-size-10">8:38 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-img-4.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Haseeb Saleem</span>
                    <div style="line-height: 1.3;" class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
                    </div>
                    <span class="time pull-right font-size-10">8:32 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-5.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Arif Habib</span>
                    <div class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      This is a test mesage from user.This is a test mesage from user.
                    </div>
                    <span class="time pull-right font-size-10">8:38 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-img-4.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Haseeb Saleem</span>
                    <div style="line-height: 1.3;" class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
                    </div>
                    <span class="time pull-right font-size-10">8:32 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-5.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Arif Habib</span>
                    <div class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      This is a test mesage from user.This is a test mesage from user.
                    </div>
                    <span class="time pull-right font-size-10">8:38 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-img-4.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Haseeb Saleem</span>
                    <div style="line-height: 1.3;" class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
                    </div>
                    <span class="time pull-right font-size-10">8:32 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-5.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Arif Habib</span>
                    <div class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      This is a test mesage from user.This is a test mesage from user.
                    </div>
                    <span class="time pull-right font-size-10">8:38 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-img-4.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Haseeb Saleem</span>
                    <div style="line-height: 1.3;" class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
                    </div>
                    <span class="time pull-right font-size-10">8:32 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-5.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Arif Habib</span>
                    <div class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      This is a test mesage from user.This is a test mesage from user.
                    </div>
                    <span class="time pull-right font-size-10">8:38 PM</span>
                  </div>
                </div>
              </li>
              <li class="message">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-img-4.png" alt="">
                  </div>
                  <div class="col-md-10">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Haseeb Saleem</span>
                    <div style="line-height: 1.3;" class="user-message font-opensans font-size-13 padding-top-5 text-gray">
                      Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking for.
                    </div>
                    <span class="time pull-right font-size-10">8:32 PM</span>
                  </div>
                </div>
              </li>
              <li class="padding-10 width-auto col-md-12">
                <div class="row margin-0">
                  <div class="col-md-2">
                    <img class="img-responsive" src="/images/user/user-5.png" alt="">
                  </div>
                  <div class="col-md-12">
                    <span class="sender-name font-dinopro font-size-16 text-dark-gray">Arif Habib</span>
                    <div class="width-auto font-opensans font-size-13 padding-top-5 text-gray">
                      <center><h3>Start Conversation</h3></center>
                    </div>
                    <span class="time pull-right font-size-10">8:38 PM</span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="send-message-area padding-20 bg-light-orange">
              <div class="row margin-0">
                <div class="messaged-usersearch-input">
                  <div class="input-group border-0">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-addon">
											  	<i class="fa fa-picture-o"></i>
											  </span>
                    <span class="input-group-addon">
											  	<i class="fa fa-paperclip"></i>
											  </span>
                    <div class="input-group-addon text-white font-dinopro font-size-14 bg-theme-blue">
                      Send
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix height-30"></div>
<div class="clearfix height-30"></div>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.1.6.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
<script src="/libs/toastr/js/toastr.min.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js" type="text/javascript"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/public/SregisterModule.js"></script>
<script src="/js/directive/registerStep2.js"></script>
</body>
</html>
<script>
  $(document).ready(function() {
    $('.date-own').datepicker({
      minViewMode: 2,
      format: 'yyyy',
      autoclose: true
    });
    $.each($(".business-days"), function(index, value) {

      if ($(this).children(".weekday").val() != 'Close') {
        $(this).children(".day").css('background-color', '#f07246');
      }
    });

    $(".weekday").change(function() {
      var day = $(this).data('id');
      if ($(this).val() == "Close") {
        $("."+day).css('background-color', '#bdbdbd');
        $("."+day+"-end").addClass('hidden');
      } else {
        $("."+day).css('background-color', '#f07246');
        $("."+day+"-end").removeClass('hidden');
      }
    });

    $(".upload-team-member").click(function() {
      $("#upload-team-member").trigger('click');
    });
  });
</script>
