<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
		<link rel="stylesheet" href="/styles/myproject-inner-user.css" />
		<link rel="stylesheet" href="/styles/myprojects.css" />
		<link rel="stylesheet" href="/styles/step-4.css">
		
		<link rel="stylesheet" href="/styles/step-1.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-9 padding-x-34 user-profile-details">
						<div class="heading">
							<div class="heading-content">
								<h2 class="font-dinopro font-size-24 text-black">My Projects</h2>
							</div>
						</div>
						<div class="bg-white">
							<div class="heading-content padding-left-20 padding-top-20">
								<h2 class="font-dinopro font-size-18 padding-x-10 text-blue">Project Information</h2>
							</div>
							<div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white">
								<div class="col-md-6 padding-x-10">
									<label class="font-opensans-semibold font-size-16">Project Name </label>
									<div class="input-group">
									  <span class="input-group-addon">
									  	<i class="fa fa-mobiles"></i>
									  </span>
									  <input type="text" class="form-control">
									</div>
								</div>
								<div class="col-md-6 padding-x-10">
									<label class="font-opensans-semibold font-size-16">Project Type </label>
									<div class="input-group">
									  <span class="input-group-addon">
									  	<i class="fa fa-mobiles"></i>
									  </span>
									  <input type="text" class="form-control">
									</div>
								</div>
							</div>
							<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
								<div class="col-md-3 padding-x-10">
									<label class="font-opensans-semibold font-size-16" style="font-size: 14px;line-height: 1.6;">Month / Year Completed </label>
									<div class="input-group">
									  	<span class="input-group-addon">
									  		<i class="fa fa-mobiles"></i>
									  	</span>
									  	<select class="weekday select-dropdown bg-light-off-white" id="category">
											<option selected value="">Month</option>
											<option value="">January</option>
											<option value="">February</option>
											<option value="">March</option>
											<option value="">April</option>
											<option value="">May</option>
											<option value="">June</option>
											<option value="">July</option>
											<option value="">August</option>
											<option value="">September</option>
											<option value="">October</option>
											<option value="">November</option>
											<option value="">December</option>
										</select>
									</div>
								</div>
								<div class="col-md-3 padding-x-10">
									<label class="font-opensans-semibold font-size-16">Unit # </label>
									<div class="input-group">
									  	<span class="input-group-addon">
									  		<i class="fa fa-mobiles"></i>
									  	</span>
									  	<select class="weekday select-dropdown bg-light-off-white" id="category">
											<option selected value="">Year</option>
											<option value="">1990</option>
											<option value="">1991</option>
											<option value="">1992</option>
											<option value="">1993</option>
											<option value="">1994</option>
											<option value="">1995</option>
											<option value="">1996</option>
											<option value="">1997</option>
											<option value="">1998</option>
											<option value="">1999</option>
											<option value="">2000</option>
											<option value="">2001</option>
										</select>
									</div>
								</div>
								<div class="col-md-6 padding-x-10">
									<div class=" padding-20 bg-more-extra-light-yellow border-gray-1 radius-4">
										<div class="icon pull-left padding-right-10">
											<i class="fa fa-lightbulb-o text-orange"></i>
										</div>
										<div class="details font-size-12 font-opensans">
											It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
								<div class="col-md-12 padding-x-10">
									<label class="font-opensans-semibold font-size-16">Project Description </label>
									<div class="step-3 col-md-12">
									  <textarea></textarea>
									</div>
								</div>
							</div>
							<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
								<div class="col-md-4 padding-x-10">
									<label class="font-opensans-semibold font-size-16">Zipcode </label>
									<div class="input-group">
									  <span class="input-group-addon">
									  	<i class="fa fa-map-o"></i>
									  </span>
									  <input type="text" class="form-control">
									</div>
								</div>
								<div class="col-md-4 padding-x-10">
									<label class="font-opensans-semibold font-size-16">City </label>
									<div class="input-group">
									  <span class="input-group-addon">
									  	<i class="fa fa-globe"></i>
									  </span>
									  <input type="text" class="form-control">
									</div>
								</div>
								<div class="col-md-4 padding-x-10">
									<label class="font-opensans-semibold font-size-16">State </label>
									<div class="input-group">
									  <span class="input-group-addon">
									  	<i class="fa fa-globe"></i>
									  </span>
									  <input type="text" class="form-control">
									</div>
								</div>
							</div>
							<hr class="bg-white" style="border: 1px solid #e7e7e7; border-top: none !important;margin: 0;padding-top: 10px;padding-bottom: 10px;">
							<div class="row margin-0 col-md-12 padding-x-20 padding-y-20 bg-bullshit">
								<h3 class="col-md-12 font-size-16 margin-0 padding-10 margin-bottom-10 font-opensansbold">What services did you perform for this project?</h3>
								<div class="row margin col-md-12 border-bottom-gray-dashed padding-bottom-20">
									<div class="col-md-6 padding-x-10">
										<div class="bg-white border-gray-1 radius-4" style="height: 56px; padding: 1.5px;">
											<div class="padding-left-15 text-another-gray padding-y-14 pull-left margin-top-15">
												General Cleaning
											</div>
											<div class="pull-right bg-green radius-4 padding-15">
												<span class="text-uppercase font-opensans font-size-13 text-white">primary</span>
											</div>
										</div>
									</div>
									<div class="col-md-6 padding-x-10 border-left-gray-1">
										<div class="bg-white border-gray-1 radius-4" style="height: 56px; padding: 1.5px;">
											<div class="padding-left-15 text-another-gray padding-y-14 pull-left margin-top-15">
												Home Interior
											</div>
											<div class="pull-right bg-light-gray radius-4 padding-15">
												<span class="text-uppercase font-opensans font-size-13 text-white">set primary</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-bullshit">
								<div class="col-md-7 padding-x-10 bg-bullshit">
									<div class="font-opensans-semibold font-size-14 pull-left padding-top-10 padding-right-10">Add another service</div>
									<div class="input-group">
									  <span class="input-group-addon">
									  	<i class="fa fa-mobiles"></i>
									  </span>
									  <input type="text" class="form-control">
									</div>
								</div>
							</div>
							<hr class="bg-bullshit" style="border: 1px solid #e7e7e7; border-top: none !important;margin: 0;padding-top: 10px;padding-bottom: 10px;">
							<div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white padding-20">
								<label class="font-opensans-semibold font-size-16">Identity Photo</label>
								<div class="clearfix"></div>
								<div class="col-md-3 padding-x-10">
									<div class="">
										<div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50">
											<center>
												<i class="fa fa-camera font-size-22"></i>
												<div class="clearfix"></div>
												<span>Upload Photo</span>
											</center>
										</div>
									  	<input id="profile-upload" type="file" class="hidden">
									</div>
								</div>
								<div class="col-md-3 padding-x-10">
									<div class="">
										<div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50">
											<center>
												<i class="fa fa-camera font-size-22"></i>
												<div class="clearfix"></div>
												<span>Upload Photo</span>
											</center>
										</div>
									  	<input id="profile-upload" type="file" class="hidden">
									</div>
								</div>
								<div class="col-md-3 padding-x-10">
									<div class="">
										<div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50">
											<center>
												<i class="fa fa-camera font-size-22"></i>
												<div class="clearfix"></div>
												<span>Upload Photo</span>
											</center>
										</div>
									  	<input id="profile-upload" type="file" class="hidden">
									</div>
								</div>
							</div>
							<div class="col-md-12 padding-25 bg-white">
								<div class="btns pull-right">
									<a href="registration-step-3.html" id="start-registration" class="btn btn-default pull-right font-size-24 font-dinopro padding-x-30 padding-y-10">
										Continue
									</a>
									<a href="registration-step-3.html" id="start-registration" class="btn btn-primary pull-right margin-right-10 font-size-24 font-dinopro padding-x-30 padding-y-10">
										Cancel
									</a>
								</div>
							</div>
						</div>
						<div class="signup-body-tabs bg-white">
							<div>
							  	<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="text-uppercase active">
										<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
											Project Information
										</a>
									</li>
									<li role="presentation" class="text-uppercase">
										<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
											Project Images
										</a>
									</li>
									<li role="presentation" class="text-uppercase bg-more-extra-light-blue">
										<a href="#" role="tab" class="bg-more-extra-light-blue" data-toggle="tab">
											<center>
												<i class="fa fa-chevron-down text-light-gray font-size-18"></i>
											</center>
										</a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="home">
										<div class="heading-content padding-left-20 padding-top-20">
											<h2 class="font-dinopro font-size-18 padding-x-10 text-blue">Project Information</h2>
										</div>
										<div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white">
											<div class="col-md-6 padding-x-10">
												<label class="font-opensans-semibold font-size-16">Project Name </label>
												<div class="input-group">
												  <span class="input-group-addon">
												  	<i class="fa fa-mobiles"></i>
												  </span>
												  <input type="text" class="form-control">
												</div>
											</div>
											<div class="col-md-6 padding-x-10">
												<label class="font-opensans-semibold font-size-16">Project Type </label>
												<div class="input-group">
												  <span class="input-group-addon">
												  	<i class="fa fa-mobiles"></i>
												  </span>
												  <input type="text" class="form-control">
												</div>
											</div>
										</div>
										<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
											<div class="col-md-3 padding-x-10">
												<label class="font-opensans-semibold font-size-16" style="font-size: 14px;line-height: 1.6;">Month / Year Completed </label>
												<div class="input-group">
												  	<span class="input-group-addon">
												  		<i class="fa fa-mobiles"></i>
												  	</span>
												  	<select class="weekday select-dropdown bg-light-off-white" id="category">
														<option selected value="">Month</option>
														<option value="">January</option>
														<option value="">February</option>
														<option value="">March</option>
														<option value="">April</option>
														<option value="">May</option>
														<option value="">June</option>
														<option value="">July</option>
														<option value="">August</option>
														<option value="">September</option>
														<option value="">October</option>
														<option value="">November</option>
														<option value="">December</option>
													</select>
												</div>
											</div>
											<div class="col-md-3 padding-x-10">
												<label class="font-opensans-semibold font-size-16">Unit # </label>
												<div class="input-group">
												  	<span class="input-group-addon">
												  		<i class="fa fa-mobiles"></i>
												  	</span>
												  	<select class="weekday select-dropdown bg-light-off-white" id="category">
														<option selected value="">Year</option>
														<option value="">1990</option>
														<option value="">1991</option>
														<option value="">1992</option>
														<option value="">1993</option>
														<option value="">1994</option>
														<option value="">1995</option>
														<option value="">1996</option>
														<option value="">1997</option>
														<option value="">1998</option>
														<option value="">1999</option>
														<option value="">2000</option>
														<option value="">2001</option>
													</select>
												</div>
											</div>
											<div class="col-md-6 padding-x-10">
												<div class=" padding-20 bg-more-extra-light-yellow border-gray-1 radius-4">
													<div class="icon pull-left padding-right-10">
														<i class="fa fa-lightbulb-o text-orange"></i>
													</div>
													<div class="details font-size-12 font-opensans">
														It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
													</div>
												</div>
											</div>
										</div>
										<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
											<div class="col-md-12 padding-x-10">
												<label class="font-opensans-semibold font-size-16">Project Description </label>
												<div class="step-3 col-md-12">
												  <textarea></textarea>
												</div>
											</div>
										</div>
										<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-white">
											<div class="col-md-4 padding-x-10">
												<label class="font-opensans-semibold font-size-16">Zipcode </label>
												<div class="input-group">
												  <span class="input-group-addon">
												  	<i class="fa fa-map-o"></i>
												  </span>
												  <input type="text" class="form-control">
												</div>
											</div>
											<div class="col-md-4 padding-x-10">
												<label class="font-opensans-semibold font-size-16">City </label>
												<div class="input-group">
												  <span class="input-group-addon">
												  	<i class="fa fa-globe"></i>
												  </span>
												  <input type="text" class="form-control">
												</div>
											</div>
											<div class="col-md-4 padding-x-10">
												<label class="font-opensans-semibold font-size-16">State </label>
												<div class="input-group">
												  <span class="input-group-addon">
												  	<i class="fa fa-globe"></i>
												  </span>
												  <input type="text" class="form-control">
												</div>
											</div>
										</div>
										<hr class="bg-white" style="border: 1px solid #e7e7e7; border-top: none !important;margin: 0;padding-top: 10px;padding-bottom: 10px;">
										<div class="row margin-0 col-md-12 padding-x-20 padding-y-20 bg-bullshit">
											<h3 class="col-md-12 font-size-16 margin-0 padding-10 margin-bottom-10 font-opensansbold">What services did you perform for this project?</h3>
											<div class="row margin col-md-12 border-bottom-gray-dashed padding-bottom-20">
												<div class="col-md-6 padding-x-10">
													<div class="bg-white border-gray-1 radius-4" style="height: 56px; padding: 1.5px;">
														<div class="padding-left-15 text-another-gray padding-y-14 pull-left margin-top-15">
															General Cleaning
														</div>
														<div class="pull-right bg-green radius-4 padding-15">
															<span class="text-uppercase font-opensans font-size-13 text-white">primary</span>
														</div>
													</div>
												</div>
												<div class="col-md-6 padding-x-10 border-left-gray-1">
													<div class="bg-white border-gray-1 radius-4" style="height: 56px; padding: 1.5px;">
														<div class="padding-left-15 text-another-gray padding-y-14 pull-left margin-top-15">
															Home Interior
														</div>
														<div class="pull-right bg-light-gray radius-4 padding-15">
															<span class="text-uppercase font-opensans font-size-13 text-white">set primary</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row margin-0 col-md-12 padding-x-20 padding-y-10 bg-bullshit">
											<div class="col-md-7 padding-x-10 bg-bullshit">
												<div class="font-opensans-semibold font-size-14 pull-left padding-top-10 padding-right-10">Add another service</div>
												<div class="input-group">
												  <span class="input-group-addon">
												  	<i class="fa fa-mobiles"></i>
												  </span>
												  <input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="profile">
										<div class="row margin-0 col-md-12 padding-top-25 padding-x-20 bg-white padding-20">
											<label class="font-opensans-semibold font-size-16">Identity Photo</label>
											<div class="clearfix"></div>
											<div class="col-md-3 padding-y-10 padding-x-10">
												<div class="">
													<div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50">
														<center>
															<i class="fa fa-camera font-size-22"></i>
															<div class="clearfix"></div>
															<span>Upload Photo</span>
														</center>
													</div>
												  	<input id="profile-upload" type="file" class="hidden">
												</div>
											</div>
											<div class="col-md-3 padding-y-10 padding-x-10">
												<div class="">
													<div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50">
														<center>
															<i class="fa fa-camera font-size-22"></i>
															<div class="clearfix"></div>
															<span>Upload Photo</span>
														</center>
													</div>
												  	<input id="profile-upload" type="file" class="hidden">
												</div>
											</div>
											<div class="col-md-3 padding-y-10 padding-x-10">
												<div class="">
													<div class="upload-file-dropzone profile-upload bg-light-cyan text-light-gray padding-34 padding-y-50">
														<center>
															<i class="fa fa-camera font-size-22"></i>
															<div class="clearfix"></div>
															<span>Upload Photo</span>
														</center>
													</div>
												  	<input id="profile-upload" type="file" class="hidden">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix height-30"></div>
		<div class="clearfix height-30"></div>
	<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
	<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
<% include dropdowns %>
<script>
	$(document).ready(function() {
		$('.date-own').datepicker({
			minViewMode: 2,
			format: 'yyyy',
	        autoclose: true
		});
		$.each($(".business-days"), function(index, value) {

			if ($(this).children(".weekday").val() != 'Close') {
				$(this).children(".day").css('background-color', '#f07246');
			}
		});

		$(".weekday").change(function() {
			var day = $(this).data('id');
			if ($(this).val() == "Close") {
				$("."+day).css('background-color', '#bdbdbd');
				$("."+day+"-end").addClass('hidden');
			} else {
				$("."+day).css('background-color', '#f07246');
				$("."+day+"-end").removeClass('hidden');
			}
		});
	});
</script>