<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en" ng-app="App">
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
		<link rel="stylesheet" href="/styles/myproject-inner-user.css" />
		<link rel="stylesheet" href="/styles/myprojects.css" />
		<link rel="stylesheet" href="/styles/reviews.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include ../common/topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-9 padding-x-34 user-profile-details">
						<div class="">
							<div id="reviews">
								<div class="row margin-0 padding-x-20 margin-0 padding-y-10 bg-light-off-white font-opensans-semibold font-size-16">
									<div class="col-md-3 col-sm-3 text-ajeeb-blue">Rating</div>
									<div class="col-md-7 col-sm-7 text-ajeeb-blue">Reviews</div>
									<div class="col-md-2 col-sm-2 text-ajeeb-blue">Date</div>
								</div>
								<div class="row tab-content padding-x-20 margin-0 padding-20 main-content">
									<center>
										<h3>No Reviews</h3>
									</center>
									<!-- <div class="each-review">
										<div class="row margin-0 padding-10 bg-light-orange">
											<div class="col-md-3">
												<ul class="contractor-rating rating-stars text-yellow">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
												</ul>
											</div>
											<div class="row col-md-7">
												<div class="poster-img padding-right-20 col-md-2">
													<img src="/images/icon-set/home-icon.png" >
												</div>
												<div class="col-md-8 padding-left-15">
													<span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
													<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
													<span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
												</div>
											</div>
											<div class="col-md-2">
												<span class="contractor-review-date">
													March 4, 2006
												</span>
											</div>
										</div>
									</div>
									<div class="clearfix height-10"></div>

									<div class="each-review">
										<div class="row margin-0 padding-10 bg-light-orange">
											<div class="col-md-3">
												<ul class="contractor-rating rating-stars text-yellow">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
												</ul>
											</div>
											<div class="row col-md-7">
												<div class="poster-img padding-right-20 col-md-2">
													<img src="/images/icon-set/home-icon.png" >
												</div>
												<div class="col-md-8 padding-left-15">
													<span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
													<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
													<span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
												</div>
											</div>
											<div class="col-md-2">
												<span class="contractor-review-date">
													March 4, 2006
												</span>
											</div>
										</div>
									</div>
									<div class="clearfix height-10"></div>

									<div class="each-review">
										<div class="row margin-0 padding-10 bg-light-orange">
											<div class="col-md-3">
												<ul class="contractor-rating rating-stars text-yellow">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
												</ul>
											</div>
											<div class="row col-md-7">
												<div class="poster-img padding-right-20 col-md-2">
													<img src="/images/icon-set/home-icon.png" >
												</div>
												<div class="col-md-8 padding-left-15">
													<span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
													<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
													<span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
												</div>
											</div>
											<div class="col-md-2">
												<span class="contractor-review-date">
													March 4, 2006
												</span>
											</div>
										</div>
									</div>
									<div class="clearfix height-10"></div>

									<div class="each-review">
										<div class="row margin-0 padding-10 bg-light-orange">
											<div class="col-md-3">
												<ul class="contractor-rating rating-stars text-yellow">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
												</ul>
											</div>
											<div class="row col-md-7">
												<div class="poster-img padding-right-20 col-md-2">
													<img src="/images/icon-set/home-icon.png" >
												</div>
												<div class="col-md-8 padding-left-15">
													<span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
													<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
													<span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
												</div>
											</div>
											<div class="col-md-2">
												<span class="contractor-review-date">
													March 4, 2006
												</span>
											</div>
										</div>
									</div>
									<div class="clearfix height-10"></div>

									<div class="each-review">
										<div class="row margin-0 padding-10 bg-light-orange">
											<div class="col-md-3">
												<ul class="contractor-rating rating-stars text-yellow">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
												</ul>
											</div>
											<div class="row col-md-7">
												<div class="poster-img padding-right-20 col-md-2">
													<img src="/images/icon-set/home-icon.png" >
												</div>
												<div class="col-md-8 padding-left-15">
													<span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
													<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
													<span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
												</div>
											</div>
											<div class="col-md-2">
												<span class="contractor-review-date">
													March 4, 2006
												</span>
											</div>
										</div>
									</div>
									<div class="clearfix height-10"></div>

									<div class="each-review">
										<div class="row margin-0 padding-10 bg-light-orange">
											<div class="col-md-3">
												<ul class="contractor-rating rating-stars text-yellow">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
												</ul>
											</div>
											<div class="row col-md-7">
												<div class="poster-img padding-right-20 col-md-2">
													<img src="/images/icon-set/home-icon.png" >
												</div>
												<div class="col-md-8 padding-left-15">
													<span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
													<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
													<span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
												</div>
											</div>
											<div class="col-md-2">
												<span class="contractor-review-date">
													March 4, 2006
												</span>
											</div>
										</div>
									</div>
									<div class="clearfix height-10"></div>

									<div class="each-review">
										<div class="row margin-0 padding-10 bg-light-orange">
											<div class="col-md-3">
												<ul class="contractor-rating rating-stars text-yellow">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half"></i></li>
												</ul>
											</div>
											<div class="row col-md-7">
												<div class="poster-img padding-right-20 col-md-2">
													<img src="/images/icon-set/home-icon.png" >
												</div>
												<div class="col-md-8 padding-left-15">
													<span class="poster-name text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
													<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus, non lacinia felis</span><br>
													<span class="poster-name text-orange font-size-13"><i class="fa fa-reply"></i> View &amp; Reply</span>
												</div>
											</div>
											<div class="col-md-2">
												<span class="contractor-review-date">
													March 4, 2006
												</span>
											</div>
										</div>
									</div>
									<div class="clearfix height-10"></div> -->
								</div>
								<!-- <div class="details-header padding-20">
									<center>
										<ul class="paging">
											<li class="page previous-link"><a href="#"><i class="fa fa-chevron-left text-orange"></i> Previous</a></li>
											<li class="page"><a href="#">1</a></li>
											<li class="page"><a href="#">2</a></li>
											<li class="page"><a href="#">3</a></li>
											<li class="page"><a href="#">4</a></li>
											<li class="page active"><a href="#">5</a></li>
											<li class="page"><a href="#">...</a></li>
											<li class="page"><a href="#">16</a></li>
											<li class="page"><a href="#">17</a></li>
											<li class="page"><a href="#">18</a></li>
											<li class="page next-link"><a href="#">Next <i class="fa fa-chevron-right text-orange"></i></a></li>
										</ul>
									</center>
								</div> -->
							</div>
							<div class="reviews-list">
								<div class="row margin-0 head padding-x-20 padding-y-10 bg-light-blue col-md-12">
									<div class="col-md-12 pull-left">
										<span class="font-opensansbold font-size-14 text-uppercase">
											my reviews
										</span>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="row margin-0">
									<ul class="ul-reviews margin-0 bg-white">
										<li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
											<div class="row margin-0 notification-message">
												<div class="row margin-0 padding-10 bg-white">
													<div class="row col-md-7">
														<div class="poster-img padding-right-20 col-md-2 pull-left">
															<img src="/images/icon-set/home-icon.png" >
														</div>
														<div class="col-md-8 padding-left-15">
															<span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
															<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
															<span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
															<ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star-half"></i></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
											<div class="row margin-0 notification-message">
												<div class="row margin-0 padding-10 bg-white">
													<div class="row col-md-7">
														<div class="poster-img padding-right-20 col-md-2 pull-left">
															<img src="/images/icon-set/home-icon.png" >
														</div>
														<div class="col-md-8 padding-left-15">
															<span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
															<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
															<span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
															<ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star-half"></i></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
											<div class="row margin-0 notification-message">
												<div class="row margin-0 padding-10 bg-white">
													<div class="row col-md-7">
														<div class="poster-img padding-right-20 col-md-2 pull-left">
															<img src="/images/icon-set/home-icon.png" >
														</div>
														<div class="col-md-8 padding-left-15">
															<span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
															<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
															<span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
															<ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star-half"></i></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
											<div class="row margin-0 notification-message">
												<div class="row margin-0 padding-10 bg-white">
													<div class="row col-md-7">
														<div class="poster-img padding-right-20 col-md-2 pull-left">
															<img src="/images/icon-set/home-icon.png" >
														</div>
														<div class="col-md-8 padding-left-15">
															<span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
															<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
															<span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
															<ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star-half"></i></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
										<li class="padding-x-20 padding-y-5 border-bottom-1 each-notification bg-white">
											<div class="row margin-0 notification-message">
												<div class="row margin-0 padding-10 bg-white">
													<div class="row col-md-7">
														<div class="poster-img padding-right-20 col-md-2 pull-left">
															<img src="/images/icon-set/home-icon.png" >
														</div>
														<div class="col-md-8 padding-left-15">
															<span class="poster-name poster-heading text-light-blue font-size-18">Done Right Carpet & Tile Inc.</span><br>
															<span class="poster-name text-black font-size-13">Sem ut, iaculis metus. Duis dictum mattis. Sed eget ultricies metus</span><br>
															<span class="poster-name text-orange font-size-13 pull-left padding-5"><i class="fa fa-reply"></i> View &amp; Reply</span>
															<ul class="contractor-rating rating-stars text-yellow bg-light-off-white margin-0 padding-y-5">
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star"></i></li>
																<li class="display-inline"><i class="fa fa-star-half"></i></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
	<script type="text/javascript" src="/js/dependencies/angular.1.6.js"></script>
	<script type="text/javascript" src="/js/dependencies/angular-toastr.js"></script>
	<script type="text/javascript" src="/js/dependencies/mask.js"></script>
	<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="/libs/angular-map/ng-map.js"></script>
	<script type="text/javascript" src="/libs/toastr/js/toastr.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/config.js"></script>
	<script type="text/javascript" src="/js/controllers/bissenesProfile.js"></script>
	<script type="text/javascript" src="/js/services/api.service.js"></script>
	<script type="text/javascript" src="/js/services/businessHours.service.js"></script>
	<script type="text/javascript" src="/js/services/datepicker.service.js"></script>
	<script type="text/javascript" src="/js/directive/delay.js"></script>
</body>
</html>