<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/recommendation.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-9 padding-x-34">
						<div class="resident">
							<div class="heading-content margin-bottom-15">
								<h2 class="font-dinopro">Recommendation</h2>
							</div>
							<div id="search-recommendation" class="padding-20">
								<div class="input-group">
									<span class="input-group-addon ">
								        <i class="fa fa-search text-light-blue font-size-18"></i>
								    </span>
								    <input type="text" class="form-control padding-20 text-black" placeholder="Search for businesses, categories or recommendations" />
								</div>
							</div>
						</div>
						<div class="clearfix height-30"></div>

						<div class="post post1 general-post">
							<div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
								<div class="row">
									<center>
										<h3>No results found!</h3>
									</center>
								</div>
							</div>
							
						</div>

						<!-- <div class="clearfix height-30"></div>

						<div class="post post1 general-post border-bottom-5">
							<div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
								<div class="row">
									<div class="col-md-2">
										<img class="user-img-with-radius" src="/images/user/contractor-img.png" />
									</div>
									<div class="col-md-8">
										<h5 class="text-orange font-dinopro font-size-18 margin-bottom-0">AC Repearing</h5>
										<span class="font-size-14">
											<a class="text-light-blue" href="">Marcela Rice</a> 
											from 
											<a class="text-light-blue" href="#">Grand Lakes Phase Three</a></span>
										<p class="font-size-14 margin-top-15">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown pripecimen book.</p>
									</div>
								</div>
							</div>
							<div class="post-actions padding-10 bg-theme-blue">
								<ul>
									<li><i class="fa fa-heart text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Likes"></i> <span class="text-white">10</span></li>
									<li style="padding: 0 40.5%"><i class="fa fa-comment text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Comments"></i> <span class="text-white">17</span></li>
									<li><i class="fa fa-share text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Share"></i></li>
								</ul>
							</div>
							<div>
								<ul class="post-comments padding-20 padding-bottom-1 bg-white">
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
										<hr>
									</li>
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
										<hr>
									</li>
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
									</li>
									<li class="comment-box">
										<div class="input-group">
										    <input type="text" class="form-control padding-20" placeholder="Write a comment.." />
										    <span class="input-group-addon ">
										        <i class="fa fa-camera"></i>
										    </span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="clearfix height-30"></div>

						<div class="post post1 general-post border-bottom-5">
							<div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
								<div class="row">
									<div class="col-md-2">
										<img class="user-img-with-radius" src="/images/user/contractor-img.png" />
									</div>
									<div class="col-md-8">
										<h5 class="text-orange font-dinopro font-size-18 margin-bottom-0">Pet sitting</h5>
										<span class="font-size-14">
											<a class="text-light-blue" href="">Marcela Rice</a> 
											from 
											<a class="text-light-blue" href="#">Grand Lakes Phase Three</a></span>
										<p class="font-size-14 margin-top-15">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown pripecimen book.</p>
									</div>
								</div>
							</div>
							<div class="post-actions padding-10 bg-theme-blue">
								<ul>
									<li><i class="fa fa-heart text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Likes"></i> <span class="text-white">10</span></li>
									<li style="padding: 0 40.5%"><i class="fa fa-comment text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Comments"></i> <span class="text-white">17</span></li>
									<li><i class="fa fa-share text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Share"></i></li>
								</ul>
							</div>
							<div>
								<ul class="post-comments padding-20 padding-bottom-1 bg-white">
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
										<hr>
									</li>
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
										<hr>
									</li>
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
									</li>
									<li class="comment-box">
										<div class="input-group">
										    <input type="text" class="form-control padding-20" placeholder="Write a comment.." />
										    <span class="input-group-addon ">
										        <i class="fa fa-camera"></i>
										    </span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="clearfix height-30"></div>

						<div class="post post1 general-post border-bottom-5">
							<div class="post-content padding-20 font-size-16 font-opensans bg-white text-dark-gray">
								<div class="row">
									<div class="col-md-2">
										<img class="user-img-with-radius" src="/images/user/contractor-img.png" />
									</div>
									<div class="col-md-8">
										<h5 class="text-orange font-dinopro font-size-18 margin-bottom-0">AC Repearing</h5>
										<span class="font-size-14">
											<a class="text-light-blue" href="">Marcela Rice</a> 
											from 
											<a class="text-light-blue" href="#">Grand Lakes Phase Three</a></span>
										<p class="font-size-14 margin-top-15">Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown pripecimen book.</p>
									</div>
								</div>
							</div>
							<div class="post-actions padding-10 bg-theme-blue">
								<ul>
									<li><i class="fa fa-heart text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Likes"></i> <span class="text-white">10</span></li>
									<li style="padding: 0 40.5%"><i class="fa fa-comment text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Comments"></i> <span class="text-white">17</span></li>
									<li><i class="fa fa-share text-navy-blue" data-toggle="tooltip" data-placement="bottom" title="Share"></i></li>
								</ul>
							</div>
							<div>
								<ul class="post-comments padding-20 padding-bottom-1 bg-white">
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
										<hr>
									</li>
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
										<hr>
									</li>
									<li class="post-comment">
										<div class="poster-img pull-left padding-right-10">
											<img class="radius-50" src="/images/user-img.png" >
										</div>
										<div class="comment font-opensans font-size-12">
											<span class="poster-name text-orange font-size-12">Heber Brown</span>
											<span class="poster-comment font-size-12">Yes, but not that much</span>
											<br>
											<i class="like-icon fa fa-heart text-blue bg-navy-blue radius-50 text-white padding-5" data-toggle="tooltip" data-placement="bottom" title="Like"></i>
											<a class="text-orange comment-reply text-decoration-none" href="">Reply</a>
											<span class="post-time text-blackish-gray">Yesterday at 7:30 am</span>
											<i class="fa fa-times text-light-gray pull-right"></i>
										</div>
									</li>
									<li class="comment-box">
										<div class="input-group">
										    <input type="text" class="form-control padding-20" placeholder="Write a comment.." />
										    <span class="input-group-addon ">
										        <i class="fa fa-camera"></i>
										    </span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="clearfix height-30"></div> -->

						<!-- <center>
							<div>
								<a class="update-status-button font-dinopro-medium text-white padding-x-34 padding-y-10 bg-orange" href="">Load More</a>
							</div>
						</center> -->
						
						<div class="clearfix height-30"></div>
					</div>
				</div>
			</div>
		</div>
	<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
	<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
	<script>
		$('#myTabs a').click(function (e) {
		  e.preventDefault()
		  $(this).tab('show')
		});
		$('#exampleModal').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var recipient = button.data('whatever') // Extract info from data-* attributes
		  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		  var modal = $(this)
		  modal.find('.modal-title').text('New message to ' + recipient)
		  modal.find('.modal-body input').val(recipient);
		});
	</script>
</body>
</html>
<% include dropdowns %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title font-dinopro font-weight-bold font-size-24" id="exampleModalLabel">Resident</h4>
      </div>
      <div class="modal-body">
        <form>
            <label for="recipient-name" class="control-label font-opensans-semibold font-size-16">Add your resident year:</label>
			<div class="input-group">
			    <span class="input-group-addon ">
			        <i class="fa fa-calendar"></i>
			    </span>
			    <input type="text" class="form-control date-own padding-20" />
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Add</button>
      </div>
    </div>
  </div>
</div>
<script>
	$('.date-own').datepicker({
		minViewMode: 2,
		format: 'yyyy',
        autoclose: true
	});
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>