<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>UHome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/dependencies/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
		<link rel="stylesheet" href="/styles/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/social-main.css" />
		<link rel="stylesheet" href="/styles/profile.css" />
		<link rel="stylesheet" href="/styles/myproject-inner-user.css" />
		<link rel="stylesheet" href="/styles/myprojects.css" />
		<link rel="stylesheet" href="/styles/contractor-company-EditProfile.css" />
		<link rel="stylesheet" href="/styles/step-4.css">
		<link rel="stylesheet" href="/styles/recommendation.css" />
		<link rel="stylesheet" href="/styles/inner-openprojects.css" />
		<link rel="stylesheet" href="/styles/myteam.css" />
		<link rel="stylesheet" href="/styles/verfication.css" />
		
		<link rel="stylesheet" href="/styles/step-1.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="/styles/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/styles/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			<% include topnav %>
			<div class="page-content">
				<div class="container">
					<% include ../common/sidebar %>
					<div class="middle-content col-md-9 padding-x-34 user-profile-details">
						<div class="clearfix height-40"></div>
						<div class="row margin-0 col-md-12 bg-white padding-y-20">
							<span class="font-size-22 font-dinopro padding-20 padding-y-34">Verify Your ID</span>
						</div>
						<div class=" bg-white">
							<div class="row margin-0 col-md-12 padding-x-20 bg-white">
								<div class="col-md-7 padding-x-10 font-opensans text-gray">
									<p>Getting your verified ID is the easiest way to access all the features and capabilites of UHome community. We'll verify you by matching your information on the online portals so be truthful. <span class="text-tale-red">Learn More</span></p>
									<br>
									<p>Or you can choose to only add the verifications you want below.</p>
								</div>
								<div class="col-md-5 padding-x-10 padding-top-35">
									<div class="btnss pull-left">
										<center><a href="" class="btn btn-primary bg-tale-red padding-x-34 padding-y-15">Verify Me</a></center>
									</div>
								</div>
							</div>
							<div class="row margin-0 social-media padding-y-40">
								<div class="row margin-0 col-md-12 padding-x-20 bg-white padding-top-35">
									<div class="col-md-7 padding-x-10 font-opensans text-gray">
										<p class="font-size-18 font-opensans-semibold text-dark-gray" style="text-align: left !important;">Facebook</p>
										<p class="font-size-14">Sign in with facebook and discover your trusted connections to hosts and guests all over the world.</p>
									</div>
									<div class="col-md-5 padding-x-10 padding-top-35">
										<div class="btnss">
											<center><a href="" class="connect-btn btn btn-primary bg-white padding-x-100 padding-y-10 border-gray-1 text-dark-gray">Connect</a></center>
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 bg-white">
									<div class="col-md-7 padding-x-10 font-opensans text-gray">
										<p class="font-size-18 font-opensans-semibold text-dark-gray">Google</p>
										<p class="font-size-14">Sign in with google and discover your trusted connections to hosts and guests all over the world.</p>
									</div>
									<div class="col-md-5 padding-x-10 padding-top-35">
										<div class="btnss">
											<center><a href="" class="connect-btn btn btn-primary bg-white padding-x-100 padding-y-10 border-gray-1 text-dark-gray">Connect</a></center>
										</div>
									</div>
								</div>
								<div class="row margin-0 col-md-12 padding-x-20 bg-white">
									<div class="col-md-7 padding-x-10 font-opensans text-gray">
										<p class="font-size-18 font-opensans-semibold text-dark-gray">LinkedIn</p>
										<p class="font-size-14">Sign in with linkedin and discover your trusted connections to hosts and guests all over the world.</p>
									</div>
									<div class="col-md-5 padding-x-10 padding-top-35">
										<div class="btnss">
											<center><a href="" class="connect-btn btn btn-primary bg-white padding-x-100 padding-y-10 border-gray-1 text-dark-gray">Connect</a></center>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix height-30"></div>
		<div class="clearfix height-30"></div>
	<script type="text/javascript" src="/js/dependencies/jquery.js"></script>
	<script type="text/javascript" src="/js/dependencies/bootstrap.min.js"></script>
	<script type="text/javascript" src="/libs/bootstrap/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
<% include dropdowns %>
<script>
	$(document).ready(function() {
		$('.date-own').datepicker({
			minViewMode: 2,
			format: 'yyyy',
	        autoclose: true
		});
		$.each($(".business-days"), function(index, value) {

			if ($(this).children(".weekday").val() != 'Close') {
				$(this).children(".day").css('background-color', '#f07246');
			}
		});

		$(".weekday").change(function() {
			var day = $(this).data('id');
			if ($(this).val() == "Close") {
				$("."+day).css('background-color', '#bdbdbd');
				$("."+day+"-end").addClass('hidden');
			} else {
				$("."+day).css('background-color', '#f07246');
				$("."+day+"-end").removeClass('hidden');
			}
		});

		$(".upload-team-member").click(function() {
			$("#upload-team-member").trigger('click');
		});
	});
</script>