<div class="top-nav">
  <div class="container">
    <div class="first-container col-md-4 col-sm-3 col-xs-4 pull-left">
      <div class="row">
        <div class="logo pull-left col-md-4">
          <a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
        </div>
        <div class="notification-items pull-left col-md-8">
          <ul class="menu">
            <li class="pull-left invite-button">
              <a class="menu text-white invite-button" href="javascript:;">Invite <i class="glyphicon glyphicon-triangle-bottom"></i></a>
            </li>
            <li class="pull-left text-white notification-button icons">
              <img class="img-responsive pull-left" src="/images/icon-set/bell-icon.png" />
              <!-- <span class="mobile-notification">16</span> -->
            </li>
            <li class="pull-left text-white messages-button icons">
              <img class="img-responsive pull-left" src="/images/icon-set/message-icon.png" />
              <!-- <span class="mobile-notification">7</span> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-bar col-md-6 col-sm-7 col-xs-6">
      <div class="row">
        <input type="text" id="search-bar" class="col-md-9 col-sm-9 col-xs-8" placeholder="What are you looking for?">
        <a href="" class="btn col-md-2 col-sm-2 col-xs-4">
          <img class="img-responsive pull-left padding-x-15 padding-y-2" src="/images/icon-set/nav-search-icon.png" />
        </a>
      </div>
    </div>
    <div class="user-info col-md-2 col-sm-2 col-xs-2">
      <a href="/spprofile" class="text-decoration-none">
        <img class="img-responsive profile-image pull-left" src="<%= contractor.profilePicture %>">
        <span class="user-name text-white"><%= contractor.firstName %> <i class="glyphicon glyphicon-triangle-bottom"></i></span>
      </a>
    </div>
  </div>
</div>
<div class="top-nav-mobile">
  <div class="mobile-icons active timeline-icon pull-left col-md-2">
    <center>
      <i class="fa fa-newspaper-o"></i>
    </center>
  </div>
  <div class="mobile-icons notification-icon pull-left col-md-2">
    <center>
      <i class="fa fa-bell"></i>
      <!-- <span class="mobile-notification mobile-bell-notification">16</span> -->
    </center>
  </div>
  <div class="mobile-icons messages-icon pull-left col-md-2">
    <center>
      <i class="fa fa-envelope"></i>
      <!-- <span class="mobile-notification mobile-message-notification">17</span> -->
    </center>
  </div>
  <div class="mobile-icons search-icon pull-left col-md-2">
    <center>
      <i class="fa fa-search"></i>
    </center>
  </div>
  <div class="mobile-icons right-panel pull-left col-md-2">
    <center>
      <i class="fa fa-reorder"></i>
    </center>
  </div>
</div>
<div class="clearfix top-spacing height-30"></div>