<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/ads-step1.css">
    <link rel="stylesheet" href="/styles/advertisement-step2.css">
    <link rel="stylesheet" href="/styles/advertisement-step3.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/badge.css">
    <link rel="stylesheet" href="/styles/calendar.css">
    <link rel="stylesheet" href="/styles/contractor-company-EditProfile.css">
    <link rel="stylesheet" href="/styles/contractor-dashboard_v2.css">
    <link rel="stylesheet" href="/styles/contractor-messages.css">
    <link rel="stylesheet" href="/styles/find-contractor.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/group-events.css">
    <link rel="stylesheet" href="/styles/group-photos.css">
    <link rel="stylesheet" href="/styles/group-timeline.css">
    <link rel="stylesheet" href="/styles/group-uhomebuddies.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/inner-openprojects.css">
    <link rel="stylesheet" href="/styles/invite-email.css">
    <link rel="stylesheet" href="/styles/jobposting-review.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/myproject-inner-user.css">
    <link rel="stylesheet" href="/styles/myprojects-contractor.css">
    <link rel="stylesheet" href="/styles/myprojects.css">
    <link rel="stylesheet" href="/styles/myteam.css">
    <link rel="stylesheet" href="/styles/photogallery-slider-single.css">
    <link rel="stylesheet" href="/styles/photogallery.css">
    <link rel="stylesheet" href="/styles/postproject-submitted.css">
    <link rel="stylesheet" href="/styles/postproject.css">
    <link rel="stylesheet" href="/styles/profile-company.css">
    <link rel="stylesheet" href="/styles/profile.css">
    <link rel="stylesheet" href="/styles/recommendation.css">
    <link rel="stylesheet" href="/styles/recovery.css">
    <link rel="stylesheet" href="/styles/registration.css">
    <link rel="stylesheet" href="/styles/reviews.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/setting-all-open-tabs.css">
    <link rel="stylesheet" href="/styles/signup.css">
    <link rel="stylesheet" href="/styles/social-main.css">
    <link rel="stylesheet" href="/styles/step-1.css">
    <link rel="stylesheet" href="/styles/step-3.css">
    <link rel="stylesheet" href="/styles/step-4.css">
    <link rel="stylesheet" href="/styles/submit-proposal.css">
    <link rel="stylesheet" href="/styles/timeline.css">
    <link rel="stylesheet" href="/styles/user-timeline.css">
    <link rel="stylesheet" href="/styles/verfication.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/angular.1.6.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/bootstrap-datepicker.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/jquery.inputmask.bundle.js"></script>
    <script src="/js/dependencies/jquery.maskedinput.js"></script>
    <script src="/js/dependencies/mask.js"></script>
    <script src="/js/dependencies/ng-file-upload.min.js"></script>
    <script src="/libs/angular-map/ng-map.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/controllers/bissenesProfile.js"></script>
    <script src="/js/controllers/businessDashboard.controller.js"></script>
    <script src="/js/controllers/individualDashboard.controller.js"></script>
    <script src="/js/controllers/signUp.controller.js"></script>
    <script src="/js/controllers/userDashboard.js"></script>
    <script src="/js/controllers/userProfile.js"></script>
    <script src="/js/custom/businessRegistration.js"></script>
    <script src="/js/custom/contractorDashboard.js"></script>
    <script src="/js/custom/index.js"></script>
    <script src="/js/custom/serviceseekerDashboard.js"></script>
    <script src="/js/directive/bregisterStep2.js"></script>
    <script src="/js/directive/delay.js"></script>
    <script src="/js/directive/registerStep2.js"></script>
    <script src="/js/directive/userProfile.js"></script>
    <script src="/js/filter/replace.js"></script>
    <script src="/js/public/BregisterModule.js"></script>
    <script src="/js/public/HomepageModule.js"></script>
    <script src="/js/public/LoginModule.js"></script>
    <script src="/js/public/PostprojectModule.js"></script>
    <script src="/js/public/RecoveryModule.js"></script>
    <script src="/js/public/ResetpasswordModule.js"></script>
    <script src="/js/public/ServiceModule.js"></script>
    <script src="/js/public/SregisterModule.js"></script>
    <script src="/js/public/SubserviceModule.js"></script>
    <script src="/js/services/api.service.js"></script>
    <script src="/js/services/businessHours.service.js"></script>
    <script src="/js/services/datepicker.service — копия.js"></script>
    <script src="/js/services/datepicker.service.js"></script>
    <script src="/js/services/datepiker.service.js"></script>
    <script src="/js/services/googleMap.serice.js"></script>
    <script src="/js/services/googleMap.service — копия.js"></script>
    <script src="/js/services/googleMap.service.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
