.campaign {
	border-left: 5px solid #f1c12f;
	border-right: 1px solid #dcdbd9;
	border-top: 1px solid #dcdbd9;
	border-bottom: 1px solid #dcdbd9;
}

.campaign:hover {
	background-color: #fef2ee;
}

.footer {
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #32363e;
  text-align: center;
}

.footer li a {
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	color: #9ba1af;
	padding-left: 10px;
	padding-right: 10px;
	font-family: DINPro;
}

.footer li a:hover {
	color: #9ba1af;
	text-decoration: none;
}

.footer p {
	color: #c3c6cd;
}

.paging ul li:hover, .paging ul li a:hover {
	background-color: #fff !important;
	color: #0b9d80 !important;
}