.campaigns {
	background-image: url('../images/contractor/bg-campaign.png');
	background-position: bottom;
	background-repeat: repeat-x;
}

.item {
	width: 235px;
	margin: 0 auto;
}

.item-icon {
	border-radius: 50%;
	width: 160px;
}
