.contractor-badge {
	background-image: url('../images/contractor/bg-contractor-badge.png');
	background-position: top;
	-webkit-background-size:  100% 154px;
	background-size:  100% 154px;
	background-repeat: no-repeat;
	border-radius: none;
	padding-bottom: 20px;
}

.rating-stars {
	width: 144px;
}

.rating-stars li {
	padding: 3px 2px;
	display: inline;
}

.message-body, .notification-body, .search-body, .right-panel-body {
	margin-top: 10px !important;
}

.page-content {
	margin-top: 40px !important;
}
