.fc-state-default {
	background-color: #f04c15 !important;
	background-image: none;
	color: white;
}

.fc-toolbar {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	background-color: #eef3f7;
	margin-bottom: 0px;
}

.fc-widget-header thead tr {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9cdd6+0,d8dbe1+50,c8ccd6+100 */
	background: #c9cdd6; /* Old browsers */
	background: -moz-linear-gradient(top,  #c9cdd6 0%, #d8dbe1 50%, #c8ccd6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c9cdd6 0%,#d8dbe1 50%,#c8ccd6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c9cdd6 0%,#d8dbe1 50%,#c8ccd6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9cdd6', endColorstr='#c8ccd6',GradientType=0 ); /* IE6-9 */
}

.fc-center h2 {
	font-family: 'OpenSansSemiBold';
	font-size: 25px;
}

.fc th {
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: OpenSansSemiBold;
	font-size: 14px;
	text-transform: uppercase;
}

.fc-widget-content {
	font-family: OpenSansSemiBold;
	font-size: 12px;
}

.fc-ltr .fc-basic-view .fc-day-number {
	padding-right: 10px;
}