body {
	overflow-y: scroll !important;
}
.tags {
	cursor: pointer;
	padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
	padding-bottom: 7px;
	padding-top: 5px;
	margin-right: 5px;
    position: relative;
	background-color: #929397;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	display: inline-block;
	margin-bottom: 5px;
}
.tags:hover {
	background-color: #1e5b8b;
}
.tags:hover .fa {
    opacity: 1;
}
.tags .fa {
	margin-left: 5px;
    position: absolute;
    right: 6px;
    top: 8px;
    opacity: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.nav-tabs > li {
	display: inherit !important;
	float: none;
	background-color: #ffdbb8;
	border: 1px solid #edb583;
}

.nav-tabs > li a {
	background-color: #ffdbb8;
	border-radius: 0px;
	border-top: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #0d4076 !important;
    -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
    -moz-box-shadow: inset 0px 0px 0px 0px #fff;
    box-shadow: inset 0px 0px 0px 0px #fff;
}

.nav-tabs .active::after {
	content: "";
    position: absolute;
    bottom: -11px;
    left: 35%;
    border-width: 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.message-body, .notification-body, .search-body, .right-panel-body {
	margin-top: 10px !important;
}

@media (min-width: 1000px) and (max-width: 1200px) {
	.message-body, .notification-body, .search-body, .right-panel-body {
		margin-top: 0px !important;
	}
}

@media (max-width: 980px) {
	.signup-body {
		display: none;
	}
	.signup-body-tabs {
		display: block;
	}
}

@media (min-width: 980px) {
	.signup-body {
		display: block;
	}
	.signup-body-tabs {
		display: none;
	}
}

@media (max-width: 1200px) {
	.nav-tabs li a {
        padding: 5px 30px;
    }
}