.btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
	background-color: #fff !important;
	outline: none;
}

.border-left-right-gray {
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
}

.input-group input, .input-group span {
	background-color: #f6f6f6;
	border: none !important;
}

.input-group span i, .input-group input {
	color: #899397;
}

.user img {
	width: 30px;
}

.message-box {
	line-height: 1;
	height: 800px;
}

.messaged-users, .message-area {
	overflow-y: scroll;
	height: 800px;
}

::-webkit-scrollbar
{
  width: 0px;  /* for vertical scrollbars */
  height: 0px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(1, 1, 1, 1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(1, 1, 1, 1);
}

.user-row:hover {
	background-color: #fbf2ec !important;
	cursor: pointer;
}

.user-row.active {
	border-left: 5px solid #eb6c4a;
	background-color: #f09271 !important;
	color: #fff;
}

.user-row.active .sender-username, .user-row.active .new-message-prompt, .user-row.active .message-glimpse, .user-row.active .time {
	color: #fff;
}

.message-area {
	position: relative
}

.message-area .conversation {
	max-height: 780px;
	position: absolute;
	bottom: 80px;
	overflow-y: scroll;
}

.message {
	padding: 10px;
	bottom: 0;
}

.message img {
	width: 50px;
	height: 50px;
}

.message-area li {
	display: flex;
}

.send-message-area {
	bottom: 0;
	position: absolute;
	background-color: #f6a588;
}

.message .col-md-2 {
	width: 50px;
	margin-right: 15px;
	line-height: 1.3;
}