.progress {
	height: 10px;
}

.fc-toolbar {
	background-color: #0b9d80;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 0px;
}

.fc-state-default {
	background-color: #0b9d80;
    background-image: none;
    border-color: #0b9d80;
    color: #333;
    text-shadow: none;
    box-shadow: none;
}

.fc-center h2 {
	color: #fff;
	font-size: 	22px;
	font-family: DINPro;
}

.fc th, .fc td {
	border-width: 0px;
	padding: 5px;
}

.fc-basic-view .fc-body .fc-row {
    min-height: 2em;
    overflow: hidden;
}

.fc-scroller, .fc-day-grid-container {
	overflow-y: hidden !important;
	height: 170px !important;
}