body {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: OpenSansLight;
}

.page-content {
    background-image: none;
}

a.menu {
    line-height: 5;
}

a:focus, a.menu:hover, a.menu .active {
    border-bottom: 3px solid #f26739;
    color: #fff;
    text-decoration: none;
}

.services li center:hover {
    background-color: #f7fbff;
}

.services a:hover {
    color: #ccc;
}

#footer {
    width: 100%;
    bottom: 0;
    background-color: #32363e;
    position: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

.each-service h3 {
    font-size: 20px;
}

.service-img-container {
    width: 122px !important;
    height: 95px !important;
}

.select {
    font-size: 18px;
    position: relative;
    display: inline-block;
}

.select select {
    outline: none;
    -webkit-appearance: none;
    display: block;
    padding: 10px;
    width: 425px;
    margin: 0;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: #fff;
    color: #555;
    line-height: normal;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.select .arr {
    background: #fff;
    bottom: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 50px;
    pointer-events: none;
}

.select .arr:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 10px solid #555555;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.select .arr:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 28px;
    margin-top: -5px;
    pointer-events: none;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

@media (max-width: 1200px) {
    .contractor-search-bar {
        margin-top: 200px !important;
    }
}

@media (max-width: 675px) {
    .search-bar-field {
        padding-left: 15% !important;
    }

    #footer {
        width: 670px !important;
    }
}

@media (min-width: 1000px) {
    .services, .services-row {
        width: 100% !important;
    }
}

@media (max-width: 1000px) {
    .services-row {
        width: 565px !important;
        margin: 0 auto !important;
    }

    .each-service {
        width: 280px !important;
    }

    .services {
        width: 670px !important;
    }

    #footer {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .types-of-professionals {
        display: none;
    }

    .services {
    }

    .main-text, .services {
        text-align: center;
        font-size: 30px;
    }
}

@media (min-width: 670px) {
    .each-service {
        width: 280px !important;
    }
}

@media (min-width: 480px) {
    .services-dropdown {
        display: none;
    }
}

@media (max-width: 480px) {
    .services-row {
        display: none;
    }

    .services-dropdown {
        display: block;
    }

    .services-select-box {
        width: 425px;
        margin: 0 auto;
    }

    .services, .main-text, .search-bar-field {
        width: 481px !important;
    }

    .responsive-msg {
        width: 450px !important;
    }

    .search-bar-field {
        padding: 20px !important;
    }

    .search-bar-field a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .services {
        top: 80px !important;
    }

    .main-text, .services {
        text-align: center;
        font-size: 25px;
    }
}
