#group-users {
	padding: 0px !important;
	margin: 0 !important;
}

#group-users li {
	padding: 0 !important;
	margin: 0 !important;
}

#group-users li a {
	color: #000 !important;
	background-color: #fff !important;
}

.group-member {
}

.member-details {
	background-color: #f8f8f8 !important;
	border: 1px solid #ccc !important;
}