.nav-tabs .active::after {
	position: absolute;
	bottom: -11px;
	left: 35%;
	border-width: 0 15px 15px;
	border-style: solid;
	border-color: #fff transparent;
	display: none;
	width: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}