.group-nav, .group-nav ul, .group-nav li, .group-nav a {
	background-color: #6c6e71 !important;
	color: #fff;
	border-right: 1px solid #61646a;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .group-nav a:hover, .group-nav a:active, .group-nav a:focus, .group-nav a.active {
	background-color: #61646a;
	color: #fff;
}

.group-nav .nav-tabs > li {
	margin-bottom: 0;
}

.search-bars input {
	height: 25px;
	border-bottom-left-radius: 25px;
   	border-top-left-radius: 25px;
   	border-bottom-right-radius: 0px;
   	border-top-right-radius: 0px;
}

.search-bars span {
	border-bottom-right-radius: 25px;
   	border-top-right-radius: 25px;
   	border-bottom-left-radius: 0px;
   	border-top-left-radius: 0px;
   	color: gray;
}

.nav-tabs li a {
	padding: 10px !important;
}

.input-group-addon {
    padding: 2.9px 12px !important;
}

.info-tab {
	display: none !important;
}

.view {
    width: 230px !important;
    height: 230px !important;
    float: left !important;
    overflow: hidden !important;
    position: relative !important;
    text-align: center !important;
    cursor: default !important;
    border: 0px solid white; 
}

@media (max-width: 1200px) {
	.left-sidebar {
		display: none;
	}
	.middle-content {
		display: block;
		width: 100%;
	}
}

@media (min-width: 1000px) and (max-width: 1200px) {
	.nav, .search-bars {
		width: 100% !important;
	}
}

@media (min-width: 1000px) {
	.view {
	    width: 250px !important;
	    height: 250px !important;
	    float: left !important;
	    overflow: hidden !important;
	    position: relative !important;
	    text-align: center !important;
	    cursor: default !important;
	    border: 10px solid white; 
	}
}

@media (max-width: 1000px) {
	.right-sidebar {
		display: block;
	}
	#photos {
		padding: 20px !important;
	}
}

@media (max-width: 991px) {
	.group-btns {
		height: 0px !important;
	}
	.search-bars {
		background-color: #e3f2fe !important;
	}
	.search-bars input, .search-bars span {
		border-bottom-left-radius: 0px !important;
	    border-top-left-radius: 0px !important;
	    border-bottom-right-radius: 0px !important;
	    border-top-right-radius: 0px !important;
	}
	.right-sidebar {
		display: none;
	}
	.info-tab {
		display: block !important;
	}
	.fa-cog {
		padding-top: 0px !important;
		margin-top: -10px;
	}
	.member-picture {
		margin-right: 10px;
	}
	.member-picture img {
		width: 76px;
	}
}

@media (min-width: 768px) {
	.group-option-btns-mobile {
		display: none;
	}
}

@media (max-width: 768px) {
	#group-users li {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.user-cover-section {
		height: 210px !important;
	}
	.group-details {
		height: 120px !important;
	}
	.group-option-btns {
		display: none;
	}
	.group-option-btns-mobile {
		display: block;
	}
	.profile-description .nav {
		height: auto;
	}
	.nav-tabs > li {
		display: inherit !important;
		float: none !important;
		background-color: #ffdbb8 !important;
		border: 1px solid #edb583 !important;
		height: 30px !important;
	}
	.nav-tabs > li a {
		background-color: #ffdbb8 !important;
		border-radius: 0px !important;
		border-top: 0px !important;
	    font-size: 12px !important;
	    color: #555555 !important;
	    font-family: OpensansSemiBold !important;
	    text-transform: uppercase;
	    padding: 5px 10px !important;
	    height: 30px !important;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-color: #0d4076 !important;
	    -webkit-box-shadow: inset 0px 0px 0px 0px #fff !important;
	    -moz-box-shadow: inset 0px 0px 0px 0px #fff !important;
	    box-shadow: inset 0px 0px 0px 0px #fff !important;
	    color: #fff !important;
	    font-size: 12px !important;
	}
	.nav-tabs .active::after {
		content: "" !important;
	    position: absolute !important;
	    bottom: -11px !important;
	    left: 35% !important;
	    border-width: 0 !important;
	    border-style: solid !important;
	    border-color: #fff transparent !important;
	    display: block !important;
	    width: 0 !important;
	}
}

@media (max-width: 560px) {
	.post-details {
		width: 60% !important;
	}
	.poster-img img {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 480px) {
	.view {
	    width: 210px !important;
	    height: 210px !important;
	    float: left !important;
	    overflow: hidden !important;
	    position: relative !important;
	    text-align: center !important;
	    cursor: default !important;
	    border: 10px solid white; 
	}
}

@media (max-width: 470px) {
	.view {
	    width: 250px !important;
	    height: 250px !important;
	    float: left !important;
	    overflow: hidden !important;
	    position: relative !important;
	    text-align: center !important;
	    cursor: default !important;
	    border: 10px solid white; 
	}
}