.logo-wrap {
  display: block;
  width: 107px;
  height: 49px;
  margin-top: 15px;
  background: url('../images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main-header-content {
  z-index: 1000;
  /*background: rgba(33, 37, 44, .47);*/
  /*position:relative;*/
  top:0;
  width: 100%;
  height: 68px;
  position: fixed;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;

}
.main-header-content.fixed {
  background: rgba(33, 37, 44, .47);
}
.main-header-content.fixed .top-nav-list {
  padding: 20px 0 0;
}
.main-header-content.fixed .logo-wrap {
  margin-top: 0;
}
.tag-line-wrap {
  padding-top: 32px;
}

.tag-line {
  font: 11px "DINPro-Medium", helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
}

.welcome-note {
  text-align: left;
  width: 100%;
  margin: 22vh auto 0;
  color: white;
}
.welcome-text {
  padding: 25px 0;
}

.header-text {
  font-size: 70px;
  font-family: 'MyriadProRegular', sans-serif;
  text-shadow: 1px 1px #000;
  letter-spacing: -3px;
  text-transform: uppercase;
}

.header-mini {
  font-size: 30px;
  text-shadow: 1px 1px #000;
  letter-spacing:-2px
}
.why-uhome {
  height: 100vh;
  padding-top: 20vh;
  background-color: #fff;
  text-align: center;
}
.why-uhome h2 {
  color: #444446;
  font-family: 'LatoRegular', sans-serif;
  font-size: 50px;
}
.why-uhome h3 {
  font-size: 30px;
  margin: auto;
  /*max-width: 1000px;*/
  color: #5c5c5c;
}
.why-text {
  text-align: left;
  font-size: 30px;
  padding-top: 30px;
}
.list li .fa {
  color: #0b9d80;
  padding-right: 10px;
}
.list li {
  position: relative;
  display: block;
  line-height: 50px;
  /*padding-left: 25px;*/
}

.why-uhome hr {
  width: 40px;
  height: 2px;
  padding: 0;
  margin: 27px auto 34px;
  border: none !important;
  background-color: #0b9d80;
}

.under-top {
  background-color: #0b9d80;
  padding: 40px 0;
}
.under-top .btn,
.home-main-view .btn {
  padding: 15px;
  border-radius: 5px;
}
.under-top .btn:first-of-type,
.home-main-view .btn:first-of-type {
  margin-right: 30px;
}
.under-top .btn {
  margin-top: 35px;
}

.under-top p {
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  font-family: LatoLight, sans-serif;
  text-transform: uppercase;
}
.under-top p::first-letter {
  font-size: 40px;
}
.bottom-section {
  background-image: url('../images/home-footer-back.jpg');
  height: 100vh;
  padding-top: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  min-height: 600px;
}
.footer-home {
  background-color: #32363e;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}
.footer-menu ul {
  margin-bottom: 5px;
}
.footer-menu li {
  display: inline-block;
  padding-right: 8px;
}
.footer-menu li a {
  display: block;
  color: #9ba1af;
  font-family: "OpenSansBold", sans-serif;
  text-transform: uppercase;
}
.copyright {
  color: #c3c6cd;
}
.social-menu ul {
  margin-bottom: 0;
  margin-top: 5px;
}
.social-menu li {
  display: inline-block;
  text-align: center;
  padding-right: 5px;
}
.social-menu a {
  font-size: 15px;
  display: block;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
}
.social-menu a[href*="facebook.com"]{
  background-color: #3b5998;
}
.social-menu a[href*="twitter.com"]{
  background-color: #00aced;
}
.social-menu a[href*="plus.google.com"]{
  background-color: #dd4b39;
}
.social-menu a[href*="linkedin.com"]{
  background-color: #007bb6;
}
.social-menu a[href*="instagram.com"]{
  background-color: #2e5e86;
}
.social-menu a[href*="pinterest.com"]{
  background-color: #bd081c;
}
.panel-default {
    border-color: transparent !important;
}

.panel {
    background-color: transparent;
}

.panel-body {
    color: #fff;
    font-family: OpenSans;
}

.panel-heading {
    border-color: transparent !important;
}

.panel-heading a {
    color: #fff;
    font-family: DINPro;
    font-weight: bold;
    font-size: 30px;
    width: auto;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0px;
}
.pull-center {
  text-align: center;
  display: block;
}

.top-nav-list {
  padding: 50px 0 0;
  margin: 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.top-nav-list li {
  font-family: "LatoBold", sans-serif;
  color: white;
  display: inline-block;
}
.top-nav-list li:hover a,
.top-nav-list li:hover span {
    color: #0b9d80 !important;
}

.how-it-works {
  margin-right: 0 !important;
}

.how-it-works a {
  padding: 0 0 10px;
  /* background-color: #0b9d80; */
  border-bottom: 3px solid #0b9d80;
  margin-right: 30px;
}

.how-it-works .video-icon {
  display: inline-block;
  width: 14px;
  height: 15px;
  background-image: url('../images/homepage/video-icon.png');
  background-position: center;
  background-repeat: no-repeat;
}

.how-it-works p {
  font-family: "LatoBold", sans-serif;
  display: inline-block;
}

.first_view {
  z-index: 100;
  width: 100%;
}
.welcome-text p {
  color: #fff;
  font-size: 18px;
  line-height: 1.35;
  font-family: LatoLight, sans-serif;
  text-transform: uppercase;
}
.welcome-text p::first-letter {
  font-size: 22px;
}

.homepage-wrap {
  height: 100vh;
  background: url('../images/homepage-top-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 560px;
}

.home-main-view {
  padding: 20px 0;
  text-align: left;
}

.home-main-view .video-section {
  border: 10px solid #fff;
  height: 432px;
  padding: 0;
  background: url('../images/home-video.png') no-repeat;
}

.quick-signup-form {
  background: white;
  margin: 0 30px;
  padding: 0;
}

.quick-signup-form-header {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 27px;
  background: #e3f2f9;
  color: #21659b;
  font-family: 'DINPro';
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #d0e6f1;
}

.quick-signup-form-body {
  padding: 20px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 20px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 40px;
}

.right-addon input {
  padding-right: 40px;
}

.glyphicon {
  color: #878a8f;
}

input[type=text], input[type=password], input[type=email] {
  background: #f6f6f6;
  border: 1px solid gray;
  height: 56px;
  margin: 5px;
  margin-bottom: 20px;
  color: black;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #444444;
  font-weight: bold;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #444444;
  font-weight: bold;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #444444;
  font-weight: bold;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #444444;
  font-weight: bold;
}

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-family: DINPro, helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: #FFFFFF;
}

.btn:hover {
  color: white;
}

.btn-medium {
  width: 272px;
}

.text-large {
  font-size: 30px;
}

.btn-dark-blue {
  background-color: #1c5886;
}

.btn-orange {
  border: 1px solid #f0511f !important;
  background-color: #f2683a !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2683a), to(#f0511d)) !important;
  background-image: -webkit-linear-gradient(top, #f2683a, #f0511d) !important;
  background-image: -moz-linear-gradient(top, #f2683a, #f0511d) !important;
  background-image: -ms-linear-gradient(top, #f2683a, #f0511d) !important;
  background-image: -o-linear-gradient(top, #f2683a, #f0511d) !important;
  background-image: linear-gradient(to bottom, #f2683a, #f0511d) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f2683a, endColorstr=#f0511d) !important;
}

/*.btn-orange:hover {*/
  /*background-color: #f77043 !important;*/
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#f77043), to(#dc572a)) !important;*/
  /*background-image: -webkit-linear-gradient(top, #f77043, #dc572a) !important;*/
  /*background-image: -moz-linear-gradient(top, #f77043, #dc572a) !important;*/
  /*background-image: -ms-linear-gradient(top, #f77043, #dc572a) !important;*/
  /*background-image: -o-linear-gradient(top, #f77043, #dc572a) !important;*/
  /*background-image: linear-gradient(to bottom, #f77043, #dc572a) !important;*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f77043, endColorstr=#dc572a) !important;*/
/*}*/

.btn-light-blue {
  border: 1px solid #03a6e4 !important;
  background-color: #00aced !important;
}

.btn-light-blue:hover {
  border: 1px solid #049cd6 !important;
}

.btn-gray {
  border: 1px solid #3a3936 !important;
  background-color: #47494b !important;
}

.btn-gray:hover {
  border: 1px solid #3e3f41 !important;
}

.quick-signup-form-button {
  width: 100%;
}

.contractor-options {
  background: #154062;
  height: 160px;
  width: 100%;
  margin: 0 auto;
}

.second_view {
  display: none;
  background: #0b9d80;
  margin-top: -5px;
}

.service-item:hover {
  box-shadow: 0px 0px 10px 0px #333;
}

.zigzag {
  display: none;
  background-image: url('../images/splitter.png');
  background-repeat: repeat-x;
  height: 4px;
  width: auto;
  clear: both;
}

@media (max-width: 1366px) {
  .welcome-note {
    margin: 170px auto 43px;
  }
}
@media (max-width: 769px) {
  #footer {
    display: none;
  }
}

@media (min-width: 769px) {
  #footer {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .top-nav-list li {
    bottom: 0px;
  }
}
