.success-rate-tag {
	padding: 15px 12px;
	background-color: #0b9d80;
	border-radius: 50%;
	color: #fff;
	-webkit-box-shadow: 0px 2px 0px 1px #054e40;
	-moz-box-shadow: 0px 2px 0px 1px #054e40;
	box-shadow: 0px 2px 0px 1px #054e40;
	margin-right: 5px;
}

.recommended-tag {
	line-height: 2.3;
}