.uhome-friends h1 {
	margin-bottom: 0px;
}

.invitation-count {
    border-radius: 10px;
    vertical-align: middle;
}

.invitation-search input {
	border: none;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	color: black;
}

.invitation-search i {
	float: right;
    padding-top: 3px;
    color: #999999;
}

.invitation-search input:focus {
	outline: none;
}

.checkbox-container {
	padding-top: 10px;
}

.user-img img {
	border: 1px solid gray;
}

.email-address {
	padding-top: 15px;
}

.contacts-list {
	height: 375px;
	overflow-y: scroll;
    overflow-x: hidden;
}

.contact {
	width: 104.59%;
	border-bottom: 1px solid #e2e6e9;
}

.contact:hover {
	background-color: #f3f8fb;
}

.contacts-list::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.contacts-list::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.contacts-list::-webkit-scrollbar-thumb {
	background-color: #828486;
	border-radius: 8px;
}

.invite-textarea {
	width: 100%;
	height: 260px;
	border-radius: 5px;
	resize: none;
	border: 1px solid #e6e5e4;
	background-color: #fbfbfb;
}

/* checkbox library css start */
input[type=checkbox] { display: none; }
@-moz-keyframes 
dothabottomcheck {  0% {
 height: 0;
}
 100% {
 height: 8px;
}
}
@-webkit-keyframes 
dothabottomcheck {  0% {
 height: 0;
}
 100% {
 height: 8px;
}
}
@keyframes 
dothabottomcheck {  0% {
 height: 0;
}
 100% {
 height: 8px;
}
}
@keyframes 
dothatopcheck {  0% {
 height: 0;
}
 50% {
 height: 0;
}
 100% {
 height: 12px;
}
}
@-webkit-keyframes 
dothatopcheck {  0% {
 height: 0;
}
 50% {
 height: 0;
}
 100% {
 height: 12px;
}
}
@-moz-keyframes 
dothatopcheck {  0% {
 height: 0;
}
 50% {
 height: 0;
}
 100% {
 height: 12px;
}
}

input[type=checkbox] { display: none; }

.check-box {
  height: 14px;
  width: 14px;
  background-color: white;
  border: 1px solid #5d5e61;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
  margin-bottom: 0px;
}

.check-box::before,
.check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 3px;
  background-color: #21659b;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}

.check-box::before {
  top: 11px;
  left: 6px;
  /* box-shadow: 0 0 0 5px #667788; */
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.check-box::after {
  top: 6px;
  left: 0px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked { border-color: #21659b; }

input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 8px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}

input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 20px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
/* checkbox library css end */

@media (max-width: 1200px) {
    .invite-panel {
        padding: 0px;
        margin-top: 20px;
    }
}
