body {
	background-image: url('../images/bg-img-2.png');
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	font-family: OpenSansLight;
}

.fields-wrap {
	float: none !important;
}

.signup-title {
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 27px;
	background: #e3f2f9;
	color: #21659b;
	font-family: 'DINPro';
	font-weight: bold;
	border: 1px solid #d0e6f1;
}

.signup-title p {
	margin: 0;
}

.btn-wrap {
	padding: 0 30px 15px;
	margin-top: 20px;
}

.signup-wrap {
	/*height: 650px !important;*/
	background-color: #f3f3f3 !important;
}

.signup-button {
	width: 100%;
	background-color: #f0663f;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 3px;
	padding: 13px 0;
	cursor: pointer !important;
}
.signup-button:hover {
	background-color: #ce4620;
}
.btn-wrap span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}

.content {
    /*display: inline-block;*/
    /*position: fixed;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 415px;
    /*height: 426px;*/
    overflow-y: auto;
    margin: auto;
	margin-top: 150px;
    background-color: #f3f3f3;
    border-radius: 8px;
}

.login-body {
    background-color: #f3f3f3;
    /*border-radius: 5px !important;*/
}

.disable-float {
	float: none;
}

.login-btn-wrap {
	padding-bottom: 0;
	margin-bottom: 15px;
}

.login-footer {
	width: 100%;
	color: #fff;
}

.login-btn {
	height: 50px;
}

.login-footer li {
	list-style-type: none;
	margin: 0 30px 15px;
}

.login-footer ul {
	margin-bottom: 30px;
}

.login-footer li a {
	display: flex;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
}

.login-footer li a:hover {
	text-decoration: none;
}

.login-footer .facebook-social:hover {
	background-color: rgb(21, 50, 113);
}

.login-footer .google-social:hover {
	background-color: rgb(210, 40, 24);
}

.login-footer li a img {
	width: 50px;
	height: 50px;
	padding: 10px;
}

.facebook-social {
	background-color: #3a589b;
}

.google-social {
	background: #db4c3f;
}

.separator {
	width: 2px;
	background-color: #fff;
	height: 34px;
}

.social-text {
	width: 85%;
	text-align: center;
	color: #fff;
}

.social-text p {
	font-family: 'DINPro', Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
}

@media (max-width: 481px) {
    .content {
        /*display: inline-block;*/
        /*position: fixed;*/
        top: 0;
        bottom: 0;
        left: -8px;
        right: 0;
        width: 320px;
        /*height: 440px;*/
        overflow: hidden;
        margin: auto;
        /*background-color: transparent;*/
    }

}

@media (max-width: 319px) {
    .content {
        /*display: inline-block;*/
        /*position: fixed;*/
        top: 0;
        bottom: 0;
        left: -8px;
        right: 0;
        width: 300px;
        /*height: 440px;*/
        overflow: hidden;
        margin: auto;
        /*background-color: transparent;*/
    }

}

@media screen and ( max-height: 950px ){
	.content {
		margin-top: 85px;
	}
}

@media screen and ( max-height: 850px ){
	.content {
		margin-top: 45px;
	}
}

@media screen and ( max-height: 785px ){
	.content {
		margin-top: 25px;
	}
}
