@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSans-Semibold.eot');
	src: url('../fonts/OpenSans-Semibold.ttf');
	src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
		url('../fonts/OpenSans-Semibold.woff') format('woff'),
		url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.ttf');
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans.woff2') format('woff2'),
		url('../fonts/OpenSans.woff') format('woff'),
		url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansExtrabold';
	src: url('../fonts/OpenSans-Extrabold.eot');
	src: url('../fonts/OpenSans-Extrabold.ttf');
	src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),
		url('../fonts/OpenSans-Extrabold.woff') format('woff'),
		url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans-Bold.ttf');
	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.eot');
	src: url('../fonts/OpenSans-Light.ttf');
	src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light.woff2') format('woff2'),
		url('../fonts/OpenSans-Light.woff') format('woff'),
		url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: DINPro;
    src: url('../fonts/DINPro-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DINPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/DINPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/DINPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/DINPro-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'DINPro-Medium';
	src: url('../fonts/DINPro-Medium.eot');
	src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Medium.woff2') format('woff2'),
		url('../fonts/DINPro-Medium.woff') format('woff'),
		url('../fonts/DINPro-Medium.ttf') format('truetype'),
		url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.woff') format('woff'),
       url('../fonts/DINPro-Bold.ttf') format('truetype'),
       url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.otf');
  src: url('../fonts/DINPro-Bold.woff2') format('woff2'),
       url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
	font-family: 'LatoLight';
	src: url('../fonts/Lato-Light.ttf');
}

@font-face {
	font-family: 'LatoRegular';
	src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/MyriadPro-Regular.otf');
}

a {
	text-decoration: none;
}

::-webkit-input-placeholder {
   color: #666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666;
}

:-ms-input-placeholder {
   color: #666;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #919191;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: #919191;
  outline: 1px solid #919191;
  border-radius: 25px;
}

.main-content a:focus {
	outline: none;
}

/* General CSS */
body {
	background-color: #f5f5f5;
	padding: 0;
	margin: 0;
	font-family: OpenSansLight;
}

ul {
	padding: 0;
}

.centered {
	margin: 0 auto;
}

.height-10 {
	height: 10px;
}

.height-15 {
	height: 15px;
}

.height-20 {
	height: 20px;
}

.height-30 {
	height: 30px;
}

.height-36 {
	height: 36px;
}

.height-40 {
	height: 40px;
}

.height-56 {
	height: 56px;
}

.height-100 {
	height: 100px !important;
}

.container {
	padding-left: 4px;
	padding-right: 2px;
}

.col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-md-10, .col-md-11, .col-md-12  {
	padding-left: 0;
	padding-right: 0;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-white {
	color: #fff !important;
}

.text-orange {
	color: #f26739;
}

.text-light-gray {
	color: #888888;
}

.text-gray {
	color: #7f8c8d;
}

.text-gray2 {
	color: #7c7c7c !important;
}

.text-another-gray {
	color: #444444;
}

.text-green {
	color: #496e01;
}

.text-dark-gray {
	color: #666666 !important;
}

.text-extra-gray {
	color: #333333;
}

.text-blackish-gray {
	color: #61646a;
}

.text-black {
	color: #000 !important;
}

.text-light-blue {
	color: #21659b;
}

.text-blue {
	color: #21679e;
}

.text-navy-blue {
	color: #add7f8;
}

.text-ajeeb-blue {
	color: #717274;
}

.text-cyan {
	color: #0b9d80;
}

.text-dark-cyan {
	color: #7f8c8d;
}

.text-tale-red {
	color: #e94d54;
}

.text-yellow {
	color: #f2ae00;
}

.bg-more-extra-light-blue {
	background-color: #eff2f9 !important;
}

.bg-extralight-blue {
	background-color : #c7e4fa;
}

.bg-extra-light-blue {
	background-color : #f6f9ff;
}

.bg-dark-cyan {
	background-color : #7f8c8d !important;
}

.bg-blue-2 {
	background-color : #2c76b0;
}

.bg-cyanish-gray {
	background-color : #7d8b8c;
}

.bg-ek-aur-blue {
	background-color : #21659b !important;
}

.bg-anothers-blue {
	background-color: #e3f2f9 !important;
}

.bg-orange {
	background-color : #f26739;
}

.bg-yellow {
	background-color : #fbb100;
}

.bg-more-extra-light-yellow {
	background-color: #fffff6;
}

.bg-extra-light-yellow {
	background-color: #fcfcfc !important;
}

.bg-light-yellow {
	background-color : #fffaee;
}

.bg-light-orange {
	background-color : #fdf7f1;
}

.bg-light-blue {
	background-color: #e3f2fe;
}

.bg-extra-light-blue {
	background-color: #ecf7ff;
}

.bg-sky-blue {
	background-color: #2980b9 !important;
}

.bg-white {
	background-color: #ffffff !important;
}

.bg-bullshit {
	background-color: #f9f9f9;
}

.bg-light-off-white {
	background-color: #f6f6f6 !important;
}

.bg-off-white {
	background-color: #fafafb;
}

.bg-theme-blue {
	background-color: #1e5b8b;
}

.bg-navy-blue {
	background-color: #add7f8;
}

.bg-blue3 {
	background-color: #f4f9fb;
}

.bg-light-cyan {
	background-size: cover;
	background-color: #d6f7f1;
}

.bg-white-veri {
	background-color: #f6f7f8;
}

.bg-light-blue {
	background-color: #d6f3f7;
}

.bg-light-orange {
	background-size: cover;
	background-color: #fcf3e4;
}

.bg-gray {
	background-color: #6c6e71 !important;
}

.bg-light-gray {
	background-color: #929397;
}

.bg-extra-light-gray {
	background-color: #f0f1f1 !important;
}

.bg-slight-gray {
	background-color: #f7f7f7;
}

.bg-tale-red {
	background-color: #e94d54 !important;
}

.bg-green {
	background-color: #0b9d80 !important;
}

.font-size-9 {
	font-size: 9px;
}

.font-size-10 {
	font-size: 10px !important;
}

.font-size-11 {
	font-size: 11px !important;
}

.font-size-12 {
	font-size: 12px !important;
}

.font-size-13 {
	font-size: 13px;
}

.font-size-14 {
	font-size: 14px !important;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-22 {
	font-size: 22px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-26 {
	font-size: 26px;
}

.font-size-27 {
	font-size: 27px;
}

.font-size-28 {
	font-size: 28px;
}

.font-size-30 {
	font-size: 30px;
}

.font-size-36 {
	font-size: 36px;
}

.font-size-45 {
	font-size: 45px;
}

.font-size-60 {
	font-size: 60px;
}

.font-size-66 {
	font-size: 66px;
}

.padding-0 {
	padding: 0;
}

.padding-5 {
	padding: 5px;
}

.padding-6-5 {
	padding: 6.5px !important;
}

.padding-7 {
	padding: 7px !important;
}

.padding-7-5 {
	padding: 7.5px !important;
}

.padding-8 {
	padding: 8px !important;
}

.padding-10 {
	padding: 10px;
}

.padding-15 {
	padding: 15px !important;
}

.padding-20 {
	padding: 20px !important;
}

.padding-25 {
	padding: 25px;
}

.padding-30 {
	padding: 30px;
}

.padding-34 {
	padding: 34px;
}

.padding-x-0 {
	padding-left: 0;
	padding-right: 0;
}

.padding-x-5 {
	padding-left: 5px;
	padding-right: 5px;
}

.padding-x-10 {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.padding-x-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.padding-x-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-x-24 {
	padding-left: 24px;
	padding-right: 24px;
}

.padding-x-25 {
	padding-left: 25px;
	padding-right: 25px;
}

.padding-x-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.padding-x-40 {
	padding-left: 40px;
	padding-right: 40px;
}

.padding-x-34 {
	padding-left: 34px;
	padding-right: 34px;
}

.padding-x-50 {
	padding-left: 50px;
	padding-right: 50px;
}

.padding-x-100 {
	padding-left: 100px;
	padding-right: 100px;
}

.padding-y-3 {
	padding-top: 3px;
	padding-bottom: 3px;
}

.padding-y-5 {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.padding-y-7 {
	padding-top: 7px;
	padding-bottom: 7px;
}

.padding-y-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.padding-y-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.padding-y-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.padding-y-13 {
	padding-top: 13px;
	padding-bottom: 13px;
}

.padding-y-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.padding-y-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding-y-25 {
	padding-top: 25px;
	padding-bottom: 25px;
}

.padding-y-35 {
	padding-top: 35px;
	padding-bottom: 35px;
}

.padding-y-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding-y-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-top-0 {
	padding-top: 0;
}

.padding-top-3 {
	padding-top: 3px;
}

.padding-top-4 {
	padding-top: 4px;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-11 {
	padding-top: 11px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-25 {
	padding-top: 25px !important;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-top-35 {
	padding-top: 35px;
}

.padding-top-60 {
	padding-top: 60px;
}

.padding-top-85 {
	padding-top: 85px;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-left-8 {
	padding-left: 8px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-20 {
	padding-left: 20px;
}

.padding-left-40 {
	padding-left: 40px;
}

.padding-right-5 {
	padding-right: 5px;
}

.padding-right-10 {
	padding-right: 10px;
}

.padding-right-15 {
	padding-right: 15px;
}

.padding-right-20 {
	padding-right: 20px;
}

.padding-right-25 {
	padding-right: 25px;
}

.padding-bottom-0 {
	padding-bottom: 0;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.margin-0 {
	margin: 0 !important;
}

.margin-5 {
	margin: 5px;
}

.margin-x-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.margin-y-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.margin-y-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.margin-top-2 {
	margin-top: 2px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-35 {
	margin-top: 35px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-right-5 {
	margin-right: 5px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-right-15 {
	margin-right: 15px;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-right-30 {
	margin-right: 30px;
}

.margin-right-40 {
	margin-right: 40px;
}

.margin-right-50 {
	margin-right: 50px;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-left-45 {
	margin-left: 45px;
}

.line-height-1 {
	line-height: 1;
}

.font-dinopro {
	font-family: DINPro !important;
}

.font-dinopro-medium {
	font-family: 'DINPro-Medium';
	font-weight: bold;
}

.font-dinopro-bold {
	font-family: 'DINPro-Bold';
}

.font-opensans {
	font-family: OpenSans;
}

.font-opensans-semibold {
	font-family: OpenSansSemiBold;
}

.font-opensansbold {
	font-family: OpenSansBold;
}

.font-weight-bold {
	font-weight: bold;
}

.text-decoration-none:hover {
	text-decoration: none;
}

.text-underlined {
	text-decoration: underline;
}

.text-centered {
	text-align: center;
}

.radius-0 {
	border-radius: 0;
}

.radius-4 {
	border-radius: 4px;
}

.radius-25 {
	border-radius: 25px;
}

.radius-50 {
	border-radius: 50%;
}

.display-flex {
	display: flex;
}

.display-inline {
	display: inline;
}

.display-block {
	display: block;
}

.width-auto {
	width: 100%;
}

/* Theme CSS */
.btn {
	font-family: DINPro;
	font-weight: bold;
	border: none;
	font-size: 16px;
}

.btn-default {
	background-color: #f26739;
	color: #ffffff;
}

.btn-default:hover {
	color: #ffffff !important;
	background-color: #e65e31;
	border: none;
	font-size: 16px;
}

.btn-info {
	background-color: #0b9d80;
	color: #ffffff;
}

.btn-info:hover {
	color: #ffffff !important;
	background-color: #0d8870;
	border: none;
	font-size: 16px;
}

.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	background-color: #0d8870 !important;
}

.btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
	background-color: #d84413 !important;
	color: #fff;
}

.btn-primary {
	background-color: #1e5b8b;
	color: #ffffff;
}

.btn-primary:hover {
	background-color: #1a507b;
	color: #ffffff !important;
	border: none;
}

.btn-bordered:hover {
	border: 1px solid #aaa;
}

.btn-black {
	background-color: #444444;
	color: #ffffff;
}

.btn-black:hover {
	background-color: #333;
	color: #ffffff !important;
}

.box-shadow {
	box-shadow: 0px 0px 2px 1px #ddd;
}

.border-0 {
	border: none !important;
}

.border-bottom-1 {
	border-bottom: 1px solid #dcdbd9;
}

.border-bottom-5 {
	border-bottom: 5px solid #dcdbd9;
}

.border-bottom-gray-dashed {
	border-bottom: 1px dashed #e3dfdf;
}

.border-dashed-1 {
	border: 1px dashed #0b9d80;
}

.border-right-0 {
	border-right: 0;
}

.border-right-gray-1 {
	border-right: 1px solid #dcdbd9 !important;
}

.border-left-gray-1 {
	border-left: 1px solid #9f9f9f !important;
}

.border-left-orange-5 {
	border-left: 5px solid #f0501b !important;
}

.border-right-dark-gray-1 {
	border-right: 1px solid #9f9f9f !important;
}

.border-gray-1 {
	border: 1px solid #dcdbd9;
}

.border-white-5 {
	border: 5px solid #fff;
}

.border-orange-1 {
	border: 1px solid #fae2d8;
}

.border-dark-gray-1 {
	border: 1px solid #9f9f9f;
}

.notification {
	color: #fff;
	border-radius: 15px;
	padding-left:4px;
	padding-right: 5px;
	padding-top:0px;
	padding-bottom: 0px;
	font-size: 14px;
}

.btn-inbox {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: -5px;
	padding: 6px !important;
}

.btn-compose {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 6px !important;
}

.btn-message-actions {
	padding: 6px !important;
}

/* DROPDOWNS CSS */
.search-dialoug {
	width: 510px;
	position: absolute;
	z-index: 4000;
}
.search-dialoug li {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #21679e;
}
.search-dialoug img {
	width: 51px !important;
	height: 51px;
}
.img-container {
	width: 61px;
	float: left;
}
.result-answer {
	line-height: 3;
	padding-left: 10px;
}
.search-dialoug li:hover {
	background-color: #f6f6f6;
	color: #f15d2c !important;
}
#profile-dropdown {
	z-index: 200;
	background-color: #fff;
	width: 194px;
	/*width: 100%;*/
	height: auto;
	position: absolute;
	/*left: 1334px;*/
	/*top: 70px;*/
	box-shadow: 0 0 1px 1px #ccc;
	display: none;
	top: 46px;
	right: 0;
}
#profile-dropdown ul {
	margin: 0;
	z-index: 11;
}
#profile-dropdown li {
	border-bottom: 1px solid #eee;
	display: block;
	color: #555555;
}
#profile-dropdown li:hover {
	background-color: #f6f6f6;
	color: #f15d2c !important;
}
#profile-dropdown li a {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#profile-dropdown::before {
	position: absolute;
    top: -6px;
    left: 75%;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0px;
}
/*mobile*/
#profile-dropdown-mobile {
    z-index: 200;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    box-shadow: 0 0 1px 1px #ccc;
    display: none;
    top: 70px;
    right: 0;
    left: 0;
}
#profile-dropdown-mobile ul {
    margin: 0;
    z-index: 11;
}
#profile-dropdown-mobile li {
    border-bottom: 1px solid #eee;
    display: block;
    color: #555555;
}
#profile-dropdown-mobile li:hover {
    background-color: #f6f6f6;
    color: #f15d2c !important;
}
#profile-dropdown-mobile li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#profile-dropdown-mobile::before {
    position: absolute;
    top: -6px;
    left: 90%;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}
/*.right-panel:hover #profile-dropdown-mobile {*/
    /*display: block;*/
/*}*/


#invite-dropdown {
	z-index: 200;
	width: 315px;
	line-height: 1;
	top: 70px;
	/*left: 240px;*/
	left: 0;
	position: absolute;
	box-shadow: 0px 0px 1px 1px #ccc;
	display: none;
	color: #333;
}
#invite-dropdown .head {
	border-bottom: 1px solid #d7d7d7;
}
#invite-dropdown ul {
	margin: 0;
}
#invite-dropdown li {
	display: block;
}
#invite-dropdown li:hover {
	background-color: #fbf2ec;
}
#invite-dropdown::before {
	position: absolute;
    top: -6px;
    left: 17%;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}
.marked {
    text-align: right;
}
#notification-dropdown {
	z-index: 200;
	width: 315px;
	line-height: 1;
	top: 46px;
	/*left: 230px;*/
	left: -37px;
	position: absolute;
	box-shadow: 0px 0px 1px 1px #ccc;
	display: none;
	color: #333;
	text-align: left;
}
#notification-dropdown .head {
	border-bottom: 1px solid #d7d7d7;
}
#notification-dropdown ul {
	margin: 0;
}
#notification-dropdown li {
	display: block;
}
#notification-dropdown li:hover {
	background-color: #fbf2ec;
}
#notification-dropdown::before {
	position: absolute;
    top: -6px;
    left: 17%;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0px;
}
#messages-dropdown {
	z-index: 200;
	width: 395px;
	line-height: 1;
	top: 46px;
	/*left: 230px;*/
	left: -42px;
	position: absolute;
	box-shadow: 0px 0px 1px 1px #ccc;
	display: none;
	text-align: left;
	color: #333;
}
#messages-dropdown .head {
	border-bottom: 1px solid #d7d7d7;
}
#messages-dropdown ul {
	margin: 0;
}
#messages-dropdown li {
	display: block;
}
#messages-dropdown li:hover {
	background-color: #fbf2ec;
}
#messages-dropdown::before {
	position: absolute;
    top: -6px;
    left: 15%;
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0px;
}

.start-register-btn {
	margin-top: 30px;
}

.about-btn {
	text-align: right;
}

.about-textarea {
	max-width: 100%;
}

.user-settings {
	position: relative;
}

.user-settings:hover {
	background-color: #08856c;
}
.user-settings:hover #profile-dropdown {
	display: block;
}

.invite-button,
.notification-button,
.messages-button {
	position: relative;
}

.invite-button:hover #invite-dropdown {
	display: block;
}

.notification-button:hover #notification-dropdown {
	display: block;
}

.messages-button:hover #messages-dropdown {
	display: block;
}

.notification-button,
.messages-button {
	height: 38px;
}

/* public pages */

/* business public page */
.profile-content {
	padding-bottom: 40px;
}
.heading-content-info h2 {
	font-size: 20px;
	margin: 0;
	font-family: OpenSansSemiBold;
}
.short-info {
	background-color: #fcfcfc;
	border-bottom: 1px solid #e7e7e7;
	border-top: 1px solid #e7e7e7;
}
.user-image {
	width: 82px;
	height: 82px;
	border: 1px solid #dfdfdf;
	display: inline-block;
	vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.user-image img {
	border: 2px solid #fff;
	width: 100%;
}
.position {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	padding-left: 10px;
}
.position p {
	margin: 0;
}
.position p:first-child {
	color: #333333;
	font-size: 18px;
}
.position p:last-child {
	color: #868686;
	font-size: 15px;
}
.profile-data {
	border-bottom: 1px solid #cdcdcd;
	font-family: OpenSans;
}
.data-line {
	font-size: 0;
}
.data-line p {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	line-height: 20px;
	word-wrap: break-word;
}
.data-line p:first-child {
	color: #333333;
	width: 80px;
	font-weight: bold;
	font-size: 16px;
}
.data-line p:last-child {
	color: #666666;
	font-size: 14px;
	width: calc(100% - 80px);
}
.data-line p.website a {
	color: #21679e;
	text-decoration: underline;
}
.data-line p.date-time {
	color: #f1531f;
}
.left-sidebar .stars .fa {
	color: #f1c50f;
	padding: 0;
	margin-right: 0;
	font-size: 16px;
}
.stars-section {
	text-align: center;
	padding-bottom: 20px;
}
.stars-section > div {
	display: inline-block;
}
.reviev-section {
	text-align: center;
	margin: auto;
}
.review-btn {
	background: #0b9d80;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	padding: 15px 50px;
}
.sidebar-footer hr {
	height: 0;
	color: #b6b6b6;
	padding: 0;
}
.menu-list div {
	display: inline-block;
	margin-right: 5px;
}
.menu-list a {
	font-size: 14px;
	color: #61646a;
	font-weight: bold;
}
.copyright {
	font-size: 12px;
	color: #888888;
}
.heading-content-info-public h2 {
	font-size: 28px;
	margin: 0;
    color: #333;
	padding: 30px 0 10px;
	font-weight: bold;
}
.about-section {
	color: #555555;
	font-size: 16px;
	padding-bottom: 30px;
}
.service-list .tags {
	padding: 7px 20px;
	background-color: #929397;
	display: inline-block;
	margin-bottom: 7px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.service-list .active-tag {
	background-color: #1e5b8b;
}
.service-list .tags:hover {
	background-color: #1e5b8b;
}
.service-offered-section {
	padding-bottom: 30px;
}
.service-area-section {
	padding-bottom: 30px;
}
.service-area-map {
	position: relative;
	height: 235px;
	width: 100%;
}
.map-keys {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.map-keys div {
	cursor: pointer;
}
.map-keys .zoom {
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 18px;
	margin: 5px auto;
	box-shadow: 1px 1px 1px #ccc;
	text-align: center;
	background-color: #fff;

}
.down {
	text-align: center;
	background-color: #e15b4f;
	color: #fff;
	height: 45px;
	width: 50px;
	font-size: 30px;
	line-height: 50px;
	border-radius: 5px;
	margin-top: 10px;
}
.user-feedback {
	border-bottom: 1px solid #edeeee;
}
.feedback-list .user-feedback:last-child {
	border-bottom: none;
}
.user-image-feedback {
	width: 60px;
	height: 60px;
	display: inline-block;
	vertical-align: middle;
}
.user-image-feedback img {
	width: 100%;
}
.position-feedback {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	padding-left: 20px;
}
.position-feedback p {
	margin: 0;
}
.position-feedback p:first-child {
	color: #f1531f;
	font-size: 16px;
}
.position-feedback p:nth-child(2) {
	color: #666666;
	font-size: 14px;
}
.position-feedback p:last-child {
	color: #666666;
	font-size: 14px;
}
.feedback-stars {
	padding-left: 10px;
}
.feedback-stars .fa {
	color: #f1c50f;
	padding: 0;
	margin-right: 0;
	font-size: 16px;
}
.view-more {
	background-color: #f0f1f1;
	color: #7c7c7c;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
}
.rel-services-img {
	width: 100%;
	height: 190px;
	background-color: burlywood;
}
.rel-services-list > div p:first-of-type {
	font-size: 16px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 5px;
}
.rel-services-list > div p:last-of-type {
	font-size: 12px;
	color: #6c6c6c;
	font-weight: bold;
}
.rel-services-list {
	margin-left: -10px;
	margin-right: -10px;
}
.banner-company {
    margin-top: -30px;
    min-height: 280px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.company-logo {

}
.company-logo img {
	width: 100%;
}
.banner-company-container {
	font-size: 0;
	/*padding: 30px 15px;*/
    padding: 30px 0 30px 4px;
}
.banner-company-container > div {
	display: inline-block;
	vertical-align: middle;
}
.company-logo {
	width: 25%;
}
.company-description {
	width: 50%;
	padding: 0 15px;
}
.company-description h2 {
	font-size: 36px;
	color: #fff;
	margin-top: 0;
	padding-left: 20px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.company-description p {
	font-size: 18px;
	color: #fff;
}
.banner-btns {
	width: 25%;
}
.banner-btns > div {
	font-size: 20px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px;
}
.banner-btns .fa {
	color: #fff;
	font-size: 20px;
}
.btn-fav {
	background-color: #f0501b;
}
.btn-invite {
	background-color: #236ba3;
}
/* end business public page */

/* user public page */

.profile-content-user {
	padding-bottom: 40px;
	margin-left: 0;
}
.about-resident {
    color: #818787;
    font-size: 16px;
}
.about-section-user {
    color: #555555;
    font-size: 16px;
}
.about-resident .fa {
    font-size: 16px;
}
.user-proj {
    border-bottom: 1px solid #edeeee;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.projects-list .user-proj:last-child {
    border-bottom: none;
}
.user-image-feedback img {
    width: 100%;
}
.user-proj p {
    margin: 0;
}
.user-proj p:first-child {
    color: #f1531f;
    font-size: 16px;
    font-weight: bold;
}
.user-proj p:last-child {
    color: #666666;
    font-size: 14px;
}
.user-proj:hover {
    background-color: #fffdf5;
}
.personal-info-user {

}

/* end user public page */

/* end public pages */

/* redesign styles */
.hrDivide {
	border-bottom: 1px solid #e7e7e7;
	border-top: none !important;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.nav-tabs.main-content {
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.14), 0 0 5px 0 rgba(0,0,0,0), 0 0 1px -2px rgba(0,0,0,0.2);
}
.heading .icon .fa {
	color: #fff;
	padding: 0;
	line-height: 40px;
	font-size: 20px;
	margin: auto;
}
.sponsored .img-responsive {
	padding-top: 7px;
}
.search-bar .fa {
	color: #fff;
}
.messages-button .fa {
	font-size: 22px;
}

/* new top nav */

.top-nav .container {
	padding-right: 20px;
}
.logo-section,
.search-section {
	float: left;
}
.top-nav-right {
	float: right;
}
.top-nav {
	/*padding-top: 6px;*/
}
.logo-section {
	width: 25%;
	padding-top: 6px;
}
.logo-section img {
	height: 32px;
}
.search-section {
	width: 40%;
}
.notification-section ul li {
	display: inline-block;
	font-size: 18px;
	padding: 9px 14px;
	height: 46px;
	cursor: pointer;
}
.username {
	text-align: right;
	font-family: OpenSans;
	display: inline-block;
	vertical-align: middle;
}
.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
}
.notification-section {
	display: inline-block;
}
.profile-section {
	cursor: pointer;
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 6px 14px;
	height: 46px;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.notification-icon {
	position: relative;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.message-icon {
	position: relative;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.profile-section:hover #profile-dropdown {
	display: block;
}
.notification-icon:hover #notification-dropdown {
	display: block;
}
.message-icon:hover #messages-dropdown {
	display: block;
}
.profile-section:hover,
.notification-icon:hover,
.message-icon:hover {
	background-color: #08856c;
}
.input-container {
	display: table;
	width: 100%;
	margin-top: 2px;
	padding-left: 42px;
	padding-top: 6px;
}
.input-container input,
.input-container a {
	display: table-cell;
}
.input-container a:hover {
	color: #fff;
}
.input-container input {
	width: 100%;
	height: 30px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border: none;
	padding: 7px;
	color: #000;
}
.input-container a {
	color: #fff;
	background-color: #f15724;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0;
	width: 56px;
	height: 30px;
	padding: 0;
	line-height: 30px;
}
.notification-section ul {
	margin: 0;
}
.invite-btn {
    margin-top: 2px;
    float: right;
    color: #fff;
    background-color: #f26739;
    padding: 4px 20px;
}
.invite-btn:hover {
    color: #fff;
}
/* end new top nav */
.project-details .select-dropdown {
    background-color: #f6f6f6;
    width: 100%;
}
.project-details hr {
    border-top: 1px solid #eee !important;
}
.project-details .input-field {
    border-radius: 4px;
}

/* end redesign styles */

/* project pages */

.count {
	position: relative;
	color: #21659b;
	text-align: center;
	width: 30px;
	display: inline-block;
}
.count .fa {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 26px;
	line-height: 1;
	color: #fff;
}
.count span {
	position: relative;
	z-index: 1;
	font-size: 14px;
}
.top-subnav {

}
.page-item-proj {
	font-weight: bold;
}
.subnav-left {
	display: inline-block;
	padding-top: 15px;
}
.image-proj {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 100px;
	background-size: cover;
	background-position: center;
}
.project-item {
	font-size: 0;
	border-bottom: 1px solid #eee;
}
.proj-info {
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	width: calc(75% - 120px);
}
.proj-title-line .fa {
	padding: 0 10px;
}
.proj-title-line {
	font-size: 18px;
	font-weight: bold;
}
.open-project .proj-title-line .fa{
	color: #f26739;
}
.open-project .proj-title-line{
	color: #f26739;
}
.closed-project .proj-title-line .fa{
	color: #8c8c8c;
}
.closed-project .proj-title-line{
	color: #8c8c8c;
}
.proj-status {
	font-size: 16px;
	color: #5b5b5b;
}
.proj-date {
	color: #c0c0c0;
	font-size: 14px;
	padding: 5px 0 10px;
}
.proj-category .tags,
.open-project .tags {
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	padding-bottom: 7px;
	padding-top: 5px;
	margin-right: 5px;
	position: relative;
	color: #fff;
	background-color: #5b5b5b;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.project-details .project-item:last-child {
	border-bottom: none;
}
.closed-project .image-proj {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
}
.close-action {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	text-align: right;
	padding-right: 15px;
}
.action-btn {
	display: inline-block;
	padding: 8px 15px;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	background-color: #21659b;
	cursor: pointer;
}
.close-letter {
	display: inline-block;
	color: #fff;
	background-color: #f17a85;
	padding: 8px 15px;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
}
.contractor-avatar {
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #e1e1e1;
}
.contractor-avatar div {
	border: 2px solid #fff;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.contractor-description {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	padding-left: 15px;
}
.letter-item {
	border-bottom: 1px solid #eee;
}
.letter-item-content {
	padding: 20px 20px 15px 25px;
}
.contractor-name {
	color: #f15825;
	font-size: 18px;
	padding-right: 10px;
}
.contractor-date {
	font-size: 14px;
	color: #6c7475;
}
.contractor-date span:first-child {
	padding-right: 5px;
}
.contractor-position {
	color: #7f8c8d;
	padding-top: 5px;
}
.letter {
	font-weight: bold;
}
.letter-title {
	font-size: 16px;
	padding: 5px 0;
	color: #000;
}
.letter-title a {
	font-weight: bold;
	color: #000;
	font-size: 16px;
	text-decoration: underline;
}
.letter-text {
	font-size: 14px;
	color: #333;
	/*padding-bottom: 20px;*/
}
.letter-text a {
	display: inline-block;	
	color: #21679e;
	padding-top: 20px;
}
.letter-text1 {
	padding-top: 0!important;
}
.letter-actions {
	padding-top: 5px;
}
.leters-paginaion {
	text-align: center;
	font-weight: bold;
	padding: 5px 0 25px;
}
.action-btn .fa {
	padding-left: 5px;
}
.open-proj-actions > div {
	display: inline-block;
	padding-right: 20px;
}
.open-proj-actions .fa {
	cursor: pointer;
}
.open-project-title {
	font-weight: bold;
	color: #f15825;
	font-size: 18px;
	padding-right: 10px;
}
.open-proj-status {
	font-size: 16px;
}
.open-project-line .fa {
	color: #f15825;
}
.open-proj-actions {
	color: #444444;
}
.open-project-date {
	padding-top: 15px;
	color: #6c7475;
}
.open-project-images {
	display: inline-block;
	width: 150px;
	height: 130px;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}
.open-project-images ul {
	position: relative;
	width: 150px;
	height: 130px;
	margin: 0;
	padding: 0;
}
.open-project-images ul li {
	display: block;
	float: left;
	width: 150px;
	height: 130px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.open-project-images .control-prev {
	/*font: normal normal normal 30px/1 FontAwesome;*/
	/*content: "\f104";*/
	position: absolute;
	margin-top: -20px;
	top: 50%;
	left: 5px;
	color: #fff;
	cursor: pointer;
	z-index: 1;
	font-size: 30px;
	text-align: left;
	width: 25px;
}
.open-project-images .control-next {
	/*font: normal normal normal 30px/1 FontAwesome;*/
	/*content: "\f105";*/
	position: absolute;
	margin-top: -20px;
	top: 50%;
	right: 5px;
	color: #fff;
	cursor: pointer;
	z-index: 1;
	font-size: 30px;
	text-align: right;
	width: 25px;
}
.open-project-text {
	display: inline-block;
	width: calc(100% - 165px) ;
}
.open-project-description-content {
	padding: 15px 15px 15px 0;
	font-size: 0;
}
.price {
	font-size: 24px;
	color: #21659b;
	font-weight: bold;
	float: left;
	padding-left: 30px;
}
.term {
	font-size: 16px;
	color: #5b5b5b;
	float: right;
	display: table;
	font-weight: bold;
	margin-top: 5px;
}
.term .fa {
	font-size: 24px;
}
.term .fa, .term span {
	display: table-cell;
	vertical-align: middle;
}
.term span {
	padding-left: 7px;
}
.open-project-text-full {
	color: #333333;
	font-size: 14px;
}
.open-project-text {
	padding-left: 15px;
}
.open-project-text .tags {
	float: left;
}
.like-btn {
	display: inline-block;
	color: #fff;
	/*padding: 8px 15px;*/
	/*font-size: 14px;*/
	padding: 4px 15px;
	font-size: 20px;

	border-radius: 3px;
	margin-left: 10px;
	cursor: pointer;
}
.hired .like-btn {
	background-color: #818181;
}
.applicants .like-btn {
	background-color: #f15825;
}
.top-line-letter {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	padding: 10px 20px;
}
.hired {
	margin-bottom: 35px;
}
.hired .top-line-letter {
	background-color: #21659b;
}
.applicants .top-line-letter {
	background-color: #0c9d80;
}
.top-line-letter span {
	display: inline-block;
	vertical-align: middle;
}
.top-line-letter .people-count {
	background-color: #fff;
	border-radius: 50%;
	color: #0b9d80;
	font-size: 12px;
	margin-left: 3px;
	padding: 1px 7px;
}
.letter-item {
	border-bottom: 1px solid #e5e5e5;
}
.hired-content .letter,
.applicants-content .letter {
	margin-top: 10px;
}
.hired-content .letter-item:last-child,
.applicants-content .letter-item:last-child {
	border-bottom: none;
}
.user-btn {
	margin-left: 10px;
	vertical-align: middle;
}
.user-screens {
	padding-top: 15px;
}
.user-screen {
	padding-right: 10px;
	display: inline-block;
}
.user-screen img {
	max-width: 80px;
}
.project-review .main-content {
	padding: 20px;
}
.reviev-sidebar {
	background-color: #fafafa;
}
.project-review-description-content{
	font-size: 0;
	padding-bottom: 20px;
}
.review-categories {
	float: left;
}
.project-review-text-top {
	padding: 15px 0 10px;
}
.open-project .tags {
	background-color: #7f8c8d;
	border: 1px solid #7f8c8d;
	padding-bottom: 5px;
	padding-top: 3px;
}
.open-project .tags.no-active {
	background-color: #fff;
	color: #5b5b5b;
}
.project-review-text-top .pull-right {
	padding-top: 5px;
}
.project-review-text-top .price {
	font-size: 18px;
	padding-left: 10px;
}
.project-review-text-top .term {
	font-size: 16px;
	color: #7f8c8d;
	padding-left: 10px;
	margin-top: 0;
}
.feedback-section h2 {
	color: #f15825;
	font-weight: bold;
	font-size: 18px;
}
.feedback-left h3 {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	color: #21659b;
}
.review-stars {
	padding-left: 15px;
	display: inline-block;
	font-size: 12px;
}
.review-stars .fa {
	color: #f1c50f;
	padding: 0;
	margin-right: 0;
}
.feedback-item {
	border-top: 1px solid #e9e9e7;
	font-size: 0;
}
.feedback-left,
.feedback-right {
	display: inline-block;
	vertical-align: middle;
}
.feedback-left {
	width: 75%;
	padding-right: 15px;
}
.feedback-text {
	font-size: 13px;
}
.feedback-right {
	width: 25%;
	font-size: 13px;
}
.see-more-reviews {
	background-color: #164269;
	color: #fff;
	width: 160px;
}
.see-more-reviews:hover {
	color: #fff;
}
.load-reviews {
	text-align: center;
	padding: 20px 0;
}
.review-sidebar {
	padding-left: 24px;
}
.review-sidebar-content {
	padding: 20px;
	background-color: #fafafa;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.review-sidebar h3 {
	color: #21659b;
	font-size: 18px;
	font-weight: bold;
}
.reviews-count-section {
	background-color: #fff;
	border-radius: 15px;
	font-size: 14px;
	padding: 2px 5px;
	text-align: center;
}
.proposal-btn {
	text-align: center;
    background: #0b9d80;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 0;
	width: 100%;
 }
.reviews-count-section span {
	display: inline-block;
}
.review-sidebar-stars {
	display: inline-block;
}
.review-sidebar-stars .fa {
	color: #f1c50f;
	padding: 0;
	margin-right: 0;
	font-size: 12px;
}
.zipcode {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	border-bottom: 1px solid #e9e9e7;
}
.posted-jobs h4 {
	font-size: 16px;
	margin-bottom: 0;
	font-weight: bold;
}
.posted-jobs p {
	font-size: 14px;
	color: #666666;
}
.member-info {
	font-size: 14px;
	color: #666666;
}
.show-all {
	height: auto;

}
.hide-all {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 40px;
	width: 80%;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.has-error span{
	color: red!important;
}


/* end project pages */


@media screen and (max-width: 1440px) {
	#messages-dropdown {
		left: -217px;
	}
	#messages-dropdown::before {
		left: 234px;
	}
	#notification-dropdown {
		left: -87px;
	}
	#notification-dropdown::before {
		left: 105px;
	}
}

@media screen and (max-width: 529px) {
	.letter-text a {
		padding-top: 0;
	}
}

@media screen and (max-width: 480px) {
	.btn-default {
		width: calc(100% - 10px);
		display: block;
		padding-right: 0;
		padding-left: 0;
	}
	.about-btn .btn-default {
		width: 100%;
	}

}

@media screen and (max-width: 380px) {
	.user-info {
		padding-left: 20px;
	}
}