.notification-count {
	background-color: white;
	color: #0b9d80;
	border-radius: 50%;
	padding-left:3px;
	padding-right: 3px;
	padding-top:1px;
	padding-bottom: 1px;
	font-size: 14px;
}

.details-header {
	background-image: url('../images/background-patterns/project-details-header-pattern.png');
	background-repeat: repeat-x;
}
