.each-project {
	border-bottom: 1px solid #eeeeee;
}

.project-details li, .project-details li a {
	background-color: #fff;
}

.project-details .nav>li a {
	padding: 20px;
}

.search-field-button {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border: 1px solid #ececec;
	border-right: none;
	background-color: #fff;
}

.search-field-input {
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	border: 1px solid #ececec;
	background-color: #fff;
	border-left: none;
	padding: 7px;
	outline: none
}

.page {
	border-radius: 50%;
	background-color: #fbfbfb;
	display: inline;
	padding: 8px 12px;
	margin-left: 5px;
	color: #959595;
}

.page a {
	text-decoration: none;
}

.page.active, .page.active a {
	background-color: #0b9d80;
	color: white;
}