.post-content {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

@media (max-width: 1000px) {
	.team-member-actions {
		padding-top: 0px !important;
	}
}

@media (max-width: 992px) {
	.add-member-btn {
		margin-right: 20px !important;
	}
}

@media (max-width: 770px) {
	.add-member-btn {
		margin-top: 20px;
	}
}