/* PHOTO HOVER EFFECT - START */
.view {
    width: 250px;
    height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border: 10px solid white;
}
.view .mask, .view .content {
    width: 250px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 25px 0 0 0;
}
.view h2 i {
	border: 2px solid #fff;
    border-radius: 50%;
    padding: 18px 25px;
}
.view p {
    font-size: 24px;
    position: relative;
    color: #fff;
    padding: 0px 20px;
    text-align: center;
    font-family: DINPro;
}
.view a {
    font-family: DINPro;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0,0,0, 0.5); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
/* PHOTO HOVER EFFECT - END */

.gallery-photo-album .post-actions {
    width: 230px;margin-left: 10px;
}

.gallery-photo-album .view {
    border-top: 1px solid #fff;
}

textarea, input {
    box-shadow: none !important;
}

textarea {
    resize: none;
    height: 120px !important;
}

.privacy-dropdown:focus, .privacy-dropdown:active, textarea:focus, textarea:active, input:focus, input:active {
    outline: none;
    border: 1px solid #ccc !important;
    box-shadow: none;
}

.privacy-dropdown {
    padding: 5px;
    background-color: #ffced4;
}