.select-dropdown {
	width: 90%;
	padding: 8px;
	background: transparent url("../images/icon-set/select-arrows.png") no-repeat right 5px top 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
}

.select-dropdown option {
	background-color: #f6f6f6;
}

.input-field {
    border: 1px solid #9f9f9f;
    width: 100%;
    padding: 8px;
	background-color: #f6f6f6;
}
