.user-cover-section, .user-cover-section-mobile {
	background-repeat: no-repeat;
	margin-left: 0;
	/*background-size: 98% 100%;*/
    background-size: cover;
    background-position: center;
}

.profile-picture {
	width: 200px;
	height: 200px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.profile-picture .upload-photo {
	position: absolute;
	bottom: 0;
	right: 15px;
}

.user-cover-section img {
	border: 1px solid #cecece;
}

.user-cover-section h1 {
	font-size: 26px;
}

.user-details {
	padding-top: 40px;
}

.user-contact-method {
	top: 175px;
	bottom: 0;
	right: 20px;
	position: absolute;
}

.profile-description {
	margin-left: 0;
}
.profile-description, .tab-content {
	background-color: #fff;
}

.profile-description .nav, .profile-description .nav li, .profile-description .nav a {
	background-color: #1c5886;
	color: #fff;
	border-radius: 0;
	font-size: 16px;
	font-family: OpenSans;
	height: 40px;
}

.profile-description ul li:hover, .profile-description ul li a:hover {
	background-color: #15497f !important;
    color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #0d4076 !important;
	-webkit-box-shadow:inset -7px 13px 0px -10px #f2b339;
    -moz-box-shadow:inset -7px 13px 0px -10px #f2b339;
    box-shadow:inset -7px 13px 0px -10px #f2b339;
}

.nav-tabs .active::after {
	content: "";
	position: absolute;
	bottom: -11px;
	left: 35%;
	border-width: 0 15px 15px;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
}

.tab-content h3 {
	margin-top: 0;
}
.tab-content h4 {
	cursor: pointer;
}

.contractor-rating {
	padding: 10px;
}

.poster-img img {
	width: 80px;
	height: 80px;
}

.contractor-review-date {
	font-family: OpenSans;
	font-size: 16px;
	line-height: 5;
	float: right;
}

.contractor-rating {
	float: left;
	padding: 10px;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
}

.contractor-rating li {
	display: inline;
}

#activity .tab-content {
	background-image: url('../images/recycle-icon.png');
    background-repeat: no-repeat;
    background-position: right 0px bottom;
}

.each-project {
	border-bottom: 1px solid #ededed;
}

.each-project:hover {
	background-color: #fffdf5;
}

/* PHOTO HOVER EFFECT - START */
.view {
    width: 250px;
    height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border: 10px solid white;
}
.view .mask, .view .content {
    width: 250px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 25px 0 0 0;
}
.view h2 i {
	border: 2px solid #fff;
    border-radius: 50%;
    padding: 18px 25px;
}
.view p {
    font-size: 24px;
    position: relative;
    color: #fff;
    padding: 0px 20px;
    text-align: center;
    font-family: DINPro;
}
.view a {
    font-family: DINPro;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-first:hover img {
	transform: scale(1.1);
}
.view-first:hover .mask {
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0,0,0, 0.5);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
.choose-line {
	position: relative;
}
#inputCategory {
	/*display: none;*/
	position: absolute;
	width: calc(100% - 37px);
	background-color: #ffffff;
	right: 20px;
	top: 0;
	border-right: 0;
	border-radius: 0;
}
.select-dropdown-list {
	/*display: none;*/
	position: absolute;
	z-index: 3;
    left: 0;
    width: 100%;
	padding: 11px 10px;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 4px;
	border: 1px solid #9f9f9f;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.select-element {
	padding: 5px 10px;
}
#categoryLine {
	height: 44px;
}
.day.day-not-selected {
	background-color: #bdbdbd;
}
.day.day-selected {
	background-color: #f07246;
}
.upload-spinner {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -16px;
}
.upload-image-wrapper {
	position: relative;
}
.upload-spinner img {
	max-width: 32px;
}

.user-cover-section {
	background-size: cover;
	background-position: center;
}

.aboutUser{
	white-space: pre-line;
	background-color: #ffffff;
	border: none;
	font-family: OpenSansLight;
	font-size: 14px;
}

/* PHOTO HOVER EFFECT - END */

@media (max-width: 1200px) {
	.left-sidebar {
		display: none;
	}
	.middle-content {
		width: 100%;
	}
	.profile-description .nav {
		height: auto;
	}
	.nav-tabs > li {
		display: inherit !important;
		float: none !important;
		background-color: #ffdbb8 !important;
		border: 1px solid #edb583 !important;
		height: 30px !important;
	}
	.nav-tabs > li a {
		background-color: #ffdbb8 !important;
		border-radius: 0px !important;
		border-top: 0px !important;
    font-size: 12px !important;
    color: #555555 !important;
    font-family: OpensansSemiBold !important;
    text-transform: uppercase;
    padding: 5px 10px !important;
    height: 30px !important;
	}
  .nav-tabs > li a:hover {
    color: #fff !important;
  }
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-color: #0d4076 !important;
	    -webkit-box-shadow: inset 0px 0px 0px 0px #fff !important;
	    -moz-box-shadow: inset 0px 0px 0px 0px #fff !important;
	    box-shadow: inset 0px 0px 0px 0px #fff !important;
	    color: #fff !important;
	    font-size: 12px !important;
	}
	.nav-tabs .active::after {
		content: "" !important;
	    position: absolute !important;
	    bottom: -11px !important;
	    left: 35% !important;
	    border-width: 0 !important;
	    border-style: solid !important;
	    border-color: #fff transparent !important;
	    display: block !important;
	    width: 0 !important;
	}
}

@media (min-width: 1000px) {
	.user-cover-section {
		display: block;
	}
	.user-cover-section-mobile {
		display: none;
	}
}

@media (max-width: 1000px) {
	.user-cover-section {
		display: none;
	}
	.user-cover-section-mobile {
		display: block;
	}
}

@media (min-width: 991px) {
	#reviewss {
		display: block;
	}
	.reviews-list {
		display: none;
	}
}

@media (max-width: 991px) {
	#reviewss {
		display: none;
	}
	.reviews-list {
		display: block
	}
	.reviews-tab {
		padding: 0 !important;
	}
	.reviews-list li {
		display: inline-flex;
	}
}

@media (max-width: 350px) {
	.company-data, .img-container {
		width: 290px !important;
	}
	.company-data h3 {
		font-size: 18px;
	}
}
