body {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: OpenSansLight;
  -webkit-background-size:100% 350px;
  background-size: 100% 482px;
}
.hire-now {
	background-repeat: repeat;
	background-image: url('../images/icon-set/let-us-do-the-work.png');
}

.table > tbody > tr > th, .table > tbody > tr > td {
	border-top: 0px;
}

.services-container {
	height: 320px;
	overflow-y: scroll;
	border-bottom: #ccc;
}

.services-container li:hover {
	background-color: #f0f1f1;
	color: #f0501b;
}

#footer {
	width: 100% !important;
}

.nav-tabs > li {
	display: inherit !important;
	float: none;
	background-color: #ffdbb8;
	border: 1px solid #edb583;
}

.nav-tabs > li a {
	background-color: #ffdbb8;
	border-radius: 0px;
	border-top: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #0d4076 !important;
    -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
    -moz-box-shadow: inset 0px 0px 0px 0px #fff;
    box-shadow: inset 0px 0px 0px 0px #fff;
    color: #fff;
}

.nav-tabs .active::after {
	content: "";
    position: absolute;
    bottom: -11px;
    left: 35%;
    border-width: 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

@media (min-width: 1200px) {
	.contractor-info {
		display: block;
	}
	.contractor-info-mobile {
		display: none;
	}
	.hire-now {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width: 1200px) {
	.contractor-info {
		display: none;
	}
	.contractor-info-mobile {
		display: inline-block;
		width: 100%;
	}
	body {
		background-size: 100% 350px;
	}
	.hire-now {
		margin-top: 43px !important;
		width: 100% !important;
	}
}

@media (max-width: 769px) {
	.container {
		padding: 0px !important;
		margin: 0px !important;
		width: 100%;
	}
	.hire-now button {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.feedback-heading {
		font-size: 20px !important;
	}
}

@media (min-width: 561px) {
	.extra-buttons {
		display: none;
	}
	.hire-now-btn {
		display: block;
	}
}

@media (max-width: 561px) {
	.hire-now-actual-button {
		padding-left: 60px;
		padding-right: 60px;
	}
	.captions {
		width: 100%;
	}
	.extra-buttons {
		display: block;
	}
	.hire-now-btn {
		display: none;
	}
}

@media (max-width: 480px) {
	.reviewer-info {
		width: 240px !important;
	}
	.hire-now {
		text-align: center;
	}
}

@media (max-width: 360px) {
	#footer {
		width: 97%;
	}
	.reviewer-info {
		width: 204px !important;
	}
	.poster-name {
		font-size: 14px !important;
	}
	.poster-details {
		font-size: 12px !important;
	}
	.poster-detail-review {
		line-height: 1.2;
	}
}
