#search-recommendation {
    background-image: url('../images/icon-set/search-pattern.png');
    background-repeat: repeat;
}

.user-img-with-radius {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-left: 20px;
    border: 1px solid #aaa;
    padding: 3px;
}

.message-body, .notification-body, .search-body, .right-panel-body {
    margin-top: 10px !important;
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .message-body, .notification-body, .search-body, .right-panel-body {
        margin-top: 40px !important;
    }
}

@media (max-width: 1200px) {
    .nav-tabs > li {
        display: inherit !important;
        float: none;
        background-color: #ffdbb8;
        border: 1px solid #edb583;
    }

    .nav-tabs li a, .nav-tabs > li a {
        background-color: #ffdbb8 !important;
        border-radius: 0px !important;
        border-top: 0px !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #0d4076 !important;
        -webkit-box-shadow: inset 0px 0px 0px 0px #fff;
        -moz-box-shadow: inset 0px 0px 0px 0px #fff;
        box-shadow: inset 0px 0px 0px 0px #fff;
        color: #fff;
    }

    .nav-tabs .active::after {
        content: "";
        position: absolute;
        bottom: -11px;
        left: 35%;
        border-width: 0;
        border-style: solid;
        border-color: #fff transparent;
        display: block;
        width: 0;
    }
}

@media (max-width: 480px) {

    #RECOMMENDATION {
        padding: 0px !important;
    }

    .post-time {
        font-size: 10px !important;
    }
}
