body {
	background-image: url('../images/bg-img-2.png');
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	font-family: OpenSansLight;
}

.content {
    /*display: inline-block;*/
    /*position: fixed;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 415px;
    /*height: 300px;*/
    /*overflow-y: auto;*/
    margin: 150px auto 0;
    /*background-color: transparent;*/
    border-radius: 8px;
}

.login-body {
    /*height: 350px;*/
    background-color: #f3f3f3;
    border-radius: 5px !important;
}

.login-footer {
	padding-top: 10px;
	width: 245px;
	margin: 0 auto;
	color: #fff;
}

.login-footer li {
	display: inline;
	padding-right: 5px;
}

.recovery-btn {
    height: 50px;
}

@media (max-width: 950px) {
    .content {
        margin-top: 85px;
    }
}

@media (max-width: 481px) {
    .content {
        /*display: inline-block;*/
        /*position: fixed;*/
        top: 0;
        bottom: 0;
        left: -8px;
        right: 0;
        width: 320px;
        /*height: 440px;*/
        overflow: hidden;
        margin: 50px auto 0;
        /*background-color: transparent;*/
    }

}

@media (max-width: 319px) {
    .content {
        /* display: inline-block; */
        /* position: fixed; */
        top: 0;
        bottom: 0;
        left: -8px;
        right: 0;
        width: 300px;
        /* height: 440px; */
        overflow: hidden;
        margin: 50px auto 0;
        /* background-color: transparent; */
    }

}
