/* General CSS */
body {
    min-height: 100%;
    height: 100%;
	background-image: url('../images/bg-img.png');
	background-repeat: repeat;
    background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: OpenSansLight;
}

.disable-width {
    width: auto;
}

.blocks-wrapper {
    display: flex;
    justify-content: space-around;
}

.social-auth {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-auth svg {
    width: 100%;
    height: 71%;
    fill: #fff;
}

.input-group .form-control:not(:first-child):not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.signup-button .continue-btn {
    font-family: 'DINPro', Helvetica, Arial, sans-serif;
    font-size: 19px;
    margin-top: 0;
}

.flex-items-center {
    display: flex;
    justify-content: center;
}

.upload-cover,
.upload-profile {
    position: relative;
    float: left;
}

.upload-file-dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-background-size: cover;
    background-image: url('../images/home-video.png');
    background-size: cover;
    min-height: 230px;
    /*min-width: 350px;*/
    min-width: 100%;
    max-width: 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.upload-image-wrapper {
    position: relative;
}

.upload-spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

.upload-spinner img {
    width: 10%;
}

.top-nav {
	height: 70px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

#footer {
	/*width: 100%;*/
    /*clear: both;*/
    /*position: absolute;*/
    /*z-index: 10;*/
    /*bottom: 0;*/
    padding-top: 48px;
    padding-bottom: 20px;
}

#footer li {
	display: inline;
	padding-left: 15px;
}

#footer a {
	text-decoration: none;
	color: white;
}

.content {
    /*display: inline-block;*/
    /*position: fixed;*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 45%;
    /*height: 475px;*/
    /*overflow-y: scroll;*/
    margin: auto;
    margin-top: 150px;
    background-color: #f3f3f3;
}

.step-2-content {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 646px;
    margin: auto;
    background-color: #f3f3f3;
}

.signup-body {
    overflow-y: scroll;
    height: 580px;
}

.signup-body2 {
    display: none;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #919191;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background-color: #919191;
    outline: 1px solid #919191;
    border-radius: 25px;
}


@media screen and (max-width: 1200px) {
    .blocks-wrapper {
        flex-direction: column;
    }
    .blocks-wrapper .profileImageContiner,
    .blocks-wrapper .logoImageContainer,
    .blocks-wrapper .uploadCoverContainer,
    .upload-profile,
    .upload-cover {
        margin-bottom: 15px;
    }
}

@media (min-width: 500px) and  (max-width: 830px) {
    .content {
        /*display: inline-block;*/
        /*position: fixed;*/
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 60%;
        /*height:475px;*/
        /*overflow-y: scroll;*/
        overflow-y: hidden;
        margin: auto;
        background-color: #f3f3f3;
        border-radius: 8px;
        margin-top: 50px;
    }
    .signup-body label {
        padding: 0px !important;
    }
    .signup-body {
        height: 500px;
    }
}

/*@media (min-width: 360px) and (max-width: 480px) {*/
@media (min-width: 360px) and (max-width: 500px) {
    .content {
        width: 300px;
        /*height: 460px;*/
        /*display: inline-block;*/
        /*position: fixed;*/
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 50px auto 0;
    }
    .quick-signup-heading {
        display: none;
    }
    .signup-bodys, .signup-header {
        display: block;
        overflow: hidden;
    }
    .icon1 {
        font-size: 30px;
        font-family: DINPro;
    }
}

@media (max-width: 360px) {
    .quick-signup-heading {
        display: none;
    }
    .signup-bodys, .signup-header {
        display: block;
        overflow: hidden;
    }
    .content {
        width: 300px;
        /*height: 400px;*/
        /*display: inline-block;*/
        /*position: fixed;*/
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /*margin: auto;*/
        margin: 50px auto 0;
    }
}

@media screen and ( max-height: 870px ){
	.content {
		margin-top: 95px;
	}
}

@media screen and ( max-height: 800px ){
	.content {
		margin-top: 55px;
	}
}

@media screen and ( max-height: 740px ){
	.content {
		margin-top: 35px;
	}
}
