.ul-reviews>li {
	display: block;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 1200px) {
	.left-sidebar {
		display: none !important;
	}

	.middle-content {
		width: 100% !important;
	}
}

@media (min-width: 1000px) {
	.original-header {
		display: block;
	}
	.mobile-header {
		display: none;
	}
}

@media (max-width: 1000px) {
	.rating-text {
		clear: left !important;
		padding-left: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.rating-stars {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.original-header, .heading-content {
		display: none;
	}
}

@media (min-width: 991px) {
	#reviews {
		display: block;
	}
	.reviews-list {
		display: none;
	}
}

@media (max-width: 991px) {
	#reviews {
		display: none;
	}
	.reviews-list {
		display: block
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.reviews-list {
		margin-top: -30px;
	}
}

@media (max-width: 408px) {
	.image-section img {
		width: 40px;
		height: 40px;
	}
	.username {
		font-size: 12px;
		padding-top: 0px;
	}
	.contractor-rating i {
		font-size: 10px;
	}
	.rating-container {
		margin-top: 0px;
		padding-left: 10px !important;
	}
}

@media (max-width: 380px) {
	.poster-heading {
		font-size: 14px;
	}
}