.main-content ul {
	background-color: #f6f6f6;
}

.user-img-with-radius {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-left: 0px !important;
    border: 1px solid #aaa;
    padding: 3px;
}

.nav-tabs li a {
	padding: 15px 30px;
	background-color: #f6f6f6;
	margin-right: 0px;
	border-right: 1px solid #e9e9e9;
	font-family: OpenSansSemiBold;
	font-size: 13px;
}

.search-results {
	background: white !important;
}

.search-results img {
	width: 65px;
}

.search-results li {
	display: table;
}

.search-results li:hover {
	background: white !important;
}

#CONTRACTOR .heading {
	border-bottom: 1px solid #f9b9a4;
}

.rating-stars li {
	padding: 3px;
}

.each-result {
	width: 100%;
}

.photo-search-result {
	display: table;
}

/* PHOTO HOVER EFFECT - START */
.view {
    width: 250px;
    height: 250px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border: 10px solid white;
}
.view .mask, .view .content {
    width: 250px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    margin: 25px 0 0 0;
}
.view h2 i {
	border: 2px solid #fff;
    border-radius: 50%;
    padding: 18px 25px;
}
.view p {
    font-size: 24px;
    position: relative;
    color: #fff;
    padding: 0px 20px;
    text-align: center;
    font-family: DINPro;
}
.view a {
    font-family: DINPro;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(0,0,0, 0.5); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}
/* PHOTO HOVER EFFECT - END */

.message-body, .notification-body, .search-body, .right-panel-body {
    margin-top: 40px !important;
}

@media (max-width: 1200px) {
    .nav-tabs li a {
        padding: 5px 30px;
    }

    .left-sidebar {
        display: none;
    }

    .middle-content {
        width: 100%;
    }
}

@media (min-width: 990px) {
    .poster-message, .poster-location {
        padding-left: 20px;
    }
}

@media (max-width: 990px) {
    .contractor-details {
        display: none;
    }
    .contractor-options {
        clear: both;
    }
    .poster-img img {
        width: 50px;
        height: 50px;
    }
    .each-result a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .each-result .hire-button {
        padding-left: 0px;
    }
    .poster-img {
        padding-right: 10px;
    }
    .poster-message, .poster-names {
        padding-left: 85px;
    }
}

@media (max-width: 480px) {
    .poster-avatar {
        width: 100%;
        text-align: center;
        float: none;
    }
    .poster-message {
        width: 100%;
        padding-left: 10px;
    }
    .poster-avatar img {
        margin: 0 auto;
    }
    .poster-location {
        font-size: 12px !important;
    }
}

@media (max-width: 416px) {
    .poster-name {
        font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 416px) {
    .poster-name {
        font-size: 12px;
    }
}