.panel-group .panel + .panel {
	margin-top: 0px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group, .panel {
	border: 0px;
}

.panel-heading {
	border-radius: 0px;
}

.panel-default > .panel-heading {
	background-color: #f6f6f6;
}

hr {
	border-top: 1px solid #e3e2df !important;
}

.message-body, .notification-body, .search-body, .right-panel-body {
	margin-top: 10px !important;
}

::-webkit-scrollbar {
    width: 0px;
    border-radius: 25px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    border-radius: 25px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #919191;
  outline: 0px solid #919191;
  border-radius: 25px;
}