body {
	background-image: url('../images/bg-img-2.png');
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	font-family: OpenSansLight;
}

.content {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 415px;
    height: 670px;
    overflow-y: hidden;
    margin: auto;
    background-color: #fff;
}

.signup-body {
    height: 610px;
    overflow-y: hidden;
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px #919191;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #919191;
  outline: 1px solid #919191;
  border-radius: 0px;
}

@media (max-width: 481px) {
    .content {
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0px;
        right: 0;
        width: 320px;
        height: 400px;
        overflow-y: scroll;
        margin: auto;
        background-color: transparent;
    }
    .signup-body label {
        padding: 0px !important;
    }
    .signup-body {
        height: 500px;
    }
}

@media (max-width: 319px) {
    .content {
        display: inline-block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -8px;
        right: 0;
        width: 300px;
        height: 440px;
        overflow: hidden;
        margin: auto;
        background-color: transparent;
    }

}
