/* Top Navigation CSS */
.top-nav-mobile {
    height: 70px;
}
.top-nav {
  height: 46px;
}
.top-nav, .top-nav-mobile {
  background-color: #0b9d80;
  color: white;
  width: 100%;
  top: 0;
  z-index: 5000;
}

.logo {
  padding: 6px 0 0 15px;
}
.logo img {
  height: 32px;
}

.tag-line {
  padding-left: 10px;
}

.notification-items ul {
  display: inline-block;
  margin-bottom: 0;
}
.notification-items {
  text-align: right;
  padding-left: 20px;
}

.notification-items ul li {
  display: inline;
  padding: 2px 14px;
  font-size: 18px;
  font-family: OpenSansSemiBold;
}

.notification-items ul li a {
  text-decoration: none;
}

.notification-items i {
  font-size: 20px;
}

.invite-button {
  padding: 22px 10px !important;
}

.invite-button i {
  font-size: 12px;
}

.user-info:hover, .invite-button:hover {
  background-color: #08856c;
  color: white;
}

.profile-image {
  width: 32px;
  height: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}

/* set up the right arrows first */
.menu li.has-child > a:after {
  color: #fff;
  content: ' ▾';
}

/* Search Bar CSS */
.search-bar {
  padding: 8px;
}

.search-bar input {
  height: 30px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: none;
  padding: 7px;
}

.search-bar .btn {
  margin: 0;
  background-color: #f15724;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0;
  width: 56px;
  height: 30px;
  padding: 0;
  line-height: 30px;
}

/* User Profile CSS */
.user-settings a {
  width: 100%;
  display: block;
}
.user-info {
  padding: 5px;
  font-size: 16px;
  height: 46px;
  font-family: OpenSans;
  float: right;
}

.user-info div:last-of-type {
  /*padding-left: 8px;*/
  /*line-height: 3;*/
  padding-left: 8px;
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  width: calc(100% - 48px);
  line-height: 1.2;
  word-break: break-word;
  height: 38px;

}

.user-info i {
  font-size: 9px;
}

.user-info:hover {
  cursor: pointer;
}

/* Page Content CSS */
.page-content {
  background-color: #f5f5f5;
}

.heading .heading-content {
  font-family: DINPro;
  padding: 8px 0;
}

.heading-content h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}

.heading-content img {
  width: 41px;
  height: 38px;
  background-color: #7f8c8d;
}

.heading .icon {
  background-color: #7f8c8d;
  /*padding: 9px;*/
  padding: 0;
  width: 40px;
  height: 40px;
  margin-right: 11px;
  text-align: center;
}

.sidebar .item {
  font-family: OpenSans;
  font-size: 16px;
  padding: 10px 0px;
  padding-left: 21px;
  display: block;
  height: 52px;
  border-bottom: 1px solid #e4e5e7;
}

.main-content {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.sidebar .main-content {
  /*margin-top: 3px !important;*/
}

.left-sidebar .active {
  color: #f26739;
}

.left-sidebar .fa {
  color: #21659b;
  padding: 6px;
  padding-right: 0px;
  margin-right: 11px;
}

.main-content ul {
  padding: 0;
  margin-bottom: 0px;
}

.main-content ul li:hover, .main-content ul li a:hover {
  background-color: #fafafa;
  color: #f26739;
}

/* Right sidebar CSS */
.activity-heading {
  color: #f0501b;
  font-family: OpenSans;
  font-size: 16px;
}

.activity-content {
  color: #000;
  font-family: OpenSans;
  font-size: 12px;
}

.activity-content-alt {
  background-color: #f7f8f8;
}

.project-status {
  background-color: #fbf7f0;
  height: 105px;
}

.project-heading center {
  font-family: OpenSans;
  padding-top: 26px;
}

.project-count {
  font-family: OpenSansBold;
  text-align: center;
  margin-top: 10px;
  color: #f26739;
}

.project-status-item {
  margin: 0;
  padding: 0;
}

.project-status-item:first-child {
  border-right: 1px solid #cdcdcd;
}

/* Trending Tabs CSS */
.trending .main-content {
  margin-top: 1px;
}

.nav-tabs, .nav-tabs li a {
  border: none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #f26739;
}

.nav-tabs li a {
  padding: 9px 12px;
  background-color: #f6f6f6;
  margin-right: 0px;
  border: none;
  font-family: OpenSansSemiBold;
  font-size: 13px;
}

.tab-content li {
  font-size: 13px !important;
}

.trending .see_more {
  padding: 8px 30px;
  background-color: #f6f6f6;
}

/* Sponsored CSS */

.sponsored .main-content li {
  display: block;
  padding: 13px 15px;
}

/* Footer CSS */
hr {
  border-top: 1px solid #b6b6b6 !important;
}

footer ul {
  padding: 0;
}

footer li {
  display: inline;
  padding: 5px 7px;
}

/* Timeline CSS - Start */
.middle-content {
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 60px;
}

/* Share Window CSS - Start */
.share-header {
  background-image: url('../images/icon-set/share-heading-pattern.png');
  background-repeat: repeat-x;
  height: 41px;
  border-bottom: 1px solid #9bc2e1;
}

.share-body, .share-footer {
  padding-left: 34px;
  padding-right: 34px;
}

.share-body textarea {
  width: 100%;
  height: 85px;
  border-radius: 5px;
  resize: none;
}

.share-footer li {
  display: inline;
}

.update-status-button {
  border-radius: 5px;
}

.update-status-button:hover {
  background-color: #e65e31;
  text-decoration: none;
  color: white;
}

/* Share Window CSS - End */
/* Resident Window CSS -Start */
.resident {
  /*border-bottom: 5px solid #dcdbd9;*/
}

#resident-area {
  height: 62px;
}

/* Resident Window CSS - End */
/* Post CSS - Start */
.profile {
  height: 178px;
}

.profile-info {
  height: 100%;
  width: 20%;
  background-color: #f26739;
  padding: 10px;
  padding-bottom: 9px;
}

#map-marker {
  float: right;
}

#map-marker i {
  position: absolute;
  margin-top: -15px;
  padding: 4px 7px;
  margin-left: -20px;
}

.timeline-photo {
  height: 100%;
  width: 80%;
}

.timeline-photo img {
  height: 100%;
  width: 100%;
}

.post-actions {
  height: 43px;
}

.post-actions ul {
  padding: 0;
  padding-left: 10px;
  margin-bottom: 0;
}

.post-actions li {
  display: inline;
}

.post-actions i {
  padding: 4px;
}

.post-actions i:hover {
  background-color: #f26739;
  border-radius: 50%;
  color: #ffffff;
}

.post-comments {
  margin-bottom: 0px;
}

.post-comment, .comment-box {
  display: block;
}

.comment-box {
  width: 100%;
  clear: both;
  padding: 10px 0px;
  margin-top: 15px;
}

.comment-box input, .comment-box span, #search-recommendation input, #search-recommendation span {
  border-radius: 0px;
  background: #f6f6f6;
  border: 1px solid #9f9f9f;
}

#search-recommendation input {
  border-left: 0px;
}

#search-recommendation span, .comment-box input {
  border-right: 0px;
}

.comment-box input::-moz-placeholder {
  color: #707070;
}

.comment-box input::-webkit-input-placeholder {
  color: #707070;
}

.like-icon:hover {
  background-color: #1e5b8b;
}

.comment-reply:hover {
  color: #1e5b8b;
}

.contractor-details {
  padding: 10px;
}

.contractor-recommend-post .post-content {
  padding: 20px;
}

.contractor-recommend-post .row, .contractor-recommend-post h3 {
  padding: 0;
  margin: 0;
}

.contractor-recommend-post h3 {
  margin-bottom: 10px;
}

/* Post CSS - End */
/* Timeline CSS - End */
.top-nav-mobile {
  font-size: 30px;
  position: fixed;
}

.mobile-icons {
  width: 20%;
  height: 70px;
  padding: 15px 0;
  position: initial;
}

.mobile-icons.active, .mobile-icons:hover {
  background-color: #297462;
}

.mobile-notification {
  background-color: #e94d54;
  vertical-align: top;
  font-size: 10px;
  padding: 1px 4px;
  border-radius: 50%;
  margin-left: -10px;
}

.notification-message {
  margin-top: -10px;
}

.each-notification:hover {
  background-color: #eff2f9 !important;
}

.each-notification.active, .each-notification.active .small-caption {
  background-color: #21659b !important;
  color: #fff !important;
}

.right-panel-body li:hover {
  color: #f26739 !important;
}

.each-notification .small-caption {
  color: #888;
}

.mini-dialoug {
  width: 100%;
}

.notification-message {
  margin-top: -10px !important;
}

/* Media Quries - START */
@media (min-width: 1200px) {
  .top-nav {
    display: block;
  }

  .top-nav-mobile {
    display: none;
  }
}

@media (max-width: 1200px) {
  .top-nav {
    display: none;
  }

  .top-nav-mobile {
    display: block;
  }

  .page-content, .message-body, .notification-body, .search-body, .right-panel-body {
    margin-top: 70px;
  }

  .logo {
    padding-left: 40px;
  }

  .tag-line, .terms-message {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .user-info {
    float: right;
  }

  .left-sidebar, .right-sidebar {
    display: none;
  }

  .middle-content {
    width: 100% !important;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .share-footer span {
    display: none;
  }

  .notification-message .img-container {
    width: 64px !important;
  }
  .tag-line-wrap {
    float: left;
    width: 49%;
    text-align: center;
    margin-left: 15px;
    padding-top: 5px !important;
  }
}

@media (max-width: 991px) {
  .quick-signup-form {
    margin: 0px !important;
  }

  .video-section {
    display: none;
  }

  .service-name {
    font-size: 18px;
  }
}

@media (min-width: 767px) and (max-width: 993px) {
  .btn-medium {
    width: 236px !important;
  }
}

@media (min-width: 590px) and (max-width: 766px) {
  .btn-medium {
    font-size: 20px !important;
    width: 180px !important;
  }
}

@media (max-width: 560px) {
  .share-footer span {
    display: none;
  }

  .tag-line {
    padding-left: 35px;
  }

  .header-text {
    font-size: 40px !important;
  }

  .header-mini {
    font-size: 20px !important;
  }
}

@media (max-width: 500px) {
  .tag-line {
    display: none;
  }
}

@media (max-width: 360px) {
  .header-text {
    font-size: 20px !important;
    letter-spacing: 0px !important;
  }

  .header-mini {
    font-size: 14px !important;
    letter-spacing: 0px !important;
  }
}

@media (max-width: 330px) {
  .terms-message {
    font-size: 11.5px;
  }
}

@media (min-width: 769px) {
  .contactor-options-mobile {
    display: none !important;
  }
}

@media (max-width: 769px) {
  .servies-list, .contractor-options {
    display: none;
  }

  .top-nav, .left-sidebar, .right-sidebar, .message-body, .notification-body, .search-body, .right-panel-body, .resident, .resident-height, .top-spacing {
    display: none;
  }

  .top-nav-mobile {
    display: block;
  }

  .tag-line {
    padding-left: 30px;
  }

  .page-content, .message-body, .notification-body, .search-body, .right-panel-body {
    margin-top: 70px;
  }

  .middle-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .share-body, .share-footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .timeline-photo img {
    height: 100%;
  }
}

/* Media Quries - END */
