.btns {
	width: 532px;
	text-align: center;
	margin: 0 auto;
}

body .start-register-btn button:hover {
	background-color: #e65e31 !important;
}

.business-type {
	display: block;
	padding: 0px 0 10px;
	font-size: 16px;
	font-weight: bold;
	font-family: DINPro;
}

.btn-company {
	border: 1px solid #eee;
	box-shadow: 1px 1px 1px 2px #eee;
}

.btn-user {
	border: 1px solid #eee;
	box-shadow: 1px 1px 1px 2px #eee;
}

.signup-buttons {
	border: 1px solid #eee;
	box-shadow: 1px 1px 1px 2px #eee;
	background-color: #fff;
	padding: 0px;
}

.signup-buttons:active {
	background-color: #f6f6f6;
	border: 1px solid #eee;
}

.signup-buttons:active, .signup-buttons:hover, .signup-buttons:focus {
	outline: none;
}

.required-marker {
	font-family: OpenSansSemiBold;
	color: #ff0000;
	font-size: 16px;
}

.step-3 textarea {
	width: 100%;
	height: 220px;
	border-radius: 5px;
	resize: none;
	background-color: #f6f6f6;
	border: 1px solid #9f9f9f;
	padding: 10px;
}

.input-group input {
	background-color: #f6f6f6;
	border: 1px solid #9f9f9f;
	border-left: none;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	/*padding: 21px 10px;*/
	padding: 0 10px;
	height: 44px;
}

.select-dropdown:focus, .input-group input:focus, .input-group input:active {
	border: 1px solid #9f9f9f;
	border-left: none;
	outline: none;
	box-shadow: none;
}

.input-group span {
	background-color: #f6f6f6;
	border: 1px solid #9f9f9f;
	border-right: none;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 8px;
}

.select-dropdown option {
	background-color: #f6f6f6;
}

.select-dropdown {
	width: 100%;
	padding: 11px 22px 11px 10px;
	background: transparent url("../images/icon-set/select-arrows.png") no-repeat right 5px top 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.select-dropdown-2 {
	width: 30%;
	padding: 5px;
	background: transparent url("../images/icon-set/select-arrows.png") no-repeat right 5px top 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #9f9f9f;
}

.day {
	padding: 8px;
	background-color: #bdbdbd;
	color: #fff;
	font-family: OpenSansSemiBold;
	width: 50px;
	height: 35px;
	float: left;
	text-align: center;
	margin-right: 5px;
}

.business-days {
	padding-bottom: 10px;
}

.day.day-not-selected {
	background-color: #bdbdbd;
}
.day.day-selected {
	background-color: #f07246;
}

@media (min-width: 830px) and (max-width: 1240px) {
	.btns {
		width: 100%;
	}
	.signup-buttons {
		max-width: 42%;
	}
	.signup-bodys .margin-right-50 {
		margin-right: 5%;
	}
}

@media (min-width: 775px) and (max-width: 830px) {
	.btns {
		width: 465px;
	}
	.btns .btn-company, .btns .btn-user {
		display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
	}
}

@media (min-width: 480px) and (max-width: 775px) {
	.btns {
		width: 250px;
	}
	.btns .btn-company, .btns .btn-user {
		display: block;
    	margin: 0 auto;
    	margin-bottom: 10px;
	}

	.signup-body {
	    height: 540px;
	}

	.logo {
		padding-left: 50px;
	}
}

@media (min-width: 1170px) {
	.step-2-content {
		width: 980px;
	}
}

@media (max-width: 480px) {
	body, .step-2-content {
		/*overflow: hidden;*/
		overflow: scroll;
	}

	.logo {
		padding-left: 20px;
	}

	.btns, .btn-company, .btn-user {
		width: 100%;
	}

	.step-2-content	 {
		height: 380px;
		width: 100%;
	}

	.signup-body {
		height: 330px;
	}
	#footer {
		width: 95%;
	}
}

@media (max-width: 580px) {
	.signup-header, .signup-header span {
		font-size: 14px;
	}
}

@media (max-width: 786px) {
	.signup-header .steps {
		display: none;
	}
}

@media (min-width: 581px) and (max-width: 1100px) {
	.signup-header, .signup-header span {
		font-size: 18px;
	}
}
