.upload-file-dropzone {
	cursor: pointer;
	min-height: 160px;
	background-size: cover;
	background-position: center;
}

.content {
	/*height: 520px;*/
}

.signup-body {
	height: 315px;
	overflow-x: hidden !important;
}

@media (max-width: 480px) {

	.upload-file-dropzone {
		margin-top: 16px;
	}

	#start-registration {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
