.share-icon {
    font-size: 18px;
}

/* Media Quries - START */

@media (min-width: 1200px) and (max-width: 1920px) {
    .share-icon {
      font-size: 16px !important;
    }
}

@media (min-width: 1200px) {
    .top-nav {
        display: block;
    }

    .padding-x-15 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .top-nav-mobile {
        display: none;
    }

    .margin-right-10 {
        margin-right: 0px;
    }
}

@media (max-width: 1200px) {
    .top-nav {
        display: none;
    }

    .top-nav-mobile {
        display: block;
    }

    .page-content,
    .message-body,
    .notification-body,
    .search-body,
    .right-panel-body {
        margin-top: 70px;
    }

    .logo {
        padding-left: 40px;
    }
}

@media (max-width: 991px) {
    .right-sidebar, .left-sidebar {
        display: none;
    }

    .middle-content {
        margin: 0px auto;
        padding-left: 0px;
        padding-right: 0px;
    }

    .profile {
        height: 178px;
    }

    .profile-info .img-responsive {
        margin-top: 10px;
        margin-left: 20px;
    }

    #map-marker {
        float: right;
    }

    .profile {
        height: 178px;
    }

    .profile-info {
        height: 100%;
        width: 20%;
        background-color: #f26739;
        padding: 10px;
        padding-bottom: 9px;
    }

    .profile-info .img-responsive {
        margin-top: 10px;
    }

    .timeline-photo {
        height: 100%;
        width: 80%;
    }

    .timeline-photo img {
        width: 100%;
    }

    .share-body,
    .share-footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    #map-marker i {
        position: absolute;
        margin-top: -15px;
        padding: 4px 7px;
        margin-left: -40px;
    }

    .contractor-img .img-responsive {
        margin-right: 3px;
        float: left;
        width: 30%;
    }

    .font-size-20 {
        font-size: 30px;
    }

    /*.font-size-16 {*/
        /*font-size: 12px;*/
    /*}*/

    .font-size-14 {
        font-size: 14px !important;
    }

    .padding-20 {
        padding: 10px !important;
    }

    .contractor-recommend-post h3 {
        margin-bottom: 10px;
    }

    .contractor-details {
        padding-top: 10px;
    }

    #resident-area {
        height: 40px;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .share-footer span {
        display: none;
    }
}

.profile {
    height: 178px;
}

.profile-info {
    height: 100%;
    width: 20%;
    background-color: #f26739;
    padding: 10px;
    padding-bottom: 9px;
}

.timeline-photo {
    height: 100%;
    width: 80%;
}

.timeline-photo img {
    width: 100%;
}

.contractor-img .img-responsive {
    margin-top: 10px;
    margin-right: 3px;
    float: left;
}

.font-size-20 {
    font-size: 20px;
}

/*.font-size-16 {*/
    /*font-size: 12px;*/
/*}*/

.font-size-14 {
    font-size: 14px !important;
}

.padding-20 {
    padding: 10px !important;
}

.contractor-recommend-post h3 {
    margin-bottom: 10px;
}

.contractor-details {
    padding-top: 10px;
}

#resident-area {
    height: 40px;
}

}
@media (max-width: 769px) {
    .top-nav-mobile {
        display: block;
    }

    .page-content,
    .message-body,
    .notification-body,
    .search-body,
    .right-panel-body {
        margin-top: 70px;
    }

    .middle-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .share-body,
    .share-footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    #map-marker i {
        position: absolute;
        margin-top: -15px;
        padding: 4px 7px;
        margin-left: -40px;
    }

    .profile {
        height: 178px;
    }

    .profile-info {
        height: 100%;
        width: 20%;
        background-color: #f26739;
        padding: 10px;
        padding-bottom: 9px;
    }

    .profile-info .img-responsive {
        margin-top: 10px;
        margin-left: 8px;
    }

    .timeline-photo {
        height: 100%;
        width: 80%;
    }

    .timeline-photo img {
        width: 100%;
    }

    .font-size-20 {
        font-size: 30px;
    }

    .font-size-16 {
        font-size: 12px;
    }

    .font-size-14 {
        font-size: 16px !important;
    }

    .padding-20 {
        padding: 10px !important;
    }

    .contractor-img .img-responsive {
        margin-top: 20px;
        margin-right: 3px;
        float: left;
        width: 100%;
    }

    .contractor-recommend-post h3 {
        margin-bottom: 10px;
    }

    .contractor-details {
        padding-top: 10px;
    }

    #resident-area {
        height: 40px;
    }
}

@media (max-width: 700px) {
    .profile-info .img-responsive {
        margin-left: 8px;
    }

    #map-marker i {
        position: absolute;
        margin-top: -15px;
        padding: 4px 7px;
        margin-left: -30px;
    }

    .contractor-img .img-responsive {
        margin-right: 3px;
        float: left;
        width: 30%;
    }

    .font-size-20 {
        font-size: 22px;
    }

    /*.font-size-16 {*/
        /*font-size: 12px;*/
    /*}*/

    /*.font-size-14 {*/
        /*font-size: 18px !important;*/
    /*}*/

    .padding-20 {
        padding: 10px !important;
    }

    .contractor-recommend-post h3 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .contractor-details {
        padding-top: 10px;
    }

    #resident-area {
        height: 40px;
    }
}

@media (max-width: 650px) {
    #map-marker i {
        position: absolute;
        margin-top: -15px;
        padding: 4px 7px;
        margin-left: -20px;
    }

    .profile-info .img-responsive {
        margin-left: 8px;
    }

    .contractor-img .img-responsive {
        margin-right: 3px;
        float: left;
        width: 30%;
    }

    .font-size-20 {
        font-size: 22px;
    }

    /*.font-size-16 {*/
        /*font-size: 12px;*/
    /*}*/

    /*.font-size-14 {*/
        /*font-size: 18px !important;*/
    /*}*/

    .padding-20 {
        padding: 10px !important;
    }

    .contractor-recommend-post h3 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .contractor-details {
        padding-top: 10px;
    }

    #resident-area {
        height: 40px;
    }
}

@media (max-width: 600px) {
    .share-body,
    .share-footer {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-x-15 {
        padding-left: 5px;
        padding-right: 5px;

    .padding-right-15 {
        padding-right: 5px;
    }

    .profile-info .img-responsive {
        margin-left: 8px;
    }

    .contractor-img .img-responsive {
        margin-right: 3px;
        float: left;
        width: 30%;
    }

    .font-size-20 {
        font-size: 22px;
    }

    .font-size-16 {
        font-size: 12px;
    }

    .font-size-14 {
        font-size: 18px;

    }

    .padding-20 {
        padding: 10px !important;
    }

    .contractor-recommend-post h3 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .contractor-details {
        padding-top: 10px;
    }

    #resident-area {
        height: 40px;
    }
}

@media (max-width: 500px) {
    .share-body,
    .share-footer {
        padding-left: 5px;
        padding-right: 5px;
    }

    .share-footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-x-15 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-right-15 {
        padding-right: 5px;
    }
}

.profile-info .img-responsive {
    margin-left: 0px;
}

.contractor-img .img-responsive {
    margin-right: 3px;
    float: left;
    width: 30%;
}

.font-size-20 {
    font-size: 20px;
}

/*.font-size-16 {*/
    /*font-size: 12px;*/
/*}*/

/*.font-size-14 {*/
    /*font-size: 12px !important;*/
/*}*/

.padding-20 {
    padding: 10px !important;
}

.contractor-recommend-post h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.contractor-details {
    padding-top: 10px;
}

#resident-area {
    height: 40px;
}

}
@media (max-width: 414px) {
    .share-body,
    .share-footer {
        padding-left: 5px;
        padding-right: 5px;
    }

    .share-footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    .padding-x-15 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .padding-right-15 {
        padding-right: 5px;
    }

    .middle-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .font-size-22 {
        font-size: 14px;
    }

    /*.font-size-12 {*/
    /*font-size: 8px !important;*/
    /*}*/
    #map-marker i {
        position: absolute;
        margin-top: -15px;
        padding: 4px 7px;
        margin-left: -16px;
    }

    .profile {
        height: 120px;
    }

    .profile-info {
        height: 100%;
        width: 20%;
        background-color: #f26739;
        padding: 10px;
        padding-bottom: 9px;
    }

    .profile-info .img-responsive {
        margin-top: 0px;
        margin-left: 0px;
    }

    .timeline-photo {
        height: 100%;
        width: 80%;
    }

    .timeline-photo img {
        height: 100%;
        width: 100%;
    }

    .contractor-img .img-responsive {
        margin-right: 3px;
        float: left;
        width: 30%;
    }

    .font-size-20 {
        font-size: 16px;
    }

    /*.font-size-16 {*/
        /*font-size: 12px;*/
    /*}*/

    /*.font-size-14 {*/
        /*font-size: 10px !important;*/
    /*}*/

    .padding-20 {
        padding: 10px !important;
    }

    .contractor-recommend-post h3 {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .contractor-details {
        padding-top: 10px;
    }

    #resident-area {
        height: 40px;
    }

    .post-time {
        font-size: 10px !important;
    }
}

@media (max-width: 320px) {
    .col-md-6 {
        padding: 0px;
        margin: 0px;
        padding-right: 10px;
    }

    .share-body,
    .share-footer {
        padding-left: 3px;
        padding-right: 3px;
    }

    body {
        font-size: 10px;
    }

    .post-time {
        font-size: 10px !important;
    }

    .padding-right-15 {
        padding-right: 5px;
    }

    .middle-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .profile {
        height: 100px;
    }

    .profile-info .img-responsive {
        margin-left: 0px;
    }

    .timeline-photo {
        height: 100%;
        width: 80%;
    }

    .contractor-img .img-responsive {
        margin-right: 3px;
        float: left;
        width: 30%;
    }

    .font-size-20 {
        font-size: 16px;
    }

    .font-size-16 {
        font-size: 12px;
    }

    .font-size-14 {
        font-size: 10px !important;
    }

    .padding-20 {
        padding: 10px !important;
    }

    .contractor-recommend-post h3 {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .contractor-details {
        padding-top: 10px;
    }

    #resident-area {
        height: 40px;
    }

    .padding-x-20 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
