.connect-btn {
	float: left;
	margin-bottom: 25px;
}

.connect-btn:hover, .connect-btn:active {
	border: 1px solid #888 !important;
	color: #888 !important;
}

@media (max-width: 1000px) {
	.padding-top-35 {
		padding-top: 0px !important;
	}
}