<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <title>UHome</title>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/social-main.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};
    </script>
    <script src="/js/dependencies/jquery.js"></script>
</head>
<body ng-controller="emptyController">
<script type="text/javascript">
    close();
</script>
</body>
</html>