<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <title>UHome</title>
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/social-main.css">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
  <script type="text/javascript">
    window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};
  </script>
  <script src="/js/dependencies/jquery.js"></script>
</head>
<body ng-app="HomepageModule" ng-controller="HomepageController" ng-cloak>
<div class="homepage-wrap">
  <header class="main-header-content">
    <div class="container">
      <div class="logo col-md-4">
        <div class="col-md-4 col-xs-2">
          <div class="logo-wrap"></div>
        </div>
        <div class="tag-line-wrap col-md-8 col-xs-7">
          <!--<span class="tag-line">The social utility for better living</span>-->
        </div>
      </div>
      <div class="col-md-8">
        <div class="pull-right">
          <ul class="top-nav-list">
            <!--<li>-->
              <!--<a href="/signup" class="text-uppercase text-decoration-none text-white">sign up</a>-->
            <!--</li>-->
            <li class="how-it-works">
              <a href="#" class="text-uppercase text-decoration-none text-white">
                <!--<span class="video-icon"></span>-->
                <p>home</p>
              </a>
            </li>
            <li>
              <a href="/login" class="text-uppercase text-decoration-none text-white">log in</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="first_view">
    <div class="container">
      <div class="col-xl-6 welcome-note">
        <span class="header-text">Discover Your Lifestyle</span>
        <div class="clearfix"></div>
      </div>
      <div class="col-lg-6 welcome-text">
        <p>FIND LOCAL SERVICE PROVIDERS, STAY UPDATED WITH YOUR COMMUNITY, GET IDEAS ON HOME IMPROVEMENT PROJECTS, AND COMPLETE A VARIETY OF TASKS.</p>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-6 home-main-view">
        <!--<div class="col-md-7 video-section">-->
          <!--<iframe width="100%" height="412" src="http://www.youtube.com/embed/tO-g9lDd5AE?autoplay=0"></iframe>-->
        <!--</div>-->
        <!--<div class="col-md-4 quick-signup-form">-->
          <!--<div class="quick-signup-form-header">-->
            <!--<span>Create your account</span>-->
          <!--</div>-->
          <!--<form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">-->
            <!--<div>-->
              <!--<div class="row margin-0 padding-x-20 padding-top-5">-->
                <!--<div class="col-md-5 col-sm-4 col-xs-6">-->
                  <!--<input id="businesses" ng-model="signupForm.userType"  type="radio" class="pull-left" value="business" name="userType"> <label-->
                          <!--class="padding-left-10 font-size-18 font-opensansbold" for="businesses">Business</label>-->
                <!--</div>-->
                <!--<div class="col-md-6 col-sm-4 col-xs-4">-->
                  <!--<input id="userses" ng-model="signupForm.userType" checked="checked" type="radio" class="pull-left" value="user" name="userType"> <label-->
                          <!--class="padding-left-10 font-size-18 font-opensansbold" for="userses">User</label>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row margin-0 quick-signup-form-body padding-top-10">-->
              <!--<div class="inner-addon left-addon"-->
                   <!--ng-class="{'has-error':signup.name.$invalid &&-->
                                  <!--signup.name.$dirty}">-->
                <!--<i class="glyphicon glyphicon-user"></i>-->
                <!--<input ng-model="signupForm.name" ng-maxlength="50" required name="name" type="text" class="form-control" placeholder="Name"/>-->
                <!--&lt;!&ndash; Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required-->
                <!--and/or maxlength) &ndash;&gt;-->
                <!--<span class="help-block has-error" ng-if="signup.name.$dirty">-->
                <!--<span ng-show="signup.name.$error.required">Name is required.</span>-->
                <!--<span ng-show="signup.name.$error.maxlength">The name cannot be more than 50 characters.</span>-->
              <!--</span>-->
              <!--</div>-->
              <!--<div class="inner-addon left-addon"-->
                   <!--ng-class="{'has-error':signup.email.$invalid &&-->
                                  <!--signup.email.$dirty}">-->
                <!--<i class="glyphicon glyphicon-envelope"></i>-->
                <!--<input ng-model="signupForm.email" required name="email" type="email" class="form-control" placeholder="Email"/>-->
                <!--<span class="help-block has-error" ng-if="signup.email.$dirty">-->
                <!--<span ng-show="signup.email.$error.required">Email address is required.</span>-->
                <!--<span ng-show="signup.email.$error.email">Not a valid email address.</span>-->
              <!--</span>-->
              <!--</div>-->
              <!--<div class="inner-addon left-addon"-->
                   <!--ng-class="{'has-error':signup.password.$invalid &&-->
                                  <!--signup.password.$dirty}">-->
                <!--<i class="glyphicon fa fa-key"></i>-->
                <!--<input ng-model="signupForm.password" required ng-minlength="6" name="password" type="password" class="form-control" placeholder="Password"/>-->
                <!--<span class="help-block has-error" ng-if="signup.password.$dirty">-->
                <!--<span ng-show="signup.password.$error.required">Password is required.</span>-->
                <!--<span ng-show="signup.password.$error.minlength">Password must be at least 6 characters.</span>-->
              <!--</span>-->
                <!--<input type="hidden" name="_csrf" value="<%= _csrf %>" />-->
              <!--</div>-->
              <!--&lt;!&ndash;<button style="margin: 5px;" class="btn btn-orange quick-signup-form-button pull-center">Continue</button>&ndash;&gt;-->

              <!--&lt;!&ndash; Disable signup button until the form has no errors &ndash;&gt;-->
              <!--<button style="margin: 5px;" class="btn btn-orange quick-signup-form-button pull-center btn-block" ng-click="signupForm.submitSignupForm()" ng-disabled="signup.$invalid">-->
                <!--<span ng-show="!signupForm.loading">Create Account</span>-->
                <!--<span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading"></span>-->
                <!--<span ng-show="signupForm.loading">Preparing your new account...</span>-->
              <!--</button>-->

              <!--<span class="pull-center terms-message" style="color: #666666;">By clicking continue, you agree to our <a-->
                        <!--href="#" style="text-decoration: underline;color: #66aaee;">Terms of use</a></span>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
        <a href="/signup" ng-click="account('business')" class="btn btn-dark-blue btn-medium text-large pull-center"><i
                  class="fa fa-briefcase"></i> BUSINESS
        </a>
        <a href="/signup" ng-click="account('user')" class="btn btn-orange btn-medium text-large pull-center"><i
                  class="fa fa-user"></i> USERS
        </a>
      </div>
    </div>
  </div>
</div>
<div class="why-uhome">
  <div class="container">
    <h2>Why Uhome?</h2>
    <hr>
    <div class="why-text">
      <ul class="list">
        <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Get useful updates around your residential zip code.</li>
        <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Complete projects and tasks from local service providers.</li>
        <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Find relevant deals from businesses and other users.</li>
        <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Plan and organize your schedule.</li>
      </ul>
    </div>
  </div>
</div>
<div class="under-top">
  <div class="container clearfix">
      <div class="col-md-6">
        <p>
          Uhome features a strong social component and reliable
          recommendations.
        </p>
      </div>
      <div class="col-md-6">
        <a href="/signup" ng-click="account('business')" class="btn btn-dark-blue btn-medium text-large pull-center">
          <i class="fa fa-briefcase"></i> BUSINESS
        </a>
        <a href="/signup" ng-click="account('user')" class="btn btn-orange btn-medium text-large pull-center">
          <i class="fa fa-user"></i> USERS
        </a>
      </div>
  </div>
</div>
<div class="bottom-section">
  <div class="container clearfix">
    <div class="col-md-6 pull-right">
      <img class="img-responsive" src="/images/home-footer.png" alt="">
    </div>

    <div class="footer-home">
      <div class="container clearfix">
        <div class="col-md-9">
          <div class="footer-menu">
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="">Uhome Expert</a></li>
              <li><a href="">Jobs</a></li>
              <li><a href="">Help Center</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Trust and Safety</a></li>
              <li><a href="">Terms & Privacy</a></li>
            </ul>
          </div>
          <div class="copyright">© Uhome 2016. All Rights Reserved.</div>
        </div>
        <div class="col-md-3 pull-right">
          <div class="social-menu">
            <ul>
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://plus.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row margin-0 zigzag"></div>
<!--<div class="second_view">-->
  <!--<div class="servies-list container padding-y-20">-->
    <!--<div class="col-md-12" style="padding: 35px;text-align:center;width: 100%;  margin: 0 auto;color: white;">-->
      <!--<span style="font-size: 36px;font-family: 'DINPro';text-shadow: 1px 1px #000;letter-spacing:-1px">Complete a variety of tasks for your home</span>-->
    <!--</div>-->
    <!--<div class="col-md-12">-->
      <!--<div class="padding-15 col-md-4 col-sm-4 col-xs-4">-->
        <!--<div class="service-item">-->
          <!--<img class="img-responsive" src="/images/services/img1.png" alt="">-->
          <!--<div class="row margin-0 padding-x-20 padding-y-10 bg-white">-->
            <!--<h3 class="font-size-20 font-dinopro service-name">Home Cleaning</h3>-->
            <!--<p class="font-size-14 font-opensans text-light-gray">Lets help tackle you to do list</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="padding-15 col-md-4 col-sm-4 col-xs-4">-->
        <!--<div class="service-item">-->
          <!--<img class="img-responsive" src="/images/services/img2.png" alt="">-->
          <!--<div class="row margin-0 padding-x-20 padding-y-10 bg-white">-->
            <!--<h3 class="font-size-20 font-dinopro service-name">Handymen</h3>-->
            <!--<p class="font-size-14 font-opensans text-light-gray">Lets help tackle you to do list</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="padding-15 col-md-4 col-sm-4 col-xs-4">-->
        <!--<div class="service-item">-->
          <!--<img class="img-responsive" src="/images/services/img3.png" alt="">-->
          <!--<div class="row margin-0 padding-x-20 padding-y-10 bg-white">-->
            <!--<h3 class="font-size-20 font-dinopro service-name">Home Exterior</h3>-->
            <!--<p class="font-size-14 font-opensans text-light-gray">Lets help tackle you to do list</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-12">-->
      <!--<div class="padding-15 col-md-4 col-sm-4 col-xs-4">-->
        <!--<div class="service-item">-->
          <!--<img class="img-responsive" src="/images/services/img4.png" alt="">-->
          <!--<div class="row margin-0 padding-x-20 padding-y-10 bg-white">-->
            <!--<h3 class="font-size-20 font-dinopro service-name">Home Interior</h3>-->
            <!--<p class="font-size-14 font-opensans text-light-gray">Lets help tackle you to do list</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="padding-15 col-md-4 col-sm-4 col-xs-4">-->
        <!--<div class="service-item">-->
          <!--<img class="img-responsive" src="/images/services/img5.png" alt="">-->
          <!--<div class="row margin-0 padding-x-20 padding-y-10 bg-white">-->
            <!--<h3 class="font-size-20 font-dinopro service-name">Home Establishment</h3>-->
            <!--<p class="font-size-14 font-opensans text-light-gray">Lets help tackle you to do list</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="padding-15 col-md-4 col-sm-4 col-xs-4">-->
        <!--<div class="service-item">-->
          <!--<img class="img-responsive" src="/images/services/img6.png" alt="">-->
          <!--<div class="row margin-0 padding-x-20 padding-y-10 bg-white">-->
            <!--<h3 class="font-size-20 font-dinopro service-name">Home Parties</h3>-->
            <!--<p class="font-size-14 font-opensans text-light-gray">Lets help tackle you to do list</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row margin-0 col-md-12">-->
      <!--<center>-->
        <!--<button class="btn btn-default font-size-18 font-dinopro text-uppercase"-->
                <!--style="padding-left: 15px; padding-right: 15px;padding-top: 10px; padding-bottom: 10px; font-size: 18px;">-->
          <!--Get Started Now-->
        <!--</button>-->
      <!--</center>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="contactor-options-mobile">-->
    <!--<div class="services-list-mobile padding-20">-->
      <!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">-->
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading btn-orange" role="tab" id="headingOne">-->
            <!--<h4 class="panel-title padding-x-25">-->
              <!--<a class="text-uppercase" role="button" data-toggle="collapse" data-parent="#accordion" href="#business"-->
                 <!--aria-expanded="true" aria-controls="business">-->
                <!--<i class="fa fa-briefcase"></i> Business-->
                <!--<span class="pull-right">-->
                    <!--<i class="fa fa-angle-right text-white font-size-30"></i>-->
                <!--</span>-->
              <!--</a>-->
            <!--</h4>-->
          <!--</div>-->
          <!--<div id="business" class="panel-collapse collapse" role="tabpanel"-->
               <!--aria-labelledby="headingOne">-->
            <!--<div class="panel-body">-->
              <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
              <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
              <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
              <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
              <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
              <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
              <!--probably haven't heard of them accusamus labore sustainable VHS.-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading btn-light-blue" role="tab" id="headingTwo">-->
            <!--<h4 class="panel-title padding-x-25">-->
              <!--<a class="text-uppercase" role="button" data-toggle="collapse" data-parent="#accordion" href="#user"-->
                 <!--aria-expanded="true" aria-controls="user">-->
                <!--<i class="fa fa-briefcase"></i> Users-->
                <!--<span class="pull-right">-->
                    <!--<i class="fa fa-angle-right text-white font-size-30"></i>-->
                <!--</span>-->
              <!--</a>-->
            <!--</h4>-->
          <!--</div>-->
          <!--<div id="user" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">-->
            <!--<div class="panel-body">-->
              <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
              <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
              <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
              <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
              <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
              <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
              <!--probably haven't heard of them accusamus labore sustainable VHS.-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading btn-gray" role="tab" id="headingThree">-->
            <!--<h4 class="panel-title padding-x-25">-->
              <!--<a class="text-uppercase" role="button" data-toggle="collapse" data-parent="#accordion" href="#advertise"-->
                 <!--aria-expanded="true" aria-controls="advertise">-->
                <!--<i class="fa fa-briefcase"></i> Advertise-->
                <!--<span class="pull-right">-->
                    <!--<i class="fa fa-angle-right text-white font-size-30"></i>-->
                <!--</span>-->
              <!--</a>-->
            <!--</h4>-->
          <!--</div>-->
          <!--<div id="advertise" class="panel-collapse collapse in" role="tabpanel"-->
               <!--aria-labelledby="headingThree">-->
            <!--<div class="panel-body">-->
              <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad-->
              <!--squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa-->
              <!--nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid-->
              <!--single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft-->
              <!--beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice-->
              <!--lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you-->
              <!--probably haven't heard of them accusamus labore sustainable VHS.-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
</body>
</html>
<!--SCRIPTS-->
<script>

    jQuery(document).ready(function($) {
        if (jQuery(window).scrollTop() > 50) {
            jQuery('header').addClass('fixed');
        } else {
            jQuery('header').removeClass('fixed');
        }
    });

    jQuery(window).bind('scroll', function () {
        if (jQuery(window).scrollTop() > 50) {
            jQuery('header').addClass('fixed');
        } else {
            jQuery('header').removeClass('fixed');
        }
    });

</script>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.1.6.js"></script>
<script src="/js/dependencies/angular-animate.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.inputmask.bundle.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/ng-file-upload.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/controllers/bissenesProfile.js"></script>
<script src="/js/controllers/businessDashboard.controller.js"></script>
<script src="/js/controllers/individualDashboard.controller.js"></script>
<script src="/js/controllers/signUp.controller.js"></script>
<script src="/js/controllers/userDashboard.js"></script>
<script src="/js/controllers/userProfile.js"></script>
<script src="/js/custom/businessRegistration.js"></script>
<script src="/js/custom/contractorDashboard.js"></script>
<script src="/js/custom/index.js"></script>
<script src="/js/custom/serviceseekerDashboard.js"></script>
<script src="/js/directive/bregisterStep2.js"></script>
<script src="/js/directive/delay.js"></script>
<script src="/js/directive/registerStep2.js"></script>
<script src="/js/directive/userProfile.js"></script>
<script src="/js/filter/replace.js"></script>
<script src="/js/public/BregisterModule.js"></script>
<script src="/js/public/HomepageModule.js"></script>
<script src="/js/public/LoginModule.js"></script>
<script src="/js/public/PostprojectModule.js"></script>
<script src="/js/public/RecoveryModule.js"></script>
<script src="/js/public/ResetpasswordModule.js"></script>
<script src="/js/public/ServiceModule.js"></script>
<script src="/js/public/SregisterModule.js"></script>
<script src="/js/public/SubserviceModule.js"></script>
<script src="/js/services/api.service.js"></script>
<script src="/js/services/businessHours.service.js"></script>
<script src="/js/services/datepicker.service.js"></script>
<script src="/js/services/googleMap.service.js"></script>
<!--SCRIPTS END-->
