<div class="sidebar left-sidebar col-md-3">
    <div class="main-content">
        <div class="heading">
            <div class="heading-content-info padding-x-20 padding-y-15">
                <h2><a class="text-decoration-none text-black" href="/">Company Information</a></h2>
            </div>
        </div>
        <div class="short-info padding-20">
            <div class="user-image" style="background-image: url(<%= viewedUser.profilePicture %>)">
                <!--<img src="<%= viewedUser.profilePicture %>" alt="">-->
            </div>
            <div class="position">
                <p><%= viewedUser.firstName %></p><p> <%= viewedUser.lastName %></p>
            </div>

        </div>
        <div class="profile-data padding-20">
            <div class="data-line" ng-show="businessEIN!=''" ng-init="businessEIN = '<%= viewedUser.businessEIN %>'">
                <p>EIN:</p>
                <p><%= viewedUser.businessEIN %></p>
            </div>
            <div class="data-line" ng-show="phone!=''" ng-init="phone = '<%= viewedUser.phone %>'">
                <p>Phone:</p>
                <p><%= viewedUser.phone %></p>
            </div>
            <div class="data-line">
                <p>Address:</p>
                <p><%= viewedUser.address %></p>
            </div>
            <div class="data-line" ng-show="url!=''" ng-init="url = '<%= viewedUser.url %>'">
                <p>Website:</p>
                <p class="website"><a href="https://<%= viewedUser.url %>"><%= viewedUser.url %></a></p>
            </div>
            <div class="data-line" ng-show="hourlyRate!=''" ng-init="hourlyRate = '<%= viewedUser.hourlyRate %>'">
                <p>Hr. Rates:</p>
                <p><%= viewedUser.hourlyRate %></p>
            </div>
            <div class="data-line">
                <p>Hours:</p>
                <p class="date-time">
                    Sun <%= viewedUser.sunday %> </br>
                    Mon <%= viewedUser.monday %> </br>
                    Tue <%= viewedUser.tuesday %> </br>
                    Wed <%= viewedUser.wednesday %> </br>
                    Thu <%= viewedUser.thursday %> </br>
                    Fri <%= viewedUser.friday %> </br>
                    Sat <%= viewedUser.saturday %> </p>
            </div>
            <div class="data-line" ng-show="yearFounded!=''" ng-init="yearFounded = '<%= viewedUser.yearFounded %>'">
                <p>Founded:</p>
                <p><%= viewedUser.yearFounded %></p>
            </div>
            <div class="data-line" ng-show="language!=''" ng-init="language = '<%= viewedUser.phone %>'">
                <p>Language:</p>
                <p><%= viewedUser.language %></p>
            </div>
        </div>
        <!--<div class="reviev-section padding-20">-->
            <!--<div class="stars-section">-->
            <!--<div class="stars">-->
            <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--<i class="fa fa-star" aria-hidden="true"></i>-->
            <!--</div>-->
            <!--<div class="reviews-count">(20 Reviews)</div>-->
            <!--</div>-->
            <!--<div>-->
                <!--<div class="review-btn">-->
                    <!--Write a Review-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="sidebar-footer">
        <hr>
        <div class="menu-list">
            <div><a href="">Contact</a></div>
            <div><a href="">Terms & Privacy</a></div>
            <!--<div><a href="">More<i class="fa fa-caret-down" aria-hidden="true"></i></a></div>-->
        </div>
        <div class="copyright">
            © Uhome 2016. All Rights Reserved.
        </div>
    </div>
</div>
