<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="UTF-8">
  <title>Uhome - Home based services</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/registration.css">
  <link rel="stylesheet" href="/styles/step-1.css">
  <link rel="stylesheet" href="/styles/login.css">

  <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
  <script type="text/javascript">
    window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};
  </script>
  <script src="/js/dependencies/jquery.js"></script>
</head>
<body class="index" ng-controller="LoginController" >
<div class="page-wrapper">
  <div class="top-nav">
    <div class="container">
      <div class="first-container col-md-4 col-sm-3 col-xs-4 pull-left">
          <div class="logo pull-left col-md-4 padding-top-10 padding-left-8">
            <a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
          </div>
      </div>
      <div class="user-info col-md-4 col-sm-6 col-xs-8 pull-right padding-top-25">
        <span class="pull-right margin-right-30">
          Don't have an account <a class="text-orange text-underlined" href="/signup">Signup</a>
        </span>
      </div>
    </div>
  </div>
  <div class="content row">
    <div class="login-body">
      <form ng-submit="submitLoginForm()" name="login" id="login-form">
        <div class="row margin-0 col-md-12 padding-top-25 padding-x-20 disable-float">
          <div class="col-md-12 padding-x-10 disable-float">
            <label class="font-opensans-semibold font-size-16 padding-y-10">Email <span class="required-marker">*</span></label>
            <div class="input-group"
                 ng-class="{'has-error':login.email.$invalid &&
                                  login.email.$dirty}">
                <span class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </span>
              <input ng-model="loginForm.email" name="email" type="text" class="form-control">
            </div>
            <span class="help-block has-error" ng-if="login.email.$dirty">
            <span ng-show="login.email.$error.required">Email is required.</span>
          </span>
          </div>
          <div class="col-md-12 padding-x-10 disable-float">
            <label class="font-opensans-semibold font-size-16 padding-y-10">Password <span class="required-marker">*</span></label>
            <div class="input-group"
                 ng-class="{'has-error':login.password.$invalid &&
                                  login.password.$dirty}">
                <span class="input-group-addon">
                  <i class="fa fa-key"></i>
                </span>

              <input ng-model="loginForm.password" required ng-minlength="6" name="password" type="password" class="form-control" placeholder="Password">
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </div>
            <span class="help-block has-error" ng-if="login.password.$dirty">
            <span ng-show="login.password.$error.required">Password is required.</span>
          </span>
          </div>
        </div>
        <div class="row margin-0 col-md-12 padding-x-20 disable-float">
          <div class="col-md-6 padding-x-10">
            <input ng-model="loginForm.remember" name="remember" type="checkbox">
            <span class="margin-left-5"> Stay Logged In</span>
          </div>
          <div class="col-md-6 padding-x-10">
            <label class="font-opensans-semibold font-size-16 text-blue text-underlined pull-right">
              <a href="/recovery" class="text-decoration-none text-underlined">Forgot Password? </a>
            </label>
          </div>
        </div>
        <div class="col-md-12 padding-30 disable-float login-btn-wrap">
          <center>
            <!-- Disable login button until the form has no errors -->
            <button class="login-btn btn btn-orange bg-orange text-white quick-login-form-button pull-center btn-block" ng-click="loginForm.submitLoginForm()" ng-disabled="login.$invalid">
              <span ng-show="!loginForm.loading">Login</span>
              <span class="overlord-loading-spinner fa fa-spinner" ng-show="loginForm.loading"></span>
              <span ng-show="loginForm.loading">Processing...</span>
            </button>
          </center>
        </div>
        <div class="login-footer">
          <ul>
            <li>
              <a ng-click="loginBtn('facebook')" class="facebook-social">
                <img src="/images/social-media-icons/facebook.svg" />
                <span class="separator"></span>
                <div class="social-text">
                  <p>Sign in with Facebook</p>
                </div>
              </a>
            </li>
            <li>
              <a ng-click="loginBtn('google')" class="google-social">
                <img src="/images/social-media-icons/google-plus.svg" />
                <span class="separator"></span>
                <div class="social-text">
                  <p>Sign in with Google+</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <!--<div class="login-footer">-->
      <!--<ul>-->
        <!--<li>Login with: </li>-->
        <!--<li>-->
          <!--<a href="/auth/facebook">-->
            <!--<img style="width: 50px;" src="/images/social-media-icons/facebook.png" />-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="/auth/google">-->
            <!--<img style="width: 50px;" src="/images/social-media-icons/googleplus.png" />-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
  <div id="footer">
    <center>
      <ul>
        <li>
          <a href="">About Us</a>
        </li>
        <li>
          <a href="">Leadership</a>
        </li>
        <li>
          <a href="">Press</a>
        </li>
        <li>
          <a href="">Career</a>
        </li>
        <li>
          <a href="">Terms &amp; Privacy</a>
        </li>
      </ul>
      <p class="font-size-13 text-light-gray">© Uhome 2016. All Rights Reserved</p>
    </center>
  </div>
</div>
</body>
</html>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.1.6.js"></script>
<script src="/js/dependencies/angular-animate.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.inputmask.bundle.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/ng-file-upload.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/controllers/bissenesProfile.js"></script>
<script src="/js/controllers/businessDashboard.controller.js"></script>
<script src="/js/controllers/individualDashboard.controller.js"></script>
<script src="/js/controllers/signUp.controller.js"></script>
<script src="/js/controllers/userDashboard.js"></script>
<script src="/js/controllers/userProfile.js"></script>
<script src="/js/custom/businessRegistration.js"></script>
<script src="/js/custom/contractorDashboard.js"></script>
<script src="/js/custom/index.js"></script>
<script src="/js/custom/serviceseekerDashboard.js"></script>
<script src="/js/directive/bregisterStep2.js"></script>
<script src="/js/directive/delay.js"></script>
<script src="/js/directive/registerStep2.js"></script>
<script src="/js/directive/userProfile.js"></script>
<script src="/js/filter/replace.js"></script>
<script src="/js/public/BregisterModule.js"></script>
<script src="/js/public/HomepageModule.js"></script>
<script src="/js/public/LoginModule.js"></script>
<script src="/js/public/PostprojectModule.js"></script>
<script src="/js/public/RecoveryModule.js"></script>
<script src="/js/public/ResetpasswordModule.js"></script>
<script src="/js/public/ServiceModule.js"></script>
<script src="/js/public/SregisterModule.js"></script>
<script src="/js/public/SubserviceModule.js"></script>
<script src="/js/services/api.service.js"></script>
<script src="/js/services/businessHours.service.js"></script>
<script src="/js/services/datepicker.service.js"></script>
<script src="/js/services/googleMap.service.js"></script>
<!--SCRIPTS END-->
