<div class="sidebar left-sidebar col-md-3">
  <div class="heading">
    <!--<div class="icon pull-left">-->
      <!--&lt;!&ndash;<img class="img-responsive" src="/images/icon-set/dashboard-icon.png" alt="">&ndash;&gt;-->
      <!--<i class="fa fa-tachometer" aria-hidden="true"></i>-->
    <!--</div>-->
    <div class="heading-content">
      <h2>Dashboard</h2>
    </div>
  </div>
  <div class="main-content" ng-cloak="userType" ng-init="userType = <%= user.userType %>">
    <ul ng-if="'<%= user.userType %>' === 'ServiceSeeker'">
      <!--<li class="item">-->
        <!--<a class="text-black text-decoration-none" href="/messages">-->
          <!--<i class="fa fa-envelope"></i>-->
          <!--My Messages-->
        <!--</a>-->
      <!--</li>-->
      <li class="item">
        <a class="text-black text-decoration-none" href="/publicpage/<%= user.id %>">
          <i class="fa fa-user"></i>
          My Profile
        </a>
      </li>
      <li class="item">
        <a class="text-black text-decoration-none" href="/sseditprofile">
          <i class="fa fa-pencil-square-o"></i>
          Edit Profile
        </a>
      </li>
      <li class="item">
        <a class="text-black text-decoration-none" href="/ssmyprojects">
          <i class="fa fa-question-circle"></i>
          My Projects
        </a>
      </li>
      <li class="item">
        <a  class="text-black text-decoration-none" href="/newsFeed">
          <i class="fa fa-newspaper-o"></i>
          News Feed
        </a>
      </li>
      <li class="item">
        <a class="text-black text-decoration-none" href="/findBusiness">
          <i class="fa fa-briefcase"></i>
          Find Businesses
        </a>
      </li>
      <li class="item">
        <a  class="text-black text-decoration-none" href="/recommendations">
          <i class="fa fa-user"></i>
          Recommendations
        </a>
      </li>
    </ul>

    <!----------------------------- sidebar items for business profile ----------------------------->

    <div class="margin-bottom-10" ng-cloak="userType" ng-if="'<%= user.userType %>' ==='Individual' || '<%= user.userType %>' ==='Business'">
      <ul>
        <li class="item">
          <a class="text-black text-decoration-none" target="_blank" href="/publicpage/<%= user.id %>" >
            <i class="fa fa-user"></i>
            My Profile
          </a>
        </li>
        <li class="item">
          <a class="text-black text-decoration-none" href="/speditprofile">
            <i class="fa fa-pencil-square-o"></i>
            Edit Profile
          </a>
        </li>
          <% //if(contractor.businessName) { %>
        <!--<li class="item">-->
        <!--<a class="text-black text-decoration-none" href="/editTeam">-->
        <!--<i class="fa fa-users"></i>-->
        <!--My Team-->
        <!--</a>-->
        <!--</li>-->
          <% //} %>
        <!--<li class="item">-->
        <!--<a class="text-black text-decoration-none" href="/spprojects">-->
        <!--<i class="fa fa-question"></i>-->
        <!--My Projects-->
        <!--</a>-->
        <!--</li>-->
        <li class="item">
          <a class="text-black text-decoration-none" href="/myjobs">
            <i class="fa fa-calendar-check-o"></i>
            My Jobs
          </a>
        </li>
        <!--<li class="item">-->
        <!--<a class="text-black text-decoration-none" href="/spmessages">-->
        <!--<i class="fa fa-envelope"></i>-->
        <!--My Messages-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="item">
          <a  class="text-black text-decoration-none" href="user-timeline.html">
            <i class="fa fa-magic"></i>
            My Profile Insights
          </a>
        </li>-->
        <li class="item">
          <a class="text-black text-decoration-none" href="/spreviews">
            <i class="fa fa-star-half-empty"></i>
            My Reviews
          </a>
        </li>
        <!--<li class="item">-->
        <!--<a  class="text-black text-decoration-none" href="/spsettings">-->
        <!--<i class="fa fa-gear"></i>-->
        <!--My Settings-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="item">-->
        <!--<a  class="text-black text-decoration-none" href="/spads">-->
        <!--<i class="fa fa-universal-access"></i>-->
        <!--Membership-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="item">-->
        <!--<a  class="text-black text-decoration-none" href="/spverifications">-->
        <!--<i class="fa fa-certificate"></i>-->
        <!--Verification-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="item">-->
        <!--<a  class="text-black text-decoration-none" href="/spbadges">-->
        <!--<i class="fa fa-diamond"></i>-->
        <!--My Badges and Widgets-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="item">-->
        <!--<a  class="text-black text-decoration-none" href="/sprecommendations">-->
        <!--<i class="fa fa-briefcase"></i>-->
        <!--Business Resources-->
        <!--</a>-->
        <!--</li>-->
      </ul>
    </div>
    <!--<div class="recent-activity border-bottom-5">-->
      <!--<div class="heading">-->
        <!--<div class="icon pull-left">-->
          <!--<center><img class="img-responsive" src="/images/icon-set/recent-activity-icon.png" alt=""></center>-->
        <!--</div>-->
        <!--<div class="heading-content">-->
          <!--<h2>Advertisement</h2>-->
        <!--</div>-->
        <!--<div class="main-content padding-15">-->
          <!--<ul>-->
            <!--<li class="display-inline">-->
              <!--<img class="img-responsive" src="/images/sponsored/idea-bulb.png" />-->
              <!--<div class="main-text text-dark-gray font-size-13 font-dinopro">Learn more at the Image Show GK4 project website</div>-->
              <!--<p class="font-size-11 font-dinopro text-extra-gray">Cupcake ipsum dolor sit amet faworki...</p>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--------------------------- end sidebar items for business profile --------------------------->

  </div>
</div>
