<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Uhome - Home based services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/toastr/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/registration.css">
    <link rel="stylesheet" href="/styles/step-1.css">
    <link rel="stylesheet" href="/styles/login.css">

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
        window.SAILS_LOCALS = {_csrf: "<%= _csrf %>"};
    </script>
    <!--<script src="/js/dependencies/jquery.js"></script>-->
</head>
<body class="index" ng-controller="signUp" b-step-two>
<div class="page-wrapper">
    <div class="top-nav">
        <div class="container">
            <div class="first-container col-md-4 col-sm-3 col-xs-4 pull-left">
                    <div class="logo pull-left col-md-4 padding-top-10 padding-left-8">
                        <a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
                    </div>
            </div>
            <div class="user-info col-md-4 col-sm-6 col-xs-8 pull-right padding-top-25">
        <span class="pull-right margin-right-30">
          Already have an account <a class="text-orange text-underlined" href="/login">Log In</a>
        </span>
            </div>
        </div>
    </div>
    <div class="content row signup-wrap">
        <div class="signup-title">
            <p>Create your account</p>
        </div>
        <div class="login-body">
            <form ng-submit="submitSignupForm()" name="signup" id="login-form" novalidate>
                <div class="row margin-0 col-md-12 padding-x-20 fields-wrap">
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16 padding-y-10">Email Address</label>
                        <div class="input-group" ng-class="{'has-error':signup.email.$invalid && signup.email.$dirty}">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input ng-model="signupForm.email" id="email" name="email" type="email" ng-pattern="regexEmail" class="form-control">
                        </div>
                        <!-- Also, if login.email.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
                          and/or maxlength) -->
                        <!--<span class="help-block has-error" ng-if="signup.email.$dirty">-->
                            <!--<span ng-show="signup.email.$error.required">Email is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16 padding-y-10">Password</label>
                        <div class="input-group" ng-class="{'has-error':signup.password.$invalid && signup.password.$dirty}">
                            <span class="input-group-addon">
                                <i class="fa fa-key"></i>
                            </span>
                            <input ng-model="signupForm.password" required ng-minlength="6" id="password" name="password" type="password" class="form-control">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        </div>
                        <!--<span class="help-block has-error" ng-if="signup.password.$dirty">-->
                            <!--<span ng-show="signup.password.$error.required">Password is required.</span>-->
                        <!--</span>-->
                    </div>
                    <div class="col-md-12 padding-x-10">
                        <label class="font-opensans-semibold font-size-16 padding-y-10">Confirm Password</label>
                        <div class="input-group" ng-class="{'has-error':(signup.confirmPassword.$invalid && signup.confirmPassword.$dirty)||(signupForm.password != signupForm.confirmPassword)}">
                            <span class="input-group-addon">
                                <i class="fa fa-key"></i>
                            </span>
                            <input ng-model="signupForm.confirmPassword" required ng-minlength="6" id="confirmPassword" name="confirmPassword" type="password" confirm-password="password" class="form-control">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                        </div>
                        <!--<span class="help-block has-error" ng-if="signup.confirmPassword.$dirty">-->
                            <!--<span ng-show="signup.confirmPassword.$error.required">Password is required.</span>-->
                        <!--</span>-->
                    </div>
                </div>
                <div class="btn-wrap">
                    <!--<button class="signup-button" ng-click="signupForm.submitSignupForm()" ng-disabled="signup.$invalid">Continue</button>-->
                    <button id="signup-button" class="signup-button" ng-click="signupForm.submitSignupForm()" ng-disabled="signup.$invalid && (signup.confirmPassword == signup.confirmPassword)">
                        <span class="continue-btn" ng-show="!signupForm.loading">Create Account</span>
                        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading"></span>
                        <span ng-show="signupForm.loading">Preparing your new account...</span>
                    </button>
                    <span>By clicking continue, you agree to our <a href="#">Terms of use</a></span>
                </div>
            </form>
            <div class="login-footer" ng-show="userType==='user'">
                <ul>
                    <li>
                        <a ng-click="loginBtn('facebook')" class="facebook-social" id="loginBtn">
                            <div class="social-auth">
                                <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 56.693 56.693" height="56.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"/></svg>
                            </div>
                            <span class="separator"></span>
                            <div class="social-text">
                                <p>Sign in with Facebook</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="loginBtn('google')" class="google-social" id="loginBtn">
                            <div class="social-auth">
                                <?xml version="1.0" ?><svg height="56.6934px" id="Layer_1" style="enable-background:new 0 0 56.6934 56.6934;" version="1.1" viewBox="0 0 56.6934 56.6934" width="56.6934px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M19.6671,25.7867c-0.0075,1.7935,0,3.5869,0.0076,5.3803c3.0067,0.098,6.0208,0.0527,9.0275,0.098   c-1.3262,6.6689-10.3989,8.8315-15.199,4.4761C8.5674,31.9206,8.801,23.5412,13.9327,19.992   c3.5869-2.8635,8.6884-2.1552,12.2752,0.324c1.4092-1.3036,2.7278-2.6977,4.0013-4.1445   c-2.984-2.3812-6.6462-4.0767-10.5421-3.8958c-8.1307-0.2713-15.6059,6.8497-15.7415,14.9805   c-0.52,6.6462,3.8506,13.1644,10.0222,15.5155c6.1489,2.3661,14.031,0.7535,17.957-4.77c2.5922-3.4889,3.1498-7.98,2.8484-12.1999   C29.7194,25.7641,24.6933,25.7716,19.6671,25.7867z"/><path d="M49.0704,25.7641c-0.0151-1.4996-0.0226-3.0067-0.0301-4.5062c-1.4996,0-2.9916,0-4.4836,0   c-0.0151,1.4996-0.0301,2.9991-0.0377,4.5062c-1.5071,0.0075-3.0067,0.0151-4.5062,0.0302c0,1.4995,0,2.9915,0,4.4836   c1.4995,0.0151,3.0066,0.0302,4.5062,0.0452c0.0151,1.4996,0.0151,2.9991,0.0302,4.4987c1.4996,0,2.9916,0,4.4911,0   c0.0075-1.4996,0.015-2.9991,0.0301-4.5062c1.5071-0.0151,3.0067-0.0226,4.5062-0.0377c0-1.4921,0-2.9916,0-4.4836   C52.0771,25.7792,50.57,25.7792,49.0704,25.7641z"/></g></svg>
                            </div>
                            <span class="separator"></span>
                            <div class="social-text">
                                <p>Sign in with Google+</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--<form  id="loginForm" action ="/auth/facebook" method = "GET" class="columns small-12 iconized" style="display: none;">-->
                <!--<input type="text" value="test messge" name="title">-->
                <!--<button type="submit"  class="icon-linkedin">Facebook</button>-->
            <!--</form>-->
        </div>
    </div>

</div>
<div id="footer">
    <center>
        <ul>
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Leadership</a>
            </li>
            <li>
                <a href="">Press</a>
            </li>
            <li>
                <a href="">Career</a>
            </li>
            <li>
                <a href="">Terms &amp; Privacy</a>
            </li>
        </ul>
        <p class="font-size-13 text-light-gray">© Uhome 2016. All Rights Reserved</p>
    </center>
</div>
</body>
</html>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.1.6.js"></script>
<script src="/js/dependencies/angular-animate.js"></script>
<script src="/js/dependencies/angular-toastr.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<script src="/js/dependencies/compareTo.module.js"></script>
<script src="/js/dependencies/jquery.inputmask.bundle.js"></script>
<script src="/js/dependencies/jquery.maskedinput.js"></script>
<script src="/js/dependencies/mask.js"></script>
<script src="/js/dependencies/ng-file-upload.min.js"></script>
<script src="/libs/angular-map/ng-map.js"></script>
<script src="/js/app.js"></script>
<script src="/js/config.js"></script>
<script src="/js/controllers/bissenesProfile.js"></script>
<script src="/js/controllers/businessDashboard.controller.js"></script>
<script src="/js/controllers/individualDashboard.controller.js"></script>
<script src="/js/controllers/signUp.controller.js"></script>
<script src="/js/controllers/userDashboard.js"></script>
<script src="/js/controllers/userProfile.js"></script>
<script src="/js/custom/businessRegistration.js"></script>
<script src="/js/custom/contractorDashboard.js"></script>
<script src="/js/custom/index.js"></script>
<script src="/js/custom/serviceseekerDashboard.js"></script>
<script src="/js/directive/bregisterStep2.js"></script>
<script src="/js/directive/delay.js"></script>
<script src="/js/directive/registerStep2.js"></script>
<script src="/js/directive/userProfile.js"></script>
<script src="/js/filter/replace.js"></script>
<script src="/js/public/BregisterModule.js"></script>
<script src="/js/public/HomepageModule.js"></script>
<script src="/js/public/LoginModule.js"></script>
<script src="/js/public/PostprojectModule.js"></script>
<script src="/js/public/RecoveryModule.js"></script>
<script src="/js/public/ResetpasswordModule.js"></script>
<script src="/js/public/ServiceModule.js"></script>
<script src="/js/public/SregisterModule.js"></script>
<script src="/js/public/SubserviceModule.js"></script>
<script src="/js/services/api.service.js"></script>
<script src="/js/services/businessHours.service.js"></script>
<script src="/js/services/datepicker.service.js"></script>
<script src="/js/services/googleMap.service.js"></script>
<!--SCRIPTS END-->
