<!--<div class="top-nav">-->
    <!--<div class="container">-->
        <!--<div class="first-container col-md-3 col-sm-3 col-xs-4 pull-left">-->
            <!--<div class="row">-->
                <!--<div class="logo pull-left col-md-4">-->
                    <!--<a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="search-bar col-md-5 col-sm-7 col-xs-6">-->
            <!--<div class="row col-md-8">-->
                <!--<input type="text" id="search-bar" class="col-md-9 col-sm-9 col-xs-8"-->
                       <!--placeholder="What are you looking for?">-->
                <!--<a href="" class="btn col-md-2 col-sm-2 col-xs-4">-->
                    <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="notification-items pull-left col-md-4">-->
                <!--<ul class="menu">-->
                    <!--<li class="pull-left text-white notification-button icons">-->
                        <!--<i class="fa fa-bell" aria-hidden="true"></i>-->
                        <!--<div id="notification-dropdown" class="row margin-0 bg-white">-->
                            <!--<div class="row margin-0 head padding-x-20 padding-y-5">-->
                                <!--<div class="col-md-8">-->
                    <!--<span class="font-opensansbold font-size-14">NOTIFICATIONS</span>-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--<span class="font-size-12 font-opensans text-blue">Mark All Read</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row margin-0">-->
                                <!--<ul>-->
                                    <!--<li class="padding-x-20 padding-y-5 border-bottom-1">-->
                                        <!--<div class="row margin-0">-->
                                            <!--<div class="col-md-10 padding-10">-->
                                                <!--<span class="font-size-14 font-opensans-semibold">No Notifications</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="pull-left text-white messages-button icons">-->
                        <!--<i class="fa fa-envelope" aria-hidden="true"></i>-->
                        <!--<div id="messages-dropdown" class="row margin-0 bg-white">-->
                            <!--<div class="row margin-0 head padding-x-20 padding-y-5">-->
                                <!--<div class="col-md-8">-->
                                    <!--<span class="font-opensansbold font-size-14">MESSAGES</span>-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--<span class="font-size-12 font-opensans text-blue">Mark All Read</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row margin-0">-->
                                <!--<ul>-->
                                    <!--<li class="padding-x-20 padding-y-5 border-bottom-1">-->
                                        <!--<div class="row margin-0">-->
                                            <!--<div class="col-md-10 padding-10">-->
                                                <!--<span class="font-size-14 font-opensans-semibold">No Messages</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-4 col-sm-2 col-xs-2 user-settings">-->
            <!--<a ng-init="href = '<%= user.userType %>'=='ServiceSeeker'?'/profile':'/spprofile'" href="{{href}}" class="text-white text-decoration-none">-->
                <!--<div class="user-info row margin-0">-->
                    <!--<div class="img-responsive pull-left profile-image" style="background-image: url(<%= user.profilePicture %>)"></div>-->
                    <!--<div class="user-name text-white">-->
                        <!--<%= user.firstName %> <i class="glyphicon glyphicon-triangle-bottom"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
            <!--<div id="profile-dropdown" class="row margin-0 col-md-12">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a class="text-dark-gray text-decoration-none" ng-init="href = '<%= user.userType %>'=='ServiceSeeker'?'/profile':'/spprofile'" href="{{href}}">-->
                            <!--<span class="font-size-14 font-opensans">Edit Profile</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li ng-if="'<%= user.profilePicture %>'=='ServiceSeeker'"><span class="font-size-14 font-opensans">My Projects</span></li>-->
                    <!--<li ng-if="'<%= user.profilePicture %>'=='ServiceSeeker'"><span class="font-size-14 font-opensans">Help</span></li>-->
                    <!--<li>-->
                        <!--<a class="text-dark-gray text-decoration-none" href="/logout">-->
                            <!--<span class="font-size-14 font-opensans">Log Out</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!-- new top nav -->

<div class="top-nav" ng-cloak>
    <div class="container">
        <div class="logo-section">
            <a href="/"><img class="img-responsive pull-left" src="/images/logo.png" alt=""></a>
            <div ng-if="'<%= user.userType %>' === 'ServiceSeeker'" class="btn invite-btn">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Invite
            </div>
        </div>
        <div class="search-section">
            <div class="input-container">
                <input type="text" id="search-bar" placeholder="What are you looking for?">
                <a href="" class="btn"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="top-nav-right">
            <div class="notification-section">
                <ul>
                    <li class="notification-icon">
                        <i class="fa fa-bell" aria-hidden="true"></i>

                        <div id="notification-dropdown" class="row margin-0 bg-white">
                            <div class="row margin-0 head padding-x-20 padding-y-5">
                                <div class="col-md-8">
                                    <span class="font-opensansbold font-size-14">NOTIFICATIONS</span>
                                </div>
                                <div class="col-md-4 marked">
                                    <span class="font-size-12 font-opensans text-blue">Mark All Read</span>
                                </div>
                            </div>
                            <div class="row margin-0">
                                <ul>
                                    <li class="padding-x-20 padding-y-5 border-bottom-1">
                                        <div class="row margin-0">
                                            <div class="col-md-10 padding-10">
                                                <span class="font-size-14 font-opensans-semibold">No Notifications</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </li>
                    <li class="message-icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>

                        <div id="messages-dropdown" class="row margin-0 bg-white">
                            <div class="row margin-0 head padding-x-20 padding-y-5">
                                <div class="col-md-8">
                                    <span class="font-opensansbold font-size-14">MESSAGES</span>
                                </div>
                                <div class="col-md-4 marked">
                                    <span class="font-size-12 font-opensans text-blue">Mark All Read</span>
                                </div>
                            </div>
                            <div class="row margin-0">
                                <ul>
                                    <li class="padding-x-20 padding-y-5 border-bottom-1">
                                        <div class="row margin-0">
                                            <div class="col-md-10 padding-10">
                                                <span class="font-size-14 font-opensans-semibold">No Messages</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="profile-section">
                <div class="avatar" style="background-image: url(<%= user.profilePicture %>)"></div>
                <div class="username">
                    <%= user.firstName %> <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <div id="profile-dropdown" class="row margin-0 col-md-12">
                    <ul>
                        <li>
                            <a class="text-dark-gray text-decoration-none" ng-init="href = '<%= user.userType %>'=='ServiceSeeker'?'/sseditprofile':'/speditprofile'" href="{{href}}">
                                <span class="font-size-14 font-opensans">Edit Profile</span>
                            </a>
                        </li>
                        <li ng-if="'<%= user.profilePicture %>'=='ServiceSeeker'"><span class="font-size-14 font-opensans">My Projects</span></li>
                        <li ng-if="'<%= user.profilePicture %>'=='ServiceSeeker'"><span class="font-size-14 font-opensans">Help</span></li>
                        <li>
                            <a class="text-dark-gray text-decoration-none" href="/logout">
                                <span class="font-size-14 font-opensans">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end new top nav -->


<div class="top-nav-mobile">
    <div class="mobile-icons active timeline-icon pull-left col-md-2">
        <center><i class="fa fa-newspaper-o"></i></center>

    </div>
    <div class="mobile-icons notification-icon pull-left col-md-2">
        <center><i class="fa fa-bell"></i></center>

    </div>
    <div class="mobile-icons messages-icon pull-left col-md-2">
        <center><i class="fa fa-envelope"></i></center>

    </div>
    <div class="mobile-icons search-icon pull-left col-md-2">
        <center><i class="fa fa-search"></i></center>

    </div>
    <div class="mobile-icons right-panel pull-left col-md-2">
        <center><i class="fa fa-reorder"></i></center>
        <div id="profile-dropdown-mobile" class="row margin-0 col-md-12">
            <ul>
                <li>
                    <a class="text-dark-gray text-decoration-none" ng-init="href = '<%= user.userType %>'=='ServiceSeeker'?'/sseditprofile':'/speditprofile'" href="{{href}}">
                        <span class="font-size-14 font-opensans">Edit Profile</span>
                    </a>
                </li>
                <li ng-if="'<%= user.profilePicture %>'=='ServiceSeeker'"><span class="font-size-14 font-opensans">My Projects</span></li>
                <li ng-if="'<%= user.profilePicture %>'=='ServiceSeeker'"><span class="font-size-14 font-opensans">Help</span></li>
                <li>
                    <a class="text-dark-gray text-decoration-none" href="/logout">
                        <span class="font-size-14 font-opensans">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clearfix top-spacing height-30"></div>
